Repository MarlinFirmware/Marlin, pull requests merged in 2018-09, with the labels that each got.

#11692 [2.0.x] Don't test servos for Teensy 3.5/3.6
  .circleci/config.yml
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins_TEENSY35_36.h
  buildroot/bin/env_backup
  buildroot/bin/env_restore
  buildroot/bin/restore_configs
  buildroot/bin/update_defaults
  buildroot/share/tests/DUE_tests
  buildroot/share/tests/LPC1768_tests
  buildroot/share/tests/STM32F1_tests
  buildroot/share/tests/megaatmega2560_tests
  buildroot/share/tests/start_tests
  buildroot/share/tests/teensy35_tests
Labels: C: Build / Toolchain

#11704 [2.0.x] Debug Travis tests and scripts
  .circleci/config.yml
  .travis.yml
  buildroot/bin/env_backup
  buildroot/bin/env_restore
  buildroot/bin/generate_version
  buildroot/bin/restore_configs
  buildroot/bin/update_defaults
  buildroot/share/tests/DUE_tests
  buildroot/share/tests/LPC1768_tests
  buildroot/share/tests/STM32F1_tests
  buildroot/share/tests/megaatmega2560_tests
  buildroot/share/tests/start_tests
  buildroot/share/tests/teensy35_tests
Labels: C: Build / Toolchain

#11707 [2.0.x] Followup to IDEX changes
  Marlin/src/config/examples/Formbot/T-Rex_2+/Configuration.h
  Marlin/src/config/examples/Formbot/T-Rex_2+/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T-Rex_2+/_Bootscreen.h
  Marlin/src/config/examples/Formbot/T-Rex_2+/_Statusscreen.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: Coding Standards, PR: General Cleanup

#11717 [2.0.x] SECURITYFIX missing max temp error when PID is used
  Marlin/src/module/temperature.cpp
Labels: C: Safety, PR: Bug Fix

#11731 RADDS: Update Full Graphic Display Pins
  Marlin/src/pins/pins_RADDS.h
Labels: C: LCD & Controllers

#11736 [1.1.x] Pass segment length in prepare_kinematic_move_to
  Marlin/Marlin_main.cpp
Labels: K: Deltabot, K: SCARA, PR: Bug Fix

#11737 [2.0.x] Pass segment length in prepare_kinematic_move_to
  Marlin/src/module/motion.cpp
Labels: K: Deltabot, K: SCARA, PR: Bug Fix

#11733 [2.0.x] Show manual extrusion moves as relative in LCD
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: New Feature

#11749 [STM32F1] Fix HAL for new PlatformIO
  Marlin/src/HAL/HAL_STM32F1/HAL.h
Labels: T: 32-Bit & HAL

#11714 [2.0.x] Update to TMC2208Stepper 0.2.5
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/ultralcd.cpp
  platformio.ini
Labels: C: Build / Toolchain

#11759 [1.1.x] Fix extruder stops extruding with LA
  Marlin/stepper.cpp
Labels: F: Linear Advance, PR: Bug Fix

#11758 [2.0.x] Fix extruder stops extruding with LA
  Marlin/src/module/stepper.cpp
Labels: F: Linear Advance, PR: Bug Fix

#11770 Various Small Fixes to F4/7 HALs
  Marlin/src/HAL/HAL_STM32F4/HAL.h
  Marlin/src/HAL/HAL_STM32F7/HAL.h
  Marlin/src/HAL/HAL_STM32F7/HAL_spi_STM32F7.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL_timers_STM32F7.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL_timers_STM32F7.h
  Marlin/src/HAL/HAL_STM32F7/TMC2660.cpp
Labels: T: 32-Bit & HAL

#11778 [2.0.x] include AVR HAL in PIO src_filter for at90usb_dfu
  platformio.ini
Labels: C: Build / Toolchain

#11781 [2.0.x] Fix undefined symbol 'g29_in_progress'
  Marlin/src/gcode/calibrate/G28.cpp
Labels: PR: Bug Fix

#11475 [2.0.x] Added a "Preheat custom" temp choice to "Change Filament" screen
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#11789 [2.0.x] Extruder-Distinct Linear Advance K Factors
  Marlin/src/gcode/feature/advance/M900.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: F: Linear Advance, PR: Improvement

#11798 Save some PROGMEM with constexpr
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/tool_change.cpp
Labels: C: Optimization

#11796 [2.0.x] Italian language fix
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#11807 [2.0.x] Updated slovak translation
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#11816 [1.1.x] Fix non-sensical values for Zonestar thermistor table
  Marlin/thermistortable_501.h
Labels: PR: Bug Fix

#11817 [2.0.x] Fix non-sensical values for Zonestar thermistor table
  Marlin/src/module/thermistor/thermistor_501.h
Labels: PR: Bug Fix

#11812 [2.0.x] Fix NOZZLE_PARK_FEATURE for Anycubic Kossel
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration_adv.h
Labels: PR: Configurations

#11835 [1.1.x] fix missing friend declaration in stepper.h
  Marlin/stepper.h
Labels: PR: Bug Fix

#11831 [2.0.x] Send "G33 S P1" for Delta Height Calibration
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, F: Calibration, K: Deltabot

#11832 [2.0.x] Fix crashing the probe into the bed during z-Probe offset measurement for Anycubic Kossel example
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/README.md
Labels: PR: Configurations

#11356 [1.1.x] AnyCubic Linear Plus, Update Trigorilla 1.4
  Marlin/example_configurations/delta/Anycubic/Kossel/Configuration.h
  Marlin/example_configurations/delta/Anycubic/Kossel/Configuration_adv.h
  Marlin/example_configurations/delta/Anycubic/Kossel/README.md
  Marlin/example_configurations/delta/Anycubic/Kossel/images/Version1Probe.jpg
  Marlin/example_configurations/delta/Anycubic/Kossel/images/Version2Probe.jpg
  Marlin/pins_TRIGORILLA_14.h
Labels: K: Deltabot, PR: Configurations

#11826 Make some small corrections in fr_utf8 language file.
  Marlin/language_fr_utf8.h
Labels: C: Language

#11848 IDEX Improvements
  Marlin/src/config/examples/Formbot/T-Rex_2+/Configuration.h
  Marlin/src/config/examples/Formbot/T_Rex_3/Configuration_adv.h
  Marlin/src/feature/Max7219_Debug_LEDs.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/feature/runout.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/gcode/feature/leds/M7219.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/stepper_indirection.h
  Marlin/src/module/tool_change.cpp
  Marlin/src/pins/pins_FORMBOT_TREX2.h
  Marlin/src/pins/pins_FORMBOT_TREX3.h
Labels: F: Dual X Carriage, PR: Improvement

#11851 [2.0.x] Support more filament runout sensors in M119
  Marlin/src/core/language.h
  Marlin/src/module/endstops.cpp
  Marlin/src/pins/pinsDebug_list.h
Labels: PR: Improvement

#11850 [1.1.x] Support more filament runout sensors in M119
  Marlin/endstops.cpp
  Marlin/language.h
  Marlin/pinsDebug_list.h
Labels: PR: Improvement

#11856 2.0.x: Fix normalize_mix()
  Marlin/src/feature/mixing.cpp
Labels: C: Motion, PR: Bug Fix

#11860 Handle MAX7219 twisted LED Matrix placement
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2plus/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-3/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Einstart-S/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T-Rex_2+/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T_Rex_3/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/Tronxy/X3A/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/feature/Max7219_Debug_LEDs.cpp
Labels: C: Peripherals, PR: Improvement

#11889 [2.0.x] Squelch compiler warnings with -Wall
  Marlin/src/HAL/HAL_DUE/EepromEmulation_Due.cpp
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
  Marlin/src/module/stepper_indirection.cpp
Labels: C: Build / Toolchain, PR: Improvement

#11862 2.0 IDEX Independent z offset and other fixes
  Marlin/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T-Rex_2+/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/gcode/probe/M851.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_FORMBOT_RAPTOR.h
  Marlin/src/pins/pins_FORMBOT_TREX2PLUS.h
Labels: Needs: Discussion, S: Don't Merge

#11900 [2.0.x] fix home endstop bug (DON'T MERGE, needs discussion)
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
Labels: PR: Bug Fix

#11914 Add GT2560 v3 support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_FORMBOT_TREX2PLUS.h
  Marlin/src/pins/pins_GT2560_V3.h
Labels: C: Hardware/Boards

#11869 [2.0.x] Anycubic Trigorilla 14 pins tweak
  Marlin/src/pins/pins_TRIGORILLA_14.h
Labels: C: Hardware/Boards, PR: Improvement

#11939 Bring example configs up to date
  Marlin/src/config/examples/Anet/A2/Configuration.h
  Marlin/src/config/examples/Anet/A2/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2plus/Configuration.h
  Marlin/src/config/examples/Anet/A2plus/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration.h
  Marlin/src/config/examples/Malyan/M150/Configuration.h
  Marlin/src/config/examples/Tronxy/X3A/Configuration_adv.h
  Marlin/src/config/examples/adafruit/ST7565/Configuration.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
Labels: PR: Configurations

#11211 2.0 add disable jtag for stm32
  Marlin/src/HAL/HAL_AVR/HAL.h
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F4/HAL.h
  Marlin/src/Marlin.cpp
Labels: Needs: Patch, T: 32-Bit & HAL

#11932 [2.0.x] Add pin configuration for Fysetc F6
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_FYSETC_F6_13.h
Labels: C: Hardware/Boards

#11948 M119 Fix garbled output and honor number of runout sensors enabled
  Marlin/src/module/endstops.cpp
Labels: PR: Bug Fix

#11949 Standard methods to wait for heating
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/control/M108_M112_M410.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/gcode/temperature/M140_M190.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Improvement

#11963 [2.0.x][HAL] Improve support for JTAG/SWD pins reuse
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F4/HAL.h
  Marlin/src/Marlin.cpp
Labels: T: 32-Bit & HAL

#11960 Replace MIN# / MAX# with variadic MIN / MAX
  Marlin/src/core/macros.h
  Marlin/src/core/minmax.h
  Marlin/src/feature/leds/tempstat.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  frameworks/CMSIS/LPC1768/include/lpc_types.h
Labels: PR: Improvement

#11964 [2.0.x] Anycubic Kossel Linear Plus: corrected DELTA_DIAGONAL_ROD
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration.h
Labels: C: Configuration, K: Deltabot
