Repository MarlinFirmware/Marlin, pull requests merged in 2018-07, with the labels that each got.

#11160 [1.1.x] Do a hard kill for failed homing moves
  Marlin/Marlin_main.cpp
  Marlin/endstops.cpp
  Marlin/endstops.h
Labels: C: Safety, F: Calibration, PR: Improvement

#11161 [2.0.x] Do a hard kill for failed homing moves
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/delta.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
Labels: C: Safety, F: Calibration, PR: Improvement

#11168 [2.0.x][LPC176x] Update fastio macros
  Marlin/src/HAL/HAL_LPC1768/fastio.h
Labels: T: 32-Bit & HAL

#11171 [2.0.x] Fix RRW graphical LCD constructor macro
  Marlin/src/lcd/ultralcd_impl_DOGM.h
Labels: PR: Bug Fix

#11174 [1.1.x] Slovak translation update
  Marlin/language_sk_utf8.h
Labels: C: Language

#11175 [2.0.x] Slovak translation update
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#11186 [1.1.x] More fixes for power loss recovery
  Marlin/Marlin_main.cpp
  Marlin/cardreader.cpp
  Marlin/cardreader.h
  Marlin/language_en.h
  Marlin/power_loss_recovery.cpp
  Marlin/power_loss_recovery.h
  Marlin/ultralcd.cpp
Labels: PR: Bug Fix, PR: Improvement

#11187 [2.0.x] More fixes for power loss recovery
  Marlin/src/Marlin.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M928.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: PR: Bug Fix, PR: Improvement

#11197 [1.1.x] No M914 or SGT for non-sensorless axes
  Marlin/Marlin_main.cpp
  Marlin/stepper_indirection.cpp
Labels: F: Trinamic, PR: Improvement

#11196 [2.0.x] No M914 or SGT with non-sensorless axes
  Marlin/src/config/examples/SCARA/Configuration.h
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
  Marlin/src/module/stepper_indirection.cpp
Labels: F: Trinamic, PR: Improvement

#11200 [2.0.x][LPC176x] Fix Interrupt forward declarations
  Marlin/src/HAL/HAL_LPC1768/include/Arduino.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#11202 [2.0.x][LPC176x] Endstop Interrupts Feature
  Marlin/src/HAL/HAL_LPC1768/WInterrupts.cpp
  Marlin/src/HAL/HAL_LPC1768/endstop_interrupts.h
  Marlin/src/HAL/HAL_LPC1768/include/pinmapping.h
Labels: PR: Improvement, T: 32-Bit & HAL

#11178 [2.0.x] Use 'float' instead of 'double' maths
  Marlin/src/HAL/HAL_AVR/HAL.h
  Marlin/src/HAL/HAL_STM32F7/TMC2660.cpp
  Marlin/src/Marlin.h
  Marlin/src/core/macros.h
  Marlin/src/core/utility.h
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/I2CPositionEncoder.h
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/feature/dac/stepper_dac.cpp
  Marlin/src/feature/digipot/digipot_mcp4018.cpp
  Marlin/src/feature/digipot/digipot_mcp4451.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/config/M200-M205.cpp
  Marlin/src/gcode/config/M92.cpp
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/gcode/temperature/M140_M190.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/dogm/status_screen_DOGM.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/libs/vector_3.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/delta.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/planner_bezier.cpp
  Marlin/src/module/printcounter.cpp
  Marlin/src/module/printcounter.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Improvement

#11213 [1.1.x] Float maths updates for 2.0.x parity
  Marlin/I2CPositionEncoder.cpp
  Marlin/I2CPositionEncoder.h
  Marlin/Marlin.h
  Marlin/Marlin_main.cpp
  Marlin/configuration_store.cpp
  Marlin/digipot_mcp4018.cpp
  Marlin/digipot_mcp4451.cpp
  Marlin/macros.h
  Marlin/mesh_bed_leveling.h
  Marlin/parser.h
  Marlin/planner.cpp
  Marlin/planner.h
  Marlin/planner_bezier.cpp
  Marlin/printcounter.cpp
  Marlin/printcounter.h
  Marlin/status_screen_DOGM.h
  Marlin/stepper_dac.cpp
  Marlin/temperature.cpp
  Marlin/temperature.h
  Marlin/ubl.h
  Marlin/ubl_G29.cpp
  Marlin/ubl_motion.cpp
  Marlin/ultralcd.cpp
  Marlin/utility.h
  Marlin/vector_3.cpp
Labels: PR: General Cleanup, PR: Improvement

#11212 [2.0.x][HD44780] Remove unused include
  .travis.yml
  Marlin/src/HAL/HAL_AVR/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_DUE/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32F1/persistent_store_flash.cpp
  Marlin/src/HAL/HAL_STM32F1/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32F4/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32F7/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_TEENSY35_36/persistent_store_impl.cpp
  Marlin/src/lcd/ultralcd_common_HD44780.h
  Marlin/src/sd/cardreader.h
Labels: PR: General Cleanup, T: 32-Bit & HAL

#11248 [1.1.x] Unify "I" parameter for M906,M912 etc.
  Marlin/Marlin_main.cpp
  Marlin/endstops.cpp
  Marlin/endstops.h
Labels: F: Trinamic, PR: General Cleanup

#11249 [2.0.x] Unify "I" parameter for M906,M912 etc.
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
Labels: F: Trinamic, PR: General Cleanup

#11251 Include stdlib in fontutils
  Marlin/src/lcd/fontutils.h
Labels: C: Build / Toolchain

#11260 [2.0.x] fix kill printer
  Marlin/src/module/motion.cpp
Labels: F: Calibration, PR: Bug Fix

#11261 [1.1.x] fix kill printer
  Marlin/Marlin_main.cpp
Labels: F: Calibration, PR: Bug Fix

#11258 Fix Vellemann K8400 Configuration
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
Labels: PR: Configurations

#11256 [2.0.x] Travis tests update / change
  .travis.yml
  buildroot/bin/env_backup
  buildroot/bin/env_clean
  buildroot/bin/env_restore
  buildroot/bin/restore_configs
  buildroot/share/tests/DUE_tests
  buildroot/share/tests/LPC1768_tests
  buildroot/share/tests/STM32F1_tests
  buildroot/share/tests/megaatmega2560_tests
  buildroot/share/tests/start_tests
  buildroot/share/tests/teensy35_tests
Labels: C: Build / Toolchain, PR: Improvement

#11268 [1.1.x] Fix change filament crash
  Marlin/Marlin_main.cpp
Labels: PR: Improvement

#11269 [2.0.x] Fix change filament crash
  Marlin/src/feature/pause.cpp
Labels: PR: Improvement

#11238 [2.0.x] Malyan LCD Feedrate + Better Temp Handling
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd_impl_DOGM.h
  Marlin/src/lcd/ultralcd_impl_HD44780.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: C: LCD & Controllers, PR: Improvement

#11297 [1.1.x] Better Malyan LCD Feedrate/Temp handling
  Marlin/cardreader.cpp
  Marlin/cardreader.h
  Marlin/malyanlcd.cpp
  Marlin/ultralcd.cpp
  Marlin/ultralcd_impl_DOGM.h
  Marlin/ultralcd_impl_HD44780.h
Labels: C: LCD & Controllers, PR: Improvement

#11301 [2.0.x] Change MKS SBase default serial port
  Marlin/src/config/examples/Mks/Sbase/Configuration.h
Labels: C: Hardware/Boards, PR: Configurations

#11306 [2.0.x] Add support for power loss detect pin
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-3/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/Tronxy/X3A/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/feature/power_loss_recovery.cpp
  buildroot/share/tests/megaatmega2560_tests
Labels: PR: Configurations, PR: Improvement

#11305 [1.1.x] Add support for power loss detect pin
  .travis.yml
  Marlin/Configuration_adv.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-8/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-2/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-3/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-4/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Tronxy/X3A/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
  Marlin/power_loss_recovery.cpp
Labels: PR: Configurations, PR: Improvement

#11285 Add Multi Unit Support for Max7219 to bugfix_2.0.0
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-3/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/Tronxy/X3A/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/feature/Max7219_Debug_LEDs.cpp
  Marlin/src/feature/Max7219_Debug_LEDs.h
  Marlin/src/gcode/feature/leds/M7219.cpp
Labels: PR: Improvement

#11308 [1.1.x] Manual Z Start Height
  Marlin/Configuration.h
  Marlin/Marlin_main.cpp
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration.h
  Marlin/example_configurations/Creality/CR-8/Configuration.h
  Marlin/example_configurations/Creality/Ender-2/Configuration.h
  Marlin/example_configurations/Creality/Ender-3/Configuration.h
  Marlin/example_configurations/Creality/Ender-4/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro C/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro W/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapPro/Huxley/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X3A/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
Labels: F: Calibration, PR: Configurations, PR: Improvement

#11334 Fix get_period_inverse(0) so it doesn't crash
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#11328 [1.1.x] Fix LCD axis move E index
  Marlin/ultralcd.cpp
Labels: C: LCD & Controllers

#11366 [1.1.x] Typo fix
  Marlin/Configuration.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration.h
  Marlin/example_configurations/Creality/CR-8/Configuration.h
  Marlin/example_configurations/Creality/Ender-2/Configuration.h
  Marlin/example_configurations/Creality/Ender-3/Configuration.h
  Marlin/example_configurations/Creality/Ender-4/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro C/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro W/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapPro/Huxley/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X3A/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
Labels: PR: General Cleanup

#11364 M200 - Remove extra parameter to enqueue.
  Marlin/src/lcd/malyanlcd.cpp
Labels: PR: Bug Fix

#11368 [1.1.x] Tweak some SoftPWM code
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/temperature.cpp
Labels: PR: General Cleanup

#11275 [2.0.x] Tweak some SoftPWM code
  Marlin/src/config/examples/Creality/CR-10S/Configuration.h
  Marlin/src/module/temperature.cpp
Labels: PR: General Cleanup

#11357 Update Pins on MKS sBase
  Marlin/src/pins/pins_MKS_SBASE.h
Labels: C: Hardware/Boards, PR: General Cleanup

#11363 Adding support for RuRamps4D version 1.3
  Marlin/src/core/boards.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/pins_RURAMPS4D_11.h
  Marlin/src/pins/pins_RURAMPS4D_13.h
Labels: C: Hardware/Boards

#11346 [1.1.x] Fix thermistor type in Anet A6 config
  Marlin/example_configurations/Anet/A6/Configuration.h
Labels: PR: Configurations

#11370 [1.1.x] Ensure ADC conversion is complete before reading
  Marlin/HAL.h
  Marlin/temperature.cpp
  Marlin/temperature.h
Labels: PR: Improvement

#11336 [2.0.x] Ensure ADC conversion is complete before reading
  Marlin/src/HAL/HAL_AVR/HAL.h
  Marlin/src/HAL/HAL_DUE/HAL.h
  Marlin/src/HAL/HAL_ESP32/HAL.h
  Marlin/src/HAL/HAL_LPC1768/HAL.h
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F4/HAL.h
  Marlin/src/HAL/HAL_STM32F7/HAL.h
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Improvement

#11358 [1.1.x]-different-bltouch-init
  Marlin/Marlin_main.cpp
Labels: F: BLTouch, PR: Improvement

#11135 [2.0.x] different bltouch init
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.h
Labels: F: BLTouch

#11331 [2.0.x] add Calibrate Z (M915) to Prepare Menu
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el-gr.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp-kana.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt-br.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, F: Trinamic

#11372 [1.1.x] Fix up drivers.h macros
  Marlin/drivers.h
Labels: PR: Bug Fix

#11371 [2.0.x] Fix up driver.h macros
  Marlin/src/core/drivers.h
Labels: PR: Bug Fix

#11374 [1.1.x bugfix] Update fastio_1280.h Comments RE pin mapping
  Marlin/fastio_1280.h
Labels: PR: General Cleanup

#11219 Changes for einstart s
  Marlin/src/config/examples/Einstart-S/Configuration.h
  Marlin/src/config/examples/Einstart-S/Configuration_adv.h
  Marlin/src/config/examples/Einstart-S/readme.md
  Marlin/src/core/boards.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/thermistornames.h
  Marlin/src/lcd/ultralcd_impl_DOGM.h
  Marlin/src/module/thermistor/thermistor_666.h
  Marlin/src/module/thermistor/thermistors.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_EINSTART-S.h
Labels: C: Hardware/Boards

#11230 [2.0.x] AT90USB1286 PIO cleanup and optimization
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/boards/at90usb1286.json
  platformio.ini
Labels: C: Build / Toolchain, PR: General Cleanup

#11380 [1.1.x] fix bltouch homing
  Marlin/Marlin_main.cpp
Labels: F: BLTouch, PR: Bug Fix

#11379 [2.0.x] fix bltouch homing
  Marlin/src/module/motion.cpp
Labels: F: BLTouch, PR: Bug Fix

#11398 [1.1.x] bltouch home refinements
  Marlin/Marlin_main.cpp
Labels: PR: General Cleanup, PR: Improvement

#11397 [2.0.x] bltouch home refinements
  Marlin/src/module/motion.cpp
Labels: F: BLTouch, PR: General Cleanup, PR: Improvement

#11402 [2.0.x] MKS SBASE Trinamic examples/support
  Marlin/src/pins/pins_MKS_SBASE.h
  platformio.ini
Labels: C: Hardware/Boards, PR: Improvement

#11396 [1.1.x] Fix first limited jerk safe_speed
  Marlin/planner.cpp
Labels: C: Motion, PR: Bug Fix

#11417 [2.0.x] Fix first limited jerk safe_speed
  Marlin/src/module/planner.cpp
Labels: C: Motion, PR: Bug Fix

#11388 [1.1.x] MKS_12864_OLED code cleanup
  Marlin/ultralcd_impl_DOGM.h
Labels: PR: General Cleanup

#11383 [1.1.x] add Calibrate Z (M915) to Prepare Menu
  Marlin/language_an.h
  Marlin/language_bg.h
  Marlin/language_ca.h
  Marlin/language_cn.h
  Marlin/language_cz.h
  Marlin/language_cz_utf8.h
  Marlin/language_da.h
  Marlin/language_de.h
  Marlin/language_el-gr.h
  Marlin/language_el.h
  Marlin/language_en.h
  Marlin/language_es.h
  Marlin/language_es_utf8.h
  Marlin/language_eu.h
  Marlin/language_fi.h
  Marlin/language_fr.h
  Marlin/language_fr_utf8.h
  Marlin/language_gl.h
  Marlin/language_hr.h
  Marlin/language_it.h
  Marlin/language_kana.h
  Marlin/language_kana_utf8.h
  Marlin/language_nl.h
  Marlin/language_pl-DOGM.h
  Marlin/language_pl-HD44780.h
  Marlin/language_pt-br.h
  Marlin/language_pt-br_utf8.h
  Marlin/language_pt.h
  Marlin/language_pt_utf8.h
  Marlin/language_ru.h
  Marlin/language_sk_utf8.h
  Marlin/language_tr.h
  Marlin/language_uk.h
  Marlin/language_zh_CN.h
  Marlin/language_zh_TW.h
  Marlin/ultralcd.cpp
Labels: C: LCD & Controllers, F: Trinamic
