Repository MarlinFirmware/Marlin, pull requests merged in 2018-12, with the labels that each got.

#12575 modified #ifdef so that STM32 Core code is not included when compilin…
  Marlin/src/HAL/HAL_STM32/HAL.cpp
  Marlin/src/HAL/HAL_STM32/HAL_Servo_STM32.cpp
  Marlin/src/HAL/HAL_STM32/HAL_spi_STM32.cpp
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.cpp
  Marlin/src/HAL/HAL_STM32/fastio_STM32.cpp
  Marlin/src/HAL/HAL_STM32/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32/watchdog_STM32.cpp
  Marlin/src/HAL/HAL_STM32F4/EEPROM_Emul/eeprom_emul.cpp
  Marlin/src/HAL/HAL_STM32F4/EmulatedEeprom.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_Servo_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_spi_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_timers_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_STM32F4/watchdog_STM32F4.cpp
Labels: A: STM32F, PR: Bug Fix, T: 32-Bit & HAL

#12584 [2.x] Build and CI fixes and optimizations
  .circleci/config.yml
  Marlin/src/config/examples/Micromake/C1/basic/Configuration.h
  platformio.ini
Labels: PR: Improvement

#12606 Simpler AVR + Trinamic + Soft Serial sanity-check
  Marlin/src/HAL/HAL_AVR/SanityCheck.h
Labels: F: Trinamic, PR: Improvement

#12617 Fix broken pins file include
  Marlin/src/pins/pins.h
Labels: PR: Bug Fix

#12628 Allow ExtUI to use LCD_SET_PROGRESS_MANUALLY
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/lcd/M73.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: Bug Fix

#12648 [2.0.x] G33 clean up
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/module/motion.cpp
Labels: F: Calibration, K: Deltabot, PR: Bug Fix

#12649 [1.1.x] G33 clean up
  Marlin/Marlin_main.cpp
  Marlin/ultralcd.cpp
Labels: F: Calibration, K: Deltabot, PR: Bug Fix

#12655 [2.0.x] Enable PIDTEMPBED in Anet A8 example config
  Marlin/src/config/examples/Anet/A8/Configuration.h
Labels: PR: Configurations, PR: Improvement

#12663 [1.1.x] Set DEFAULT_NOMINAL_FILAMENT_DIA to 1.75 in Anet A6 config
  Marlin/example_configurations/Anet/A6/Configuration.h
Labels: PR: Configurations, PR: Improvement

#12664 [2.0.x] Set DEFAULT_NOMINAL_FILAMENT_DIA to 1.75 in Anet A6 config
  Marlin/src/config/examples/Anet/A6/Configuration.h
Labels: PR: Configurations, PR: Improvement

#12684 [1.1.x] Update Czech translation
  Marlin/language_cz.h
  Marlin/language_cz_utf8.h
Labels: C: Language

#12676 Squelched warning mentioned in #11061
  Marlin/src/module/planner.cpp
Labels: PR: General Cleanup, PR: Improvement

#12691 [2.0.x] Limit PID autotune target to maxtemp
  Marlin/src/module/temperature.cpp
Labels: C: Safety, PR: Improvement

#12690 [2.0.x] Constrain setting hotend temperature to maxtemp
  Marlin/src/module/temperature.h
Labels: C: Safety, PR: Improvement

#12656 Added MKS MINI 12864 support to FYSETC F6 V1.3
  Marlin/src/pins/pins_FYSETC_F6_13.h
Labels: C: LCD & Controllers

#12667 FYSETC F6 13 - E2_SERIAL_TX_PIN correction
  Marlin/src/pins/pins_FYSETC_F6_13.h
Labels: PR: General Cleanup

#12666 GTM32 Pro VB FAN-PIN correction
  Marlin/src/pins/pins_GTM32_PRO_VB.h
Labels: C: Hardware/Boards, PR: Bug Fix

#12650 Add support for MKS Robin board
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
  Marlin/src/config/examples/Mks/Robin/Configuration.h
  Marlin/src/config/examples/Mks/Robin/Configuration_adv.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_MKS_ROBIN.h
  buildroot/share/PlatformIO/ldscripts/mks_robin.ld
  buildroot/share/PlatformIO/scripts/mks_robin.py
  platformio.ini
Labels: C: Hardware/Boards

#12662 Update pins_FORMBOT_TREX3.h
  Marlin/src/pins/pins_FORMBOT_TREX3.h
Labels: C: Hardware/Boards, PR: Improvement

#12689 Bugfix 2.0.x add motherboard pins define
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_BIQU_B300_V1.0.h
  Marlin/src/pins/pins_BIQU_SKR_V1.1.h
Labels: C: Hardware/Boards

#12717 Confirmation on Abort SD print
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Improvement

#12739 modify nomove to false for tool change on filament swap
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
Labels: C: Motion, PR: Bug Fix

#12702 [1.1.x] Limit set hotend and bed temperature to maxtemp-15.
  Marlin/temperature.h
Labels: PR: Improvement

#12703 [1.1.x] Limit PID autotune target to maxtemp-15
  Marlin/temperature.cpp
Labels: PR: Improvement

#12713 [2.0.x] Limit set hotend and bed temperature to maxtemp-15
  Marlin/src/module/temperature.h
Labels: C: Safety, PR: Improvement

#12740 Compile errors on delta with sensorless homing
  Marlin/src/module/delta.cpp
Labels: K: Deltabot, PR: Bug Fix

#12738 Fix G33 sprintf output warning
  Marlin/src/gcode/calibrate/G33.cpp
Labels: PR: General Cleanup

#12768 [1.1.x-bugfix] Ender 3 correct bed size
  Marlin/example_configurations/Creality/Ender-3/Configuration.h
Labels: C: Configuration

#12769 [2.0.x] Correct Ender 3 bed size
  Marlin/src/config/examples/Creality/Ender-3/Configuration.h
Labels: C: Configuration

#12748 [2.0.x] Fix bad sanitycheck
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#12746 Fix compile DEBUG_EEPROM_READWRITE error
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix

#12639 Rename all Stm32f1 to STM32F1
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F1/HAL_Servo_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_Servo_STM32F1.h
  Marlin/src/HAL/HAL_STM32F1/HAL_spi_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_STM32F1.h
  Marlin/src/HAL/HAL_STM32F1/STM32F1_flag_script.py
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
  Marlin/src/HAL/HAL_STM32F1/watchdog_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/watchdog_STM32F1.h
  platformio.ini
Labels: PR: General Cleanup
