Repository MarlinFirmware/Marlin, pull requests merged in 2018-10, with the labels that each got.

#11971 Add filament runout sensor menu item
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/runout.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#11977 Use PGM_P for PSTR pointers
  Marlin/src/HAL/HAL_LPC1768/HAL.cpp
  Marlin/src/HAL/HAL_LPC1768/persistent_store_sdcard.cpp
  Marlin/src/Marlin.cpp
  Marlin/src/Marlin.h
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/calibrate/M100.cpp
  Marlin/src/gcode/control/M111.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920_class.h
  Marlin/src/lcd/fontutils.cpp
  Marlin/src/lcd/fontutils.h
  Marlin/src/lcd/lcdprint.h
  Marlin/src/lcd/lcdprint_hd44780.cpp
  Marlin/src/lcd/lcdprint_u8g.cpp
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/u8g_fontutf8.cpp
  Marlin/src/lcd/u8g_fontutf8.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/lcd/ultralcd_impl_DOGM.h
  Marlin/src/lcd/ultralcd_impl_HD44780.h
  Marlin/src/libs/vector_3.cpp
  Marlin/src/libs/vector_3.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/pins/pinsDebug.h
Labels: PR: General Cleanup

#11976 Allow level corners to home if needed
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#11973 Show zprobe_zoffset when BABYSTEP_HOTEND_Z_OFFSET is disabled
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#11191 [2.0.x] Add option to move z axis with double click when printer is idle
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2plus/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-3/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Einstart-S/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Formbot/Raptor/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T_Rex_2+/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T_Rex_3/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/Tronxy/X3A/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: New Feature

#11978 Ensure MIN/MAX override, reduce STM32F4 build warnings
  Marlin/src/HAL/HAL_STM32F4/HAL.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/core/enum.h
  Marlin/src/core/macros.h
  Marlin/src/core/minmax.h
  Marlin/src/inc/MarlinConfig.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/sd/cardreader.h
  frameworks/CMSIS/LPC1768/include/lpc_types.h
Labels: C: Build / Toolchain, PR: Bug Fix, T: 32-Bit & HAL

#11941 [2.0.x] Add simultaneous retraction for mixing extruder
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2plus/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-3/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Einstart-S/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Formbot/Raptor/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T_Rex_2+/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T_Rex_3/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/Tronxy/X3A/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/feature/fwretract.cpp
  Marlin/src/module/planner.cpp
Labels: PR: Improvement

#11986 fixed min macro
  Marlin/src/core/macros.h
Labels: PR: Bug Fix

#11980 [2.0.x] Add back in the Env backup restore around each platforms tests
  buildroot/share/tests/start_tests
Labels: T: Development

#11982 Templatized serial classes
  Marlin/src/HAL/HAL_AVR/MarlinSerial.cpp
  Marlin/src/HAL/HAL_AVR/MarlinSerial.h
  Marlin/src/HAL/HAL_DUE/MarlinSerialUSB_Due.h
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.cpp
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.h
  Marlin/src/HAL/shared/MarlinSerial.h
Labels: C: Serial Comms, PR: Improvement

#11988 Expand serial support in DUE/AVR hals exploiting the templated Marlin…
  Marlin/src/HAL/HAL_AVR/HAL.h
  Marlin/src/HAL/HAL_AVR/MarlinSerial.cpp
  Marlin/src/HAL/HAL_AVR/MarlinSerial.h
  Marlin/src/HAL/HAL_DUE/HAL.cpp
  Marlin/src/HAL/HAL_DUE/HAL.h
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.cpp
  Marlin/src/HAL/HAL_DUE/InterruptVectors_Due.cpp
  Marlin/src/HAL/HAL_DUE/MarlinSerialUSB_Due.cpp
  Marlin/src/HAL/HAL_DUE/MarlinSerialUSB_Due.h
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.cpp
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.h
  Marlin/src/HAL/HAL_DUE/Tone.cpp
  Marlin/src/gcode/control/M111.cpp
  Marlin/src/gcode/queue.cpp
Labels: C: Serial Comms, PR: Improvement, T: 32-Bit & HAL

#11943 [2.0.x] Migrate Marlin to a new TMC library
  Marlin/src/Marlin.cpp
  Marlin/src/core/drivers.h
  Marlin/src/core/language.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/stepper_indirection.cpp
  Marlin/src/module/stepper_indirection.h
  platformio.ini
Labels: F: Trinamic, PR: Improvement

#11990 template struct simplification for serial
  Marlin/src/HAL/HAL_AVR/MarlinSerial.cpp
  Marlin/src/HAL/HAL_AVR/MarlinSerial.h
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.cpp
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.h
Labels: PR: Improvement

#11993 Fix TMC_DEBUG undefined report_tmc_status
  Marlin/src/feature/tmc_util.cpp
Labels: F: Trinamic, PR: Bug Fix

#11995 STM32 timer simplification
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.cpp
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.h
Labels: PR: Improvement, T: 32-Bit & HAL

#11996 [2.0.x] Update Italian language
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12008 [2.0.x] Partial Italian revert
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#11997 [2.0.x] Makefile support for 32-bit Archim board and new TMC library
  Marlin/Makefile
Labels: C: Build / Toolchain

#12016 STM32 non-generic PWM_PIN and USEABLE_HARDWARE_PWM
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
  Marlin/src/HAL/HAL_STM32F1/fastio_Stm32f1.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F7/fastio_STM32F7.h
  buildroot/share/tests/STM32F1_tests
Labels: T: 32-Bit & HAL

#12019 Fix for #12004
  Marlin/src/module/planner.cpp
Labels: C: Motion, PR: Bug Fix

#11998 [2.0.x] Support TMC2660
  Marlin/src/Marlin.cpp
  Marlin/src/core/drivers.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/feature/trinamic/M122.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/stepper_indirection.cpp
  Marlin/src/module/stepper_indirection.h
  Marlin/src/pins/pins_AZTEEG_X5_GT.h
Labels: F: Trinamic, PR: Improvement

#12033 Save PROGMEM on serial prefixes
  Marlin/src/HAL/HAL_LPC1768/HAL.cpp
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
Labels: C: Optimization

#12032 Use uint8_t for all fan speeds
  Marlin/src/Marlin.cpp
  Marlin/src/Marlin.h
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/feature/power.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/control/M42.cpp
  Marlin/src/gcode/control/M80_M81.cpp
  Marlin/src/gcode/lcd/M145.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/temperature/M106_M107.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/dogm/u8g_dev_st7920_128x64_HAL.cpp
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/lcd/ultralcd_impl_HD44780.h
  Marlin/src/libs/softspi.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Improvement

#12029 [2.0.x] TMC2660 followup
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/module/stepper_indirection.cpp
Labels: F: Trinamic, PR: Improvement

#12034 [2.0.x] messages fix
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, C: Language

#12027 [2.0.x] Correct PWM_PIN behavior for STM32 HALs
  Marlin/src/HAL/HAL_STM32/HAL_spi_STM32.cpp
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
  Marlin/src/HAL/HAL_STM32F1/fastio_Stm32f1.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F7/fastio_STM32F7.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#12035 [2.0.x] Fix Makefile "Missing separator" errors due to incorrect use of spaces.
  Marlin/Makefile
Labels: C: Build / Toolchain, PR: Bug Fix

#12039 [2.0.x] Miscellaneous fixes
  Marlin/src/HAL/HAL_DUE/spi_pins.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
  Marlin/src/pins/pins_ARCHIM2.h
Labels: PR: Improvement

#12042 Update Ender-2 BED_MAXTEMP
  Marlin/src/config/examples/Creality/Ender-2/Configuration.h
  Marlin/src/config/examples/Creality/Ender-2/README.md
Labels: C: Configuration, PR: Improvement

#12041 [2.0.x, RFC] Allow #defined TYPE arg to ultralcd menu macros
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#12051 [2.0.x] Follow up fix to #10645
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: PR: Bug Fix

#11843 [2.0.x] Ender-4 small improvements in Configuration
  Marlin/src/config/examples/Creality/Ender-4/Configuration.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/pins/pins_RAMPS_ENDER_4.h
Labels: S: Don't Merge

#12054 Fix and improve EEPROM storage
  Marlin/src/core/types.h
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/I2CPositionEncoder.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/fwretract.cpp
  Marlin/src/feature/fwretract.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/calibrate/M852.cpp
  Marlin/src/gcode/config/M200-M205.cpp
  Marlin/src/gcode/config/M217.cpp
  Marlin/src/gcode/config/M218.cpp
  Marlin/src/gcode/config/M304.cpp
  Marlin/src/gcode/config/M92.cpp
  Marlin/src/gcode/feature/fwretract/M207-M209.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M603.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper_indirection.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/tool_change.cpp
  Marlin/src/module/tool_change.h
Labels: PR: Coding Standards, PR: Improvement

#12061 Fix fw retract compile error
  Marlin/src/feature/fwretract.cpp
  Marlin/src/module/configuration_store.cpp
Labels: PR: Bug Fix

#12056 Single nozzle additions
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, PR: Bug Fix, PR: Improvement

#12060 [2.0.x] Italian language update
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12063 Add MS3 pins. Optimize SENSITIVE_PINS.
  Marlin/src/Marlin.cpp
  Marlin/src/gcode/control/M350_M351.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/MarlinConfig.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/pins_RURAMPS4D_11.h
  Marlin/src/pins/sensitive_pins.h
Labels: PR: Improvement, T: Development

#12077 Animated boot screen
  Marlin/src/config/examples/AnimationExample/_Bootscreen.h
  Marlin/src/lcd/ultralcd_impl_DOGM.h
  buildroot/share/tests/megaatmega2560_tests
Labels: PR: New Feature

#12083 Fixed Z-Probes NO/NC for Anycubic Kossel
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration.h
Labels: PR: Bug Fix, PR: Configurations

#12086 Fix datasize error when FWRETRACT is disabled
  Marlin/src/module/configuration_store.cpp
Labels: PR: Bug Fix

#12059 [2.0.x] Updated slovak translation
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#12089 Pr g0 feedrate
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2/Configuration_adv.h
  Marlin/src/config/examples/Anet/A2plus/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-3/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Einstart-S/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Formbot/Raptor/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T_Rex_2+/Configuration_adv.h
  Marlin/src/config/examples/Formbot/T_Rex_3/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/Tronxy/X3A/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/Anycubic/Kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/motion/G0_G1.cpp
Labels: C: Motion, PR: New Feature

#12104 [1.1.x] Reduce HOMING_FEEDRATE_XY for Ender 3
  Marlin/example_configurations/Creality/Ender-3/Configuration.h
Labels: PR: Configurations

#12105 [2.0.x] Reduce HOMING_FEEDRATE_XY for Ender 3
  Marlin/src/config/examples/Creality/Ender-3/Configuration.h
Labels: PR: Configurations

#12101 Anycubic Kossel Z probe invert fix
  Marlin/example_configurations/delta/Anycubic/Kossel/Configuration.h
Labels: PR: Configurations

#12094 [Bugfix-2.0.x] Updated german translation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12098 New Continuous Filament Mixer
  Marlin/src/Marlin.cpp
  Marlin/src/feature/fwretract.cpp
  Marlin/src/feature/mixing.cpp
  Marlin/src/feature/mixing.h
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/feature/mixing/M163-M165.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/tool_change.cpp
Labels: PR: Improvement

#12080 STM32F4xx modifications for HAL_STM32
  Marlin/src/HAL/HAL_LPC1768/watchdog.cpp
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.cpp
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.h
  Marlin/src/HAL/HAL_STM32/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32/watchdog_STM32.cpp
  Marlin/src/HAL/HAL_STM32F4/EEPROM_Emul/eeprom_emul.cpp
  Marlin/src/HAL/HAL_STM32F4/EmulatedEeprom.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_Servo_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_spi_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_timers_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_STM32F4/watchdog_STM32F4.cpp
  Marlin/src/pins/pins_REMRAM_V1.h
Labels: PR: Bug Fix, PR: Improvement, T: 32-Bit & HAL

#12117 Fixes and improvements to EXTENSIBLE_UI
  Marlin/src/core/utility.cpp
  Marlin/src/core/utility.h
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/eeprom/M500-M504.cpp
  Marlin/src/lcd/extensible_ui/lib/example.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: Improvement

#12120 remove confusing comment
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/src/config/examples/delta/Hatchbox_Alpha/Configuration.h
  Marlin/src/config/examples/delta/generic/Configuration.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration.h
Labels: PR: General Cleanup

#12118 [2.0.x] Fix extruders
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix

#12125 [2.0.x] Change pin definition to match final RemRam board design
  Marlin/src/pins/pins_REMRAM_V1.h
Labels: C: Hardware/Boards

#12124 [2.0.x] Add missing SerialUSB definition for STM32 HAL
  Marlin/src/HAL/HAL_STM32/HAL.h
Labels: T: 32-Bit & HAL

#12115 [Bugfix-2.0.x] Updated german translation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12131 [bugfix-2.0.x] Updates for the Ender-4 example config
  Marlin/src/config/examples/Creality/Ender-4/Configuration.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Configurations

#12134 Fix sd_mmc_spi_mem capacity; clean up USB code (#12128)
  Marlin/src/HAL/HAL_DUE/usb/sd_mmc_spi_mem.cpp
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.cpp
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.h
Labels: PR: Improvement

#12133 Updated Azteeg X5 Mini Wifi pins for onboard SD
  Marlin/src/pins/pins_AZTEEG_X5_MINI_WIFI.h
Labels: C: Hardware/Boards, PR: Bug Fix, PR: Improvement

#12148 [2.0.x] Updated Italian Language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12143 Update German translation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12158 [2.0.x] Fix endstop when no interrupt
  Marlin/src/module/endstops.cpp
Labels: PR: Bug Fix

#12147 Add support for Arm'ed (STM32F4) board
  Marlin/src/config/examples/ArmEd/Configuration.h
  Marlin/src/config/examples/ArmEd/Configuration_adv.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_ARMED.h
  platformio.ini
Labels: C: Hardware/Boards

#12160 [2.0.x] Fixes to kill() and UI
  Marlin/src/Marlin.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: PR: Bug Fix

#12161 [2.0.x] Define CPU_ST7920_DELAYs for board ARMED
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
Labels: PR: Bug Fix

#12168 Fix filament runout for idex duplication modes
  Marlin/src/feature/runout.h
Labels: F: Dual X Carriage

#12164 [2.0.x] Hide some menu items when busy: fix typo
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: Bug Fix

#12169 Possible fix for #12048.
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/tool_change.h
Labels: F: EEPROM, PR: Bug Fix

#12181 Initializes the D-axis on Hangprinter and counts advance_dividend and…
  Marlin/stepper.cpp
Labels: PR: Bug Fix

#12182 Return set_directions() to stepper.cpp
  Marlin/src/module/stepper.cpp
Labels: C: Motion, PR: Bug Fix

#12188 [2.0.x] Implement special delay/millis routines for EXTENSIBLE_UI
  Marlin/src/Marlin.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/ultralcd.h
Labels: PR: Improvement

#12189 Better cold extrusion prevention in LCD menu
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#12203 [2.0.x] Fixed redefinition warnings of MSG_HOTEND_TOO_COLD.
  Marlin/src/core/language.h
  Marlin/src/feature/pause.cpp
  Marlin/src/module/tool_change.cpp
Labels: C: Language, PR: Bug Fix

#12202 [2.0.x] Slovak translation update
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#12206 Fix compilation errors when EXTENSIBLE_UI is enabled
  Marlin/src/lcd/extensible_ui/lib/example.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/libs/buzzer.h
Labels: PR: Bug Fix

#12200 Fix IDEX homing X0 wrong direction
  Marlin/src/module/stepper.cpp
Labels: C: Motion, PR: Bug Fix

#12196 [2.0.x] update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12210 z_offset fix for deltas
  Marlin/src/module/motion.cpp
Labels: K: Deltabot, PR: Improvement

#12209 [2.0.x] Fixed X, Y, Z axis movement via LCD menu.
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: Bug Fix

#12214 Add helpers for custom text in menu items
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: Improvement

#12220 Fix some compile warnings
  Marlin/src/HAL/HAL_AVR/MarlinSerial.cpp
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.cpp
  Marlin/src/HAL/shared/Delay.h
  Marlin/src/core/macros.h
  Marlin/src/module/configuration_store.cpp
Labels: C: Build / Toolchain

#12229 Add creality ramps pin definition
  Marlin/src/config/examples/Creality/CR-10S/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_MELZI_CREALITY.h
  Marlin/src/pins/pins_RAMPS_CREALITY.h
Labels: C: Hardware/Boards

#12232 Clean up PROBE_TRIGGERED_WHEN_STOWED_TEST
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/module/probe.cpp
Labels: F: Z-Probes, PR: General Cleanup

#12246 Fixed some wording in French translation
  Marlin/language_fr.h
Labels: C: Language

#12242 'G29 H' to set a centered square probe area (linear, bilinear)
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/module/probe.cpp
Labels: F: Calibration, PR: New Feature

#12258 [2.0.x] Fix for Teensy 3.5/3.6 ADC access for ADC1
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.cpp
Labels: PR: Bug Fix, T: 32-Bit & HAL

#12261 [Bugfix-2.0.x] Updated german translation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12275 Followup to Menu Refactor
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_shared_hw_spi.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/spi_pins.h
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_hw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_ssd_hw_i2c.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_ssd_sw_i2c.cpp  under construction
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_st7920_hw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_st7920_sw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_sw_spi.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL.cpp
  Marlin/src/Marlin.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/control/M80_M81.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/gcode/lcd/M145.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/HD44780/lcdprint_hd44780.cpp
  Marlin/src/lcd/HD44780/ultralcd_common_HD44780.h
  Marlin/src/lcd/HD44780/ultralcd_impl_HD44780.cpp
  Marlin/src/lcd/dogm/lcdprint_u8g.cpp
  Marlin/src/lcd/dogm/u8g_dev_ssd1306_sh1106_128x64_I2C.cpp
  Marlin/src/lcd/dogm/u8g_dev_st7565_64128n_HAL.cpp
  Marlin/src/lcd/dogm/u8g_dev_st7920_128x64_HAL.cpp
  Marlin/src/lcd/dogm/u8g_dev_uc1701_mini12864_HAL.cpp
  Marlin/src/lcd/dogm/u8g_fontutf8.cpp
  Marlin/src/lcd/dogm/ultralcd_impl_DOGM.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/tool_change.cpp
Labels: C: LCD & Controllers, PR: Bug Fix, PR: Coding Standards, PR: General Cleanup

#12227 [2.0.x] Cleanup/refactoring of EXTENSIBLE_UI
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: Improvement

#12224 DOGM Config Changes
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_impl_DOGM.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: Improvement

#12284 [2.0.x] Fix misplaced parentheses in #12276
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#12280 [Bugfix-2.0.x] German - fix translation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12286 Fix LEVEL_BED_CORNERS menu not found
  Marlin/src/Marlin.cpp
  Marlin/src/Marlin.h
  Marlin/src/gcode/geometry/M206_M428.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
Labels: C: LCD & Controllers, PR: Bug Fix, PR: General Cleanup
