Repository MarlinFirmware/Marlin, pull requests merged in 2018-05, with the labels that each got.

#10585 [2.0.x] Creality Ender-3 Configuration
  Marlin/src/config/examples/Creality/Ender-3/Configuration.h
  Marlin/src/config/examples/Creality/Ender-3/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-3/README.md
  Marlin/src/config/examples/Creality/Ender-3/_Bootscreen.h
  Marlin/src/config/examples/Creality/Ender-3/_Statusscreen.h
Labels: PR: Configurations

#10598 [2.0.x] Add Viki support to RAMPS_FD_V1 (DUE)
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  Marlin/src/pins/pins_RAMPS_FD_V1.h
Labels: PR: Improvement, T: 32-Bit & HAL

#10594 [1.1.x] Add Velleman RGB-LED strip support to K8400 sample configuration
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
Labels: PR: Configurations

#10603 Fix bed size and max z pos for Ender-2
  Marlin/example_configurations/Creality/Ender-2/Configuration.h
Labels: PR: Bug Fix, PR: Configurations

#10626 Add 2 Geeetech examples
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro C/Configuration.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro W/Configuration.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro W/Configuration_adv.h
Labels: PR: Configurations

#10615 [1.1.x] Improve sync of planner / stepper position, asynchronous G92
  Marlin/G26_Mesh_Validation_Tool.cpp
  Marlin/I2CPositionEncoder.cpp
  Marlin/Marlin_main.cpp
  Marlin/fwretract.cpp
  Marlin/planner.cpp
  Marlin/planner.h
  Marlin/stepper.cpp
  Marlin/stepper.h
Labels: PR: Improvement

#10614 [2.0.x] Improve sync of planner / stepper position, asynchronous G92
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/fwretract.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/control/M80_M81.cpp
  Marlin/src/gcode/geometry/G92.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: PR: Improvement

#10633 [2.0.x]-sanitycheck-fix
  .travis.yml
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix, PR: Configurations

#10654 [2.0.x] Add 3-frame fan animation to bitmaps
  Marlin/src/lcd/dogm/dogm_bitmaps.h
Labels: C: LCD & Controllers, PR: Improvement

#10650 [1.1.x] Junction Deviation
  Marlin/Configuration_adv.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-8/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-2/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-3/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-4/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
  Marlin/planner.cpp
Labels: PR: New Feature, S: Experimental

#10651 [2.0.x] Junction Deviation
  .travis.yml
  Marlin/Configuration_adv.h
  Marlin/src/HAL/HAL_AVR/math_AVR.h
  Marlin/src/HAL/HAL_DUE/DebugMonitor_Due.cpp
  Marlin/src/HAL/HAL_DUE/HAL_spi_Due.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/backtrace/unwarmbytab.cpp
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-3/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/src/config/examples/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/core/macros.h
  Marlin/src/libs/softspi.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/stepper.cpp
Labels: PR: New Feature, S: Experimental

#10649 [1.1.x] Add UBL support for G2/G3 and G5
  Marlin/Conditionals_post.h
  Marlin/Marlin_main.cpp
  Marlin/planner.cpp
  Marlin/planner.h
  Marlin/planner_bezier.cpp
Labels: F: U.B.L., PR: Improvement

#10648 [2.0.x] Add UBL support for G2/G3 and G5
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/planner_bezier.cpp
Labels: F: U.B.L., PR: Improvement

#10656 [2.0.x] Fix LIN_ADVANCE + SWITCHING_EXTRUDER stepper directions
  Marlin/src/module/stepper.cpp
Labels: F: Linear Advance, PR: Bug Fix

#10657 [1.1.x] Fix LIN_ADVANCE + SWITCHING_EXTRUDER stepper directions
  Marlin/stepper.cpp
Labels: F: Linear Advance, PR: Bug Fix

#10668 [2.0.x] Add missing axes to M911, M912
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
Labels: F: Trinamic, PR: Improvement

#10669 [1.1.x] Support all axes in M911 and M912
  Marlin/Marlin_main.cpp
Labels: F: Trinamic, PR: Improvement

#10523 [1.1.x] Blink the value on non-homed axes
  Marlin/status_screen_DOGM.h
  Marlin/ultralcd_impl_HD44780.h
Labels: C: LCD & Controllers, T: Suggestion

#10670 [2.0.x] Blink the value for unhomed/unknown axes
  Marlin/src/lcd/dogm/status_screen_DOGM.h
  Marlin/src/lcd/ultralcd_impl_HD44780.h
Labels: C: LCD & Controllers, PR: Improvement

#10676 [1.1.x] Correction to Printrboard SDSS pin
  Marlin/pins_PRINTRBOARD.h
Labels: C: Hardware/Boards, PR: Bug Fix

#10677 [2.0.x] Correction to Printrboard SDSS pin
  Marlin/src/pins/pins_PRINTRBOARD.h
Labels: C: Hardware/Boards, PR: Bug Fix

#10673 [1.1.x] Patch reverse_pass_kernel potential issue
  Marlin/planner.cpp
Labels: PR: Bug Fix

#10674 [2.0.x] Patch reverse_pass_kernel potential issue
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#10691 Remove hidden dependency on destination from plan_arc() and plan_cubic_move()
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/gcode/motion/G5.cpp
Labels: PR: General Cleanup

#10690 Remove hidden dependency on destination from plan_arc() and plan_cubic_move()
  Marlin/Marlin_main.cpp
Labels: PR: General Cleanup

#10693 [2.0.x] Enable AD595 and AD8495 in concert
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/thermistor/thermistors.h
Labels: PR: Improvement

#10694 [1.1.x] Enable AD595 and AD8495 in concert
  Marlin/Conditionals_post.h
  Marlin/temperature.cpp
  Marlin/thermistortables.h
  Marlin/ultralcd.cpp
Labels: PR: Improvement

#10695 Use the ARC_SUPPORT functionality if available to print the G26 pattern
  Marlin/G26_Mesh_Validation_Tool.cpp
  Marlin/Marlin.h
Labels: F: Calibration, PR: Improvement

#10696 [2.0.x] Use arc moves for G26 if enabled
  Marlin/src/gcode/bedlevel/G26.cpp
Labels: F: Calibration, PR: Improvement

#10701 [2.0.x] Use M_PI instead of PI
  Marlin/src/gcode/bedlevel/G26.cpp
Labels: PR: General Cleanup

#10702 [1.1.x] Use M_PI instead of PI
  Marlin/G26_Mesh_Validation_Tool.cpp
Labels: PR: General Cleanup

#10710 [2.0.x] EEprom code cleanup
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/configuration_store.h
Labels: PR: General Cleanup

#10711 [1.1.x] EEprom code cleanup
  Marlin/configuration_store.cpp
  Marlin/configuration_store.h
Labels: PR: General Cleanup

#10713 [2.0.x] Move Stepper::synchronize to Planner
  Marlin/src/Marlin.cpp
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/runout.h
  Marlin/src/feature/snmm.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/control/M226.cpp
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/gcode/control/M400.cpp
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/gcode/feature/advance/M900.cpp
  Marlin/src/gcode/geometry/G53-G59.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/gcode/motion/G4.cpp
  Marlin/src/gcode/probe/G38.cpp
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M928.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/tool_change.cpp
  Marlin/src/sd/cardreader.cpp
Labels: PR: General Cleanup

#10714 [2.0.x] Fix M301 access to lpq_len
  Marlin/src/Marlin.cpp
  Marlin/src/Marlin.h
  Marlin/src/gcode/config/M301.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Bug Fix

#10715 [1.1.x] Move lpq_len to Temperature class
  Marlin/Marlin.h
  Marlin/Marlin_main.cpp
  Marlin/configuration_store.cpp
  Marlin/temperature.cpp
  Marlin/temperature.h
Labels: PR: General Cleanup

#10716 [2.0.x] Better handling of DELAY_NS and DELAY_US
  Marlin/src/HAL/Delay.h
  Marlin/src/HAL/HAL_DUE/HAL_spi_Due.cpp
  Marlin/src/HAL/HAL_LPC1768/HAL.cpp
  Marlin/src/HAL/HAL_LPC1768/HAL.h
  Marlin/src/HAL/HAL_LPC1768/SoftwareSerial.cpp
  Marlin/src/HAL/HAL_LPC1768/arduino.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g_com_HAL_LPC1768_ssd_sw_i2c.cpp  under construction
  Marlin/src/core/macros.h
  Marlin/src/feature/Max7219_Debug_LEDs.cpp
  Marlin/src/feature/dac/dac_dac084s085.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/pins_ANET_10.h
  Marlin/src/pins/pins_MELZI_CREALITY.h
  Marlin/src/pins/pins_MELZI_MALYAN.h
  Marlin/src/pins/pins_MELZI_TRONXY.h
  Marlin/src/pins/pins_PRINTRBOARD_REVF.h
  Marlin/src/pins/pins_SANGUINOLOLU_11.h
  Marlin/src/pins/pins_STM32F4.h
Labels: PR: Improvement

#10719 [1.1.x] Move some Stepper methods to Planner
  Marlin/G26_Mesh_Validation_Tool.cpp
  Marlin/I2CPositionEncoder.cpp
  Marlin/Marlin_main.cpp
  Marlin/cardreader.cpp
  Marlin/planner.cpp
  Marlin/planner.h
  Marlin/runout.h
  Marlin/stepper.cpp
  Marlin/stepper.h
  Marlin/ubl_G29.cpp
  Marlin/ubl_motion.cpp
  Marlin/ultralcd.cpp
Labels: PR: General Cleanup

#10718 [2.0.x] Move get_axis_position_mm to Planner
  Marlin/src/core/utility.cpp
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/scara.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: General Cleanup

#10727 [2.0.x] Smarter MIN, MAX, ABS macros
  Marlin/src/HAL/HAL_DUE/usb/compiler.h
  Marlin/src/HAL/HAL_DUE/usb/uotghs_device_due.c
  Marlin/src/HAL/HAL_DUE/usb/uotghs_device_due.h
  Marlin/src/HAL/HAL_LPC1768/SoftwareSPI.cpp
  Marlin/src/HAL/HAL_LPC1768/include/Arduino.h
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_Stm32f1.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_Stm32f1.h
  Marlin/src/HAL/HAL_STM32F7/TMC2660.cpp
  Marlin/src/HAL/servo.cpp
  Marlin/src/Marlin.h
  Marlin/src/core/macros.h
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/Max7219_Debug_LEDs.cpp
  Marlin/src/feature/bedlevel/abl/abl.cpp
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/feature/digipot/digipot_mcp4018.cpp
  Marlin/src/feature/digipot/digipot_mcp4451.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M603.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/gcode/probe/G38.cpp
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/gcode/temperature/M106_M107.cpp
  Marlin/src/gcode/temperature/M140_M190.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd_impl_DOGM.h
  Marlin/src/lcd/ultralcd_impl_HD44780.h
  Marlin/src/libs/least_squares_fit.cpp
  Marlin/src/libs/least_squares_fit.h
  Marlin/src/libs/nozzle.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/planner_bezier.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: General Cleanup

#10728 [2.0.x] Convert custom maths to inlines
  Marlin/src/HAL/HAL_AVR/math_AVR.h
  Marlin/src/HAL/math_32bit.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: PR: Coding Standards

#10742 [2.0.x] Prevent compilation of unused u8g-oriented code
  .travis.yml
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_shared_hw_spi.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g_com_HAL_LPC1768_hw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g_com_HAL_LPC1768_ssd_hw_i2c.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g_com_HAL_LPC1768_ssd_sw_i2c.cpp  under construction
  Marlin/src/HAL/HAL_LPC1768/u8g_com_HAL_LPC1768_st7920_hw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g_com_HAL_LPC1768_st7920_sw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g_com_HAL_LPC1768_sw_spi.cpp
  Marlin/src/lcd/dogm/u8g_dev_ssd1306_sh1106_128x64_I2C.cpp
  Marlin/src/lcd/dogm/u8g_dev_st7565_64128n_HAL.cpp
  Marlin/src/lcd/dogm/u8g_dev_st7920_128x64_HAL.cpp
  Marlin/src/lcd/dogm/u8g_dev_uc1701_mini12864_HAL.cpp
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
  Marlin/src/lcd/lcdprint_u8g.cpp
Labels: C: Build / Toolchain, PR: Coding Standards, PR: General Cleanup

#10747 [1.1.x] Modify UBL mesh_is_valid and use in leveling_is_valid
  Marlin/Marlin_main.cpp
  Marlin/ubl.h
Labels: F: Calibration, F: U.B.L., PR: Improvement

#10746 [2.0.x] Modify UBL mesh_is_valid and use in leveling_is_valid
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/gcode/bedlevel/M420.cpp
Labels: F: Calibration, F: U.B.L., PR: Improvement

#10776 [2.0.x][LPC176x] Add missing program space function
  Marlin/src/HAL/HAL_LPC1768/include/Arduino.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#10775 [1.1.x] Temperature reading fix
  Marlin/temperature.cpp
Labels: PR: Bug Fix

#10774 [2.0.x] Temperature reading fix
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#10772 [2.0.x] Fix switching extruder
  Marlin/src/Marlin.cpp
  Marlin/src/gcode/config/M218.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/module/tool_change.h
Labels: PR: Bug Fix, PR: General Cleanup, PR: Improvement

#10778 [2.0.x] Fix baby stepping - restart delay counter between pulse edges
  Marlin/src/module/stepper.cpp
Labels: Bug: Confirmed !, PR: Bug Fix, T: 32-Bit & HAL

#10779 [2.0.x] Autobuild update & add PlatformIO support for AT90USB boards
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/boards/at90USB1286.json
  buildroot/share/atom/auto_build.py
  buildroot/share/atom/create_custom_upload_command_CDC.py
  buildroot/share/atom/create_custom_upload_command_DFU.py
  platformio.ini
Labels: PR: Configurations, PR: Improvement, T: 32-Bit & HAL

#10790 [2.0.x] Move backtrace to the HAL folder
  Marlin/src/HAL/HAL_DUE/DebugMonitor_Due.cpp
  Marlin/src/HAL/backtrace/backtrace.cpp
  Marlin/src/HAL/backtrace/backtrace.h
  Marlin/src/HAL/backtrace/unwarm.cpp
  Marlin/src/HAL/backtrace/unwarm.h
  Marlin/src/HAL/backtrace/unwarm_arm.cpp
  Marlin/src/HAL/backtrace/unwarm_thumb.cpp
  Marlin/src/HAL/backtrace/unwarmbytab.cpp
  Marlin/src/HAL/backtrace/unwarmbytab.h
  Marlin/src/HAL/backtrace/unwarmmem.cpp
  Marlin/src/HAL/backtrace/unwarmmem.h
  Marlin/src/HAL/backtrace/unwinder.cpp
  Marlin/src/HAL/backtrace/unwinder.h
  Marlin/src/HAL/backtrace/unwmemaccess.cpp
  Marlin/src/HAL/backtrace/unwmemaccess.h
Labels: PR: General Cleanup, T: 32-Bit & HAL

#10791 [bugfix-1.1.x] Fix platformio.ini and update autobuild
  Marlin/pins.h
  buildroot/share/PlatformIO/boards/at90USB1286.json
  buildroot/share/atom/auto_build.py
  buildroot/share/atom/create_custom_upload_command_CDC.py
  buildroot/share/atom/create_custom_upload_command_DFU.py
  platformio.ini
Labels: Bug: Confirmed !, PR: Bug Fix, PR: Configurations, PR: Improvement

#10798 [2.0.x] FAST_PWM_FAN - issue error if used with 32 bit CPU
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
Labels: T: 32-Bit & HAL

#10797 [1.1.x] Refactor Stepper / Planner
  Marlin/HAL.h
  Marlin/MarlinConfig.h
  Marlin/Marlin_main.cpp
  Marlin/cardreader.cpp
  Marlin/endstop_interrupts.h
  Marlin/endstops.cpp
  Marlin/endstops.h
  Marlin/enum.h
  Marlin/fastio.h
  Marlin/macros.h
  Marlin/planner.cpp
  Marlin/planner.h
  Marlin/planner_bezier.cpp
  Marlin/stepper.cpp
  Marlin/stepper.h
  Marlin/temperature.cpp
  Marlin/ubl_motion.cpp
  Marlin/ultralcd.cpp
Labels: PR: Improvement

#10777 [1.1.x] Fix G1 behaviour after tool unpark
  Marlin/Marlin_main.cpp
Labels: Needs: Discussion, PR: Bug Fix

#10809 [2.0.x] Add Sublime support for Auto build, minor Auto-build update
  buildroot/share/atom/auto_build.py
  buildroot/share/sublime/auto_build_sublime_menu/000_read_me.txt
  buildroot/share/sublime/auto_build_sublime_menu/Main.sublime-menu
Labels: C: Build / Toolchain, PR: Improvement

#10808 [bugfix-1.1.x] Yet another auto build update & add Sublime menu support
  buildroot/share/atom/auto_build.py
  buildroot/share/sublime/auto_build_sublime_menu/000_read_me.txt
  buildroot/share/sublime/auto_build_sublime_menu/Main.sublime-menu
Labels: C: Build / Toolchain

#10814 [2.0.x] M3 & M4 Boards.h classification arrangement
  Marlin/src/core/boards.h
Labels: PR: General Cleanup

#10822 [1.1.x] Repair endstops handling for Core kinematics
  Marlin/endstops.cpp
  Marlin/macros.h
  Marlin/stepper.cpp
  Marlin/stepper.h
Labels: PR: Bug Fix

#10823 [2.0.x] Regression: Endstops Core compatibility
  Marlin/src/core/macros.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: PR: Bug Fix

#10831 [2.0.x] Clean up and consolidate SD-related code
  Marlin/src/sd/SdBaseFile.cpp
  Marlin/src/sd/SdBaseFile.h
  Marlin/src/sd/SdFatConfig.h
  Marlin/src/sd/SdVolume.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: PR: General Cleanup

#10832 [1.1.x] Clean up and consolidate SD-related code
  Marlin/SdBaseFile.cpp
  Marlin/SdBaseFile.h
  Marlin/SdFatConfig.h
  Marlin/SdVolume.cpp
  Marlin/cardreader.cpp
  Marlin/cardreader.h
Labels: PR: General Cleanup

#10836 [1.1.x] Malyan LCD compatibility
  Marlin/Conditionals_LCD.h
  Marlin/MarlinConfig.h
  Marlin/MarlinSerial.cpp
  Marlin/MarlinSerial.h
  Marlin/Marlin_main.cpp
  Marlin/SanityCheck.h
  Marlin/malyanlcd.cpp
  Marlin/serial.h
Labels: C: LCD & Controllers, PR: Bug Fix

#10843 [2.0.x] Update/Fix LPC1768 extra script upload_extra_script.py
  Marlin/src/HAL/HAL_LPC1768/upload_extra_script.py
Labels: C: Build / Toolchain, PR: Bug Fix, T: 32-Bit & HAL

#10849 [2.0.x] Faster disk find for LPC1768, Auto-build CDC support fix, error handling improvements
  Marlin/src/HAL/HAL_LPC1768/upload_extra_script.py
  buildroot/share/atom/auto_build.py
  buildroot/share/atom/avrdude.conf
  buildroot/share/atom/avrdude_5.10_linux
  buildroot/share/atom/avrdude_5.10_macOS
  buildroot/share/atom/avrdude_linux.conf
  buildroot/share/atom/avrdude_macOS.conf
  buildroot/share/atom/create_custom_upload_command_CDC.py
  buildroot/share/atom/create_custom_upload_command_DFU.py
Labels: C: Build / Toolchain, PR: Improvement

#10851 [1.1.x] Buffer overflow fixes and UTF8 cleanup
  Marlin/G26_Mesh_Validation_Tool.cpp
  Marlin/Marlin_main.cpp
  Marlin/status_screen_DOGM.h
  Marlin/status_screen_lite_ST7920.h
  Marlin/ubl.h
  Marlin/ultralcd.cpp
  Marlin/ultralcd_impl_HD44780.h
  Marlin/utf_mapper.h
Labels: C: LCD & Controllers, PR: Bug Fix, PR: General Cleanup

#10844 [2.0.x] Buffer overflow fixes and UTF8 cleanup
  Marlin/src/HAL/HAL_AVR/HAL_spi_AVR.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/fontutils.cpp
  Marlin/src/lcd/fontutils.h
  Marlin/src/lcd/lcdprint.h
  Marlin/src/lcd/lcdprint_hd44780.cpp
  Marlin/src/lcd/lcdprint_u8g.cpp
  Marlin/src/lcd/u8g_fontutf8.cpp
  Marlin/src/lcd/u8g_fontutf8.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd_impl_DOGM.h
  Marlin/src/lcd/ultralcd_impl_HD44780.h
  frameworks/CMSIS/LPC1768/lib/usb/usbhw.cpp
Labels: C: LCD & Controllers, PR: General Cleanup

#10855 [1.1.x] Add missing config line for JUNCTION_DEVIATION
  Marlin/Configuration_adv.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-8/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-2/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-3/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-4/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
Labels: PR: Bug Fix, PR: Configurations

#10854 [1.1.x] Fix up stepper ISR with linear advance timing
  Marlin/stepper.cpp
Labels: F: Linear Advance, PR: Bug Fix

#10853 [2.0.x] Fix up stepper ISR with linear advance timing
  Marlin/src/module/stepper.cpp
Labels: F: Linear Advance, PR: Bug Fix

#10852 [bugfix-1.1.x] Auto-build CDC support fix, error handling improvements
  buildroot/share/atom/auto_build.py
  buildroot/share/atom/avrdude.conf
  buildroot/share/atom/avrdude_5.10_linux
  buildroot/share/atom/avrdude_5.10_macOS
  buildroot/share/atom/avrdude_linux.conf
  buildroot/share/atom/avrdude_macOS.conf
  buildroot/share/atom/create_custom_upload_command_CDC.py
  buildroot/share/atom/create_custom_upload_command_DFU.py
Labels: C: Build / Toolchain, PR: Improvement

#10867 [1.1.x] Fix manual moves for switching tools
  Marlin/Conditionals_LCD.h
  Marlin/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#10868 [2.0.x] Fix manual moves for switching tools
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix, PR: Improvement

#10871 [2.0.x] Fix Bresenham rounding errors
  Marlin/src/module/stepper.cpp
Labels: PR: Improvement

#10872 [HAL]Add support for ST7920 - Teensy 3.x
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.cpp
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.h
Labels: C: LCD & Controllers

#10882 [1.1.x] Faster (bisect) search in thermistor tables
  Marlin/temperature.cpp
Labels: PR: Improvement

#10883 [2.0.x] Faster (bisect) search in thermistor tables
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement

#10887 [1.1.x] Tweak E stepping macros, E stepper init
  Marlin/stepper.cpp
  Marlin/stepper_indirection.h
Labels: PR: General Cleanup, PR: Improvement

#10885 [2.0.x] Tweak E stepping macros, E stepper init
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper_indirection.h
Labels: PR: General Cleanup, PR: Improvement

#10892 [2.0.x][LPC176x][Build] Force single precision constants, disable freestanding
  Marlin/src/HAL/HAL_LPC1768/lpc1768_flag_script.py
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix, T: 32-Bit & HAL

#10898 [2.0.x] Add GTM32 Pro VB support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_GTM32_PRO_VB.h
Labels: C: Hardware/Boards, T: 32-Bit & HAL
