Repository MarlinFirmware/Marlin, pull requests merged in 2018-02, with the labels that each got.

#9554 [2.0.x] Update TMC section with SW SPI pins
  Marlin/src/pins/pins_RAMPS.h
Labels: General Cleanup, Support: Hardware/Boards

#9565 [1.1.x] Init CS pins before loading settings
  Marlin/Marlin_main.cpp
  Marlin/tmc_util.cpp
  Marlin/tmc_util.h
Labels: PR: Bugfix

#9566 [2.0.x] Init CS pins before loading settings
  Marlin/src/Marlin.cpp
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
Labels: PR: Bugfix

#9563 [1.1.x] Memory overflow protection
  Marlin/ultralcd.cpp
Labels: PR: Bugfix, Support: LCD & Controllers

#9562 [2.0.x] Memory overflow protection
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: Bugfix, Support: LCD & Controllers

#9571 Update French language
  Marlin/language_fr.h
  Marlin/language_fr_utf8.h
Labels: Support: Language

#9556 Updated french translation
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_fr_utf8.h
Labels: Support: Language

#9575 [1.1.x] Fix Power class
  .travis.yml
  Marlin/fastio.h
  Marlin/power.cpp
  Marlin/power.h
Labels: PR: Bugfix

#9576 [2.0.x] Fix Power class
  .travis.yml
  Marlin/src/feature/power.cpp
  Marlin/src/feature/power.h
  Marlin/src/module/temperature.h
Labels: PR: Bugfix

#9580 [2.0.x] Fix Malyan M200 auto fan
  Marlin/src/config/examples/Malyan/M200/Configuration.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_MALYAN_M200.h
  Marlin/src/pins/pins_SILVER_GATE.h
  Marlin/src/pins/pins_THE_BORG.h
Labels: PR: Bugfix, PR: Configurations

#9581 [2.0.x] HAL timer set/get count => set/get compare
  Marlin/src/HAL/HAL_AVR/HAL_AVR.h
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.cpp
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.h
  Marlin/src/HAL/HAL_LPC1768/HAL_timers.h
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_Stm32f1.h
  Marlin/src/HAL/HAL_STM32F7/HAL_timers_STM32F7.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL_timers_STM32F7.h
  Marlin/src/HAL/HAL_TEENSY35_36/HAL_timers_Teensy.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: Improvement, Topic: 32-Bit & HAL

#9586 [2.0.x] Have Kossel Pro use Z_MIN_PROBE_ENDSTOP
  Marlin/src/config/examples/delta/kossel_pro/Configuration.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Configurations

#9587 [2.0.x] Add 'mffp' to quickly push upstream
  buildroot/share/git/mffp
Labels: Support: Building / Toolchain

#9588 [1.1.x] Add 'mffp' to quickly push upstream
  buildroot/share/git/mffp
Labels: Support: Building / Toolchain

#9592 [1.1.x] Apply buried PR for parity with 2.0.x
  Marlin/Max7219_Debug_LEDs.cpp
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/ubl.h
  Marlin/ubl_G29.cpp
  Marlin/ultralcd.cpp
Labels: Support: U.B.L.

#9590 [1.1.x] Ultimate all French update and fix
  Marlin/language_fr.h
  Marlin/language_fr_utf8.h
Labels: Support: Language

#9610 [1.1.x] French update
  Marlin/language_fr.h
  Marlin/language_fr_utf8.h
Labels: Support: Language

#9624 [2.0.x] Add delays to AVR driver for RRD Full Graphic Smart Controller
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
Labels: Improvement, Topic: 32-Bit & HAL

#9668 [1.1.x] Improved CONTROLLER_FAN_PIN example in Configuration_adv.h
  Marlin/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
Labels: PR: Configurations

#9626 [1.1.x] G26 circle fix
  Marlin/G26_Mesh_Validation_Tool.cpp
Labels: PR: Bugfix, Support: Calibration

#9627 [2.0.x] G26 circle fix
  Marlin/src/gcode/bedlevel/G26.cpp
Labels: PR: Bugfix, Support: Calibration

#9665 [1.1.x] fix USE_CONTROLLER_FAN compile issue
  Marlin/Marlin.h
  Marlin/Marlin_main.cpp
  Marlin/power.cpp
Labels: Bug: Verified !

#9666 [2.0.x] complete moving AUTO_POWER_CONTROLLERFAN into 2.0.x
  Marlin/src/Marlin.h
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/feature/power.cpp
Labels: Improvement, Topic: 32-Bit & HAL

#9650 [1.1.x] Fix TMC SGT data type
  Marlin/tmc_util.cpp
  Marlin/tmc_util.h
Labels: PR: Bugfix

#9651 [2.0.x] Fix TMC SGT data type
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
Labels: PR: Bugfix

#9642 [1.1.x] VIKI2 hardware SPI compatibility
  Marlin/ultralcd_st7565_u8glib_VIKI.h
Labels: PR: Bugfix, Support: LCD & Controllers

#9656 [1.1.x] Fix LCD manual movement on kinematic machines
  Marlin/ultralcd.cpp
Labels: PR: Bugfix, Support: LCD & Controllers

#9655 [2.0.x] Fix LCD manual movement on kinematic machines
  Marlin/src/lcd/ultralcd.cpp
Labels: Improvement, Support: LCD & Controllers

#9657 [2.0.x][Language] Update Czech (Advanced pause...)
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_cz_utf8.h
  buildroot/share/scripts/findMissingTranslations.sh
Labels: Support: Language

#9678 [1.1.x] Use serial macros over direct calls
  Marlin/G26_Mesh_Validation_Tool.cpp
  Marlin/Marlin_main.cpp
  Marlin/SdBaseFile.cpp
  Marlin/SdFatUtil.cpp
  Marlin/pinsDebug.h
  Marlin/serial.cpp
  Marlin/serial.h
  Marlin/stepper.h
  Marlin/ubl.cpp
  Marlin/ubl_G29.cpp
Labels: General Cleanup

#9672 [1.1.x] Update Czech language
  Marlin/language_cz.h
  Marlin/language_cz_utf8.h
  buildroot/share/scripts/findMissingTranslations.sh
Labels: Support: Language

#9674 added TronXY XY100 config
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
Labels: PR: Configurations, Support: Hardware/Boards

#9208 [2.0.x] Allow M73 without SDSUPPORT
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/ultralcd_impl_DOGM.h
  Marlin/src/lcd/ultralcd_impl_HD44780.h
Labels: Improvement, Support: LCD & Controllers

#9682 [1.1.x] Allow M73 without SDSUPPORT
  Marlin/Configuration_adv.h
  Marlin/SanityCheck.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
  Marlin/ultralcd_impl_DOGM.h
  Marlin/ultralcd_impl_HD44780.h
Labels: Improvement, Support: LCD & Controllers

#9686 [2.0.x] VIKI2 & RE_ARM changes
  Marlin/src/lcd/ultralcd_impl_DOGM.h
  Marlin/src/pins/pins_RAMPS_RE_ARM.h
Labels: Bug: Verified !, PR: Bugfix, Topic: 32-Bit & HAL

#9687 [1.1.x] Fix setPwmFrequency compile error
  Marlin/temperature.cpp
  Marlin/temperature.h
Labels: PR: Bugfix

#9676 [2.0.x] Option to force homing of a dependent axis
  .travis.yml
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/inc/SanityCheck.h
Labels: Improvement, PR: Configurations, Support: Calibration

#9698 [1.1.x] Option to force homing of a dependent axis
  .travis.yml
  Marlin/Configuration_adv.h
  Marlin/Marlin_main.cpp
  Marlin/SanityCheck.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
Labels: Improvement, PR: Configurations, Support: Calibration

#9691 [2.0.x] MSG_THERMAL_RUNAWAY_BED
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/temperature.cpp
Labels: Improvement, Support: LCD & Controllers

#9695 [1.1.x] Add MSG_THERMAL_RUNAWAY_BED
  Marlin/language_en.h
  Marlin/temperature.cpp
Labels: Improvement, Support: LCD & Controllers

#9694 [1.1.x] ENDER can use BOARD_MELZI_CREALITY
  Marlin/boards.h
  Marlin/example_configurations/Creality/Ender/Configuration.h
  Marlin/pins_CREALITY_ENDER.h
Labels: General Cleanup, Support: Hardware/Boards

#9692 [2.0.x] ENDER can use BOARD_MELZI_CREALITY
  Marlin/src/config/examples/Creality/Ender/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins_CREALITY_ENDER.h
Labels: General Cleanup, Support: Hardware/Boards

#9693 [2.0.x] Sync pins debugging with 1.1.x
  Marlin/src/pins/pinsDebug.h
  Marlin/src/pins/pinsDebug_list.h
Labels: General Cleanup, PR: Bugfix

#9690 [1.1.x] Sync pins debugging with 2.0.x
  Marlin/pinsDebug.h
  Marlin/pinsDebug_list.h
Labels: General Cleanup, PR: Bugfix

#9705 Add a delay before moving to z_safe_homing position if using TMC2130 sensorless homing
  Marlin/Marlin_main.cpp
Labels: Improvement

#9717 [1.1.x] Support multiple filament runout sensors
  Marlin/Conditionals_post.h
  Marlin/Configuration.h
  Marlin/Marlin_main.cpp
  Marlin/SanityCheck.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/Ender/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
Labels: Improvement, PR: New Feature

#9729 [2.0.x] Move #include <U8glib.h> in ultralcd_st7920_u8glib_rrd_AVR.cpp (fix bug introduced in PR #9624)
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
Labels: Bug: Verified !, PR: Bugfix

#9733 [2.0.x] Drop HAL_timer_set_count
  Marlin/src/HAL/HAL_AVR/HAL_AVR.h
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.h
  Marlin/src/HAL/HAL_LPC1768/HAL_timers.h
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_Stm32f1.h
  Marlin/src/HAL/HAL_STM32F7/HAL_timers_STM32F7.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL_timers_STM32F7.h
  Marlin/src/HAL/HAL_TEENSY35_36/HAL_timers_Teensy.h
  Marlin/src/core/macros.h
  Marlin/src/pins/pins_STM32F1R.h
Labels: General Cleanup, Topic: 32-Bit & HAL

#9743 [1.1.x] Sainsmart LCD 20x4
  .travis.yml
  Marlin/Conditionals_LCD.h
  Marlin/Configuration.h
  Marlin/SanityCheck.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/Ender/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
Labels: Support: LCD & Controllers

#9745 [1.1.x] Reduce Creality3D bootscreens flash usage
  Marlin/example_configurations/Creality/CR-10/_Bootscreen.h
  Marlin/example_configurations/Creality/Ender/_Bootscreen.h
  Marlin/ultralcd_impl_DOGM.h
Labels: Improvement, Support: LCD & Controllers

#9752 [2.0.x] Reduce Creality3D bootscreens flash usage
  Marlin/src/config/examples/Creality/CR-10/_Bootscreen.h
  Marlin/src/config/examples/Creality/Ender/_Bootscreen.h
  Marlin/src/lcd/ultralcd_impl_DOGM.h
Labels: Improvement, Support: LCD & Controllers

#9753 [2.0.x] Creality CR-10mini configuration
  Marlin/src/config/examples/Creality/CR-10S/_Bootscreen.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/_Bootscreen.h
  Marlin/src/config/examples/Creality/CR-10mini/_Statusscreen.h
Labels: PR: Configurations

#9755 [1.1.x] Creality CR-10mini configuration
  Marlin/example_configurations/Creality/CR-10S/_Bootscreen.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10mini/_Bootscreen.h
  Marlin/example_configurations/Creality/CR-10mini/_Statusscreen.h
Labels: PR: Configurations

#9756 [1.1.x] Hephestos2 heated bed kit for all
  Marlin/Configuration_adv.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
Labels: PR: Configurations

#9757 [2.0.x] Hephestos2 heated bed kit for all
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
Labels: PR: Configurations

#9721 [1.1.x] Hatchbox Alpha Config with E3Dv6
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
Labels: PR: Configurations

#9762 [2.0.x] Hatchbox Alpha Config with E3Dv6
  Marlin/src/config/examples/delta/Hatchbox_Alpha/Configuration.h
Labels: PR: Configurations

#9760 [1.1.x] Slovak translation update
  Marlin/language_sk_utf8.h
Labels: Support: Language

#9769 [2.0.x] Fix compiling with M600 and runout sensor
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/runout.h
  Marlin/src/module/configuration_store.cpp
Labels: PR: Bugfix

#9637 [2.0.x] Light-weight status screen for ST7920 based printers
  .travis.yml
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/lcd/dogm/status_screen_DOGM.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920_class.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920_spi.h
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd_impl_DOGM.h
Labels: Improvement, PR: New Feature

#9761 [1.1.x] Lightweight status screen for ST7920
  .travis.yml
  Marlin/Configuration_adv.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
  Marlin/status_screen_DOGM.h
  Marlin/status_screen_lite_ST7920.h
  Marlin/status_screen_lite_ST7920_class.h
  Marlin/status_screen_lite_ST7920_spi.h
  Marlin/ultralcd.cpp
  Marlin/ultralcd_impl_DOGM.h
  Marlin/ultralcd_st7920_u8glib_rrd.h
Labels: PR: New Feature, Support: LCD & Controllers

#9738 [2.0] Feature - UBL z_fade_height LCD menu (don't merge)
  Marlin/src/lcd/ultralcd.cpp
Labels: Support: Calibration, Support: LCD & Controllers, Support: Suggestion

#9770 [1.1.x] Fix Z value on HD44780
  Marlin/Marlin.h
  Marlin/ultralcd_impl_HD44780.h
Labels: PR: Bugfix, Support: LCD & Controllers

#9764 [1.1.x] Added missing slovak translation of MSG_THERMAL_RUNAWAY_BED.
  Marlin/language_sk_utf8.h
Labels: Support: Language

#9763 [2.0.x] Group #include <...> files, update header search paths
  Marlin/src/HAL/HAL.h
  Marlin/src/HAL/HAL_DUE/HAL_pinsDebug_Due.h
  Marlin/src/HAL/HAL_LCD_defines.h
  Marlin/src/HAL/HAL_LPC1768/HAL.h
  Marlin/src/HAL/HAL_LPC1768/HAL_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/LPC1768_PWM.cpp
  Marlin/src/HAL/HAL_LPC1768/LPC1768_PWM.h
  Marlin/src/HAL/HAL_LPC1768/SanityCheck.h
  Marlin/src/HAL/HAL_LPC1768/SoftwareSPI.h
  Marlin/src/HAL/HAL_LPC1768/SoftwareSerial.cpp
  Marlin/src/HAL/HAL_LPC1768/SoftwareSerial.h
  Marlin/src/HAL/HAL_LPC1768/WInterrupts.cpp
  Marlin/src/HAL/HAL_LPC1768/digipot_mcp4451_I2C_routines.c
  Marlin/src/HAL/HAL_LPC1768/fastio.h
  Marlin/src/HAL/HAL_LPC1768/include/Arduino.h
  Marlin/src/HAL/HAL_LPC1768/include/SPI.h
  Marlin/src/HAL/HAL_LPC1768/include/Wire.cpp
  Marlin/src/HAL/HAL_LPC1768/include/pinmapping.cpp
  Marlin/src/HAL/HAL_LPC1768/include/pinmapping.h
  Marlin/src/HAL/HAL_LPC1768/include/serial.h
  Marlin/src/HAL/HAL_LPC1768/lpc1768_flag_script.py
  Marlin/src/HAL/HAL_LPC1768/main.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g/HAL_LCD_I2C_routines.c
  Marlin/src/HAL/HAL_LPC1768/u8g/HAL_LCD_I2C_routines.h
  Marlin/src/HAL/HAL_LPC1768/u8g/HAL_LCD_defines.h
  Marlin/src/HAL/HAL_LPC1768/u8g/HAL_LCD_delay.h
  Marlin/src/HAL/HAL_LPC1768/u8g/HAL_LCD_pin_routines.c
  Marlin/src/HAL/HAL_LPC1768/u8g/HAL_LCD_pin_routines.h
  Marlin/src/HAL/HAL_LPC1768/u8g_com_HAL_LPC1768_st7920_hw_spi.cpp
  Marlin/src/HAL/HAL_SPI.h
  Marlin/src/HAL/HAL_STM32F1/HAL_spi_Stm32f1.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL_spi_STM32F7.cpp
  Marlin/src/HAL/HAL_SanityCheck.h
  frameworks/CMSIS/LPC1768/lib/LiquidCrystal.h
  frameworks/CMSIS/LPC1768/lib/usb/cdcuser.cpp
  platformio.ini
Labels: Support: Building / Toolchain, Topic: 32-Bit & HAL

#9712 [2.0.x] LIN_ADVANCE v1.5
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/gcode/feature/advance/M900.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: Improvement, PR: Bugfix

#9700 [1.1.x] LIN_ADVANCE v1.5
  Marlin/Conditionals_LCD.h
  Marlin/Configuration_adv.h
  Marlin/Marlin_main.cpp
  Marlin/SanityCheck.h
  Marlin/configuration_store.cpp
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
  Marlin/planner.cpp
  Marlin/planner.h
  Marlin/stepper.cpp
  Marlin/stepper.h
  Marlin/ultralcd.cpp
Labels: Improvement, PR: Bugfix

#9780 [2.0.x] Un-pause print on cancellation
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/sd/cardreader.cpp
Labels: PR: Bugfix

#9779 [1.1.x] Un-pause on print cancellation
  Marlin/Marlin.h
  Marlin/Marlin_main.cpp
  Marlin/cardreader.cpp
  Marlin/malyanlcd.cpp
Labels: PR: Bugfix

#9774 [1.1.x] Add RESTORE_LEVELING_AFTER_G28 option
  .travis.yml
  Marlin/Configuration.h
  Marlin/Marlin_main.cpp
  Marlin/SanityCheck.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration.h
  Marlin/example_configurations/Creality/Ender/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
Labels: PR: New Feature, Support: Calibration, Support: U.B.L.

#9784 Further fix of LCD_PROGRESS_BAR [1.1.x]
  Marlin/ultralcd_impl_HD44780.h
Labels: PR: Bugfix, Support: LCD & Controllers

#9783 Further fix of LCD_PROGRESS_BAR [2.0.x]
  Marlin/src/lcd/ultralcd_impl_HD44780.h
Labels: PR: Bugfix, Support: LCD & Controllers

#9785 [1.1.x] Spanish (UTF8) Language
  Marlin/Configuration.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration.h
  Marlin/example_configurations/Creality/Ender/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
  Marlin/language.h
  Marlin/language_es_utf8.h
Labels: Support: Language

#9797 [bugfix_2.0.x] - LIN_ADVANCE V1.5 stepper.cpp
  Marlin/src/module/stepper.cpp
Labels: PR: Bugfix, Topic: 32-Bit & HAL

#9801 [1.1.x] Creality Ender-4 configuration
  Marlin/example_configurations/Creality/Ender-2/Configuration.h
  Marlin/example_configurations/Creality/Ender-2/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-2/README.md
  Marlin/example_configurations/Creality/Ender-2/_Bootscreen.h
  Marlin/example_configurations/Creality/Ender-2/_Statusscreen.h
  Marlin/example_configurations/Creality/Ender-4/Configuration.h
  Marlin/example_configurations/Creality/Ender-4/Configuration_adv.h
  Marlin/pins_RAMPS_ENDER_4.h
Labels: PR: Configurations

#9803 [2.0.x] Creality Ender-4 configuration
  Marlin/src/config/examples/Creality/Ender-2/Configuration.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/README.md
  Marlin/src/config/examples/Creality/Ender-2/_Bootscreen.h
  Marlin/src/config/examples/Creality/Ender-2/_Statusscreen.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
Labels: PR: Configurations

#9807 [2.0.x] Add tone support for Due
  Marlin/src/HAL/HAL_DUE/HAL_Due.h
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.cpp
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.h
  Marlin/src/HAL/HAL_DUE/Tone.cpp
  Marlin/src/HAL/HAL_DUE/usb/usb_task.c
Labels: Improvement, Topic: 32-Bit & HAL

#9817 [1.1.x] Parity with 2.0.x in UBL and EEPROM
  Marlin/configuration_store.cpp
  Marlin/ubl.h
Labels: General Cleanup, Support: U.B.L.

#9813 [1.1.x] LA 1.5: Useless line removed
  Marlin/stepper.cpp
Labels: General Cleanup

#9810 [2.0.x] Mesh export in Bilinear + UBL M503
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/module/configuration_store.cpp
Labels: Improvement, Support: Calibration, Support: U.B.L.

#9818 [1.1.x] Mesh export in Bilinear + UBL M503
  Marlin/configuration_store.cpp
  Marlin/ubl.cpp
  Marlin/ubl.h
  Marlin/ubl_G29.cpp
Labels: Improvement, Support: Calibration, Support: U.B.L.

#9832 Report sd card progress [FR] #9751
  Marlin/src/Marlin.cpp
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M928.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: PR: New Feature, Support: Hosts & Protocols

#9828 [2.0.x] update language de.h
  Marlin/src/lcd/language/language_de.h
Labels: Support: Language

#9827 [1.1.x] update language de.h
  Marlin/language_de.h
Labels: Support: Language

#9834 [1.1.x] Add Z Fade Height edit to UBL and Tune submenus
  Marlin/ultralcd.cpp
Labels: General Cleanup

#9835 [2.0.x] Add support for BACK button (RADDS)
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/lcd/ultralcd_impl_HD44780.h
Labels: Improvement, Support: LCD & Controllers

#9836 [1.1.x] Add support for BACK button (if any)
  Marlin/ultralcd.cpp
  Marlin/ultralcd.h
  Marlin/ultralcd_impl_HD44780.h
Labels: Improvement, Support: LCD & Controllers

#9841 [1.1.x] Fix pin redefinition warnings when using Zonestar / ADC keypad with RAMPS
  Marlin/pins_RAMPS.h
Labels: PR: Bugfix, Support: LCD & Controllers

#9840 [2.0.x] Fix pin redefinition warnings when using Zonestar / ADC keypad with RAMPS
  Marlin/src/pins/pins_RAMPS.h
Labels: PR: Bugfix, Support: LCD & Controllers

#9849 [bugfix-1.1.x] Update russian language 28 Feb 2017
  Marlin/language_ru.h
Labels: Support: Language
