Repository MarlinFirmware/Marlin, pull requests merged in 2018-11, with the labels that each got.

#12293 Fix Mixer for 32bit processors
  Marlin/src/feature/mixing.h
Labels: PR: Bug Fix

#12256 Use blink to show more infos by LCD
  Marlin/src/lcd/HD44780/ultralcd_impl_HD44780.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: C: LCD & Controllers, PR: Improvement

#12283 [2.0.x] Implement DELAY_NS by using Cortex-M CYCCNT
  Marlin/src/HAL/HAL_STM32/HAL.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL.h
  Marlin/src/HAL/HAL_TEENSY31_32/HAL.cpp
  Marlin/src/HAL/shared/Delay.h
Labels: T: 32-Bit & HAL

#12288 Followup to menu refactor. TMC warnings, sanity.
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/ultralcd.cpp
  buildroot/share/tests/LPC1768_tests
Labels: PR: Bug Fix

#12082 [2.0.x] Restore lights after pid tuning
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
  Marlin/src/feature/leds/printer_event_leds.h
  Marlin/src/module/temperature.cpp
Labels: Needs: Testing, PR: Improvement

#12301 Drop pgm_read_*_near and let headers choose
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/stepper.h
Labels: PR: General Cleanup

#12306 Fix keypad-related compile error
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/temperature.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#12302 Synchronize on M204, M205
  Marlin/src/gcode/calibrate/M666.cpp
  Marlin/src/gcode/config/M200-M205.cpp
  Marlin/src/gcode/config/M217.cpp
  Marlin/src/gcode/config/M218.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/parser.h
Labels: C: Motion, PR: Bug Fix, PR: Improvement

#12311 [2.x] Ignore ARM-based Teensy library on ATUSB90-based Teensy ENVs
  platformio.ini
Labels: C: Build / Toolchain

#12323 [2.0.x] HAL_STM32 SPI doesn't use SPI_SS pin define in pins_xxx.h
  Marlin/src/HAL/HAL_STM32/HAL_spi_STM32.cpp
  Marlin/src/HAL/HAL_STM32/spi_pins.h
  Marlin/src/pins/pins_ARMED.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#12327 [2.0.x] Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12334 Turn PlatformIO LDF off for LPC176x builds
  platformio.ini
Labels: C: Build / Toolchain

#12333 [Bugfix-2.0.x] SanityCheck max extruder adjust
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#12338 [2.0.x] Updated slovak translation
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#12336 [Bugfix-2.0.x] Updated german translation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12345 Add example config and edit supporting pins file.
  Marlin/src/config/examples/delta/Geeetech/Rostock 301/Configuration.h
  Marlin/src/config/examples/delta/Geeetech/Rostock 301/Configuration_adv.h
  Marlin/src/pins/pins_GTM32_PRO_VB.h
Labels: PR: Configurations

#12344 [2.0.x] Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12340 Change Marlin debug flag names to fix conflicts
  Marlin/src/HAL/HAL_STM32/HAL.h
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F1/README.md
  Marlin/src/HAL/HAL_STM32F4/HAL.h
  Marlin/src/HAL/HAL_STM32F7/HAL.h
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
Labels: PR: General Cleanup, T: 32-Bit & HAL

#12308 [2.0.x] Ultralcd code refactoring and cleanup
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_sdcard.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: General Cleanup

#12348 Show an appropriate message for M125
  Marlin/src/core/language.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_filament.cpp
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Improvement

#12355 Update German translation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12354 Update Slovak translation
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#12352 Update Italian language
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12350 [2.0.x] Fixed compile error due to assignment to const ptr.
  Marlin/src/gcode/gcode.cpp
Labels: PR: Bug Fix

#12367 More comprehensive NO_LCD_MENUS
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/ultralcd_impl_HD44780.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/pins/pins_SANGUINOLOLU_11.h
  buildroot/share/tests/STM32F1_tests
Labels: C: LCD & Controllers, PR: Bug Fix

#12375 No error on T0 with single-extruder and fix MIXING_EXTRUDER virtual tools
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix

#12376 Update Slovak translation
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#12368 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12382 [2.0.x] Attempt to solve endstops issues
  Marlin/src/module/endstops.cpp
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix

#12370 TLM Config example
  Marlin/src/config/examples/delta/Tevo Little Monster/Configuration.h
  Marlin/src/config/examples/delta/Tevo Little Monster/Configuration_adv.h
Labels: K: Deltabot, PR: Configurations

#12387 Allow G26 to use the active extruder
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: F: Calibration, PR: Improvement

#12408 Fix BABYSTEP_ZPROBE_OFFSET
  Marlin/src/lcd/menu/menu.cpp
Labels: PR: Bug Fix

#12414 Group status methods, share reset_status with Extensible UI
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_shared_hw_spi.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/HD44780/lcdprint_hd44780.cpp
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/HD44780/ultralcd_HD44780.h
  Marlin/src/lcd/dogm/HAL_LCD_class_defines.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920_spi.h
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.h
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: General Cleanup

#12417 Minor shifts in tool_change()
  Marlin/src/module/tool_change.cpp
Labels: PR: Improvement

#12386 Debug of G2-G3 for UBL
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: F: U.B.L.

#12419 [2.0.x] Added missing include for "cardreader.h"
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: Bug Fix

#12402 Update Portuguese-Brazilian translation
  Marlin/src/lcd/language/language_pt-br.h
Labels: C: Language

#12429 Move RRW keypad code to a common method
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/pins/pins_TEENSY35_36.h
  buildroot/share/tests/megaatmega2560_tests
Labels: C: LCD & Controllers, PR: Bug Fix, PR: Improvement

#12428 Adjust Filament Runout class
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/runout.h
  Marlin/src/module/stepper.cpp
  Marlin/src/pins/pins.h
Labels: PR: General Cleanup

#12430 Miscellaneous LCD code renaming, reordering
  Marlin/src/core/language.h
  Marlin/src/feature/runout.h
  Marlin/src/gcode/eeprom/M500-M504.cpp
  Marlin/src/gcode/stats/M75-M78.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/extensible_ui/lib/example.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_sdcard.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/libs/buzzer.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: LCD & Controllers, PR: General Cleanup

#12431 [2.0.x] Fix to runout sensor code
  Marlin/src/feature/runout.cpp
Labels: PR: General Cleanup

#12432 Optimize target_extruder, ignore T with mixing
  Marlin/src/gcode/config/M200-M205.cpp
  Marlin/src/gcode/config/M218.cpp
  Marlin/src/gcode/config/M221.cpp
  Marlin/src/gcode/config/M92.cpp
  Marlin/src/gcode/control/T.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M603.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/gcode/feature/trinamic/M911-M915.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/gcode/temperature/M105.cpp
  Marlin/src/gcode/temperature/M303.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/tool_change.cpp
Labels: PR: General Cleanup, PR: Improvement

#8686 Support two max6675/31855 thermocouples
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/pins_DUE3DOM.h
  Marlin/src/pins/pins_DUE3DOM_MINI.h
  Marlin/src/pins/pins_FORMBOT_RAPTOR.h
  Marlin/src/pins/pins_FORMBOT_TREX2PLUS.h
  Marlin/src/pins/pins_FORMBOT_TREX3.h
  Marlin/src/pins/pins_MIGHTYBOARD_REVE.h
  Marlin/src/pins/pins_RADDS.h
  Marlin/src/pins/pins_RAMPS.h
  Marlin/src/pins/pins_RAMPS_DUO.h
  Marlin/src/pins/pins_RAMPS_FD_V1.h
  Marlin/src/pins/pins_RAMPS_OLD.h
  Marlin/src/pins/pins_RAMPS_SMART.h
  Marlin/src/pins/pins_RIGIDBOARD.h
  Marlin/src/pins/pins_RURAMPS4D_11.h
  Marlin/src/pins/pins_RURAMPS4D_13.h
  Marlin/src/pins/pins_ULTRATRONICS_PRO.h
Labels: C: Hardware/Boards, PR: Improvement, T: 32-Bit & HAL

#12440 Optimize and encapsulate Power-Loss Recovery
  Marlin/src/Marlin.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/feature/powerloss/M1000.cpp
  Marlin/src/gcode/feature/powerloss/M413.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_ko_KR.h
  Marlin/src/lcd/language/language_pt-br.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_job_recovery.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: Needs: Testing, PR: Improvement

#12450 Consolidate LCD scrolling filename code
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: Optimization

#12451 Make CardReader class static
  Marlin/src/HAL/HAL_DUE/usb/sd_mmc_spi_mem.cpp
  Marlin/src/HAL/HAL_LPC1768/main.cpp
  Marlin/src/HAL/HAL_STM32F1/persistent_store_sdcard.cpp
  Marlin/src/Marlin.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M524_M928.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_sdcard.cpp
  Marlin/src/sd/SdFatConfig.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: C: Optimization

#12448 [Bugfix-2.0.x] uniform variable
  Marlin/src/gcode/temperature/M104_M109.cpp
Labels: PR: General Cleanup

#12446 Enable SD Card on RepRap Display and RADDS
  Marlin/src/pins/pins_RADDS.h
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Bug Fix

#12452 [2.0.x] Fix compile warnings
  Marlin/src/gcode/bedlevel/G26.cpp
Labels: C: Build / Toolchain, PR: General Cleanup

#12458 Change temperature pin order for RemRam V1
  Marlin/src/pins/pins_REMRAM_V1.h
Labels: C: Hardware/Boards, PR: Improvement

#12462 Fix compile error with SD_FIRMWARE_UPDATE
  Marlin/src/HAL/HAL_AVR/persistent_store_eeprom.cpp
  Marlin/src/HAL/shared/persistent_store_api.cpp
  Marlin/src/core/utility.cpp
  Marlin/src/core/utility.h
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix

#12466 Fix compile error with ZONESTAR_LCD+NO_LCD_MENUS
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: Bug Fix

#12453 [2.0.x] Prevent hotend temperature fault when not heating
  Marlin/src/module/temperature.cpp
Labels: C: Safety, Needs: Discussion, T: Suggestion

#12439 Various fixes for MarlinUI and ExtUI
  Marlin/Makefile
  Marlin/src/core/macros.h
  Marlin/src/core/serial.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/gcode/lcd/M117.cpp
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M524_M928.cpp
  Marlin/src/gcode/stats/M31.cpp
  Marlin/src/gcode/temperature/M140_M190.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/extensible_ui/lib/example.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/sd/cardreader.cpp
Labels: C: LCD & Controllers, PR: Improvement

#12434 Fix DWT peripheral access for STM32 (M7)
  Marlin/src/HAL/HAL_STM32/HAL.cpp
Labels: A: STM32F, PR: Bug Fix, T: 32-Bit & HAL

#12473 compile warning no effect + unsed variable
  Marlin/src/core/macros.h
  Marlin/src/feature/power_loss_recovery.cpp
Labels: PR: General Cleanup

#12471 Fix PID Autotune for Heated Bed
  Marlin/src/gcode/temperature/M303.cpp
Labels: PR: Bug Fix

#12470 Fixed displaying of kill MSG_OUTAGE_RECOVERY string.
  Marlin/src/feature/power_loss_recovery.cpp
Labels: PR: Bug Fix

#12474 Combine test option-setting commands
  .travis.yml
  Marlin/src/HAL/HAL_AVR/SanityCheck.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/ultralcd.h
  buildroot/bin/opt_add
  buildroot/bin/opt_add_adv
  buildroot/bin/opt_disable
  buildroot/bin/opt_disable_adv
  buildroot/bin/opt_enable
  buildroot/bin/opt_enable_adv
  buildroot/bin/opt_set
  buildroot/bin/opt_set_adv
  buildroot/share/tests/DUE_tests
  buildroot/share/tests/LPC1768_tests
  buildroot/share/tests/STM32F1_tests
  buildroot/share/tests/megaatmega2560_tests
  buildroot/share/tests/teensy35_tests
Labels: C: Build / Toolchain, PR: Improvement

#12472 [Bugfix-2.0.x] fix compile error LCD
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/lcdprint_hd44780.cpp
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/lcdprint_u8g.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/lcd/lcdprint.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/pins/pins_ANET_10.h
Labels: C: LCD & Controllers, PR: Bug Fix

#12476 Clean up some u8g code
  Marlin/src/lcd/dogm/lcdprint_u8g.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
Labels: C: LCD & Controllers, PR: General Cleanup

#12478 Modify MBL to use IJ instead of XY
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
Labels: F: Calibration, PR: Improvement

#12477 corrected (wrong + unsed) variable
  Marlin/src/HAL/shared/I2cEeprom.cpp
  Marlin/src/module/tool_change.cpp
  buildroot/share/tests/LPC1768_tests
  buildroot/share/tests/megaatmega2560_tests
Labels: PR: General Cleanup

#12481 [2.0.x] Follow up to #12439, fix compilation errors.
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: Bug Fix

#12483 Fix Z-move to uninitialized position in SWITCHING_EXTRUDERS tool_change (no_move=true)
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix

#12484 [2.x] revert #12311 PIO LDF work-around
  platformio.ini
Labels: C: Build / Toolchain

#12493 Proposed ADC-Button fix
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers

#12503 Fix problems with flash emulation of eeprom on LPC1768
  Marlin/src/HAL/HAL_LPC1768/persistent_store_flash.cpp
Labels: A: LPC176x, PR: Bug Fix, T: 32-Bit & HAL

#12500 [2.0.x, DUE] Additional pin definitions for Archim 2
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/pins/pins_ARCHIM2.h
Labels: A: SAM3X8E, C: Hardware/Boards, PR: Improvement

#12508 Revert ADC_KEYPAD direction behavior
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: Bug Fix

#12520 [Bugfix-2.0.x] auto report sd status
  Marlin/src/sd/cardreader.cpp
Labels: F: SD Card Printing, PR: Bug Fix

#12485 Add Fast PWM for Controller Fan
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement

#12513 Patch 2 for the "mm³"
  Marlin/src/lcd/language/language_en.h
Labels: C: LCD & Controllers, C: Language

#12523 Update Slovak translation
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#12527 add support for FYSETC F6 V1.3 board
  platformio.ini
Labels: C: Hardware/Boards

#12529 [Bugfix-2.0.x] conflict special symbols
  Marlin/src/lcd/language/language_en.h
Labels: C: Language

#12532 Add Formbot Raptor2 and Raise3D Pins Definitions
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_FORMBOT_RAPTOR.h
  Marlin/src/pins/pins_FORMBOT_RAPTOR2.h
  Marlin/src/pins/pins_RUMBA.h
  Marlin/src/pins/pins_RUMBA_RAISE3D.h
Labels: C: Hardware/Boards

#12544 [2.0.x] Improvements to runout sensor, fix for screen size when using LIGHTWEIGHT_UI #12542
  Marlin/src/feature/runout.h
  Marlin/src/inc/Conditionals_post.h
Labels: C: LCD & Controllers, PR: Improvement

#12547 Fix FIL_RUNOUT_INVERTING (for parity with 1.1.9)
  Marlin/src/feature/runout.h
Labels: PR: Bug Fix

#12555 [2.0.x] Fix skew factor not calculating from test square measurements
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/planner.h
Labels: F: Calibration, PR: Bug Fix

#12559 Fix angles for disabled EDITABLE_SERVO_ANGLES
  Marlin/src/gcode/config/M281.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/servo.cpp
  Marlin/src/module/servo.h
Labels: F: EEPROM, F: Z-Probes, PR: Bug Fix

#12562 Move stepper enable/disable to stepper_indirection.h
  Marlin/src/Marlin.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/stepper_indirection.h
  Marlin/src/pins/pins_ANET_10.h
Labels: PR: Bug Fix
