Repository MarlinFirmware/Marlin, pull requests merged in 2018-04, with the labels that each got.

#10274 [1.1.x] Handle disabled HYBRID_THRESHOLD in EEPROM
  Marlin/configuration_store.cpp
Labels: F: Trinamic, PR: Bug Fix

#10275 [2.0.x] Handle disabled HYBRID_THRESHOLD in EEPROM
  Marlin/src/module/configuration_store.cpp
Labels: F: Trinamic, PR: Bug Fix

#10271 [1.1.x] Fix Ender 4 compilation, add more AVRs to Makefile
  Marlin/Makefile
  Marlin/boards.h
  Marlin/pins.h
Labels: C: Hardware/Boards, PR: Bug Fix

#10276 [2.0.x] Fix Ender 4 compilation, add more AVRs to Makefile
  Marlin/src/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
Labels: C: Hardware/Boards, PR: Bug Fix

#10243 [1.1.x] Fix Z discrepancy with Tool-Change
  Marlin/Marlin_main.cpp
Labels: PR: Bug Fix

#10257 [2.0.x] Fix Z discrepancy with Tool-Change
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix

#10281 [2.0.x] Fixed Makefile for Marlin 2.0 (#10255)
  Marlin/Makefile
Labels: C: Build / Toolchain, T: 32-Bit & HAL

#10260 [2.0.x] Optional heater signal inversion
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/temperature.cpp
Labels: T: 32-Bit & HAL

#10285 [1.1.x] Add Creality CR-8 configuration
  Marlin/example_configurations/Creality/CR-8/Configuration.h
  Marlin/example_configurations/Creality/CR-8/Configuration_adv.h
Labels: C: Hardware/Boards, PR: Configurations

#10220 [2.0.x] Support utf8 unicode for test language
  Marlin/src/lcd/language/language_test.h
Labels: C: Language, PR: Improvement

#10305 [1.1.x] tool change fix
  Marlin/Marlin_main.cpp
Labels: PR: Bug Fix

#10304 [2.0.x] tool change fix
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix

#10307 [1.1.x] MBL should add z_offset regardless of fade
  Marlin/planner.cpp
Labels: PR: Bug Fix

#10293 [2.0.x] Improved LCD status messages
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/gcode/temperature/M140_M190.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/temperature.cpp
Labels: C: LCD & Controllers, PR: Improvement

#10308 [2.0.x] MBL should add z_offset regardless of fade
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#10296 [1.1.x] Improve heating/cooling LCD messages
  Marlin/Marlin_main.cpp
  Marlin/language_en.h
  Marlin/temperature.cpp
Labels: C: LCD & Controllers, PR: Improvement

#10299 [2.0.x] DUE TMC2130 compatibility improvements & moved card.checkautostart
  Marlin/src/HAL/HAL_DUE/HAL_Due.cpp
  Marlin/src/HAL/HAL_DUE/HAL_spi_Due.cpp
  Marlin/src/HAL/HAL_DUE/SanityCheck_Due.h
  Marlin/src/Marlin.cpp
  Marlin/src/sd/Sd2Card.cpp
Labels: F: Trinamic, PR: Improvement, T: 32-Bit & HAL

#10173 [2.0.x] Continuous Purge
  .travis.yml
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: New Feature

#10176 [1.1.x] Continuous Purge
  .travis.yml
  Marlin/Configuration_adv.h
  Marlin/Marlin_main.cpp
  Marlin/enum.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-2/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-4/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
  Marlin/ultralcd.cpp
Labels: PR: Improvement

#10311 Update language_ru.h
  Marlin/language_ru.h
Labels: C: Language

#10323 [1.1.x] Update language_it.h
  Marlin/language_it.h
Labels: C: Language

#10322 [2.0.x] Update language_it.h
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#10333 [2.0.x] Fix for progress bar not reaching 100% upon completion (#10330)
  Marlin/src/sd/cardreader.cpp
Labels: PR: Improvement

#10325 [1.1.x] Add TMC software SPI pins to pinsDebug_list.h
  Marlin/pinsDebug_list.h
Labels: PR: Improvement

#10324 [2.0.x] Add pin names, Add TMC SW SPI sanity check for Re_ARM
  Marlin/src/HAL/HAL_LPC1768/SanityCheck.h
  Marlin/src/pins/pinsDebug_list.h
Labels: PR: Configurations, PR: Improvement, T: 32-Bit & HAL

#10177 [1.1.x] Filament load/unload add acceleration for Bowden
  Marlin/Configuration_adv.h
  Marlin/Marlin_main.cpp
  Marlin/SanityCheck.h
  Marlin/configuration_store.cpp
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/example_configurations/Anet/A6/Configuration_adv.h
  Marlin/example_configurations/Anet/A8/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration_adv.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
  Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
  Marlin/example_configurations/Cartesio/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10S/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration_adv.h
  Marlin/example_configurations/Creality/CR-8/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-2/Configuration_adv.h
  Marlin/example_configurations/Creality/Ender-4/Configuration_adv.h
  Marlin/example_configurations/Felix/Configuration_adv.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
  Marlin/example_configurations/JGAurora/A5/Configuration_adv.h
  Marlin/example_configurations/Malyan/M150/Configuration_adv.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/example_configurations/RigidBot/Configuration_adv.h
  Marlin/example_configurations/SCARA/Configuration_adv.h
  Marlin/example_configurations/Sanguinololu/Configuration_adv.h
  Marlin/example_configurations/TinyBoy2/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
  Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/generic/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
  Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/example_configurations/makibox/Configuration_adv.h
  Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
  Marlin/example_configurations/wt150/Configuration_adv.h
Labels: PR: Improvement

#10350 [1.1.x] Z_PROBE_LOW_POINT to prevent probe/bed damage
  Marlin/Configuration.h
  Marlin/Marlin.h
  Marlin/Marlin_main.cpp
  Marlin/SanityCheck.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration.h
  Marlin/example_configurations/Creality/CR-8/Configuration.h
  Marlin/example_configurations/Creality/Ender-2/Configuration.h
  Marlin/example_configurations/Creality/Ender-4/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapPro/Huxley/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
Labels: F: Calibration, F: Z-Probes, PR: New Feature

#10172 [2.0.x] Filament load/unload add acceleration for Bowden
  Marlin/Configuration_adv.h
  Marlin/src/config/default/Configuration_adv.h
  Marlin/src/config/examples/AlephObjects/TAZ4/Configuration_adv.h
  Marlin/src/config/examples/Anet/A6/Configuration_adv.h
  Marlin/src/config/examples/Anet/A8/Configuration_adv.h
  Marlin/src/config/examples/Azteeg/X5GT/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  Marlin/src/config/examples/BIBO/TouchX/default/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos/Configuration_adv.h
  Marlin/src/config/examples/BQ/Hephestos_2/Configuration_adv.h
  Marlin/src/config/examples/BQ/WITBOX/Configuration_adv.h
  Marlin/src/config/examples/Cartesio/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10mini/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-8/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-2/Configuration_adv.h
  Marlin/src/config/examples/Creality/Ender-4/Configuration_adv.h
  Marlin/src/config/examples/Felix/Configuration_adv.h
  Marlin/src/config/examples/FolgerTech/i3-2020/Configuration_adv.h
  Marlin/src/config/examples/Infitary/i3-M508/Configuration_adv.h
  Marlin/src/config/examples/JGAurora/A5/Configuration_adv.h
  Marlin/src/config/examples/MakerParts/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M150/Configuration_adv.h
  Marlin/src/config/examples/Malyan/M200/Configuration_adv.h
  Marlin/src/config/examples/Micromake/C1/enhanced/Configuration_adv.h
  Marlin/src/config/examples/Mks/Sbase/Configuration_adv.h
  Marlin/src/config/examples/RigidBot/Configuration_adv.h
  Marlin/src/config/examples/SCARA/Configuration_adv.h
  Marlin/src/config/examples/Sanguinololu/Configuration_adv.h
  Marlin/src/config/examples/TheBorg/Configuration_adv.h
  Marlin/src/config/examples/TinyBoy2/Configuration_adv.h
  Marlin/src/config/examples/UltiMachine/Archim2/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8200/Configuration_adv.h
  Marlin/src/config/examples/Velleman/K8400/Configuration_adv.h
  Marlin/src/config/examples/Wanhao/Duplicator 6/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration_adv.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/generic/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration_adv.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration_adv.h
  Marlin/src/config/examples/gCreate/gMax1.5+/Configuration_adv.h
  Marlin/src/config/examples/makibox/Configuration_adv.h
  Marlin/src/config/examples/tvrrug/Round2/Configuration_adv.h
  Marlin/src/config/examples/wt150/Configuration_adv.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/configuration_store.cpp
Labels: PR: Improvement

#10374 [2.0.x] LPC1768 - automatic selection of upload disk
  Marlin/src/HAL/HAL_LPC1768/upload_extra_script.py
  platformio.ini
Labels: PR: Improvement, T: 32-Bit & HAL

#10375 [2.0.x] Platformio - add Linux compatibilty for Arduino boards
  etc/udev/rules.d/99-platformio-udev.rules
Labels: C: Build / Toolchain, PR: Improvement, T: 32-Bit & HAL

#10373 [2.0.x] 6th-order jerk-controlled motion planning in real-time for AVR
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: PR: Improvement

#8821 [1.1.x] G33 kinematic auto tune factors
  Marlin/Marlin.h
  Marlin/Marlin_main.cpp
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/language_en.h
  Marlin/softspi.h
  Marlin/ultralcd.cpp
  Marlin/ultralcd.h
Labels: F: Calibration, PR: Improvement

#8822 [2.0.x] G33 kinematic auto tune factors
  Marlin/src/config/examples/JGAurora/A5/Configuration.h
  Marlin/src/config/examples/RepRapPro/Huxley/Configuration.h
  Marlin/src/config/examples/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/src/config/examples/delta/FLSUN/kossel/Configuration.h
  Marlin/src/config/examples/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/src/config/examples/delta/Hatchbox_Alpha/Configuration.h
  Marlin/src/config/examples/delta/generic/Configuration.h
  Marlin/src/config/examples/delta/kossel_mini/Configuration.h
  Marlin/src/config/examples/delta/kossel_pro/Configuration.h
  Marlin/src/config/examples/delta/kossel_xl/Configuration.h
  Marlin/src/feature/Max7219_Debug_LEDs.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/calibrate/M665.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
Labels: PR: Improvement

#10380 Use a macro for HAL header redirection
  Marlin/src/HAL/HAL.h
  Marlin/src/HAL/HAL_AVR/HAL.cpp
  Marlin/src/HAL/HAL_AVR/HAL.h
  Marlin/src/HAL/HAL_AVR/SanityCheck.h
  Marlin/src/HAL/HAL_AVR/endstop_interrupts.h
  Marlin/src/HAL/HAL_AVR/pinsDebug.h
  Marlin/src/HAL/HAL_DUE/HAL.cpp
  Marlin/src/HAL/HAL_DUE/HAL.h
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.cpp
  Marlin/src/HAL/HAL_DUE/InterruptVectors_Due.cpp
  Marlin/src/HAL/HAL_DUE/SanityCheck.h
  Marlin/src/HAL/HAL_DUE/Tone.cpp
  Marlin/src/HAL/HAL_DUE/endstop_interrupts.h
  Marlin/src/HAL/HAL_DUE/pinsDebug.h
  Marlin/src/HAL/HAL_DUE/watchdog_Due.h
  Marlin/src/HAL/HAL_LPC1768/HAL.h
  Marlin/src/HAL/HAL_LPC1768/endstop_interrupts.h
  Marlin/src/HAL/HAL_LPC1768/pinsDebug.h
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F1/HAL_spi_Stm32f1.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_Stm32f1.cpp
  Marlin/src/HAL/HAL_STM32F1/SanityCheck.h
  Marlin/src/HAL/HAL_STM32F1/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32F1/pinsDebug.h
  Marlin/src/HAL/HAL_STM32F7/EEPROM_Emul/eeprom_emul.h
  Marlin/src/HAL/HAL_STM32F7/EmulatedEeprom.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL.h
  Marlin/src/HAL/HAL_STM32F7/HAL_spi_STM32F7.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL_timers_STM32F7.cpp
  Marlin/src/HAL/HAL_STM32F7/SanityCheck.h
  Marlin/src/HAL/HAL_STM32F7/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32F7/pinsDebug.h
  Marlin/src/HAL/HAL_SanityCheck.h
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.cpp
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.h
  Marlin/src/HAL/HAL_TEENSY35_36/HAL_spi_Teensy.cpp
  Marlin/src/HAL/HAL_TEENSY35_36/HAL_timers_Teensy.cpp
  Marlin/src/HAL/HAL_TEENSY35_36/SanityCheck.h
  Marlin/src/HAL/HAL_TEENSY35_36/endstop_interrupts.h
  Marlin/src/HAL/HAL_TEENSY35_36/pinsDebug.h
  Marlin/src/HAL/HAL_TEENSY35_36/watchdog_Teensy.h
  Marlin/src/HAL/HAL_endstop_interrupts.h
  Marlin/src/HAL/HAL_pinsDebug.h
  Marlin/src/HAL/HAL_spi_pins.h
  Marlin/src/HAL/platforms.h
  Marlin/src/Marlin.cpp
  Marlin/src/inc/MarlinConfig.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pinsDebug.h
Labels: PR: Improvement, T: 32-Bit & HAL

#10406 [2.0.x] Abort SD printing more safely
  Marlin/src/Marlin.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: F: SD Card Printing, PR: Improvement

#10368 Update pt-br translation
  Marlin/language_pt-br.h
  Marlin/language_pt-br_utf8.h
Labels: C: Language

#10419 [2.0.x] Fix u8g path
  .travis.yml
  Marlin/src/lcd/u8g_fontutf8.c
  buildroot/share/fonts/genallfont.sh
  buildroot/share/fonts/uxggenpages.md
  buildroot/share/fonts/uxggenpages.sh
Labels: PR: Bug Fix

#10409 [2.0.x] Update Brazilian Portuguese (pt-br) language
  Marlin/src/lcd/language/language_pt-br.h
Labels: C: Language

#10405 [1.1.x] Abort SD printing more safely
  Marlin/Marlin_main.cpp
  Marlin/ultralcd.cpp
  Marlin/ultralcd.h
Labels: F: SD Card Printing, PR: Improvement

#10416 [2.0.x] Fix missed includes from HAL macro patch
  Marlin/src/HAL/I2cEeprom.cpp
  Marlin/src/HAL/SpiEeprom.cpp
  Marlin/src/inc/MarlinConfig.h
  Marlin/src/inc/MarlinConfigPre.h
Labels: PR: Bug Fix, T: 32-Bit & HAL, T: Development

#9510 [1.1.x] Change UBL default G29 P4 height to 0
  Marlin/ubl_G29.cpp
Labels: F: Calibration, F: U.B.L., PR: Improvement, S: Don't Merge

#10428 [2.0.x] Change UBL default G29 P4 height to 0
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
Labels: F: U.B.L., PR: Improvement

#10431 [1.1.x] Improve UBL mesh report, M420 V T, M421 N, and…
  Marlin/Conditionals_post.h
  Marlin/Marlin_main.cpp
  Marlin/fwretract.cpp
  Marlin/macros.h
  Marlin/ubl.cpp
  Marlin/ubl_G29.cpp
  Marlin/ultralcd.cpp
Labels: F: U.B.L., PR: Bug Fix, PR: Improvement

#10443 [2.0.x] Improve UBL mesh report, M420 V T, M421 N, and…
  Marlin/src/core/macros.h
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/fwretract.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/gcode/bedlevel/ubl/M421.cpp
  Marlin/src/gcode/config/M221.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/ultralcd.cpp
Labels: F: U.B.L., PR: Improvement

#10440 [2.0.x] Fix compile warnings
  Marlin/src/HAL/HAL_AVR/fastio_AVR.h
Labels: C: Build / Toolchain

#10434 [2.0.x] HAL for STM32F4
  Marlin/src/HAL/HAL_STM32F4/EEPROM_Emul/eeprom_emul.cpp
  Marlin/src/HAL/HAL_STM32F4/EEPROM_Emul/eeprom_emul.h
  Marlin/src/HAL/HAL_STM32F4/EmulatedEeprom.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL.h
  Marlin/src/HAL/HAL_STM32F4/HAL_Servo_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_Servo_STM32F4.h
  Marlin/src/HAL/HAL_STM32F4/HAL_spi_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_timers_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_timers_STM32F4.h
  Marlin/src/HAL/HAL_STM32F4/README.md
  Marlin/src/HAL/HAL_STM32F4/SanityCheck.h
  Marlin/src/HAL/HAL_STM32F4/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F4/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32F4/pinsDebug.h
  Marlin/src/HAL/HAL_STM32F4/spi_pins.h
  Marlin/src/HAL/HAL_STM32F4/watchdog_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/watchdog_STM32F4.h
  Marlin/src/HAL/platforms.h
  Marlin/src/HAL/servo.cpp
  Marlin/src/HAL/servo.h
  Marlin/src/backtrace/unwmemaccess.cpp
  Marlin/src/config/examples/STM32F4/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_STM32F4.h
  platformio.ini
Labels: T: 32-Bit & HAL

#10461 [2.0.x] Define short pin names for STM32
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F7/fastio_STM32F7.h
  Marlin/src/HAL/HAL_STM32F7/spi_pins.h
  Marlin/src/pins/pins_STM32F4.h
  Marlin/src/pins/pins_THE_BORG.h
Labels: PR: Improvement, T: 32-Bit & HAL

#10465 [1.1.x] Add new capability to report if Thermal Protection is enabled
  Marlin/Marlin_main.cpp
Labels: C: Safety, T: Suggestion

#10460 [2.0.x] Split TRIGORILLA into 1.3 and 1.4
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_SANGUINOLOLU_11.h
  Marlin/src/pins/pins_TRIGORILLA_13.h
  Marlin/src/pins/pins_TRIGORILLA_14.h
Labels: C: Hardware/Boards

#10468 [1.1.x] Split TRIGORILLA into 1.3 and 1.4
  Marlin/Makefile
  Marlin/SanityCheck.h
  Marlin/boards.h
  Marlin/pins.h
  Marlin/pins_TRIGORILLA_13.h
  Marlin/pins_TRIGORILLA_14.h
Labels: C: Hardware/Boards

#9890 [1.1.x] Wait for bed heaters between probing
  Marlin/Configuration.h
  Marlin/Marlin_main.cpp
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration.h
  Marlin/example_configurations/Creality/Ender-2/Configuration.h
  Marlin/example_configurations/Creality/Ender-4/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
Labels: F: Calibration, F: Z-Probes, PR: Configurations

#10481 Update language_ru.h
  Marlin/language_ru.h
Labels: C: Language

#10467 [1.1.x] Reset LCD status to fallbacks
  Marlin/Marlin_main.cpp
  Marlin/language_an.h
  Marlin/language_bg.h
  Marlin/language_ca.h
  Marlin/language_cn.h
  Marlin/language_cz.h
  Marlin/language_cz_utf8.h
  Marlin/language_da.h
  Marlin/language_de.h
  Marlin/language_el-gr.h
  Marlin/language_el.h
  Marlin/language_en.h
  Marlin/language_es.h
  Marlin/language_es_utf8.h
  Marlin/language_eu.h
  Marlin/language_fi.h
  Marlin/language_fr.h
  Marlin/language_fr_utf8.h
  Marlin/language_gl.h
  Marlin/language_hr.h
  Marlin/language_it.h
  Marlin/language_kana.h
  Marlin/language_kana_utf8.h
  Marlin/language_nl.h
  Marlin/language_pl-DOGM.h
  Marlin/language_pl-HD44780.h
  Marlin/language_pt-br.h
  Marlin/language_pt-br_utf8.h
  Marlin/language_pt.h
  Marlin/language_pt_utf8.h
  Marlin/language_ru.h
  Marlin/language_sk_utf8.h
  Marlin/language_tr.h
  Marlin/language_uk.h
  Marlin/language_zh_CN.h
  Marlin/language_zh_TW.h
  Marlin/tmc_util.cpp
  Marlin/ubl_G29.cpp
  Marlin/ultralcd.cpp
  Marlin/ultralcd.h
Labels: C: LCD & Controllers, PR: Improvement

#10484 [1.1.x] Extra options for LEVEL_BED_CORNERS
  Marlin/Configuration.h
  Marlin/SanityCheck.h
  Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
  Marlin/example_configurations/AliExpress/CL-260/Configuration.h
  Marlin/example_configurations/Anet/A6/Configuration.h
  Marlin/example_configurations/Anet/A8/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/Cyclops/Configuration.h
  Marlin/example_configurations/BIBO/TouchX/default/Configuration.h
  Marlin/example_configurations/BQ/Hephestos/Configuration.h
  Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
  Marlin/example_configurations/BQ/WITBOX/Configuration.h
  Marlin/example_configurations/Cartesio/Configuration.h
  Marlin/example_configurations/Creality/CR-10/Configuration.h
  Marlin/example_configurations/Creality/CR-10S/Configuration.h
  Marlin/example_configurations/Creality/CR-10mini/Configuration.h
  Marlin/example_configurations/Creality/CR-8/Configuration.h
  Marlin/example_configurations/Creality/Ender-2/Configuration.h
  Marlin/example_configurations/Creality/Ender-4/Configuration.h
  Marlin/example_configurations/Felix/Configuration.h
  Marlin/example_configurations/Felix/DUAL/Configuration.h
  Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
  Marlin/example_configurations/Geeetech/GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  Marlin/example_configurations/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
  Marlin/example_configurations/Infitary/i3-M508/Configuration.h
  Marlin/example_configurations/JGAurora/A5/Configuration.h
  Marlin/example_configurations/Malyan/M150/Configuration.h
  Marlin/example_configurations/Micromake/C1/basic/Configuration.h
  Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
  Marlin/example_configurations/RepRapPro/Huxley/Configuration.h
  Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
  Marlin/example_configurations/RigidBot/Configuration.h
  Marlin/example_configurations/SCARA/Configuration.h
  Marlin/example_configurations/Sanguinololu/Configuration.h
  Marlin/example_configurations/TinyBoy2/Configuration.h
  Marlin/example_configurations/Tronxy/X1/Configuration.h
  Marlin/example_configurations/Tronxy/X5S/Configuration.h
  Marlin/example_configurations/Tronxy/XY100/Configuration.h
  Marlin/example_configurations/Velleman/K8200/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Configuration.h
  Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
  Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
  Marlin/example_configurations/adafruit/ST7565/Configuration.h
  Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel/Configuration.h
  Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/Hatchbox_Alpha/Configuration.h
  Marlin/example_configurations/delta/generic/Configuration.h
  Marlin/example_configurations/delta/kossel_mini/Configuration.h
  Marlin/example_configurations/delta/kossel_pro/Configuration.h
  Marlin/example_configurations/delta/kossel_xl/Configuration.h
  Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
  Marlin/example_configurations/makibox/Configuration.h
  Marlin/example_configurations/tvrrug/Round2/Configuration.h
  Marlin/example_configurations/wt150/Configuration.h
  Marlin/ultralcd.cpp
Labels: F: Calibration, PR: Improvement

#10487 [2.0.x] Fix pin mappings for Viki2 on Azteeg X5 GT
  Marlin/src/pins/pins_AZTEEG_X5_GT.h
Labels: C: Hardware/Boards, PR: Bug Fix

#10494 [1.1.x] Add HAS_HEATED_BED conditional
  Marlin/Conditionals_post.h
  Marlin/G26_Mesh_Validation_Tool.cpp
  Marlin/Marlin_main.cpp
  Marlin/dogm_bitmaps.h
  Marlin/power_loss_recovery.cpp
  Marlin/power_loss_recovery.h
  Marlin/status_screen_DOGM.h
  Marlin/status_screen_lite_ST7920.h
  Marlin/temperature.cpp
  Marlin/temperature.h
  Marlin/ultralcd.cpp
  Marlin/ultralcd_impl_HD44780.h
Labels: PR: General Cleanup, PR: Improvement

#10500 [2.0.x] Add SENSORLESS_HOMING to Archim 2.0
  Marlin/src/pins/pins_ARCHIM2.h
Labels: C: Hardware/Boards, F: Trinamic, PR: Improvement

#10495 [2.0.x] Add HAS_HEATED_BED conditional
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
  Marlin/src/feature/leds/tempstat.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/temperature/M140_M190.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/dogm/dogm_bitmaps.h
  Marlin/src/lcd/dogm/status_screen_DOGM.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd_impl_HD44780.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: General Cleanup, PR: Improvement

#10501 [1.1.x] Simplify AVR preemptive interrupt handling
  Marlin/planner.cpp
  Marlin/stepper.cpp
  Marlin/stepper.h
  Marlin/temperature.cpp
  Marlin/temperature.h
Labels: PR: Improvement, T: Development

#10496 [2.0.x] AVR preemptive interrupts, ARM interrupt priorities
  Marlin/src/HAL/HAL_AVR/HAL.h
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.cpp
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.h
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.cpp
  Marlin/src/HAL/HAL_LPC1768/HAL_timers.cpp
  Marlin/src/HAL/HAL_LPC1768/HAL_timers.h
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_Stm32f1.h
  Marlin/src/HAL/HAL_STM32F4/HAL_timers_STM32F4.h
  Marlin/src/HAL/HAL_STM32F7/HAL_timers_STM32F7.h
  Marlin/src/HAL/HAL_TEENSY35_36/HAL_timers_Teensy.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement, T: 32-Bit & HAL, T: Development

#10509 [2.0.x] Fix crash upon repeated calls to process_subcommands_now_P
  Marlin/src/gcode/gcode.cpp
Labels: PR: Bug Fix

#10502 [2.0.x] AVR: Atomic bit set and clear of upper pin ports without critical section
  Marlin/src/HAL/HAL_AVR/fastio_AVR.h
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/HAL/HAL_STM32F1/fastio_Stm32f1.h
  Marlin/src/HAL/HAL_TEENSY35_36/fastio_Teensy.h
Labels: PR: Improvement

#10522 [2.0.x] Add M420 C to center the mesh
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
Labels: F: Calibration, PR: Improvement

#10521 [1.1.x] Add M420 C to center the mesh
  Marlin/Marlin_main.cpp
  Marlin/ubl.h
  Marlin/ubl_G29.cpp
Labels: F: Calibration, PR: Improvement

#10524 [2.0.x] Emergency parser for multiple serial ports
  Marlin/src/HAL/HAL_AVR/MarlinSerial.cpp
  Marlin/src/HAL/HAL_DUE/MarlinSerial_Due.cpp
  Marlin/src/HAL/HAL_LPC1768/HardwareSerial.cpp
  Marlin/src/HAL/HAL_LPC1768/HardwareSerial.h
  Marlin/src/HAL/HAL_LPC1768/include/serial.h
  Marlin/src/feature/emergency_parser.cpp
  Marlin/src/feature/emergency_parser.h
  frameworks/CMSIS/LPC1768/lib/usb/cdcuser.cpp
Labels: PR: Improvement, T: 32-Bit & HAL

#10530 [1.1.x] Update EMERGENCY_PARSER for 2.0.x parity
  Marlin/MarlinSerial.cpp
  Marlin/MarlinSerial.h
  Marlin/emergency_parser.cpp
  Marlin/emergency_parser.h
  Marlin/enum.h
  Marlin/temperature.cpp
Labels: PR: General Cleanup

#10503 [2.0.x] Platformio - automate build & environment selection
  Marlin/src/pins/pins.h
  buildroot/share/atom/auto_build.py
  process-palette.json
Labels: Needs: Discussion, Needs: Feedback, PR: Configurations, PR: Improvement

#10540 Correct ATmega328P macro
  Marlin/fastio.h
Labels: Bug: Confirmed !, S: Solved

#10548 Removed "const" to avoid compile error when passing to parser.
  Marlin/src/gcode/gcode.cpp
Labels: PR: Bug Fix

#10561 [bugfix-1.1.x] Platformio - automate build & environment selection
  Marlin/pins.h
  buildroot/share/atom/auto_build.py
  platformio.ini
  process-palette.json
Labels: C: Build / Toolchain, PR: Improvement

#10565 [1.1.x] Round floats in string conversion functions
  Marlin/Marlin_main.cpp
  Marlin/status_screen_DOGM.h
  Marlin/ultralcd.cpp
  Marlin/ultralcd_impl_HD44780.h
  Marlin/utility.cpp
  Marlin/utility.h
Labels: C: LCD & Controllers, PR: Improvement

#10566 [2.0.x] Round all floats in string conversion functions
  Marlin/src/core/utility.cpp
  Marlin/src/core/utility.h
  Marlin/src/gcode/probe/G30.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd_impl_HD44780.h
Labels: C: LCD & Controllers, PR: Improvement

#10576 Fix do_probe_move with fr_mm_s
  Marlin/src/module/probe.cpp
Labels: PR: Bug Fix
