Repository MarlinFirmware/Marlin, pull requests merged in 2019-04, with the labels that each got.

#13553 Power-Loss initialization fix
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/gcode/gcode.cpp
Labels: PR: Bug Fix

#13565 Change to CHOPPER_TIMING to 24V for Ender3
  config/examples/Creality/Ender-3/Configuration_adv.h
Labels: C: Configuration, PR: Bug Fix

#13569 Fix scope issues on duplication mode and stepper direction macro
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/stepper_indirection.h
Labels: F: IDEX, PR: Bug Fix

#13554 More on PLR Initialization Fix.
  Marlin/src/feature/power_loss_recovery.cpp
Labels: PR: General Cleanup

#13575 Invaders compilation error
  Marlin/src/lcd/menu/game/invaders.cpp
Labels: C: Build / Toolchain, C: LCD & Controllers

#13582 Fix for HOTEND_OFFSET_Z and PARKING_EXTRUDER Bug
  Marlin/src/module/tool_change.cpp
Labels: F: IDEX, PR: Bug Fix

#13524 [2.0.x] Add support for 'Black' STM32F407VET6 board with RAMP-like shield
  Marlin/src/HAL/HAL_STM32/HAL.cpp
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_BLACK_STM32F407VE.h
  buildroot/share/PlatformIO/boards/blackSTM32F407VET6.json
  buildroot/share/PlatformIO/scripts/black_stm32f407vet6.py
  buildroot/share/PlatformIO/variants/MARLIN_F407VE/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_F407VE/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_F407VE/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_F407VE/stm32f4xx_hal_conf.h
  buildroot/share/PlatformIO/variants/MARLIN_F407VE/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_F407VE/variant.h
  config/examples/STM32/Black_STM32F407VET6/Configuration.h
  config/examples/STM32/Black_STM32F407VET6/Configuration_adv.h
  config/examples/STM32/STM32F10/Configuration.h
  config/examples/STM32/stm32f103ret6/Configuration.h
  config/examples/stm32/STM32F4/Configuration.h
  platformio.ini
Labels: A: STM32F, C: Hardware/Boards, PR: Improvement

#13585 Fix incorrect variable name
  Marlin/src/gcode/calibrate/G28.cpp
Labels: F: Calibration, PR: Bug Fix

#13577 Expand on serial debugging
  Marlin/src/core/debug_out.h
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/I2CPositionEncoder.h
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/bedlevel.h
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/bedlevel/ubl/M49.cpp
  Marlin/src/gcode/feature/powerloss/M1000.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
Labels: PR: Coding Standards, PR: General Cleanup

#13587 [2.0.x] M43 & LPC176x - the real fix (PR #13568 was wrong)
  Marlin/src/HAL/HAL_LPC1768/HAL.cpp
  Marlin/src/HAL/HAL_LPC1768/pinsDebug.h
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/pins/pinsDebug.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#13598 [2.0.x] Fix MKS Robin section in platformio.ini
  platformio.ini
Labels: A: STM32F, PR: Bug Fix, T: 32-Bit & HAL

#13595 [2.0.x] Reduce homing speeds on all Creality models
  config/examples/Creality/CR-10/Configuration.h
  config/examples/Creality/CR-10S/Configuration.h
  config/examples/Creality/CR-10_5S/Configuration.h
  config/examples/Creality/CR-10mini/Configuration.h
  config/examples/Creality/CR-8/Configuration.h
  config/examples/Creality/Ender-2/Configuration.h
  config/examples/Creality/Ender-4/Configuration.h
Labels: PR: Configurations, PR: Improvement

#13612 Suppress compile warning
  Marlin/src/lcd/menu/menu.cpp
Labels: PR: General Cleanup

#13609 [2.0.x] Filename: Restart Scroll When Reach Max
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Improvement

#13624 Fix SD card reselect when scrolled
  Marlin/src/lcd/menu/game/invaders.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_mixer.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_sdcard.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Bug Fix

#13626 AutoBuild quality-of-life improvements
  buildroot/share/vscode/AutoBuildMarlin/extension.js
Labels: C: Build / Toolchain, PR: Improvement

#13425 Azteeg X5 Mini support
  Marlin/Configuration_adv.h
  Marlin/src/core/boards.h
  Marlin/src/feature/digipot/digipot_mcp4451.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_5DPRINT.h
  Marlin/src/pins/pins_AZTEEG_X3_PRO.h
  Marlin/src/pins/pins_AZTEEG_X5_MINI.h
  Marlin/src/pins/pins_AZTEEG_X5_MINI_WIFI.h
  Marlin/src/pins/pins_MIGHTYBOARD_REVE.h
Labels: C: Hardware/Boards, Needs: Discussion

#13614 Misc Fixes
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_ko_KR.h
  Marlin/src/lcd/language/language_pt-br.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/tool_change.cpp
Labels: F: IDEX, PR: Bug Fix

#13634 Removed extra STM32 dir #13622
  config/examples/STM32/STM32F4/Configuration.h
Labels: C: Configuration, PR: General Cleanup

#13632 Fix Azteeg X5 mini board name
  Marlin/src/pins/pins_AZTEEG_X5_MINI.h
Labels: C: Hardware/Boards, PR: Bug Fix

#13630 Remove repaint of status screen on stepper timeout (#13623)
  Marlin/src/Marlin.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13644 Fix RURAMPS4D baud rate
  Marlin/src/pins/pins_RURAMPS4D_13.h
Labels: C: Hardware/Boards, PR: Bug Fix

#13647 Don't consider _CS_ pins sensitive if no SPI-capable driver
  Marlin/src/core/drivers.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/pins/sensitive_pins.h
Labels: C: Hardware/Boards, PR: Bug Fix

#13654 Re-enable G53-G59
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/geometry/G53-G59.cpp
Labels: PR: Bug Fix

#13651 Fix compile error with more Extruder
  Marlin/src/inc/Conditionals_LCD.h
Labels: PR: Bug Fix

#13652 Leveling can be toggled if Homed and leveling is valid.
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: C: LCD & Controllers, F: Calibration, PR: Improvement

#13661 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13649 Autobuild: Save modified files before starting to build
  buildroot/share/vscode/AutoBuildMarlin/extension.js
Labels: C: Build / Toolchain

#13665 [2.0.x] Update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#13660 Modify Z-offset overlay for clarity (#13532)
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13674 Fix uninitialized call to spindle pwm pin, remove overlap to heater 2
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/pins/pins_FORMBOT_TREX3.h
Labels: PR: Bug Fix

#13692 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#13694 ADD MKS SGen support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_MKS_SBASE.h
  Marlin/src/pins/pins_MKS_SGEN.h
Labels: C: Hardware/Boards

#13703 Fix, improve Power Loss Recovery
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/geometry/G92.cpp
  Marlin/src/gcode/sdcard/M23.cpp
  Marlin/src/sd/cardreader.cpp
Labels: C: Safety, PR: Improvement

#13716 Fix EEPROM_CHITCHAT
  Marlin/src/core/debug_out.h
Labels: PR: Bug Fix

#13717 [2.0.x] Add FYSETC_MINI_12864 Support to Re-ARM, RAMPS_FD and MKS Sbase
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_sw_spi.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/pins/pins_MKS_SBASE.h
  Marlin/src/pins/pins_RAMPS_FD_V1.h
  Marlin/src/pins/pins_RAMPS_RE_ARM.h
Labels: A: LPC176x, A: SAM3X8E, C: LCD & Controllers, PR: Improvement

#13723 Fix logic for Pause Probe
  Marlin/src/module/probe.cpp
Labels: F: Z-Probes, PR: Bug Fix

#13729 Update Czech language
  Marlin/src/lcd/language/language_cz.h
Labels: C: Language

#13727 Corrected range of step editor screens in ultralcd (#13696)
  Marlin/src/core/utility.cpp
  Marlin/src/core/utility.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers

#13731 Fix clear of Z position last digit
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#13737 Fix action_edit int range bug
  Marlin/src/lcd/menu/menu.h
Labels: PR: Bug Fix

#13751 Fix bad opcode in LIGHTWEIGHT_UI; add 32-bit HAL and Due compatibility
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
Labels: A: SAM3X8E, C: LCD & Controllers, PR: Bug Fix

#13744 Toggle UBL Activate / Deactivate in menu
  Marlin/src/lcd/menu/menu_ubl.cpp
Labels: C: LCD & Controllers, F: U.B.L., PR: Improvement

#13739 Squelch compiler warning (#13738)
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#13730 Fix, improve FYSETC_MINI_12864 support
  Marlin/src/HAL/HAL_LPC1768/SanityCheck.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
  Marlin/src/pins/pins_FYSETC_F6_13.h
Labels: C: LCD & Controllers, PR: Improvement

#13754 Add missing file
  Marlin/src/HAL/shared/HAL_ST7920.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#13756 Add extra max-temp safety checks
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/temperature.cpp
Labels: C: Safety, PR: Improvement

#13769 [2.0.x] Update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#13780 Fix (re-)defines in HAL_ESP32
  Marlin/src/HAL/HAL_ESP32/HAL.h
  Marlin/src/HAL/HAL_ESP32/i2s.cpp
Labels: A: ESP32, C: Build / Toolchain, PR: Bug Fix, T: 32-Bit & HAL

#13781 Fix SS pin in ESP32 HW SPI
  Marlin/src/HAL/HAL_ESP32/spi_pins.h
  Marlin/src/pins/pins_ESP32.h
Labels: A: ESP32, PR: Bug Fix, T: 32-Bit & HAL

#13767 Improve Due FYSETC_MINI_12864 and SD. Update pins files.
  Marlin/Configuration.h
  Marlin/src/HAL/HAL_DUE/HAL_spi_Due.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/HAL_LCD_class_defines.h
  Marlin/src/lcd/dogm/u8g_dev_uc1701_mini12864_HAL.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
  Marlin/src/pins/pins_FYSETC_F6_13.h
  Marlin/src/pins/pins_RAMPS.h
  Marlin/src/pins/pins_RAMPS_FD_V1.h
  Marlin/src/pins/pins_RAMPS_RE_ARM.h
  Marlin/src/pins/pins_RURAMPS4D_11.h
  Marlin/src/pins/pins_RURAMPS4D_13.h
Labels: C: LCD & Controllers, PR: Bug Fix

#13782 trivial fixes in toolchanger.cpp
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, PR: Bug Fix

#13784 i18n: All missing french entries for 2.x
  Marlin/src/lcd/language/language_fr.h
Labels: C: Language

#13788 Fix MSG_En messages for consistency
  Marlin/src/core/language.h
  Marlin/src/lcd/menu/menu_tmc.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#13789 [2.0.x] Fix compile warning (duplicated define)
  Marlin/src/core/debug_out.h
Labels: PR: General Cleanup

#13790 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13791 Add a Z raise-between-probes to G34
  Marlin/src/gcode/calibrate/G34_M422.cpp
Labels: F: Calibration, PR: Improvement

#13797 Force no move on IDEX full control mode
  Marlin/src/module/tool_change.cpp
Labels: F: IDEX, PR: Improvement

#13800 Update do_select_screen for general use, apply to some screens
  Marlin/src/gcode/eeprom/M500-M504.cpp
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_job_recovery.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_mixer.cpp
  Marlin/src/lcd/menu/menu_sdcard.cpp
  Marlin/src/lcd/menu/menu_service.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/configuration_store.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13799 Ext ui fixes
  Marlin/src/feature/bedlevel/abl/abl.cpp
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/abl/M421.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#13802 fix missed comments in fwretract.cpp
  Marlin/src/feature/fwretract.cpp
Labels: PR: General Cleanup
