Repository MarlinFirmware/Marlin, pull requests merged in 2019-08, with the labels that each got.

#14789 Homing backoff per-axis on Cartesian
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
Labels: T: Design Concept

#14791 Add Dreammaker Overlord board and pins file
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_OVERLORD.h
  Marlin/src/pins/pins.h
Labels: C: Hardware/Boards

#14788 Implement probed point output for ABL types matching UBL
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_sk.h
Labels: C: LCD & Controllers, T: Suggestion

#14806 Use title case for menu items
  Marlin/src/lcd/language/language_en.h
Labels: C: LCD & Controllers, C: Language

#14805 Correct type in HOMING_BACKOFF_MM support
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix

#14809 STM32F1: eeprom alignment compat. with SDIO pointers
  Marlin/src/HAL/HAL_STM32F1/persistent_store_sdcard.cpp
Labels: A: STM32, F: EEPROM, PR: Improvement

#14807 STM32F1: save 2KB of firmware by dropping full path asserts
  platformio.ini
Labels: A: STM32, C: Build / Toolchain, PR: Improvement

#14781 AGCM4: Add servo library
  Marlin/src/HAL/HAL_AVR/ServoTimers.h
  Marlin/src/HAL/HAL_DUE/ServoTimers.h
  Marlin/src/HAL/HAL_SAMD51/HAL.cpp
  Marlin/src/HAL/HAL_SAMD51/HAL.h
  Marlin/src/HAL/HAL_SAMD51/HAL_timers_SAMD51.cpp
  Marlin/src/HAL/HAL_SAMD51/HAL_timers_SAMD51.h
  Marlin/src/HAL/HAL_SAMD51/SAMD51.h
  Marlin/src/HAL/HAL_SAMD51/ServoTimers.h
  Marlin/src/HAL/HAL_SAMD51/Servo_SAMD51.cpp
  Marlin/src/HAL/HAL_SAMD51/Tone.cpp
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F4/HAL_timers_STM32F4.cpp
  Marlin/src/HAL/shared/servo.cpp
  Marlin/src/HAL/shared/servo.h
  Marlin/src/HAL/shared/servo_private.h
Labels: A: SAMD51, PR: Improvement

#14808 STM32F4x SD-based settings storage
  Marlin/src/HAL/HAL_STM32/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32/persistent_store_sdcard.cpp
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_PRO_V1.1.h
Labels: A: STM32, F: EEPROM, PR: Improvement

#14804 Update german language & (c) header
  Marlin/src/HAL/HAL_DUE/Tone.cpp
  Marlin/src/HAL/HAL_SAMD51/HAL.cpp
  Marlin/src/HAL/HAL_SAMD51/HAL.h
  Marlin/src/HAL/HAL_SAMD51/HAL_spi_SAMD51.cpp
  Marlin/src/HAL/HAL_SAMD51/HAL_timers_SAMD51.cpp
  Marlin/src/HAL/HAL_SAMD51/HAL_timers_SAMD51.h
  Marlin/src/HAL/HAL_SAMD51/MarlinSerial_AGCM4.cpp
  Marlin/src/HAL/HAL_SAMD51/MarlinSerial_AGCM4.h
  Marlin/src/HAL/HAL_SAMD51/SAMD51.h
  Marlin/src/HAL/HAL_SAMD51/endstop_interrupts.h
  Marlin/src/HAL/HAL_SAMD51/fastio_SAMD51.h
  Marlin/src/HAL/HAL_SAMD51/inc/SanityCheck.h
  Marlin/src/HAL/HAL_SAMD51/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_SAMD51/pinsDebug.h
  Marlin/src/HAL/HAL_SAMD51/spi_pins.h
  Marlin/src/HAL/HAL_SAMD51/watchdog_SAMD51.cpp
  Marlin/src/HAL/HAL_SAMD51/watchdog_SAMD51.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_E3_DIP.h
Labels: C: Language

#14810 STM32F1: Init EEPROM SPI pin modes
  Marlin/src/HAL/HAL_STM32F1/persistent_store_eeprom.cpp
Labels: A: STM32, PR: Improvement

#14800 Fysetc Cheetah updates
  Marlin/src/pins/stm32/pins_FYSETC_CHEETAH_V12.h
  config/examples/FYSETC/Cheetah 1.2/BLTouch/Configuration.h
  config/examples/FYSETC/Cheetah 1.2/base/Configuration.h
  platformio.ini
Labels: C: Build / Toolchain

#14823 Fix vscode compile error
  Marlin/src/HAL/HAL_SAMD51/Servo_SAMD51.cpp
Labels: PR: Bug Fix

#14044 TMC SPI Endstops and Improved Sensorless Homing
  Marlin/Configuration_adv.h
  Marlin/src/Marlin.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/delta.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.cpp
Labels: F: Calibration, F: Trinamic, Needs: Testing, PR: Improvement

#14816 Update M48 command in the status line
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_ru.h
Labels: F: Calibration, F: Z-Probes

#14834 Fix 16-bit range check in TMenuItem::action_edit for 32-bit boards
  Marlin/src/lcd/menu/menu.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#14798 THERMAL_PROTECTION_GRACE_PERIOD is obsolete
  Marlin/src/HAL/HAL_LPC1768/HAL.h
  Marlin/src/Marlin.cpp
  Marlin/src/module/temperature.cpp
Labels: A: LPC176x

#14817 Marlin Binary Protocol Mk2
  Marlin/src/feature/binary_protocol.cpp
  Marlin/src/feature/binary_protocol.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/sdcard/M28_M29.cpp
  Marlin/src/libs/heatshrink/LICENSE
  Marlin/src/libs/heatshrink/heatshrink_common.h
  Marlin/src/libs/heatshrink/heatshrink_config.h
  Marlin/src/libs/heatshrink/heatshrink_decoder.cpp
  Marlin/src/libs/heatshrink/heatshrink_decoder.h
Labels: PR: Improvement

#14860 remove pragma once from thermistornames.h so menu_info shows correct thermistor names
  Marlin/src/lcd/thermistornames.h
Labels: C: LCD & Controllers, PR: Bug Fix

#14851 Re-fix Ender 3 Chopper setting
  config/examples/Creality/Ender-3/Configuration_adv.h
  config/examples/Creality/Ender-5/Configuration_adv.h
  config/examples/Tevo/Tarantula Pro/Configuration_adv.h
Labels: F: Trinamic, PR: Bug Fix, PR: Configurations

#14862 Update language_ru.h
  Marlin/src/lcd/language/language_ru.h
Labels: C: Language

#14866 [AGCM4] Fix used adc detection
  Marlin/src/HAL/HAL_SAMD51/HAL.cpp
Labels: PR: Bug Fix

#14833 Overlord configs. Fix buzzer, redundant temp.
  Marlin/src/Marlin.cpp
  Marlin/src/libs/buzzer.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  config/examples/delta/Dreammaker/Overlord/Configuration.h
  config/examples/delta/Dreammaker/Overlord/Configuration_adv.h
  config/examples/delta/Dreammaker/Overlord/_Bootscreen.h
  config/examples/delta/Dreammaker/Overlord_Pro/Configuration.h
  config/examples/delta/Dreammaker/Overlord_Pro/Configuration_adv.h
  config/examples/delta/Dreammaker/Overlord_Pro/_Bootscreen.h
Labels: K: Deltabot, PR: Bug Fix, PR: Configurations

#14857 [2.0.x] Autobuild formatting update
  buildroot/share/atom/auto_build.py
Labels: PR: Improvement

#14858 [bugfix-1.1.x] Autobuild formatting update
  buildroot/share/atom/auto_build.py
Labels: PR: Improvement

#14845 stm32f1: eeprom sd start + flash typo
  Marlin/src/HAL/HAL_STM32F1/persistent_store_sdcard.cpp
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM

#14838 [AGCM4] add debug option to platformio
  platformio.ini
Labels: A: SAMD51, C: Build / Toolchain, PR: Improvement

#14869 Fix code attempting to sprintf %f
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/feature/L6470/M906.cpp
  Marlin/src/gcode/feature/L6470/M916-918.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/extui_malyan_lcd.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: PR: Bug Fix

#14831 Fix wait_for_user + PAUSE_BEFORE_DEPLOY_STOW issue
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/probe.cpp
Labels: PR: Bug Fix

#14861 STM32F1: empty SoftwareSerial to build TMCStepper lib
  Marlin/src/HAL/HAL_STM32F1/SoftwareSerial.cpp
  Marlin/src/HAL/HAL_STM32F1/SoftwareSerial.h
Labels: A: STM32, C: Build / Toolchain, F: Trinamic

#14875 Fix TouchMI probe movement (left side)
  Marlin/src/module/probe.cpp
Labels: F: Z-Probes, PR: Bug Fix

#14876 Allow py scripts to handle spaces in paths
  buildroot/share/PlatformIO/scripts/alfawise_Ux0.py
  buildroot/share/PlatformIO/scripts/fysetc_STM32F1.py
  buildroot/share/PlatformIO/scripts/jgaurora_a5s_a1_with_bootloader.py
  buildroot/share/PlatformIO/scripts/mks_robin.py
  buildroot/share/PlatformIO/scripts/mks_robin_lite.py
  buildroot/share/PlatformIO/scripts/mks_robin_mini.py
  buildroot/share/PlatformIO/scripts/mks_robin_nano.py
Labels: C: Build / Toolchain, PR: Bug Fix

#14879 Remove PlatformIO folder structure override
  Marlin/src/HAL/HAL_LPC1768/upload_extra_script.py
  buildroot/bin/env_clean
  buildroot/share/atom/auto_build.py
  buildroot/share/atom/create_custom_upload_command_CDC.py
  platformio.ini
Labels: C: Build / Toolchain, PR: Improvement

#14906 Fix SPI_ENDSTOPS compile error
  Marlin/src/Marlin.cpp
Labels: PR: Bug Fix

#14903 Fix compiling error Service
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_service.cpp
  buildroot/share/tests/megaatmega2560-tests
Labels: PR: Bug Fix

#14907 SAMD51: Fix lcd pins
  Marlin/src/pins/samd/pins_AGCM4_RURAMPS4D_13.h
Labels: A: SAMD51, C: Hardware/Boards, C: LCD & Controllers, PR: Bug Fix

#14900 Remove Touch Button Pin and Better Up-Down Touch Button response
  Marlin/src/feature/touch/xpt2046.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/pins/stm32/pins_JGAURORA_A5S_A1.h
  Marlin/src/pins/stm32/pins_LONGER3D_LK.h
  Marlin/src/pins/stm32/pins_MKS_ROBIN_MINI.h
  Marlin/src/pins/stm32/pins_MKS_ROBIN_NANO.h
Labels: C: LCD & Controllers, PR: Improvement

#14893 Allow the use of fysetc SoftwareSerialM lib
  Marlin/src/HAL/HAL_STM32F1/SoftwareSerial.cpp
  buildroot/share/PlatformIO/scripts/fysetc_STM32F1.py
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#14895 Tevo Michelangelo config updates
  config/examples/Tevo/Michelangelo/Configuration.h
Labels: PR: Configurations

#14891 Fix BigTreeTech STM32F407_5X / PB5 pin
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/variant.h
Labels: C: Hardware/Boards

#14912 fix build with and without TOUCH_BUTTONS...
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#14829 [STM32F1] Simple (but working) Flash EEPROM
  Marlin/src/HAL/HAL_STM32F1/persistent_store_flash.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/pins/stm32/pins_FYSETC_CHEETAH.h
Labels: A: STM32, F: EEPROM

#14913 samd51: add neopixel mapping
  Marlin/src/HAL/HAL_SAMD51/fastio_SAMD51.h
Labels: C: Hardware/Boards, PR: Improvement

#14915 SAMD51: Some lcd pin fix
  Marlin/src/pins/samd/pins_AGCM4_RURAMPS4D_13.h
Labels: A: SAMD51, C: Hardware/Boards

#14897 Compiling M43 on invalid conversion
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32duino.h
Labels: PR: Bug Fix, T: Development

#14886 Cleanup
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
Labels: PR: General Cleanup

#14885 SAMD51 Typo fix
  Marlin/src/HAL/HAL_SAMD51/inc/SanityCheck.h
Labels: A: SAMD51, C: Documentation

#14883 Ensure easter egg stays hidden
  Marlin/src/lcd/menu/menu_info.cpp
Labels: C: LCD & Controllers

#14882 Increased allowable range of XY nozzle offset
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: C: LCD & Controllers, F: Calibration, PR: Improvement

#14881 Fix incorrect print statistics in ExtUI
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#14923 SKRmini: store EEPROM config in flash
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_MINI_V1_1.h
Labels: A: STM32

#14926 Fix python scripts unhandled quotes
  buildroot/share/PlatformIO/scripts/alfawise_Ux0.py
  buildroot/share/PlatformIO/scripts/fysetc_STM32F1.py
  buildroot/share/PlatformIO/scripts/jgaurora_a5s_a1_with_bootloader.py
  buildroot/share/PlatformIO/scripts/mks_robin.py
  buildroot/share/PlatformIO/scripts/mks_robin_lite.py
  buildroot/share/PlatformIO/scripts/mks_robin_mini.py
  buildroot/share/PlatformIO/scripts/mks_robin_nano.py
Labels: C: Build / Toolchain, PR: Bug Fix

#14936 Move EZBoard to 1769
  Marlin/src/pins/lpc1769/pins_TH3D_EZBOARD.h
  Marlin/src/pins/pins.h
Labels: A: LPC176x, C: Hardware/Boards

#14940 Update Russian language
  Marlin/src/lcd/language/language_ru.h
Labels: C: Language

#14877 alfawise: enable flash eeprom + zmax probe
  Marlin/src/pins/stm32/pins_LONGER3D_LK.h
  config/examples/Alfawise/U20/Configuration.h
  config/examples/Alfawise/U20/Configuration_adv.h
Labels: F: EEPROM

#14951 Changed "SD card" to "Media" on US English menu
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el-gr.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp-kana.h
  Marlin/src/lcd/language/language_ko_KR.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt-br.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers

#14955 Add missing function declaration
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers

#14922 Fix auto chamber fan and auto power chamber fan to use correct defines
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#14852 MalyanLCD: Add pause/resume, use more ExtUI
  Marlin/src/lcd/extui_malyan_lcd.cpp
  config/examples/Malyan/M200/Configuration.h
  config/examples/Malyan/M200/README.md
Labels: C: LCD & Controllers, PR: Improvement

#14966 Fix missing U8glib.h include
  Marlin/src/HAL/HAL_DUE/dogm/u8g_com_HAL_DUE_sw_spi_shared.h
Labels: Bug: Confirmed !, PR: Bug Fix

#14969 Fix compilation error by capturing command.
  Marlin/src/lcd/extui_malyan_lcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#14960 Repair display throttling
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: C: LCD & Controllers, PR: Bug Fix

#14965 Use u8g int type for screen bigger than 240
  Marlin/src/lcd/HD44780/lcdprint_hd44780.cpp
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/lcdprint_u8g.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/lcdprint.h
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers

#14988 Clean up PlatformIO lib_ignore
  platformio.ini
Labels: C: Build / Toolchain

#14983 Minor Fix redefine X_LABEL_POS, X_VALUE_POS, XYZ_SPACING at Status Screen DOGM
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: PR: General Cleanup

#14992 Ext ui add missing user confirmation req
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/module/probe.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#14990 Fix runout triggering on any sensor
  Marlin/src/feature/runout.h
Labels: PR: Bug Fix

#14985 Remove dup M412 report of eeprom config
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix, PR: General Cleanup

#14803 Unify buzz methods as MarlinUI::buzz
  Marlin/src/Marlin.cpp
  Marlin/src/feature/leds/pca9632.cpp
  Marlin/src/feature/leds/pca9632.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/libs/buzzer.cpp
  Marlin/src/libs/buzzer.h
  Marlin/src/module/printcounter.cpp
  Marlin/src/module/temperature.cpp
Labels: C: LCD & Controllers, PR: General Cleanup

#14996 fix Bigtreetech stm32f40x variants adc
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/variant.cpp
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/variant.h
Labels: A: STM32, PR: Bug Fix

#14994 New board STM32F407
  Marlin/src/HAL/HAL_STM32/HAL_spi_STM32.cpp
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_BIGTREE_BTT002_V1.0.h
  buildroot/share/PlatformIO/boards/BigTree_Btt002.json
  platformio.ini
Labels: A: STM32, C: Hardware/Boards, T: 32-Bit & HAL

#14979 Creality pin updates
  Marlin/src/pins/ramps/pins_RAMPS_CREALITY.h
Labels: C: Hardware/Boards, PR: Improvement

#14971 ExtUI Fixes
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: C: LCD & Controllers

#14972 Adjust homing backoff feedrate
  Marlin/src/module/motion.cpp
Labels: F: Calibration, PR: Improvement

#15013 language_pt-br_utf8 warnings due to extra tokens at end of #else directive
  Marlin/language_pt-br_utf8.h
Labels: PR: General Cleanup

#15010 One click of encoder wheel increases fan by 1% (Fix for #14975)
  Marlin/src/lcd/menu/menu.h
Labels: C: LCD & Controllers, PR: Bug Fix

#15009 Fix incompatible types error
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#15007 LulzBot Touch UI Followup
  Marlin/src/lcd/extensible_ui/lib/lulzbot/archim2-flash/flash_storage.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/archim2-flash/media_file_reader.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/compat.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/config.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/ftdi_eve_lib/basic/commands.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/ftdi_eve_lib/compat.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/base_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/endstop_state_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/status_screen.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#14919 Support for ADIMLab Granty
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_HJC2560C_REV2.h
  Marlin/src/pins/pins.h
  config/examples/ADIMLab/Granty/Configuration.h
  config/examples/ADIMLab/Granty/Configuration_adv.h
  config/examples/ADIMLab/Granty/_Bootscreen.h
Labels: A: ATmega, C: Hardware/Boards, PR: Configurations

#15002 STM32F1: import SPI class from unmaintained repo
  Marlin/src/HAL/HAL_STM32F1/HAL_spi_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/SPI.cpp
  Marlin/src/HAL/HAL_STM32F1/SPI.h
  platformio.ini
Labels: A: STM32, T: 32-Bit & HAL

#15006 Restore contrast setting on fysetc mini
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/pins/mega/pins_WANHAO_ONEPLUS.h
  Marlin/src/pins/ramps/pins_TT_OSCAR.h
  Marlin/src/pins/stm32/pins_FYSETC_AIO_II.h
  Marlin/src/pins/stm32/pins_FYSETC_CHEETAH.h
Labels: C: LCD & Controllers, PR: Bug Fix

#15037 Change default Re-ARM UART pin order
  Marlin/src/pins/lpc1768/pins_RAMPS_RE_ARM.h
Labels: A: LPC176x

#15023 Fix the translation in the language pt-br_utf8
  Marlin/language_pt-br_utf8.h
Labels: C: Language

#15016 menu: flag unused variables without buzzer
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  platformio.ini
Labels: C: Build / Toolchain, PR: General Cleanup

#15019 Fix compile error when using TURBO_BACK_MENU_ITEM
  Marlin/src/lcd/ultralcd.h
Labels: PR: Bug Fix, PR: Improvement

#15020 pca9632_buzz fix for PR 14803
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: Bug Fix

#15017 ADIMLab Granty v1 / v2
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_HJC2560C_REV2.h
  config/examples/ADIMLab/Granty v1/Configuration.h
  config/examples/ADIMLab/Granty v1/Configuration_adv.h
  config/examples/ADIMLab/Granty v2/Configuration.h
  config/examples/ADIMLab/Granty v2/Configuration_adv.h
  config/examples/ADIMLab/_Bootscreen.h
Labels: C: Hardware/Boards, PR: Configurations

#15049 support turbo back for menu info submenu items
  Marlin/src/lcd/menu/menu_info.cpp
Labels: PR: Improvement

#15046 increase LCD_CONTRAST_MAX if less than LCD_CONTRAST_INIT
  Marlin/src/inc/Conditionals_post.h
Labels: C: LCD & Controllers, PR: Bug Fix

#15032 Add warning when trying to use JD with kinematic systems
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#15031 Ext ui invalid speed and timer fix
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/babystep.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/gcode/stats/M75-M78.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/libs/stopwatch.cpp
  Marlin/src/module/probe.cpp
Labels: C: LCD & Controllers, PR: Bug Fix, PR: Improvement

#15040 Fix CR-10/10S/Mini/5S Bed Thermistor Types
  config/examples/Creality/CR-10/Configuration.h
  config/examples/Creality/CR-10S/Configuration.h
  config/examples/Creality/CR-10_5S/Configuration.h
  config/examples/Creality/CR-10mini/Configuration.h
Labels: C: Configuration, PR: Bug Fix

#15043 ADIMLab Gantry - Spelling Correction
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_HJC2560C_REV2.h
  config/examples/ADIMLab/Granty v1/Configuration.h
  config/examples/ADIMLab/Granty v2/Configuration.h
Labels: PR: General Cleanup

#15082 U8glib-HAL extern cleanup
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
Labels: C: LCD & Controllers, PR: Improvement

#15094 Fix expire_status warning
  Marlin/src/lcd/ultralcd.h
Labels: PR: General Cleanup

#15093 Fix HAL_STM32 SPI regression
  Marlin/src/HAL/HAL_STM32/HAL_spi_STM32.cpp
Labels: A: STM32, T: 32-Bit & HAL

#15104 stm32f1: SPI warning fix with gcc 8.2.1
  Marlin/src/HAL/HAL_STM32F1/SPI.cpp
Labels: A: STM32, PR: General Cleanup

#15099 Add RGB565 Color Definitions for TFT
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
Labels: C: LCD & Controllers, PR: Improvement

#15089 Disable Tevo Tarantula Pro PIDTEMPBED
  config/examples/Tevo/Tarantula Pro/Configuration.h
Labels: C: Configuration
