Repository MarlinFirmware/Marlin, pull requests merged in 2019-05, with the labels that each got.

#13809 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13864 Fix FYSETC, MINIPANEL and MKS_MINI_12864 display issue - ultralcd_DOGM.h
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
Labels: C: LCD & Controllers

#13857 Add M22 SD release for onboard cards
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Improvement

#13851 Improve French language
  Marlin/src/lcd/language/language_fr.h
Labels: C: Language, PR: Improvement

#13853 Update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language, PR: General Cleanup

#13879 Auto-mount the SDIO SD card
  Marlin/src/Marlin.cpp
Labels: PR: Improvement

#13876 settings: store runout sensor on/off
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Improvement

#13865 Fix bug: diveToFile breaks M23
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/gcode/sdcard/M23.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: F: SD Card Printing, PR: Bug Fix

#13659 Backlash cleanup. Save backlash, fil. sensor, ExtUI userdata to EEPROM
  Marlin/src/Marlin.cpp
  Marlin/src/feature/backlash.cpp
  Marlin/src/feature/backlash.h
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/runout.h
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/gcode/calibrate/M425.cpp
  Marlin/src/gcode/feature/runout/M412.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extensible_ui/lib/example.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/menu/menu_backlash.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/printcounter.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/stepper.cpp
Labels: F: Calibration, F: EEPROM, PR: Improvement

#13818 Add gitignore for Eclipse
  .gitignore
Labels: C: Build / Toolchain

#13840 [2.0.x] Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#13894 stepper: fix NOMORE() sign warning
  Marlin/src/module/stepper.cpp
Labels: PR: General Cleanup

#13850 menus: allow accel. values config by 25 increments
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13819 Re-Arm & RAMPS1.4: 4x TMC2208 stepper improvement
  Marlin/src/pins/pins_RAMPS_RE_ARM.h
Labels: A: LPC176x, F: Trinamic, PR: Improvement

#13907 Updated I3 Pro B calibration routine
  config/examples/Geeetech/Prusa i3 Pro B/README.md
Labels: C: Configuration, C: Documentation

#13896 Change DEFAULT_AXIS_STEPS_PER_UNIT for Geeetech I3 Pro B
  config/examples/Geeetech/Prusa i3 Pro B/bltouch/Configuration.h
  config/examples/Geeetech/Prusa i3 Pro B/noprobe/Configuration.h
Labels: PR: Configurations

#13902 travis: force stable platformio (not the dev 4.x)
  .travis.yml
Labels: T: 32-Bit & HAL, T: Development

#13839 BUG thermistornames.h missing 501 name
  Marlin/src/lcd/thermistornames.h
Labels: PR: Bug Fix

#13884 Remove obsolete vsense report
  Marlin/src/feature/tmc_util.cpp
Labels: F: Trinamic, PR: General Cleanup

#13824 Add missing SPI pin definitions for the AZSMZ Mini
  Marlin/src/pins/pins_AZSMZ_MINI.h
Labels: A: LPC176x, C: Hardware/Boards, PR: Improvement

#13847 Fix compile problem with HOST_PROMPT_SUPPORT
  Marlin/src/feature/host_actions.h
Labels: C: Build / Toolchain

#13860 BugFix 2.0.x : PLR file delete failed when print file from subDirectory
  Marlin/src/sd/cardreader.cpp
Labels: PR: Bug Fix

#13916 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13915 Update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#13917 Unused variable cleanup
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/sd/cardreader.cpp
Labels: PR: General Cleanup

#13918 [2.0.x] changed variable position
  Marlin/src/feature/tmc_util.cpp
  buildroot/share/tests/LPC1769-tests
Labels: F: Trinamic, PR: General Cleanup

#13912 STM32: fix Marduino SBI/CBI redefine
  Marlin/src/HAL/HAL_STM32F1/HAL.h
Labels: A: STM32, C: Build / Toolchain, PR: Bug Fix, T: 32-Bit & HAL

#13927 Malyan M200 core fixes
  Marlin/src/HAL/shared/backtrace/unwmemaccess.cpp
  Marlin/src/pins/pins_MALYAN_M200.h
Labels: C: Hardware/Boards, T: 32-Bit & HAL

#13895 runout: avoid int8_t negative overflow
  Marlin/src/feature/runout.h
Labels: PR: Bug Fix

#13930 Fix probe fan compiling error
  Marlin/src/gcode/control/M80_M81.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Bug Fix

#13931 Convert py scripts for py2 and py3 compatibility
  buildroot/share/atom/create_custom_upload_command_CDC.py
  buildroot/share/scripts/createSpeedLookupTable.py
  buildroot/share/scripts/createTemperatureLookupMarlin.py
  buildroot/share/scripts/g29_auto.py
Labels: C: Build / Toolchain, PR: Improvement

#13938 Remove extra MMU (non-12V) code
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
Labels: PR: General Cleanup

#13954 Fix E-steps/mm for Geeetech A10M/A20M
  config/examples/Geeetech/A10M/Configuration.h
  config/examples/Geeetech/A20M/Configuration.h
Labels: PR: Bug Fix, PR: Configurations

#13933 STM32: ADC warning fix
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
Labels: PR: General Cleanup

#13943 Fix HOST_PROMPT_SUPPORT compile error
  Marlin/src/feature/host_actions.h
Labels: PR: Bug Fix

#13958 More fixes to Geeetech A10M/A20M standard config
  config/examples/Geeetech/A10M/Configuration.h
  config/examples/Geeetech/A20M/Configuration.h
Labels: PR: Configurations, PR: Improvement

#13948 Fix menu overruns
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13962 [2.0.x] M100 - add LPC1768 and DUE compatibility
  Marlin/src/gcode/calibrate/M100.cpp
Labels: PR: Improvement, T: 32-Bit & HAL

#13970 Enhancements to ExtUI to handle heater timeouts.
  Marlin/src/feature/pause.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: Improvement

#13967 Add Anet A8 Plus example configuration
  config/examples/Anet/A8plus/Configuration.h
  config/examples/Anet/A8plus/Configuration_adv.h
Labels: PR: Configurations

#13974 Fix wrong Author label of example configuration for Anet A8 Plus
  config/examples/Anet/A8plus/Configuration.h
Labels: C: Configuration, PR: General Cleanup

#13971 Fix multiple definitions error in HAL_DUE when using RepRapDiscount display
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_sw_spi_shared.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_sw_spi_shared.h
Labels: A: SAM3X8E, PR: Bug Fix, T: 32-Bit & HAL

#13951 [MMU2] safer gcode parser
  Marlin/src/gcode/parser.cpp
Labels: PR: Bug Fix

#13946 STM32: fix warnings in timers
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_STM32F1.cpp
Labels: A: STM32, PR: Improvement, T: 32-Bit & HAL

#13939 Improve Due SW SPI, Fysetc sanity checks, &c.
  Marlin/src/HAL/HAL_AVR/u8g_com_HAL_AVR_sw_spi.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_sw_spi.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_sw_spi_shared.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_sw_spi_shared.h
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_st7920_sw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_sw_spi.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
Labels: Bug: Confirmed !, PR: Improvement

#13975 Cleaner EEPROM auto init
  Marlin/src/Marlin.cpp
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: General Cleanup

#13978 travis: restore STM32F1 test env
  .travis.yml
  buildroot/share/tests/STM32F1-tests
  platformio.ini
Labels: C: Build / Toolchain

#13981 STM32F1: allow to tune eeprom.dat sd/ram size
  Marlin/src/HAL/HAL_STM32F1/persistent_store_sdcard.cpp
Labels: A: STM32, F: EEPROM, PR: Improvement

#13982 Anet E16 example Config
  config/examples/Anet/E16/Configuration.h
  config/examples/Anet/E16/Configuration_adv.h
  config/examples/Anet/E16/_Bootscreen.h
  config/examples/Anet/E16/_Statusscreen.h
Labels: PR: Configurations

#13991 Cohesion 3D Remix onboard SD card, Fysetc MINIPANEL
  Marlin/src/pins/pins_COHESION3D_REMIX.h
Labels: PR: Improvement

#13993 [BF2] LPC1768 EXTRA_LIN_ADVANCE_K Fix (#13989)
  Marlin/src/gcode/feature/advance/M900.cpp
Labels: F: Linear Advance, PR: Bug Fix

#14012 STM32F1: use local file for eeprom.dat I/O
  Marlin/src/HAL/HAL_STM32F1/persistent_store_sdcard.cpp
  Marlin/src/sd/cardreader.h
Labels: A: STM32, F: EEPROM, PR: Bug Fix

#14011 Correct bad pin mapping in AZTEEG_X5_MINI.h
  Marlin/src/pins/pins_AZTEEG_X5_MINI.h
Labels: C: Hardware/Boards, PR: Bug Fix

#13996 Ender-3: Add feedrate for manual move of E from panel
  config/examples/Creality/Ender-3/Configuration_adv.h
Labels: C: Configuration

#14005 Fix DUE HAL SW SPI compile error
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_sw_spi_shared.cpp
Labels: A: SAM3X8E, PR: Bug Fix

#14008 Fix TMC EEPROM regression (#14003)
  Marlin/src/Marlin.cpp
  Marlin/src/lcd/ultralcd.cpp
Labels: F: EEPROM, F: Trinamic, PR: Bug Fix

#14028 Reorder delta _PULSE_WAIT definition
  Marlin/src/module/stepper.cpp
Labels: C: Motion, PR: Bug Fix

#14033 Fix #14031
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
Labels: T: Suggestion

#14036 Add g29 progress update
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/lcd/language/language_en.h
Labels: F: U.B.L.

#14015 BLTOUCH Tweaks and V3.1 new command
  Marlin/src/feature/bltouch.cpp
  Marlin/src/feature/bltouch.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
  config/examples/Anet/E16/_Statusscreen.h
Labels: F: BLTouch, PR: Improvement

#14027 Fix EXTUI Mesh Functions
  Marlin/src/feature/babystep.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: Bug Fix

#14050 STM32F1: Allow open drain output mode in fastio
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
Labels: A: STM32, PR: Improvement, T: 32-Bit & HAL

#14049 M226: sign warning fix for most platforms
  Marlin/src/gcode/control/M226.cpp
Labels: PR: Bug Fix

#14057 STM32F1: STM32_HIGH_DENSITY is auto defined in HAL
  Marlin/src/HAL/HAL_STM32F1/HAL_sdio_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/u8g_com_stm32duino_fsmc.cpp
Labels: A: STM32, PR: Bug Fix

#14070 Declare "teensy" platform
  buildroot/share/PlatformIO/boards/at90usb1286.json
  buildroot/share/PlatformIO/boards/malyanM200.json
  buildroot/share/PlatformIO/boards/malyanM200v2.json
Labels: A: STM32, C: Build / Toolchain

#14082 Hals cleanup
  Marlin/src/HAL/HAL_AVR/fastio_AVR.h
  Marlin/src/HAL/HAL_DUE/HAL.h
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/HAL/HAL_ESP32/fastio_ESP32.h
  Marlin/src/HAL/HAL_LINUX/fastio.h
  Marlin/src/HAL/HAL_LINUX/watchdog.h
  Marlin/src/HAL/HAL_LPC1768/fastio.h
  Marlin/src/HAL/HAL_LPC1768/watchdog.h
  Marlin/src/HAL/HAL_STM32/HAL.h
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
  Marlin/src/HAL/HAL_STM32F4/HAL.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F7/HAL.h
  Marlin/src/HAL/HAL_STM32F7/fastio_STM32F7.h
  Marlin/src/HAL/HAL_TEENSY31_32/HAL.h
  Marlin/src/HAL/HAL_TEENSY31_32/fastio_Teensy.h
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.h
  Marlin/src/HAL/HAL_TEENSY35_36/fastio_Teensy.h
  Marlin/src/HAL/shared/Marduino.h
Labels: PR: General Cleanup, T: 32-Bit & HAL

#14080 Limit user thermistor to +999C & fix thermistor table macro
  Marlin/src/module/temperature.cpp
Labels: C: Safety, PR: Improvement

#14093 Update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#14095 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#14092 Update copyright in headers
  Marlin/src/feature/dac/stepper_dac.cpp
  Marlin/src/pins/pins_MKS_SGEN.h
  Marlin/src/pins/pins_PRINTRBOARD_G2.h
  config/examples/Anet/E16/_Statusscreen.h
Labels: PR: General Cleanup

#14085 STM32F1: secure the servo code + M280 detach
  Marlin/src/HAL/HAL_STM32F1/HAL_Servo_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
  Marlin/src/gcode/control/M280.cpp
Labels: A: STM32, PR: Bug Fix, PR: Improvement

#14118 Move menus for usability
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
Labels: C: LCD & Controllers

#14096 Ruramps4d typo fix
  Marlin/src/pins/pins_RURAMPS4D_11.h
  Marlin/src/pins/pins_RURAMPS4D_13.h
Labels: C: Hardware/Boards, PR: General Cleanup

#14102 Various fixes for the ESP32 platform
  Marlin/src/HAL/HAL_ESP32/HAL.cpp
  Marlin/src/HAL/HAL_ESP32/HAL.h
  Marlin/src/HAL/HAL_ESP32/HAL_timers_ESP32.cpp
  Marlin/src/HAL/HAL_ESP32/HAL_timers_ESP32.h
  Marlin/src/HAL/HAL_ESP32/WebSocketSerial.cpp
  Marlin/src/HAL/HAL_ESP32/persistent_store_spiffs.cpp
  Marlin/src/HAL/HAL_ESP32/spiffs.cpp
  Marlin/src/HAL/HAL_ESP32/web.cpp
  Marlin/src/HAL/HAL_ESP32/wifi.cpp
  Marlin/src/pins/pins_ESP32.h
Labels: A: ESP32, PR: Bug Fix, T: 32-Bit & HAL

#14109 ESP32 Servo Support
  Marlin/src/HAL/HAL_ESP32/HAL.h
  Marlin/src/HAL/HAL_ESP32/HAL_Servo_ESP32.cpp
  Marlin/src/HAL/HAL_ESP32/HAL_Servo_ESP32.h
  Marlin/src/HAL/shared/servo.cpp
  Marlin/src/HAL/shared/servo.h
Labels: A: ESP32, PR: Improvement, T: 32-Bit & HAL

#14074 Capture TMC LCD variables
  Marlin/src/Marlin.cpp
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/gcode/feature/trinamic/M911-M914.cpp
  Marlin/src/lcd/menu/menu_tmc.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/stepper_indirection.cpp
  Marlin/src/module/stepper_indirection.h
Labels: F: Trinamic, PR: Improvement

#14130 Fix thermal protection min/max issue when user thermistor used
  Marlin/src/inc/Conditionals_post.h
Labels: PR: Bug Fix

#14097 Shorten pause message for 4 line LCD
  Marlin/src/lcd/menu/menu_filament.cpp
Labels: C: LCD & Controllers, T: Suggestion

#14126 DUE HAL cleanup
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.cpp
  Marlin/src/HAL/HAL_DUE/ServoTimers.h
Labels: A: SAM3X8E, PR: General Cleanup

#14146 Fix missing include for toolchange in G29
  Marlin/src/gcode/bedlevel/abl/G29.cpp
Labels: F: Calibration

#14137 bltouch French translations
  Marlin/src/lcd/language/language_fr.h
Labels: C: Language

#14148 Fix Array SORTED_LONGNAME_MAXLEN
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: F: SD Card Printing, PR: General Cleanup

#14156 MMU2 Fix Warning about TOOLCHANGE_ZRAISE #13638
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration, PR: General Cleanup

#14134 TMC LCD follow up
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/module/stepper_indirection.h
Labels: F: Trinamic, PR: Bug Fix, PR: Improvement

#14153 Adjust tool offset menus
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: C: LCD & Controllers, PR: Improvement

#14167 Apply grace period to thermistor failure testing
  Marlin/src/module/temperature.cpp
Labels: C: Safety, PR: Improvement

#14161 correction from variable BED/CHAMBER
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Bug Fix

#14171 Clear Pausing message when resuming from M600 park
  Marlin/src/feature/pause.cpp
Labels: PR: Improvement

#14160 Fix links in templates, gcode header
  .github/issue_template.md
  Marlin/src/gcode/gcode.h
Labels: C: Documentation

#14180 STM32F1: FSMC is only available on 100/144 pins chips
  Marlin/src/HAL/HAL_STM32F1/u8g_com_stm32duino_fsmc.cpp
Labels: A: STM32, F: SD Card Printing, PR: Improvement

#14179 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#14172 ExtUI Parity with graphical LCD
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: T: Suggestion

#14185 [2.0.x] DUE USB composite device field corrections
  Marlin/src/HAL/HAL_DUE/usb/udi_composite_desc.c
  Marlin/src/HAL/HAL_DUE/usb/usb_protocol_cdc.h
Labels: PR: Improvement

#14184 Fix Archim1 SD card
  Marlin/src/HAL/HAL_DUE/spi_pins.h
Labels: A: SAM3X8E, C: Hardware/Boards, PR: Bug Fix, T: 32-Bit & HAL

#14200 fix build with DEBUG_LEVELING_FEATURE
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: PR: Bug Fix
