Repository MarlinFirmware/Marlin, pull requests merged in 2019-02, with the labels that each got.

#13058 Update pins_FORMBOT_TREX3.h
  Marlin/src/pins/pins_FORMBOT_TREX3.h
Labels: C: Hardware/Boards, PR: Bug Fix

#13063 Moved stepper settings to "Advanced Settings" menu
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: C: LCD & Controllers

#13061 TMC2130 Sensorless homing with dual stepper drivers
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
Labels: F: Trinamic, PR: Bug Fix

#13072 Velleman Vertex Delta pinout
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_K8800.h
Labels: C: Hardware/Boards

#13018 On gcode line errors the RX buffer isn't getting flushed leading to hangs
  Marlin/src/gcode/queue.cpp
Labels: C: Hosts & Protocols, PR: Bug Fix

#13015 LPC1768 HAL - Do not change chip select pin status
  Marlin/src/HAL/HAL_LPC1768/HAL_spi.cpp
Labels: A: LPC176x, PR: Bug Fix

#13013 M29 match logic was reversed
  Marlin/src/gcode/queue.cpp
Labels: F: SD Card Printing, PR: Bug Fix

#13005 [bf2] Closed Loop Control: Fixed Planner Stall
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#13086 Fix compile error with DUE + MAX6675
  Marlin/src/libs/private_spi.h
  Marlin/src/module/temperature.cpp
Labels: C: Peripherals, PR: Bug Fix

#13087 Clean up HAL_spi_Due.cpp
  Marlin/src/HAL/HAL_DUE/HAL_spi_Due.cpp
Labels: PR: General Cleanup

#13008 Support individual solenoid disable with M381
  Marlin/src/feature/solenoid.cpp
  Marlin/src/feature/solenoid.h
  Marlin/src/gcode/control/M380_M381.cpp
  Marlin/src/gcode/gcode.cpp
Labels: T: Suggestion

#12590 Add ExtUI methods to babystep probe/nozzle offsets
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, C: Motion, F: Calibration, PR: Improvement

#13099 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13100 Update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#13097 No RGB_LED with 3DFabXYZ i3
  Marlin/src/config/examples/3DFabXYZ/Migbot/Configuration.h
  Marlin/src/config/examples/3DFabXYZ/Migbot/Configuration_adv.h
Labels: PR: Configurations, PR: Improvement

#13113 Apply minimum C in M303
  Marlin/src/gcode/temperature/M303.cpp
  Marlin/src/module/temperature.cpp
Labels: F: Calibration, PR: Improvement

#13110 Update German Language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12959 [2.0.x] PoC ESP32 i2s dma
  Marlin/src/HAL/HAL_ESP32/HAL.cpp
  Marlin/src/HAL/HAL_ESP32/HAL.h
  Marlin/src/HAL/HAL_ESP32/HAL_timers_ESP32.cpp
  Marlin/src/HAL/HAL_ESP32/HAL_timers_ESP32.h
  Marlin/src/HAL/HAL_ESP32/fastio_ESP32.h
  Marlin/src/HAL/HAL_ESP32/i2s.cpp
  Marlin/src/HAL/HAL_ESP32/i2s.h
  Marlin/src/module/stepper.cpp
  Marlin/src/pins/pins_ESP32.h
  platformio.ini
Labels: A: ESP32, T: 32-Bit & HAL

#13122 [2.0.x] Updated Slovak translation
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#13123 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13125 Update German Language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#13121 [1.1.x] Fix TEMP_STAT_LED startup init
  Marlin/Marlin_main.cpp
Labels: PR: Bug Fix

#13120 [2.0.x] Fix TEMP_STAT_LED startup init
  Marlin/src/feature/leds/tempstat.cpp
Labels: PR: Bug Fix

#13119 Fix 'no PID' used define
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#13136 [Bugfix-1.0.x] Update German language
  Marlin/language_de.h
Labels: C: Language

#13137 Update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#13140 [2.0.x] Fixed compilation with MMU2_MENUS disabled
  Marlin/src/gcode/feature/pause/M600.cpp
Labels: PR: Bug Fix

#13148 Update Italian language
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13149 [1.1.x] Update German language
  Marlin/language_de.h
Labels: C: Language

#13150 [2.0.x] Update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#13163 Followup to #13039
  Marlin/src/Marlin.cpp
Labels: PR: Bug Fix

#13157 Logic errors in ultralcd.cpp
  Marlin/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13158 pins_ANET_10.h: omit re-defining pins for custom LCD I²C-LCD2004 or …
  Marlin/pins_ANET_10.h
Labels: C: Hardware/Boards, PR: Improvement

#13164 Update Italian language, fix unused var warning
  Marlin/src/Marlin.cpp
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13166 Updated BIQU SKR V1.1 pins file, with TMC2130 configuration options
  Marlin/src/pins/pins_BIQU_SKR_V1.1.h
Labels: C: Hardware/Boards, PR: Improvement

#13159 Enhancements to G425
  Marlin/src/gcode/calibrate/G425.cpp
Labels: F: Calibration, PR: Improvement

#13173 Support for Creality CR-10 5S
  Marlin/src/config/examples/Creality/CR-10_5S/Configuration.h
  Marlin/src/config/examples/Creality/CR-10_5S/Configuration_adv.h
  Marlin/src/config/examples/Creality/CR-10_5S/_Bootscreen.h
Labels: PR: Configurations

#13174 [2.0] Enable M240 G-code & changed pins [3DFabXYZ i3]
  Marlin/src/config/examples/3DFabXYZ/Migbot/Configuration_adv.h
Labels: PR: Configurations

#13187 Update Slovak language
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/menu/menu_info.cpp
Labels: C: Language

#13185 Fix compilation with one service interval
  Marlin/src/module/printcounter.cpp
Labels: PR: Bug Fix

#13190 Fix condition on tool change filament swap menu
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: C: LCD & Controllers

#13205 Update pins_FORMBOT_RAPTOR2.h
  Marlin/src/pins/pins_FORMBOT_RAPTOR2.h
Labels: C: Hardware/Boards, PR: Bug Fix

#13207 Fix host action / G-code ordering in event_probe_failure
  Marlin/src/Marlin.cpp
Labels: C: Hosts & Protocols, PR: Improvement

#13208 Fix compile error with G29 retry and recover and Host Prompt Support
  Marlin/src/gcode/gcode.cpp
Labels: C: Hosts & Protocols, PR: Bug Fix

#13135 TMC_DEBUG optimization and improvements
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/feature/L6470/M122.cpp
  Marlin/src/gcode/feature/trinamic/M122.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/stepper_indirection.cpp
Labels: C: Optimization, F: Trinamic, PR: Improvement

#13217 Fix DOGLCD_A0 pin in pins_Smoothieboard.h
  Marlin/src/pins/pins_SMOOTHIEBOARD.h
Labels: A: LPC176x, C: Hardware/Boards

#13219 Creality CR-10 S5 filament change fix
  Marlin/src/config/examples/Creality/CR-10_5S/Configuration.h
  Marlin/src/config/examples/Creality/CR-10_5S/Configuration_adv.h
Labels: C: Configuration

#13227 [1.1.x] Fix autotemp_factor menu setting
  Marlin/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13226 [2.0.0] Fix autotemp_factor menu setting
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13229 Define G21 as NOOP w/o INCH_MODE_SUPPORT (FR #13228)
  Marlin/src/gcode/gcode.cpp
Labels: C: Hosts & Protocols

#13223 Change SSD1306_OLED_I2C_CONTROLLER to HAS_SSD1306_OLED_I2C
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/pins/pins_DUE3DOM.h
  Marlin/src/pins/pins_DUE3DOM_MINI.h
  Marlin/src/pins/pins_RADDS.h
  Marlin/src/pins/pins_RURAMPS4D_11.h
  Marlin/src/pins/pins_RURAMPS4D_13.h
Labels: C: LCD & Controllers, PR: Bug Fix

#13146 HAL for Linux
  .travis.yml
  Marlin/src/HAL/HAL_LINUX/HAL.cpp
  Marlin/src/HAL/HAL_LINUX/HAL.h
  Marlin/src/HAL/HAL_LINUX/HAL_timers.cpp
  Marlin/src/HAL/HAL_LINUX/HAL_timers.h
  Marlin/src/HAL/HAL_LINUX/SanityCheck.h
  Marlin/src/HAL/HAL_LINUX/arduino.cpp
  Marlin/src/HAL/HAL_LINUX/fastio.h
  Marlin/src/HAL/HAL_LINUX/hardware/Clock.cpp
  Marlin/src/HAL/HAL_LINUX/hardware/Clock.h
  Marlin/src/HAL/HAL_LINUX/hardware/Gpio.cpp
  Marlin/src/HAL/HAL_LINUX/hardware/Gpio.h
  Marlin/src/HAL/HAL_LINUX/hardware/Heater.cpp
  Marlin/src/HAL/HAL_LINUX/hardware/Heater.h
  Marlin/src/HAL/HAL_LINUX/hardware/IOLoggerCSV.cpp
  Marlin/src/HAL/HAL_LINUX/hardware/IOLoggerCSV.h
  Marlin/src/HAL/HAL_LINUX/hardware/LinearAxis.cpp
  Marlin/src/HAL/HAL_LINUX/hardware/LinearAxis.h
  Marlin/src/HAL/HAL_LINUX/hardware/Timer.cpp
  Marlin/src/HAL/HAL_LINUX/hardware/Timer.h
  Marlin/src/HAL/HAL_LINUX/include/Arduino.h
  Marlin/src/HAL/HAL_LINUX/include/pinmapping.cpp
  Marlin/src/HAL/HAL_LINUX/include/pinmapping.h
  Marlin/src/HAL/HAL_LINUX/include/serial.h
  Marlin/src/HAL/HAL_LINUX/main.cpp
  Marlin/src/HAL/HAL_LINUX/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_LINUX/pinsDebug.h
  Marlin/src/HAL/HAL_LINUX/servo_private.h
  Marlin/src/HAL/HAL_LINUX/spi_pins.h
  Marlin/src/HAL/HAL_LINUX/watchdog.cpp
  Marlin/src/HAL/HAL_LINUX/watchdog.h
  Marlin/src/HAL/platforms.h
  Marlin/src/HAL/shared/Delay.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_RAMPS_LINUX.h
  buildroot/share/tests/DUE-tests
  buildroot/share/tests/LPC1768-tests
  buildroot/share/tests/LPC1769-tests
  buildroot/share/tests/STM32F1-tests
  buildroot/share/tests/linux_native-tests
  buildroot/share/tests/megaatmega2560-tests
  buildroot/share/tests/run_tests
  buildroot/share/tests/teensy35-tests
  platformio.ini
Labels: T: 32-Bit & HAL, T: Development

#13235 Fix spanish translations
  Marlin/language_es.h
Labels: C: Language

#13236 Update spanish translations
  Marlin/src/lcd/language/language_es.h
Labels: C: Language

#13240 Z auto level for two steppers and negative Z corrections
  Marlin/src/gcode/calibrate/G34_M422.cpp
Labels: C: Motion, PR: Bug Fix

#13241 [2.0.x] HAL_STM32 - Change include order to make SERIAL_PORT_2 work
  Marlin/src/HAL/HAL_STM32/HAL.h
Labels: A: STM32F, C: Serial Comms, PR: Bug Fix

#13234 Simplify serial port redirect
  Marlin/src/HAL/HAL_DUE/usb/sd_mmc_spi_mem.cpp
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/core/utility.h
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/gcode/config/M217.cpp
  Marlin/src/gcode/config/M92.cpp
  Marlin/src/gcode/eeprom/M500-M504.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M524_M928.cpp
  Marlin/src/gcode/stats/M31.cpp
  Marlin/src/gcode/temperature/M105.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/configuration_store.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: C: Hosts & Protocols, C: LCD & Controllers, C: Serial Comms, PR: Improvement

#13251 Revert a part from commit 562f2321d282eb16d538e6098b0155e0d91e7e4a
  Marlin/src/gcode/calibrate/G34_M422.cpp
Labels: PR: Bug Fix

#13258 Remove duplicated defines
  Marlin/src/module/configuration_store.cpp
Labels: PR: General Cleanup

#13116 Printrboard G2 support
  Marlin/src/HAL/HAL_DUE/G2_PWM.cpp
  Marlin/src/HAL/HAL_DUE/G2_PWM.h
  Marlin/src/HAL/HAL_DUE/G2_pins.h
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/Marlin.cpp
  Marlin/src/config/examples/Printrbot/PrintrboardG2/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/gcode/feature/digipot/M907-M910.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/pins_PRINTRBOARD_G2.h
Labels: C: Hardware/Boards, Needs: Discussion, Needs: Feedback, PR: New Feature, S: Don't Merge, T: 32-Bit & HAL

#13267 Bugfix 2.0.x add BIGTREE SKR V1.3 motherboard pins define
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
  Marlin/src/pins/pins_BIQU_SKR_V1.1.h
Labels: C: Hardware/Boards

#12845 UBL G29 T current position fix
  Marlin/Conditionals_post.h
  Marlin/ubl.cpp
Labels: C: LCD & Controllers, F: U.B.L., PR: Bug Fix
