Repository MarlinFirmware/Marlin, pull requests merged in 2019-09, with the labels that each got.

#15111 Split up stepper indirection
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F7/TMC2660.cpp
  Marlin/src/Marlin.cpp
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/feature/power.cpp
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/gcode/feature/L6470/M122.cpp
  Marlin/src/gcode/feature/L6470/M906.cpp
  Marlin/src/gcode/feature/L6470/M916-918.cpp
  Marlin/src/gcode/feature/trinamic/M569.cpp
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/gcode/feature/trinamic/M911-M914.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu_tmc.cpp
  Marlin/src/libs/L6470/L6470_Marlin.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/stepper/L6470.cpp
  Marlin/src/module/stepper/L6470.h
  Marlin/src/module/stepper/TMC26X.cpp
  Marlin/src/module/stepper/TMC26X.h
  Marlin/src/module/stepper/indirection.cpp
  Marlin/src/module/stepper/indirection.h
  Marlin/src/module/stepper/trinamic.cpp
  Marlin/src/module/stepper/trinamic.h
  Marlin/src/module/stepper_indirection.h
Labels: PR: General Cleanup

#15115 Add Ender-3 TMC RMS Current
  config/examples/Creality/Ender-3/Configuration_adv.h
Labels: C: Configuration, PR: Improvement

#15122 Gantry: Enable Filament Change
  config/examples/ADIMLab/Gantry v1/Configuration.h
  config/examples/ADIMLab/Gantry v1/Configuration_adv.h
  config/examples/ADIMLab/Gantry v2/Configuration.h
  config/examples/FYSETC/F6_13/Configuration_adv.h
Labels: C: Configuration, PR: Improvement

#15117 SKRmini test missing serial
  .travis.yml
  buildroot/share/tests/BIGTREE_SKR_MINI-tests
Labels: C: Build / Toolchain, PR: Improvement

#15114 Hotfix/fix readme latest tagged release
  README.md
Labels: C: Documentation

#15124 Fix Z_STEPPER_ALIGN_[XY] error message in SanityCheck.h
  Marlin/src/inc/SanityCheck.h
Labels: C: Documentation

#15126 Store EEPROM data in flash on SKR mini-E3
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_MINI_E3.h
Labels: C: Hardware/Boards, PR: Improvement

#15136 Fix Ender-3 Status Screen Logo Y Offset
  config/examples/Creality/Ender-3/_Statusscreen.h
Labels: C: LCD & Controllers

#15132 Update Spanish translation (media)
  Marlin/src/lcd/language/language_es.h
Labels: C: Language

#15131 u20: sync bltouch sample config + cleanup
  config/examples/Alfawise/U20-bltouch/Configuration_adv.h
  config/examples/Alfawise/U20/Configuration_adv.h
Labels: C: Configuration, PR: Improvement

#15130 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#15129 Update french translations, media
  Marlin/src/lcd/language/language_fr.h
Labels: C: Language

#15128 Use Flash-based EEPROM on SKR Mini E3-DIP
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_E3_DIP.h
Labels: A: STM32, C: Hardware/Boards, F: EEPROM

#15127 G34 force home if pos are not reliable
  Marlin/src/gcode/calibrate/G34_M422.cpp
Labels: F: Calibration, PR: Improvement

#15113 SAMD51 LCD support
  Marlin/src/HAL/HAL_SAMD51/HAL.h
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  Marlin/src/lcd/dogm/u8g_dev_st7920_128x64_HAL.cpp
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.h
Labels: A: SAMD51, C: LCD & Controllers, PR: Improvement

#15144 Fix "unqualified id" warning
  Marlin/src/feature/binary_protocol.h
Labels: PR: General Cleanup

#15139 Increase Default MKS MINI 12864 Init Contrast
  Marlin/src/inc/Conditionals_post.h
Labels: C: LCD & Controllers, PR: Improvement

#15154 MINIMUM_STEPPER_DIR_DELAY in LA
  Marlin/src/module/stepper.cpp
Labels: F: Linear Advance, PR: Bug Fix

#15153 Fix MKS SGEN-L Pins
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
Labels: C: Hardware/Boards, PR: Bug Fix

#15156 Apply soft limits to G2/G3 final target
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: C: Motion, PR: Bug Fix

#15157 Fix up Fysetc configs, pins. Fix menu type `float5`.
  Marlin/src/lcd/menu/menu.h
  Marlin/src/pins/stm32/pins_FYSETC_AIO_II.h
  config/examples/FYSETC/AIO_II/Configuration.h
  config/examples/FYSETC/AIO_II/Configuration_adv.h
  config/examples/FYSETC/Cheetah 1.2/BLTouch/Configuration.h
  config/examples/FYSETC/Cheetah 1.2/BLTouch/Configuration_adv.h
  config/examples/FYSETC/Cheetah 1.2/base/Configuration.h
  config/examples/FYSETC/Cheetah 1.2/base/Configuration_adv.h
  config/examples/FYSETC/Cheetah/BLTouch/Configuration.h
  config/examples/FYSETC/Cheetah/BLTouch/Configuration_adv.h
  config/examples/FYSETC/Cheetah/base/Configuration.h
  config/examples/FYSETC/Cheetah/base/Configuration_adv.h
Labels: C: Hardware/Boards, C: LCD & Controllers, PR: Bug Fix

#15100 Allow TOUCH_BUTTONS to be swapped
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: Improvement

#15162 Driver LV8729 doesn't respect MINIMUM_STEPPER_PULSE
  Marlin/src/module/stepper.h
Labels: C: Configuration

#15164 Update German language, (c)
  Marlin/src/HAL/HAL_SAMD51/Servo.cpp
  Marlin/src/HAL/HAL_SAMD51/ServoTimers.h
  Marlin/src/core/language.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/module/thermistor/thermistor_201.h
Labels: C: Language

#15165 SAMD51 include lcd library
  platformio.ini
Labels: A: SAMD51, C: LCD & Controllers

#15140 xpt2046: add useful functions for calibration
  Marlin/src/feature/touch/xpt2046.cpp
  Marlin/src/feature/touch/xpt2046.h
Labels: C: LCD & Controllers

#15166 touch mi add Y position for magnet
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
Labels: C: Motion, F: Calibration, PR: Bug Fix

#15172 Fix for RRD/CR10 LCD on STM32F1 & F4
  Marlin/src/lcd/dogm/u8g_dev_st7920_128x64_HAL.cpp
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
Labels: A: STM32, C: LCD & Controllers, PR: Bug Fix

#15171 additional inclusion removed
  Marlin/src/core/utility.cpp
Labels: PR: General Cleanup

#15181 Fix Thermistor 75
  Marlin/src/module/thermistor/thermistor_75.h
Labels: PR: Bug Fix

#14981 CHAMBER integration to GLCD
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: C: LCD & Controllers

#15193 Fix echo: for reporting TMC parameters
  Marlin/src/module/configuration_store.cpp
Labels: C: Hosts & Protocols, F: EEPROM, PR: Improvement

#15192 linux_native: fix long to int32 warnings
  Marlin/src/module/planner.cpp
Labels: PR: General Cleanup

#15190 Make more LCD strings translatable
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/lcd/extensible_ui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.cpp
Labels: C: LCD & Controllers, C: Language, PR: Improvement

#15176 M118 multiserial support
  Marlin/src/gcode/host/M118.cpp
Labels: C: Hosts & Protocols, PR: Improvement

#15188 ExtUI Timer functions should trigger from the action, not the gcode handler
  Marlin/src/gcode/stats/M75-M78.cpp
  Marlin/src/libs/stopwatch.cpp
Labels: C: Hosts & Protocols, C: LCD & Controllers, PR: Bug Fix

#15187 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#15194 Display chamber with HAS_TEMP_CHAMBER
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/module/temperature.h
Labels: C: LCD & Controllers, PR: Improvement

#15210 Remove PROMPT_INFO / PROMPT_GCODE_INFO
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/host_actions.h
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/sdcard/M24_M25.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: Hosts & Protocols

#15215 Add CR10_STOCKDISPLAY Support to SKR Mini 1.1
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_MINI_V1_1.h
Labels: C: Hardware/Boards, C: LCD & Controllers

#15214 Minor Pin Updates
  Marlin/src/pins/ramps/pins_FORMBOT_RAPTOR2.h
  Marlin/src/pins/ramps/pins_RAMPS_CREALITY.h
  Marlin/src/pins/sanguino/pins_MELZI_CREALITY.h
Labels: C: Hardware/Boards, PR: Improvement

#15213 More "zero extruders" changes
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/config/M221.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/lcd/M145.cpp
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/extensible_ui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/tool_change.cpp
Labels: PR: Coding Standards, PR: General Cleanup

#15191 Filament Width Sensor singleton
  Marlin/src/feature/filwidth.cpp
  Marlin/src/feature/filwidth.h
  Marlin/src/gcode/feature/filwidth/M404-M407.cpp
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Coding Standards, PR: General Cleanup

#15135 Improve Power-loss Recovery
  Marlin/src/Marlin.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/sdcard/M24_M25.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
Labels: Needs: Testing, PR: Improvement

#15218 Fix G90, G91, M82, M83 rel/abs modes
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/units/M82_M83.cpp
Labels: C: G-code Parser, C: Motion, PR: Bug Fix, PR: Improvement

#15209 STM32F1 Support M997 to reset FW and start a Flash
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL.h
Labels: A: STM32, PR: New Feature

#15189 Update Spanish translation
  Marlin/src/lcd/language/language_es.h
Labels: C: Language

#15258 Fix: Conditional Post Rounded Number Problem
  Marlin/src/inc/Conditionals_post.h
Labels: C: Configuration, PR: Improvement

#15253 FYSETC_MINI_12864 pins for SKR PRO 1.1
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_PRO_V1.1.h
Labels: C: Hardware/Boards

#15252 Revert "Optimize Media Menu display/scrolling (#15233)"
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/sd/SdBaseFile.cpp
  Marlin/src/sd/SdBaseFile.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Improvement

#15246 Fix MINIPANEL to use SW SPI if needed
  Marlin/ultralcd_impl_DOGM.h
Labels: C: LCD & Controllers

#15255 init: automount the SD early
  Marlin/src/Marlin.cpp
Labels: F: SD Card Printing

#15266 STM32F1: Sync SPI changes from maple master
  Marlin/src/HAL/HAL_STM32F1/SPI.cpp
  Marlin/src/HAL/HAL_STM32F1/SPI.h
Labels: A: STM32, T: 32-Bit & HAL

#15264 [SAMD51] Remove RuRamps4D
  .travis.yml
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/samd/pins_AGCM4_RURAMPS4D_13.h
  buildroot/share/tests/SAMD51_grandcentral_m4-tests
Labels: C: Hardware/Boards

#15271 Add pins for Lerdge X and K.
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_LERDGE_K.h
  Marlin/src/pins/stm32/pins_LERDGE_X.h
Labels: C: Hardware/Boards

#15280 Fix compile errors in M43 when USE_WATCHDOG undefined
  Marlin/src/gcode/config/M43.cpp
Labels: PR: Bug Fix, T: Development

#15276 Fix compilation warnings and fixes to LULZBOT_TOUCH_UI
  Marlin/src/core/macros.h
  Marlin/src/feature/pause.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/ftdi_eve_lib/extended/command_processor.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/ftdi_eve_lib/extended/unicode/unicode.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/base_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_advanced_settings.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_printing_dialog_box.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_status_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/dialog_box_base_class.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/endstop_state_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/files_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/screens.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/spinner_dialog_box.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/status_screen.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: PR: General Cleanup, PR: Improvement

#15273 Lerdge K typos
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1768/pins_GMARSH_X6_REV1.h
  Marlin/src/pins/stm32/pins_LERDGE_K.h
  Marlin/src/pins/stm32/pins_LERDGE_X.h
Labels: C: Hardware/Boards, PR: Bug Fix

#15275 SD Menu Optimization: Fix workdir and at_root not updated if user change Dir when not at ui.first_page.
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Bug Fix

#15284 Removed obsolete code in LULZBOT_TOUCH_UI
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_status_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/media_player_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/status_screen.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: C: LCD & Controllers, PR: General Cleanup

#15286 HAL_DUE build fix
  Marlin/src/HAL/HAL_DUE/usb/compiler.h
Labels: PR: Bug Fix

#15285 Upgrade BigTree SKR Pro v1.1 to latest platform ststm32
  buildroot/share/PlatformIO/boards/BigTree_SKR_Pro.json
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/stm32f4xx_hal_conf.h
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/variant.cpp
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/variant.h
  platformio.ini
Labels: A: STM32, C: Build / Toolchain, PR: Improvement

#15289 Misc changes from struct refactor
  Marlin/src/HAL/shared/Delay.h
  Marlin/src/core/enum.h
  Marlin/src/core/macros.h
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/babystep.h
  Marlin/src/feature/bedlevel/abl/abl.cpp
  Marlin/src/feature/bedlevel/bedlevel.h
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/digipot/digipot_mcp4018.cpp
  Marlin/src/feature/host_actions.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/abl/M421.cpp
  Marlin/src/gcode/bedlevel/ubl/G29.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/probe/G30.cpp
  Marlin/src/inc/MarlinConfigPre.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/fontutils.h
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/libs/least_squares_fit.h
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
  Marlin/src/module/temperature.cpp
Labels: F: Calibration, PR: General Cleanup, PR: Improvement

#15298 Update ExtUI, add test under DUE
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/extui_dgus_lcd.cpp
  Marlin/src/lcd/extui_malyan_lcd.cpp
  buildroot/share/tests/DUE-tests
Labels: C: LCD & Controllers

#15292 LULZBOT_TOUCH_UI: Fixed incompatible use of %S on non-AVR platforms
  Marlin/Makefile
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_status_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/change_filament_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/nudge_nozzle_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/screens.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/status_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/string_format.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/string_format.h
Labels: PR: Bug Fix

#15297 Graphical LCD size defines
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
Labels: C: LCD & Controllers, PR: Improvement

#15287 Clean up BIGTREE_BTT022 board definition
  buildroot/share/PlatformIO/boards/BigTree_Btt002.json
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/variant.h
Labels: A: STM32, C: Build / Toolchain, C: Hardware/Boards, PR: Improvement

#15300 Use homing and Z probe fast feedrates for endstop backoff
  Marlin/src/module/motion.cpp
Labels: F: Calibration, PR: Improvement

#15274 SKR Pro Neopixel support.
  platformio.ini
Labels: A: STM32

#15303 Allow EXTENSIBLE_UI to use JOYSTICK functionality
  Marlin/src/feature/joystick.cpp
  Marlin/src/feature/joystick.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/ftdi_eve_lib/extended/event_loop.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_confirm_home_e.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_confirm_home_xyz.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_printing_dialog_box.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_status_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/main_menu.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: Improvement

#15315 Auto Build fixes, updates
  buildroot/share/vscode/AutoBuildMarlin/README.md
  buildroot/share/vscode/AutoBuildMarlin/img/AB_icon.png
  buildroot/share/vscode/AutoBuildMarlin/img/AB_menu.png
  buildroot/share/vscode/AutoBuildMarlin/img/Activity_bar.png
  buildroot/share/vscode/AutoBuildMarlin/img/B_small.png
  buildroot/share/vscode/AutoBuildMarlin/img/C_small.png
  buildroot/share/vscode/AutoBuildMarlin/img/T_small.png
  buildroot/share/vscode/AutoBuildMarlin/img/U_small.png
  buildroot/share/vscode/AutoBuildMarlin/logo.svg
  buildroot/share/vscode/AutoBuildMarlin/media/AB.svg
  buildroot/share/vscode/AutoBuildMarlin/package-lock.json
  buildroot/share/vscode/AutoBuildMarlin/package.json
  buildroot/share/vscode/AutoBuildMarlin/resources/AB.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/AB_menu.png
  buildroot/share/vscode/AutoBuildMarlin/resources/Activity_bar.png
  buildroot/share/vscode/AutoBuildMarlin/resources/B24x24_white.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/B32x32_white.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/B48x48_dark.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/B48x48_light.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/B_small.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/Build.png
  buildroot/share/vscode/AutoBuildMarlin/resources/C32x32_white.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/C48x48_dark.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/C48x48_light.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/C_small.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/Clean.png
  buildroot/share/vscode/AutoBuildMarlin/resources/Open_Folder.png
  buildroot/share/vscode/AutoBuildMarlin/resources/Open_Marlin.png
  buildroot/share/vscode/AutoBuildMarlin/resources/T32x32_white.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/T48x48_dark.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/T48x48_light.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/Traceback.png
  buildroot/share/vscode/AutoBuildMarlin/resources/U32x32_white.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/U48x48_dark.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/U48x48_light.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/U_small.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/Upload.png
  buildroot/share/vscode/AutoBuildMarlin/resources/Ut32x32_white.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/Ut_small.svg
  buildroot/share/vscode/AutoBuildMarlin/resources/install_extensions.png
  buildroot/share/vscode/AutoBuildMarlin/resources/platformio_install.png
  buildroot/share/vscode/AutoBuildMarlin/resources/view_command_palette.png
Labels: C: Build / Toolchain

#15307 Fix BACKLASH_COMPENSATION compilation errors
  Marlin/src/feature/backlash.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/configuration_store.cpp
Labels: F: Calibration, PR: Bug Fix

#15313 Fix FILAMENT_RUNOUT_SCRIPT without ADVANCED_PAUSE_FEATURE build
  Marlin/src/feature/runout.h
Labels: PR: Bug Fix

#15331 Python3 AB compatibility
  buildroot/share/atom/auto_build.py
Labels: C: Build / Toolchain, PR: Improvement

#15317 Fix SCARA build from Arduino IDE
  Marlin/src/module/motion.h
Labels: K: SCARA, PR: Bug Fix

#15358 disable #define ARC_SUPPORT in Tevo Tornado
  config/examples/Tevo/Tornado/V1 (MKS Base)/Configuration_adv.h
  config/examples/Tevo/Tornado/V2 (MKS GEN-L)/Configuration_adv.h
Labels: PR: Configurations

#15319 Performance and cosmetic fixes to LULZBOT_TOUCH_UI
  Marlin/src/lcd/extensible_ui/lib/lulzbot/ftdi_eve_lib/extended/screen_types.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/language/language_en.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/base_numeric_adjustment_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/base_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_main_menu.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_status_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_tune_menu.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/move_axis_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/screens.h
Labels: C: LCD & Controllers, PR: Improvement

#15333 Fix retract menu crash due to unaligned access
  Marlin/src/feature/fwretract.h
Labels: PR: Improvement

#15342 Update probe_at_point comment and message
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/module/probe.cpp
Labels: PR: General Cleanup

#15329 Fix build with more than 2 Trinamic E steppers
  Marlin/src/module/stepper/trinamic.h
Labels: F: Trinamic, PR: Bug Fix

#15347 Disable PIO extra_scripts for AT90USB to prevent compile failure
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#15321 Fix includes in RAMPS_DUO and RAMPS_SMART
  Marlin/src/pins/sam/pins_RAMPS_DUO.h
  Marlin/src/pins/sam/pins_RAMPS_SMART.h
Labels: C: Hardware/Boards, PR: Bug Fix

#15257 Change MAX_OVERSHOOT_PID_AUTOTUNE from 20 to 30
  Marlin/src/module/temperature.cpp
Labels: F: Calibration, T: Suggestion

#15334 MKS_MINI fixes, simpler FYSETC RGB config, auto enable backlight
  Marlin/src/Marlin.cpp
  Marlin/src/lcd/dogm/u8g_dev_uc1701_mini12864_HAL.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
Labels: C: LCD & Controllers, PR: Bug Fix

#15318 Refactor joystick support in ExtUI
  Marlin/src/feature/joystick.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: Improvement

#15366 Remove single-time initialization for Wire
  Marlin/src/HAL/shared/eeprom_i2c.cpp
Labels: F: EEPROM, PR: Bug Fix

#15383 Do not implicitly concatenate localized strings.
  Marlin/src/core/macros.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/lcd/menu/menu_info.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/temperature.cpp
Labels: C: LCD & Controllers, C: Language, PR: Bug Fix

#15373 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#15380 Suppress compilation warnings (#15291)
  Marlin/src/HAL/HAL_DUE/usb/ctrl_access.c
  Marlin/src/HAL/HAL_DUE/usb/ctrl_access.h
  Marlin/src/HAL/HAL_DUE/usb/sd_mmc_spi_mem.h
  Marlin/src/HAL/HAL_DUE/usb/sysclk.c
  Marlin/src/HAL/HAL_DUE/usb/sysclk.h
  Marlin/src/HAL/HAL_DUE/usb/udc.c
  Marlin/src/HAL/HAL_DUE/usb/udc.h
  Marlin/src/HAL/HAL_DUE/usb/udd.h
  Marlin/src/HAL/HAL_DUE/usb/udi.h
  Marlin/src/HAL/HAL_DUE/usb/udi_cdc.c
  Marlin/src/HAL/HAL_DUE/usb/udi_cdc.h
  Marlin/src/HAL/HAL_DUE/usb/udi_msc.c
  Marlin/src/HAL/HAL_DUE/usb/udi_msc.h
  Marlin/src/HAL/HAL_DUE/usb/uotghs_device_due.c
  Marlin/src/HAL/HAL_DUE/usb/uotghs_otg.h
  Marlin/src/HAL/HAL_DUE/usb/usb_task.c
  Marlin/src/HAL/HAL_DUE/usb/usb_task.h
Labels: T: Development

#15387 Restore Host Prompt Info
  Marlin/src/Marlin.cpp
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/host_actions.h
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/sdcard/M24_M25.cpp
  Marlin/src/lcd/ultralcd.cpp
Labels: C: Hosts & Protocols

#15382 Require TMCStepper >= 0.5.0 in platformio.ini
  platformio.ini
Labels: C: Build / Toolchain, F: Trinamic

#15394 Add M997 support for SKR PRO 1.1
  Marlin/src/HAL/HAL_STM32/HAL.cpp
  Marlin/src/HAL/HAL_STM32/HAL.h
Labels: C: Hardware/Boards, PR: Improvement, T: 32-Bit & HAL

#15395 Optimize SD card reader, alpha sorting with SRAM
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extui_malyan_lcd.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: C: Optimization, F: SD Card Printing

#15404 fix german mistranslation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#15405 fix compiling error with 6 Hotends
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu.h
Labels: PR: Bug Fix

#15410 Bring Raptor pins in parity with others
  Marlin/src/pins/ramps/pins_FORMBOT_RAPTOR.h
Labels: PR: General Cleanup

#15402 fix compiling error with auto fan
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#15406 Fix Photograph Pin Sanity Check
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration, PR: Bug Fix

#15376 Add reporting to M290
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/babystep.h
  Marlin/src/gcode/motion/M290.cpp
Labels: C: Serial Comms, F: Calibration, PR: Improvement

#15374 bugfix: color gradient with 3 or more mixing-steppers
  Marlin/src/feature/mixing.h
Labels: C: Motion, PR: Improvement

#14827 Runaway menu info
  Marlin/src/HAL/HAL_DUE/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_ESP32/persistent_store_spiffs.cpp
  Marlin/src/HAL/HAL_LPC1768/persistent_store_flash.cpp
  Marlin/src/HAL/HAL_SAMD51/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_STM32/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32F1/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_TEENSY31_32/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_TEENSY35_36/persistent_store_eeprom.cpp
  Marlin/src/HAL/shared/persistent_store_api.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_info.cpp
Labels: C: LCD & Controllers, C: Safety, PR: Improvement

#15398 Allow to build the skr mini with STM32F103R(E) env
  .circleci/config.yml
  .travis.yml
  Marlin/src/core/boards.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_E3_DIP.h
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_MINI_E3.h
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_MINI_V1_1.h
  buildroot/share/PlatformIO/ldscripts/STM32F103RC_SKR_MINI.ld
  buildroot/share/PlatformIO/ldscripts/STM32F103VE_longer.ld
  buildroot/share/PlatformIO/scripts/STM32F103RC_SKR_MINI.py
  buildroot/share/PlatformIO/scripts/STM32F103RC_fysetc.py
  buildroot/share/PlatformIO/scripts/STM32F103VE_longer.py
  buildroot/share/git/mftest
  buildroot/share/tests/STM32F103CB_malyan-tests
  buildroot/share/tests/STM32F103RC_bigtree-tests
  buildroot/share/tests/STM32F103RC_bigtree_USB-tests
  buildroot/share/tests/STM32F103RC_fysetc-tests
  buildroot/share/tests/STM32F103RE-tests
  buildroot/share/tests/STM32F103VE_longer-tests
  config/examples/STM32/STM32F103RE/Configuration.h
  config/examples/STM32/stm32f103ret6/Configuration.h
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#15417 Fix build if EXTRUDERS = 0
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix

#15420 Fix small syntax issue
  Marlin/src/gcode/calibrate/G28.cpp
Labels: PR: Bug Fix

#15283 Watchdog cleanup
  Marlin/src/HAL/HAL.h
  Marlin/src/HAL/HAL_AVR/watchdog.h
  Marlin/src/HAL/HAL_DUE/watchdog.h
  Marlin/src/HAL/HAL_ESP32/watchdog.h
  Marlin/src/HAL/HAL_LINUX/HAL.h
  Marlin/src/HAL/HAL_LINUX/watchdog.cpp
  Marlin/src/HAL/HAL_LINUX/watchdog.h
  Marlin/src/HAL/HAL_LPC1768/HAL.cpp
  Marlin/src/HAL/HAL_LPC1768/HAL.h
  Marlin/src/HAL/HAL_LPC1768/watchdog.cpp
  Marlin/src/HAL/HAL_LPC1768/watchdog.h
  Marlin/src/HAL/HAL_SAMD51/watchdog.cpp
  Marlin/src/HAL/HAL_SAMD51/watchdog.h
  Marlin/src/HAL/HAL_STM32/watchdog.cpp
  Marlin/src/HAL/HAL_STM32/watchdog.h
  Marlin/src/HAL/HAL_STM32F1/watchdog.cpp
  Marlin/src/HAL/HAL_STM32F1/watchdog.h
  Marlin/src/HAL/HAL_STM32_F4_F7/watchdog.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/watchdog.h
  Marlin/src/HAL/HAL_TEENSY31_32/watchdog.h
  Marlin/src/HAL/HAL_TEENSY35_36/watchdog.h
  Marlin/src/Marlin.cpp
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/gcode/feature/L6470/M916-918.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/sd/Sd2Card.cpp
  buildroot/share/tests/megaatmega2560-tests
  platformio.ini
Labels: PR: General Cleanup

#15428 Simplify the MKS_MINI_12864 Bugfix
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/dogm/u8g_dev_uc1701_mini12864_HAL.cpp
Labels: C: LCD & Controllers, PR: Improvement
