Repository MarlinFirmware/Marlin, pull requests merged in 2019-03, with the labels that each got.

#13272 fix on board TF card cs pin on skr v1.1/v1.3
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
  Marlin/src/pins/pins_BIQU_SKR_V1.1.h
Labels: C: Hardware/Boards, PR: Bug Fix

#13281 Add M997 support and an implementation for LPC176x
  Marlin/src/HAL/HAL_LPC1768/HAL.cpp
  Marlin/src/HAL/HAL_LPC1768/HAL.h
  Marlin/src/gcode/control/M997.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
Labels: A: LPC176x

#13290 Fix for M190 - wait for Bed Temperature
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#13286 fix for wrong rangecheck in FileList::seek()
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#13284 [2.0.x] Fix stepper use before init. Add support for Ultimaker2+ Extended
  Marlin/src/config/examples/AliExpress/UM2pExt/Configuration.h
  Marlin/src/config/examples/AliExpress/UM2pExt/Configuration_adv.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/pins/pins_ULTIMAIN_2.h
Labels: F: EEPROM, PR: Bug Fix, PR: Configurations, PR: Improvement

#13282 Unused variable CS_ACTUAL_sb
  Marlin/src/feature/tmc_util.cpp
Labels: PR: General Cleanup

#13297 Add tronxy x5s 2e
  Marlin/Makefile
  Marlin/src/config/examples/Tronxy/X5S-2E/Configuration.h
  Marlin/src/config/examples/Tronxy/X5S-2E/Configuration_adv.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_TRONXY_V3_1_0.h
Labels: PR: Configurations

#13302 Fix stepper current init when HAS_MOTOR_CURRENT_PWM is used
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix

#13301 Send auto temp reports to both serial ports if available
  Marlin/src/core/serial.h
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement

#13298 Distinguish between analog/digital auto fans
  Marlin/src/HAL/HAL_AVR/fastio_1280.h
  Marlin/src/HAL/HAL_AVR/fastio_AVR.cpp
  Marlin/src/HAL/HAL_AVR/fastio_AVR.h
  Marlin/src/HAL/HAL_AVR/pinsDebug_Teensyduino.h
  Marlin/src/HAL/HAL_AVR/servo_AVR.cpp
  Marlin/src/HAL/HAL_DUE/Servo_Due.cpp
  Marlin/src/HAL/HAL_DUE/Tone.cpp
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/HAL/HAL_DUE/pinsDebug.h
  Marlin/src/HAL/HAL_ESP32/fastio_ESP32.h
  Marlin/src/HAL/HAL_LINUX/fastio.h
  Marlin/src/HAL/HAL_LPC1768/fastio.h
  Marlin/src/HAL/HAL_LPC1768/pinsDebug.h
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F7/TMC2660.cpp
  Marlin/src/HAL/HAL_STM32F7/fastio_STM32F7.h
  Marlin/src/HAL/HAL_TEENSY31_32/fastio_Teensy.h
  Marlin/src/HAL/HAL_TEENSY35_36/fastio_Teensy.h
  Marlin/src/HAL/shared/HAL_spi_L6470.cpp
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/gcode/control/M226.cpp
  Marlin/src/gcode/control/M42.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/sd/Sd2Card.cpp
Labels: Bug: Potential ?, Needs: Testing, PR: Bug Fix

#13306 Add EXTENSIBLE_UI to the list of LCD controller options
  Marlin/src/inc/SanityCheck.h
Labels: C: Build / Toolchain, PR: Improvement

#13304 Remove conditional include of printcounter.h to fix compilation issue
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: PR: Bug Fix

#13307 Fix FYSETC F6 SD card detction.
  Marlin/src/pins/pins_FYSETC_F6_13.h
Labels: C: Configuration, C: Hardware/Boards

#13294 Update criteria for PAUSE / STOP / RESUME menu items
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13311 Allow SERIAL_ECHO(LN)?PAIR to take up to 12 pairs
  Marlin/src/Marlin.cpp
  Marlin/src/core/minmax.h
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/feature/I2CPositionEncoder.h
  Marlin/src/feature/bedlevel/abl/abl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/feature/dac/stepper_dac.cpp
  Marlin/src/feature/fwretract.cpp
  Marlin/src/feature/mixing.cpp
  Marlin/src/feature/mixing.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/feature/twibus.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/printcounter.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/scara.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/sd/cardreader.cpp
Labels: C: Serial Comms, PR: General Cleanup, T: Development

#13317 Update README to make 8 bit support clearer
  README.md
Labels: C: Documentation

#13328 Return progress not only from SD Card
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13331 STM32F1 fix ADC pins define and Serial define
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL.h
Labels: A: STM32F, PR: Bug Fix, PR: Improvement

#13334 Follow up fixes to various PRs.
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/pins/pins_EINSY_RETRO.h
Labels: C: LCD & Controllers, C: Motion, PR: Bug Fix, PR: Improvement

#13344 Send notifications to ExtUI for M0/M1
  Marlin/src/Marlin.cpp
  Marlin/src/Marlin.h
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/lcd/extensible_ui/lib/example.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers

#13352 [Bug] Fix compilation isse due wait_for_user no longer volatile
  Marlin/src/feature/emergency_parser.h
Labels: PR: Bug Fix

#13350 fix 'temp_chambercurrent' was not declared in this scope error
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#13091 Software reset via panel button press
  Marlin/src/Marlin.cpp
Labels: T: Suggestion

#13356 Avoid "spontaneous heating" with printers with inverted pins on STM32F1
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
Labels: A: STM32F, PR: Bug Fix

#13362 Add support for printers with inverted fan pins
  Marlin/src/inc/Conditionals_post.h
Labels: PR: Improvement

#13369 Followup to #13344
  Marlin/src/feature/host_actions.cpp
Labels: PR: Bug Fix

#13366 Fix compile on STM32F1 with no SDIO
  Marlin/src/HAL/HAL_STM32F1/HAL_sdio_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/u8g_com_stm32duino_fsmc.cpp
Labels: A: STM32F, PR: Bug Fix, PR: Improvement

#13355 Enable defining a rotary encoder in addition to an ADC key
  Marlin/src/core/macros.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: Improvement

#13363 ExtUI Mesh Leveling Extensions
  Marlin/src/feature/bedlevel/abl/abl.cpp
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/abl/M421.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/bedlevel/ubl/M421.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  buildroot/share/tests/megaatmega2560-tests
Labels: C: LCD & Controllers, PR: Improvement

#13387 [2.0.x] Fix compilation warning on redefined 'UNUSED' macro
  Marlin/src/core/macros.h
Labels: A: STM32F, C: Build / Toolchain, PR: Improvement

#13386 Fixups for soft endstops
  Marlin/src/feature/I2CPositionEncoder.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/control/M211.cpp
  Marlin/src/gcode/feature/camera/M240.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner_bezier.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: General Cleanup, PR: Improvement

#13383 Fixes and improvements for PWM pins
  Marlin/src/HAL/HAL_AVR/fastio_AVR.h
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/HAL/HAL_ESP32/fastio_ESP32.h
  Marlin/src/HAL/HAL_LINUX/fastio.h
  Marlin/src/HAL/HAL_LPC1768/fastio.h
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F7/fastio_STM32F7.h
  Marlin/src/HAL/HAL_TEENSY31_32/fastio_Teensy.h
  Marlin/src/HAL/HAL_TEENSY35_36/fastio_Teensy.h
  Marlin/src/Marlin.cpp
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/gcode/control/M42.cpp
  Marlin/src/gcode/feature/caselight/M355.cpp
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
Labels: A: STM32F, PR: Bug Fix

#13391 resolve #13380, capability string: CHAMBER_TEMPERATURE
  Marlin/src/gcode/host/M115.cpp
Labels: C: Hosts & Protocols

#13388 Unify debugging output with debug_out.h
  Marlin/src/core/debug_out.h
  Marlin/src/core/serial.h
  Marlin/src/core/utility.cpp
  Marlin/src/core/utility.h
  Marlin/src/feature/bedlevel/abl/abl.cpp
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/calibrate/M666.cpp
  Marlin/src/gcode/control/M111.cpp
  Marlin/src/gcode/control/T.cpp
  Marlin/src/gcode/feature/L6470/M906.cpp
  Marlin/src/gcode/feature/L6470/M916-918.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/libs/L6470/L6470_Marlin.cpp
  Marlin/src/libs/L6470/L6470_Marlin.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: Coding Standards, PR: General Cleanup

#13394 Fix Pause Print message and behavior
  Marlin/src/feature/fwretract.cpp
  Marlin/src/feature/fwretract.h
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/gcode/feature/fwretract/M207-M209.cpp
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_filament.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_mmu2.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/configuration_store.cpp
Labels: C: LCD & Controllers, PR: Improvement

#13405 [2.0.x] PWM is not defined on Arduino Core STM32
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
Labels: A: STM32F, PR: Bug Fix, PR: Improvement

#13397 Fix pin assignment to KILL_PIN in MKS_MINI_12864
  Marlin/pins_RAMPS.h
Labels: PR: Bug Fix

#13411 Fixes #13410 and redeclaration BUTTON_EXISTS
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#13421 readme: ATmega1284 has 16k of SRAM
  README.md
Labels: C: Documentation

#13420 EXTUI and UBL compilation fixes
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/ubl/M421.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  config/default/Configuration_adv.h
  config/examples/3DFabXYZ/Migbot/Configuration_adv.h
  config/examples/AlephObjects/TAZ4/Configuration_adv.h
  config/examples/AliExpress/UM2pExt/Configuration_adv.h
  config/examples/Anet/A2/Configuration_adv.h
  config/examples/Anet/A2plus/Configuration_adv.h
  config/examples/Anet/A6/Configuration_adv.h
  config/examples/Anet/A8/Configuration_adv.h
  config/examples/AnyCubic/i3/Configuration_adv.h
  config/examples/ArmEd/Configuration_adv.h
  config/examples/BIBO/TouchX/cyclops/Configuration_adv.h
  config/examples/BIBO/TouchX/default/Configuration_adv.h
  config/examples/Cartesio/Configuration_adv.h
  config/examples/Creality/CR-10/Configuration_adv.h
  config/examples/Creality/CR-10S/Configuration_adv.h
  config/examples/Creality/CR-10_5S/Configuration_adv.h
  config/examples/Creality/CR-10mini/Configuration_adv.h
  config/examples/Creality/CR-8/Configuration_adv.h
  config/examples/Creality/Ender-4/Configuration_adv.h
  config/examples/Einstart-S/Configuration_adv.h
  config/examples/Felix/Configuration_adv.h
  config/examples/FolgerTech/i3-2020/Configuration_adv.h
  config/examples/Formbot/Raptor/Configuration_adv.h
  config/examples/Formbot/T_Rex_2+/Configuration_adv.h
  config/examples/Formbot/T_Rex_3/Configuration_adv.h
  config/examples/Geeetech/A10M/Configuration_adv.h
  config/examples/Geeetech/A20M/Configuration_adv.h
  config/examples/Geeetech/MeCreator2/Configuration_adv.h
  config/examples/Geeetech/Prusa i3 Pro C/Configuration_adv.h
  config/examples/Geeetech/Prusa i3 Pro W/Configuration_adv.h
  config/examples/Infitary/i3-M508/Configuration_adv.h
  config/examples/MakerParts/Configuration_adv.h
  config/examples/Malyan/M150/Configuration_adv.h
  config/examples/Malyan/M200/Configuration_adv.h
  config/examples/Micromake/C1/enhanced/Configuration_adv.h
  config/examples/Mks/Robin/Configuration_adv.h
  config/examples/Mks/Sbase/Configuration_adv.h
  config/examples/RapideLite/RL200/Configuration_adv.h
  config/examples/RigidBot/Configuration_adv.h
  config/examples/Sanguinololu/Configuration_adv.h
  config/examples/TheBorg/Configuration_adv.h
  config/examples/TinyBoy2/Configuration_adv.h
  config/examples/Tronxy/X3A/Configuration_adv.h
  config/examples/Tronxy/X5S-2E/Configuration_adv.h
  config/examples/UltiMachine/Archim1/Configuration_adv.h
  config/examples/UltiMachine/Archim2/Configuration_adv.h
  config/examples/VORONDesign/Configuration_adv.h
  config/examples/Velleman/K8200/Configuration_adv.h
  config/examples/Velleman/K8400/Configuration_adv.h
  config/examples/WASP/PowerWASP/Configuration_adv.h
  config/examples/gCreate/gMax1.5+/Configuration_adv.h
  config/examples/makibox/Configuration_adv.h
  config/examples/tvrrug/Round2/Configuration_adv.h
  config/examples/wt150/Configuration_adv.h
Labels: PR: Improvement

#13422 Followup to bl touch and ext ui
  Marlin/src/feature/bedlevel/abl/abl.h
  Marlin/src/feature/bedlevel/bedlevel.h
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bltouch.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/pins/pins_RAMPS.h
  buildroot/share/tests/DUE-tests
Labels: PR: Bug Fix

#13435 [2.0.x] Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#13438 [1.1.x] Fix German language
  Marlin/language_de.h
Labels: C: Language, PR: Bug Fix

#13440 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13441 Fix BLTouch Menus
  Marlin/src/feature/bltouch.cpp
  Marlin/src/feature/bltouch.h
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: F: BLTouch, PR: Bug Fix

#13444 [bf2] Fix Fan 0 responding to all fan speeds.
  Marlin/src/gcode/temperature/M106_M107.cpp
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#13449 Add additional ExtUI features
  Marlin/Makefile
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: Improvement

#13450 Proceed with Teensy 3.5/3.6 HAL
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.h
  buildroot/share/tests/teensy35-tests
Labels: A: MK6xF, T: 32-Bit & HAL

#13471 Disable ABL when leveling corners
  Marlin/src/lcd/menu/menu_bed_corners.cpp
Labels: C: LCD & Controllers, F: Calibration, PR: Bug Fix

#13476 Fix vtool compiler warning
  Marlin/src/feature/mixing.h
Labels: C: Build / Toolchain, PR: General Cleanup

#13473 Fix M106 for index > extruders
  Marlin/src/gcode/temperature/M106_M107.cpp
Labels: PR: Improvement

#13475 Update persistent_store_sdcard.cpp - Fix SD card as eeprom
  Marlin/src/HAL/HAL_STM32F1/persistent_store_sdcard.cpp
Labels: A: STM32F, F: EEPROM, PR: Bug Fix, T: 32-Bit & HAL

#13474 Add pins for dual z uart on skr 1.3 (fixes #13470)
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
Labels: C: Hardware/Boards, PR: Improvement

#13487 Fix compile error and squelched warnings.
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: C: Build / Toolchain, PR: Improvement

#13478 Fix UBL mesh editor on delta
  Marlin/src/lcd/menu/menu_ubl.cpp
Labels: F: U.B.L., PR: Bug Fix

#13481 [2.0.x] Due stepper & Neopixel ISR conflict (relocate DUE's stepper ISR to TC0,2)
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.cpp
  Marlin/src/HAL/HAL_DUE/HAL_timers_Due.h
Labels: Bug: Confirmed !, PR: Bug Fix, T: 32-Bit & HAL

#13479 Disable volumetric extrusion during G26
  Marlin/src/gcode/bedlevel/G26.cpp
Labels: F: Calibration, PR: Bug Fix

#13492 Fixes #13482 compiling error DEBUG_EEPROM_READWRITE
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix

#13520 Replace digitalPinHasPWM with HAS_TIMER
  Marlin/src/HAL/HAL_AVR/fastio_AVR.h
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/HAL/HAL_LINUX/fastio.h
  Marlin/src/HAL/HAL_LPC1768/fastio.h
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F7/fastio_STM32F7.h
  Marlin/src/HAL/HAL_TEENSY31_32/fastio_Teensy.h
  Marlin/src/HAL/HAL_TEENSY35_36/fastio_Teensy.h
  Marlin/src/pins/pinsDebug.h
Labels: PR: Bug Fix, PR: Improvement, T: 32-Bit & HAL

#13514 Fix Teensy 3.5/3.6 __get_primask
  Marlin/src/HAL/HAL_TEENSY35_36/HAL.h
Labels: PR: Bug Fix

#13506 [2.0.x] Fix compilation error for MKS Robin
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F1/HAL_sdio_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/u8g_com_stm32duino_fsmc.cpp
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  buildroot/share/PlatformIO/scripts/mks_robin.py
  platformio.ini
Labels: A: STM32F, PR: Bug Fix, T: 32-Bit & HAL

#13508 Quiet warning about signed to unsigned comparison.
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: C: Build / Toolchain, PR: General Cleanup

#13501 Save/restore Relative modes in Power-Loss Recovery
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
Labels: PR: Bug Fix

#13502 fix platformio.ini for MKS Robin STM32F1
  platformio.ini
Labels: A: STM32F, C: Build / Toolchain

#13519 UltraLCD enhancements (fan as percent, add backlash menu)
  Marlin/src/Marlin.cpp
  Marlin/src/core/utility.cpp
  Marlin/src/core/utility.h
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/gcode/calibrate/M425.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_backlash.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/temperature.h
Labels: C: LCD & Controllers, F: Calibration

#13516 CR10_STOCKDISPLAY support for Bigtreetech SKR V1.3
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
Labels: A: LPC176x, C: Hardware/Boards, C: LCD & Controllers, PR: Improvement

#13523 Small follow up to PR 13519
  Marlin/src/core/utility.cpp
Labels: C: LCD & Controllers

#13531 Minor optimization to ARC_SUPPORT code.
  Marlin/src/gcode/bedlevel/G26.cpp
Labels: F: Calibration, PR: Improvement
