Repository MarlinFirmware/Marlin, pull requests merged in 2019-01, with the labels that each got.

#12777 Fix M106 with SINGLENOZZLE
  Marlin/src/gcode/temperature/M106_M107.cpp
Labels: PR: Bug Fix

#12747 Misc Improvements: Respect MAX_TEMP, added status message, speed up USB init
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_st7920_hw_spi.cpp
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/sd/Sd2Card.cpp
  Marlin/src/sd/Sd2Card.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.cpp
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.h
Labels: C: LCD & Controllers, PR: Improvement

#12758 Update pins_BIQU_SKR_V1.1.h
  Marlin/src/pins/pins_BIQU_SKR_V1.1.h
Labels: C: Hardware/Boards

#12772 Allow 4 fan animation frames
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
Labels: C: LCD & Controllers, PR: Bug Fix

#12799 Fix warnings and one compilation error
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/module/temperature.h
Labels: PR: Bug Fix, PR: General Cleanup

#12753 GTM32_PRO_VB Serial and HAL fix via watchdog
  Marlin/src/HAL/HAL_STM32F1/watchdog_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/watchdog_STM32F1.h
Labels: A: STM32F, PR: Bug Fix, T: 32-Bit & HAL

#12767 Update LPC SD pins for BIQU SKR
  Marlin/src/pins/pins_BIQU_SKR_V1.1.h
Labels: C: Hardware/Boards, F: SD Card Printing, PR: Improvement

#12813 Simplify backlash compensation code.
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: C: Motion, PR: Bug Fix, PR: Improvement

#12782 [2.0.x] Implement SDIO support for STM32F1
  Marlin/src/HAL/HAL_STM32F1/HAL_sdio_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_sdio_STM32F1.h
  Marlin/src/HAL/HAL_STM32F1/SanityCheck.h
  Marlin/src/config/examples/Mks/Robin/Configuration.h
  Marlin/src/config/examples/Mks/Robin/Configuration_adv.h
  Marlin/src/pins/pins_MKS_ROBIN.h
  Marlin/src/sd/Sd2Card.cpp
  Marlin/src/sd/Sd2Card_sdio.h
  Marlin/src/sd/SdVolume.h
Labels: A: STM32F, F: SD Card Printing, PR: New Feature

#12820 fix m106 extruder & fan count
  Marlin/src/gcode/temperature/M106_M107.cpp
Labels: PR: Bug Fix

#12829 [2.0.x] remove unneeded test conditions
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
Labels: C: LCD & Controllers, PR: Bug Fix

#12823 Fix (broken) link to Install ReArm tutorial
  README.md
Labels: C: Documentation

#12822 VORON Add LCD option BEEP_ON_FEEDRATE_CHANGE
  Marlin/src/config/examples/VORONDesign/Configuration_adv.h
Labels: C: Configuration

#12869 [2.0.x] Fix errors and some compiler warnings when building for HAL_STM32 with PlatformIO
  Marlin/src/HAL/HAL_STM32/HAL.h
  Marlin/src/HAL/HAL_STM32/fastio_STM32.h
  Marlin/src/core/macros.h
  Marlin/src/pins/pins_ARMED.h
  platformio.ini
Labels: A: STM32F, C: Build / Toolchain, PR: Bug Fix, T: 32-Bit & HAL

#12856 [2.0.x] Add RUMBA32 Board
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_RUMBA32.h
Labels: C: Hardware/Boards

#12878 [LPC176x] Update PIO extrascript
  Marlin/src/HAL/HAL_LPC1768/upload_extra_script.py
  platformio.ini
Labels: A: LPC176x, C: Build / Toolchain, PR: Improvement

#12775 [2.0.x] Add MKS BASE 1.4 based printer
  Marlin/src/config/examples/3DFabXYZ/Migbot/Configuration.h
  Marlin/src/config/examples/3DFabXYZ/Migbot/Configuration_adv.h
  Marlin/src/config/examples/3DFabXYZ/Migbot/Readme.md
Labels: C: Hardware/Boards

#12876 Improve menu pause / resume
  Marlin/src/HAL/HAL_DUE/usb/sd_mmc_spi_mem.cpp
  Marlin/src/HAL/HAL_LPC1768/main.cpp
  Marlin/src/HAL/HAL_STM32F1/persistent_store_sdcard.cpp
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M524_M928.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/malyanlcd.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_sdcard.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: F: SD Card Printing, PR: Bug Fix, PR: Improvement

#12874 Make timer definition in pin files for STM32 possible
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.h
Labels: A: STM32F, PR: Improvement

#12887 Fix M24 not starting new job
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M524_M928.cpp
Labels: F: SD Card Printing, PR: Bug Fix

#12892 Rename LCD menus according to variable types
  Marlin/src/core/utility.cpp
  Marlin/src/core/utility.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_info.cpp
  Marlin/src/lcd/menu/menu_led.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
Labels: C: LCD & Controllers, PR: General Cleanup

#12889 Config files for PowerWASP Printer
  Marlin/src/config/examples/WASP/PowerWASP/Configuration.h
  Marlin/src/config/examples/WASP/PowerWASP/Configuration_adv.h
  Marlin/src/config/examples/WASP/PowerWASP/README.md
Labels: PR: Configurations

#12913 [2.0.x] Save some progmem
  Marlin/src/core/language.h
  Marlin/src/gcode/feature/caselight/M355.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
Labels: C: Optimization, PR: Improvement

#12900 CleanUp Configuration_adv.h
  Marlin/src/config/examples/3DFabXYZ/Migbot/Configuration_adv.h
  Marlin/src/config/examples/WASP/PowerWASP/Configuration_adv.h
Labels: PR: General Cleanup

#12897 [2.0.x] HAL_STM32 - Fix SD write
  Marlin/src/HAL/HAL_STM32/HAL_spi_STM32.cpp
Labels: A: STM32F, PR: Bug Fix

#12909 Fix M107 when dual-nozzles share fan (#12819)
  Marlin/src/gcode/temperature/M106_M107.cpp
Labels: PR: Bug Fix

#12919 [2.0.x] Fix case light on boot
  Marlin/src/Marlin.cpp
Labels: PR: Bug Fix

#12916 [2.0.] Update Config files with missed patches
  Marlin/src/config/examples/3DFabXYZ/Migbot/Configuration.h
Labels: PR: Configurations, PR: General Cleanup

#12894 Add STEVAL board (ST eval board STEVAL-3DP001V1)
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_STEVAL.h
Labels: C: Hardware/Boards, PR: Configurations

#12929 [2.0.x] led code reorganization
  Marlin/src/Marlin.cpp
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/leds/leds.cpp
Labels: PR: General Cleanup

#12911 MKS SBASE needs DRV8825
  Marlin/src/config/examples/Mks/Sbase/Configuration.h
Labels: PR: Configurations, PR: Improvement

#12940 Follow up fixes to #12884
  Marlin/src/feature/tmc_util.h
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: PR: Bug Fix

#12955 Fix a compile warning, etc.
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/gcode/sdcard/M20-M30_M32-M34_M524_M928.cpp
  Marlin/src/gcode/temperature/M106_M107.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: General Cleanup

#12951 [2.0.x] update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#12953 [2.0.x] update German language
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#12943 Fix chopper_timing struct datatypes and initialization
  Marlin/src/module/stepper_indirection.cpp
  Marlin/src/module/stepper_indirection.h
Labels: PR: Bug Fix

#12848 Rapide Lite 200 config, pins_RL200 for its RUMBA clone
  Marlin/Makefile
  Marlin/src/config/examples/RapideLite/RL200/Configuration.h
  Marlin/src/config/examples/RapideLite/RL200/Configuration_adv.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_CHEAPTRONICv2.h
  Marlin/src/pins/pins_RL200.h
  Marlin/src/pins/pins_RUMBA.h
Labels: C: Hardware/Boards

#12950 Add support for Arduino DUE+ADSK (Arduino DUE Shield Kit)
  Marlin/src/core/boards.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_ADSK.h
Labels: C: Hardware/Boards

#12883 Add laser control menu for non-pwm lasers
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_temperature.cpp
Labels: C: LCD & Controllers

#12965 Fix TMC compile error
  Marlin/src/module/stepper_indirection.h
Labels: F: Trinamic, PR: Bug Fix

#12956 Fix pins for Zonestar ZRIB when using ZONESTAR_LCD
  Marlin/src/pins/pins_ZRIB_V20.h
Labels: C: Hardware/Boards

#12971 Fix TMC compile issues
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/lcd/menu/menu_tmc.cpp
Labels: F: Trinamic, PR: Bug Fix

#12988 Update language_en.h
  Marlin/src/lcd/language/language_en.h
Labels: C: Language

#12987 ExtUI: Fix for fan wrapping around from 0 to 100
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: PR: Improvement

#12994 [2.0.x] update pins_STEVAL.h
  Marlin/src/pins/pins_STEVAL.h
Labels: PR: Bug Fix, PR: Configurations, T: 32-Bit & HAL

#12997 [2.0.x] Updated Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#13001 [bugfix-1.1.x] Fix the delta homing issue
  Marlin/Marlin_main.cpp
  Marlin/example_configurations/delta/Anycubic/Kossel/README.md
Labels: F: Calibration, K: Deltabot, PR: Improvement

#12991 Update Slovak translation
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#12972 Support for Anycubic I3
  Marlin/src/config/examples/AnyCubic/i3/Configuration.h
  Marlin/src/config/examples/AnyCubic/i3/Configuration_adv.h
Labels: PR: Configurations

#13006 Prevent undefined lcd_tmpfan_speed on NO_LCD_MENUS
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#13010 Endless loop of line number errors with Pronterface SD card upload
  Marlin/src/gcode/queue.cpp
Labels: C: Hosts & Protocols

#13032 Bugfix for incorrect stepper direction on reset
  Marlin/src/module/stepper.cpp
Labels: C: Motion, PR: Improvement

#13030 [2.0.x] pause cleanup
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/lcd/menu/menu_main.cpp
Labels: PR: General Cleanup

#13027 Update Cohesion3D Pins Files
  Marlin/src/pins/pins_COHESION3D_MINI.h
  Marlin/src/pins/pins_COHESION3D_REMIX.h
  platformio.ini
Labels: C: Hardware/Boards, PR: Improvement

#13035 [bugfix-2.0.x] Proper GCODE when resuming from power loss.
  Marlin/src/feature/power_loss_recovery.cpp
Labels: PR: Bug Fix

#13038 Fix single nozzle fan
  Marlin/src/gcode/temperature/M106_M107.cpp
Labels: PR: Bug Fix

#13049 Always show Tune sub-menu
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers

#13056 Move Z Probe Z Offset from Advanced to basic Configuration
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers

#13036 [bugfix-2.0.x] Updated GT2560 V3 pins
  Marlin/src/pins/pins_GT2560_V3.h
Labels: C: Hardware/Boards, PR: Improvement
