Repository MarlinFirmware/Marlin, pull requests merged in 2019-10, with the labels that each got.

#15436 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#15433 fix compile error in mmu2.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/module/motion.h
Labels: PR: Bug Fix

#15431 Use MAX_BED_POWER for heating bed outside of PID_FUNCTIONAL_RANGE
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement

#15435 Prevent duplication of PSTRs to save memory.
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_media.cpp
Labels: C: LCD & Controllers, C: Optimization

#15443 [FIX] Compiling with G26_MESH_VALIDATION but not ARC_SUPPORT fails #15426
  Marlin/src/gcode/bedlevel/G26.cpp
Labels: F: Calibration, PR: Bug Fix

#15447 fix step timer on Archim1
  Marlin/src/HAL/HAL_DUE/timers.cpp
  Marlin/src/HAL/HAL_DUE/timers.h
  Marlin/src/pins/sam/pins_ARCHIM1.h
Labels: A: SAM3X8C/E, C: Motion, PR: Bug Fix

#15445 mks_robin: missing TOUCH_CS_PIN
  Marlin/src/pins/stm32/pins_MKS_ROBIN.h
Labels: C: LCD & Controllers, PR: Improvement

#15469 Fix compile errors & temp range
  Marlin/src/module/temperature.cpp
Labels: C: Safety

#15468 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#15467 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#15463 Uniform fan speed & case light
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
Labels: C: LCD & Controllers, C: Peripherals, PR: Improvement

#15446 Fix garbage on CR10 StockDisplay when using SKR_PRO V1.1
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_PRO_V1.1.h
Labels: C: Hardware/Boards, C: LCD & Controllers

#15461 Update README.md
  README.md
Labels: A: SAMD51, C: Documentation

#15451 Allow pins overrides for SKR V1.3
  Marlin/src/pins/lpc1768/pins_BIGTREE_SKR_V1.3.h
Labels: C: Configuration, C: Hardware/Boards, PR: Improvement

#15462 Improve Malyan M200 integration
  Marlin/src/lcd/extui_malyan_lcd.cpp
  Marlin/src/pins/stm32/pins_MALYAN_M200.h
  config/examples/Malyan/M200/Configuration.h
  config/examples/Malyan/M200/Configuration_adv.h
Labels: C: LCD & Controllers, PR: Improvement

#15474 mks_robin: SD pins are not required (SDIO)
  Marlin/src/pins/stm32/pins_MKS_ROBIN.h
Labels: C: Hardware/Boards

#15477 Fix ExtUI onMeshUpdate event
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
  Marlin/src/lcd/extui_example.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#15449 Use M73 progress instead of byte position if possible
  Marlin/src/gcode/lcd/M73.cpp
  Marlin/src/lcd/ultralcd.cpp
Labels: C: G-code Parser, PR: Improvement

#15475 Fix G2/G3 workspace plane parameters
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: C: G-code Parser, C: Motion

#15452 Use lambdas in menus, where possible
  Marlin/src/Marlin.cpp
  Marlin/src/core/language.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_custom.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/lcd/menu/menu_filament.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/lcd/menu/menu_mmu2.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/lcd/menu/menu_tmc.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: LCD & Controllers, PR: Coding Standards, PR: General Cleanup

#15489 add statusscreens for A8, A8 Plus and A6
  config/examples/Anet/A6/_Statusscreen.h
  config/examples/Anet/A8/_Statusscreen.h
  config/examples/Anet/A8plus/_Statusscreen.h
Labels: PR: Configurations

#15490 Improvements and fixes to Lulzbot UI
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/ftdi_eve_lib/extended/command_processor.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/ftdi_eve_lib/extended/rgb_t.h
  Marlin/src/lcd/extensible_ui/lib/lulzbot/marlin_events.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/base_numeric_adjustment_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_main_menu.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_printing_dialog_box.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_status_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/bio_tune_menu.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/boot_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/filament_menu.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/junction_deviation_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/lock_screen.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/screens/tune_menu.cpp
  Marlin/src/lcd/extensible_ui/lib/lulzbot/theme/colors.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/temperature.h
  Marlin/src/sd/cardreader.cpp
  buildroot/share/tests/DUE-tests
Labels: C: LCD & Controllers, PR: Improvement

#15498 Fix print utf-8 & print position short manual Z move menu item
  Marlin/src/lcd/menu/menu_mixer.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers

#15505 Followup to Junction Deviation -> Classic Jerk
  Marlin/src/module/configuration_store.cpp
Labels: PR: Bug Fix

#15501 Followup to Use lambdas in menus, where possible (#15452)
  Marlin/src/lcd/menu/menu_main.cpp
Labels: PR: Bug Fix

#15507 G2 g3 fix
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: C: Motion, PR: Bug Fix

#15510 Followup g2/g3 rounding error
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: C: Motion, PR: Bug Fix

#15551 Fixed pid_autotune_menu made pid_label accessible
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: PR: Bug Fix

#15536 fixing #13467
  Marlin/src/HAL/HAL_DUE/HAL.h
Labels: A: SAM3X8C/E, C: Serial Comms, PR: Bug Fix, T: 32-Bit & HAL

#15533 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#15523 MKS Robin: fix python script for travis compat.
  .travis.yml
  buildroot/share/PlatformIO/scripts/mks_robin.py
  buildroot/share/PlatformIO/scripts/mks_robin_lite.py
  buildroot/share/PlatformIO/scripts/mks_robin_mini.py
  buildroot/share/PlatformIO/scripts/mks_robin_nano.py
Labels: A: STM32, C: Build / Toolchain

#15527 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language, PR: Bug Fix

#15560 Fix for SPI_SENSORLESS
  Marlin/src/feature/tmc_util.h
  Marlin/src/module/endstops.cpp
Labels: F: Trinamic, PR: Bug Fix

#15556 Update Spanish Translation
  Marlin/src/lcd/language/language_es.h
Labels: C: Language

#15559 elapsed time overflow warning fix
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/libs/duration_t.h
Labels: PR: Bug Fix, PR: General Cleanup

#15541 fixing #15508 Update language_pl.h
  Marlin/src/lcd/language/language_pl.h
Labels: C: Language, PR: Bug Fix

#15524 U20: update config, ts, serial, jerk, limited edit values...
  config/examples/Alfawise/U20-bltouch/Configuration.h
  config/examples/Alfawise/U20/Configuration.h
Labels: C: Configuration

#15525 FIX: Z-MIN endstop not work if...
  Marlin/src/feature/backlash.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/sam/pins_RURAMPS4D_11.h
  Marlin/src/pins/sam/pins_RURAMPS4D_13.h
Labels: F: Calibration, F: SD Card Printing, PR: Improvement

#15569 Update Polish Translation
  Marlin/src/lcd/language/language_pl.h
Labels: C: Language

#15547 Fix BLTOUCH and FAN PWM conflicts on SKR E3 boards
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
  Marlin/src/HAL/HAL_STM32F1/timers.cpp
  Marlin/src/HAL/HAL_STM32F1/timers.h
  Marlin/src/core/boards.h
  Marlin/src/feature/digipot/digipot_mcp4451.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.h
  Marlin/src/pins/mega/pins_MEGATRONICS_3.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/sanguino/pins_MELZI.h
  Marlin/src/pins/sanguino/pins_SANGUINOLOLU_11.h
  buildroot/share/tests/STM32F103RC_bigtree_USB-tests
Labels: A: STM32, F: BLTouch, PR: Bug Fix

#14437 Spindle/Laser power in planner blocks
  Marlin/src/HAL/HAL_AVR/fast_pwm.cpp
  Marlin/src/HAL/HAL_LPC1768/fast_pwm.cpp
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/lcd/menu/menu_spindle_laser.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
Labels: C: G-code Parser, PR: Improvement

#15575 Fix CUSTOM_USER_MENU_TITLE compile error (#15574)
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#15531 Enable M191
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/temperature/M141_M191.cpp
  Marlin/src/module/temperature.cpp
Labels: T: Suggestion

#15598 Fix probe manually grid position
  Marlin/src/module/probe.h
Labels: F: Calibration, PR: Bug Fix

#15594 Fix DUE HAL serial defines (#15584)
  Marlin/src/HAL/HAL_DUE/HAL.h
Labels: A: SAM3X8C/E, C: Serial Comms, PR: Bug Fix, T: 32-Bit & HAL

#15636 Fix apply_rotation function
  Marlin/src/libs/vector_3.cpp
Labels: PR: Bug Fix

#15654 Set pullup on BTN_BACK pin
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/libs/vector_3.cpp
Labels: C: LCD & Controllers, PR: Improvement

#15621 Fix undefined vars while compiling with AUTO_BED_LEVELING_UBL enabled
  Marlin/src/gcode/bedlevel/M420.cpp
Labels: PR: Bug Fix

#15637 Fix LPC176x build script for Python 3
  Marlin/src/HAL/HAL_LPC1768/upload_extra_script.py
Labels: A: LPC176x, C: Build / Toolchain

#15653 Reset position_shift on G28
  Marlin/src/module/motion.cpp
Labels: C: Motion, F: Calibration, PR: Bug Fix

#15650 Permit redundant sensor when singlenozzle
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Improvement

#15646 increased the buffer size for boards with USB serial.
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/feature/prusa_MMU2/mmu2.h
Labels: C: Serial Comms, PR: Bug Fix

#15645 env: SKRmini firmware cant be uploaded by stlink
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#15642 Fix compiler warning.
  Marlin/planner.cpp
Labels: PR: General Cleanup

#15625 FIx G92.9 not working for XYZ axis (This fix PLR Z position)
  Marlin/src/gcode/geometry/G92.cpp
Labels: PR: Bug Fix

#15640 End slow homing before moving to Z home position if applicable
  Marlin/src/gcode/calibrate/G28.cpp
Labels: F: Calibration, PR: Improvement

#15586 Allow suicide pin inverting
  Marlin/src/Marlin.cpp
  Marlin/src/Marlin.h
  Marlin/src/gcode/control/M80_M81.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_RAMPS_CREALITY.h
Labels: C: Hardware/Boards, PR: Improvement

#15606 Allow compilation with Windows Subsystem for Linux
  Marlin/src/HAL/HAL_AVR/HAL.h
  Marlin/src/core/macros.h
Labels: C: Build / Toolchain, PR: Improvement

#15661 Fix_status_screen_DOGM.cpp_compilation_error
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: PR: Bug Fix

#15493 Chitu support
  buildroot/share/PlatformIO/ldscripts/chitu_f103.ld
  buildroot/share/PlatformIO/scripts/chitu_crypt.py
  platformio.ini
Labels: A: STM32, C: Hardware/Boards

#15675 MKS Robin: restore the TFT v2.0 support (ST7789V)
  Marlin/src/pins/stm32/pins_MKS_ROBIN.h
  platformio.ini
Labels: A: STM32, C: Build / Toolchain, C: LCD & Controllers, PR: Bug Fix

#15664 Fixed false service interval expiration notification
  Marlin/src/Marlin.cpp
Labels: PR: Bug Fix

#15676 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#15666 CR-10/S/Mini & Ender-5 default TMC RMS currents
  config/examples/Creality/CR-10/Configuration_adv.h
  config/examples/Creality/CR-10S/Configuration_adv.h
  config/examples/Creality/CR-10mini/Configuration_adv.h
  config/examples/Creality/Ender-5/Configuration_adv.h
Labels: F: Trinamic, PR: Improvement

#15660 Confirm object cancellation
  Marlin/src/feature/cancel_object.cpp
  Marlin/src/feature/cancel_object.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_cancelobject.cpp
Labels: C: LCD & Controllers, PR: Improvement

#15696 Fix 3 point sanity check
  Marlin/src/inc/Conditionals_post.h
Labels: C: Configuration, PR: Bug Fix

#15704 Fix ext ui ubl method calls
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
Labels: F: Calibration, F: U.B.L., PR: Bug Fix

#15706 Sidewinder X1 uses TFT28
  config/examples/EVNOVO (Artillery)/Sidewinder X1/Configuration.h
Labels: PR: Configurations

#15714 Fans fix + FR language cosmectic update
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
Labels: C: LCD & Controllers, C: Language

#15726 Fix a typo breaking the build
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#15736 Bugfix 1.1.x Compatibility of RAMPS with Viki1 LCD
  Marlin/pins_RAMPS.h
  Marlin/ultralcd_impl_HD44780.h
Labels: PR: Bug Fix

#15734 Power Loss Recovery for volumetric extrusion
  Marlin/src/feature/power_loss_recovery.cpp
  Marlin/src/feature/power_loss_recovery.h
Labels: PR: Improvement

#15728 Fix Photo G-code CHDK_PIN trigger time
  Marlin/src/gcode/feature/camera/M240.cpp
Labels: PR: Improvement
