Repository MarlinFirmware/Marlin, pull requests merged in 2019-07, with the labels that each got.

#14455 fixes unused variable & copyright comment
  Marlin/src/HAL/HAL_DUE/InterruptVectors_Due.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/dac/stepper_dac.cpp
  Marlin/src/module/stepper_indirection.cpp
  Marlin/src/module/stepper_indirection.h
  Marlin/src/pins/pins_BIGTREE_SKR_MINI_V1_1.h
  Marlin/src/pins/pins_FYSETC_AIO_II.h
  Marlin/src/pins/pins_FYSETC_CHEETAH.h
  Marlin/src/pins/pins_JGAURORA_A5S_A1.h
  Marlin/src/pins/pins_MKS_ROBIN_MINI.h
Labels: PR: General Cleanup

#14456 menus: allow 0.025mm moves on Z axis
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el-gr.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp-kana.h
  Marlin/src/lcd/language/language_ko_KR.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt-br.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: C: LCD & Controllers, C: Motion, F: Calibration

#14457 BigTreeTech SKR Mini E3
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_BIGTREE_SKR_MINI_E3.h
  Marlin/src/pins/pins_BIGTREE_SKR_MINI_V1_1.h
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
Labels: C: Hardware/Boards

#14458 sd-eeprom: avoid duplicated settings.load()
  Marlin/src/HAL/HAL_ESP32/persistent_store_spiffs.cpp
  Marlin/src/HAL/HAL_STM32F1/persistent_store_sdcard.cpp
  Marlin/src/Marlin.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/sd/cardreader.cpp
Labels: F: EEPROM, PR: Bug Fix

#14460 Update motherboard numbering
  Marlin/Makefile
  Marlin/src/core/boards.h
Labels: PR: General Cleanup

#14461 Fix mintemp/maxtemp monitoring for thermocouples
  Marlin/src/module/temperature.cpp
Labels: C: Safety, PR: Bug Fix

#14468 Update Italian language
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#14467 Remove unused code in M100
  Marlin/src/gcode/calibrate/M100.cpp
Labels: T: Development

#14466 Squelch warnings about unused parameters.
  Marlin/src/HAL/HAL_DUE/MarlinSerialUSB_Due.cpp
  Marlin/src/HAL/HAL_DUE/usb/sd_mmc_spi_mem.cpp
  Marlin/src/HAL/HAL_DUE/usb/usb_task.c
Labels: C: Build / Toolchain, PR: General Cleanup

#14473 Add TH3D EZBoard support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_TH3D_EZBOARD.h
Labels: C: Hardware/Boards

#14471 Revert Creality3D Ender-3 & Ender-5 baudrates
  config/examples/Creality/Ender-3/Configuration.h
  config/examples/Creality/Ender-5/Configuration.h
Labels: C: Configuration

#14479 Named indices for Temperature class
  Marlin/src/gcode/temperature/M303.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Coding Standards

#14482 Update German/Italian language
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#14495 Unused SPI PIN definitions
  Marlin/src/sd/Sd2Card.h
  Marlin/src/sd/SdFatConfig.h
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.h
Labels: PR: General Cleanup

#14506 SPI defines cleanup
  Marlin/src/HAL/HAL_AVR/HAL_spi_AVR.cpp
  Marlin/src/HAL/HAL_DUE/u8g_com_HAL_DUE_shared_hw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_hw_spi.cpp
  Marlin/src/HAL/HAL_LPC1768/u8g/u8g_com_HAL_LPC1768_st7920_hw_spi.cpp
  Marlin/src/HAL/shared/HAL_SPI.h
Labels: PR: General Cleanup, T: 32-Bit & HAL

#14504 Partial #14495 revert
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.h
Labels: C: Hardware/Boards, PR: Improvement

#14503 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#14502 M43: spi channels are not pins
  Marlin/src/pins/pinsDebug_list.h
Labels: PR: Improvement

#14518 Check CASE_LIGHT_PIN
  Marlin/src/inc/SanityCheck.h
  buildroot/share/tests/megaatmega2560-tests
Labels: C: Build / Toolchain, PR: Improvement

#14514 Biqu SKR 1.1 => BigTreeTech SKR 1.1
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_BIGTREE_SKR_V1.1.h
Labels: C: Hardware/Boards, PR: Bug Fix

#14505 Feature/update gtm32 pro
  Marlin/src/pins/pins_GTM32_PRO_VB.h
Labels: A: STM32, C: Hardware/Boards

#14498 STM32F1: ignore output check for analogWrite()
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
Labels: A: STM32, PR: Bug Fix, T: 32-Bit & HAL

#14309 Pins Debugging for STM32 — NEEDS TESTING
  Marlin/src/HAL/HAL_AVR/pinsDebug.h
  Marlin/src/HAL/HAL_DUE/pinsDebug.h
  Marlin/src/HAL/HAL_LINUX/pinsDebug.h
  Marlin/src/HAL/HAL_LPC1768/pinsDebug.h
  Marlin/src/HAL/HAL_STM32/pinsDebug.h
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32GENERIC.h
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32duino.h
  Marlin/src/HAL/HAL_STM32/pins_Xref.h
  Marlin/src/HAL/HAL_STM32F1/pinsDebug.h
  Marlin/src/HAL/HAL_STM32F4/fastio_STM32F4.h
  Marlin/src/HAL/HAL_STM32F4/pinsDebug.h
  Marlin/src/HAL/HAL_STM32F7/pinsDebug.h
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/pins/pinsDebug.h
  buildroot/share/atom/auto_build.py
Labels: Needs: Discussion, Needs: Feedback, Needs: Testing, Needs: Work, PR: New Feature, S: Don't Merge, T: 32-Bit & HAL

#14499 sd-eeprom: avoid duplicated settings.load()
  Marlin/src/Marlin.cpp
  Marlin/src/module/configuration_store.h
  Marlin/src/sd/cardreader.cpp
Labels: F: EEPROM, PR: Improvement

#14526 SanityCheck Biqu SKR 1.1 => BigTree SKR 1.1
  Marlin/src/inc/SanityCheck.h
Labels: C: Build / Toolchain, PR: General Cleanup

#14527 Update Russian language - fix 2 grammatical errors
  Marlin/src/lcd/language/language_ru.h
Labels: C: Language

#14528 check defined TMC_SW_* pins
  Marlin/src/pins/pins_ARCHIM2.h
  Marlin/src/pins/pins_BIGTREE_SKR_MINI_V1_1.h
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
  Marlin/src/pins/pins_BIQU_B300_V1.0.h
  Marlin/src/pins/pins_MKS_SGEN_L.h
  Marlin/src/pins/pins_RAMPS_RE_ARM.h
Labels: C: Configuration, F: Trinamic, PR: Improvement

#14523 BigTree SKR Pro V1.1 board support
  Marlin/src/HAL/HAL_STM32/HAL.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_BIGTREE_SKR_PRO_V1.1.h
  buildroot/share/PlatformIO/boards/BigTree_SKR_Pro.json
  buildroot/share/PlatformIO/scripts/generic_create_variant.py
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/PeripheralPins.c
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/PinNamesVar.h
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/ldscript.ld
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/stm32f4xx_hal_conf.h
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/variant.cpp
  buildroot/share/PlatformIO/variants/BIGTREE_GENERIC_STM32F407_5X/variant.h
  platformio.ini
Labels: C: Hardware/Boards

#14535 Print leds go to preset rather than off at end of print
  Marlin/src/feature/leds/printer_event_leds.h
Labels: PR: Improvement

#14537 mftest: Apply test changes and optionally build
  buildroot/share/git/mftest
Labels: C: Build / Toolchain, T: Development

#14543 STM32F1/F4 SoftwareSerial sanity check
  Marlin/src/Marlin.cpp
  Marlin/src/core/drivers.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/stepper_indirection.cpp
  Marlin/src/module/stepper_indirection.h
  Marlin/src/pins/pins_BIGTREE_SKR_PRO_V1.1.h
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
  Marlin/src/pins/pins_FYSETC_F6_13.h
  Marlin/src/pins/pins_MKS_SBASE.h
  Marlin/src/pins/pins_MKS_SGEN.h
  Marlin/src/pins/pins_MKS_SGEN_L.h
  Marlin/src/pins/pins_RAMPS.h
  Marlin/src/pins/pins_RAMPS_FD_V1.h
  Marlin/src/pins/pins_RAMPS_LINUX.h
  Marlin/src/pins/pins_RAMPS_RE_ARM.h
Labels: A: STM32

#14539 Allow override of TMC_SW_* pins & anymore
  Marlin/src/pins/pins_BIGTREE_SKR_PRO_V1.1.h
Labels: A: STM32, C: Hardware/Boards, PR: Improvement

#14546 Fix Ender-2 LCD contrast
  config/examples/Creality/Ender-2/Configuration.h
Labels: C: LCD & Controllers

#14525 HAL include and other adjustments
  Marlin/src/HAL/HAL.h
  Marlin/src/HAL/HAL_AVR/HAL.h
  Marlin/src/HAL/HAL_AVR/MarlinSerial.h
  Marlin/src/HAL/HAL_AVR/endstop_interrupts.h
  Marlin/src/HAL/HAL_DUE/fastio_Due.h
  Marlin/src/HAL/HAL_LPC1768/HAL.h
  Marlin/src/HAL/HAL_STM32F1/HAL_sdio_STM32F1.cpp
  Marlin/src/HAL/HAL_TEENSY31_32/persistent_store_impl.cpp
  Marlin/src/HAL/shared/I2cEeprom.cpp
  Marlin/src/HAL/shared/SpiEeprom.cpp
  Marlin/src/core/macros.h
  Marlin/src/core/minmax.h
  Marlin/src/core/serial.h
  Marlin/src/inc/MarlinConfig.h
  Marlin/src/inc/MarlinConfigPre.h
  Marlin/src/pins/pinsDebug.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
  Marlin/src/sd/SdVolume.h
Labels: C: Build / Toolchain, T: Development

#14550 Add "GMARSH X6" board support + a number of small (mostly LPC1768 related) changes.
  Marlin/src/HAL/HAL_LPC1768/main.cpp
  Marlin/src/core/boards.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_GMARSH_X6_REV1.h
Labels: A: LPC176x, C: Hardware/Boards

#13740 BTO: Always disable heaters, configurable grace period
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/pins_BEAST.h
  Marlin/src/pins/pins_BIGTREE_SKR_MINI_E3.h
  Marlin/src/pins/pins_BIGTREE_SKR_MINI_V1_1.h
  Marlin/src/pins/pins_BIGTREE_SKR_V1.3.h
  Marlin/src/pins/pins_CHITU3D.h
  Marlin/src/pins/pins_FYSETC_AIO_II.h
  Marlin/src/pins/pins_FYSETC_CHEETAH.h
  Marlin/src/pins/pins_GEN7_12.h
  Marlin/src/pins/pins_GTM32_PRO_VB.h
  Marlin/src/pins/pins_SETHI.h
  Marlin/src/pins/pins_STM32F1R.h
  Marlin/src/pins/pins_STM32F4.h
  Marlin/src/pins/pins_STM3R_MINI.h
  Marlin/src/pins/pins_THE_BORG.h
Labels: C: Safety, PR: Improvement

#14563 Clean up STM32F4/7 EEPROM emulation
  Marlin/src/HAL/HAL_STM32F4/EEPROM_Emul/eeprom_emul.cpp
  Marlin/src/HAL/HAL_STM32F4/EEPROM_Emul/eeprom_emul.h
  Marlin/src/HAL/HAL_STM32F4/EmulatedEeprom.cpp
  Marlin/src/HAL/HAL_STM32F7/EEPROM_Emul/eeprom_emul.cpp
  Marlin/src/HAL/HAL_STM32F7/EEPROM_Emul/eeprom_emul.h
  Marlin/src/HAL/HAL_STM32F7/EmulatedEeprom.cpp
  Marlin/src/HAL/shared/I2cEeprom.cpp
Labels: PR: General Cleanup

#14554 Fix Dual X,Y,Z UART pins in relation to TMC2208/9
  Marlin/src/pins/pins.h
  buildroot/share/tests/megaatmega2560-tests
Labels: PR: Bug Fix

#14555 M43: STM32F1 warning fix and XL density timers
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32GENERIC.h
Labels: A: STM32, PR: General Cleanup

#14571 SD cleanup
  Marlin/src/sd/Sd2Card.cpp
  Marlin/src/sd/Sd2Card.h
Labels: F: SD Card Printing, PR: General Cleanup

#14566 Combine STM32F4 and STM32F7
  Marlin/src/HAL/HAL.h
  Marlin/src/HAL/HAL_DUE/HAL.h
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.cpp
  Marlin/src/HAL/HAL_STM32/HAL_timers_STM32.h
  Marlin/src/HAL/HAL_STM32/persistent_store_impl.cpp
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32GENERIC.h
  Marlin/src/HAL/HAL_STM32/watchdog_STM32.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL.h
  Marlin/src/HAL/HAL_STM32F1/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_STM32F1/watchdog_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_Servo_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/HAL_spi_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32F4/SanityCheck.h
  Marlin/src/HAL/HAL_STM32F4/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_STM32F4/pinsDebug.h
  Marlin/src/HAL/HAL_STM32F7/EEPROM_Emul/eeprom_emul.cpp
  Marlin/src/HAL/HAL_STM32F7/EEPROM_Emul/eeprom_emul.h
  Marlin/src/HAL/HAL_STM32F7/EmulatedEeprom.cpp
  Marlin/src/HAL/HAL_STM32F7/HAL.h
  Marlin/src/HAL/HAL_STM32F7/SanityCheck.h
  Marlin/src/HAL/HAL_STM32F7/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32F7/fastio_STM32F7.h
  Marlin/src/HAL/HAL_STM32F7/pinsDebug.h
  Marlin/src/HAL/HAL_STM32F7/watchdog_STM32F7.h
  Marlin/src/HAL/HAL_STM32_F4_F7/EmulatedEeprom.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/HAL.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/HAL.h
  Marlin/src/HAL/HAL_STM32_F4_F7/HAL_Servo_STM32_F4_F7.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/HAL_Servo_STM32_F4_F7.h
  Marlin/src/HAL/HAL_STM32_F4_F7/HAL_spi_STM32_F4_F7.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/HAL_timers_STM32_F4_F7.h
  Marlin/src/HAL/HAL_STM32_F4_F7/README.md
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F4/HAL_timers_STM32F4.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F4/HAL_timers_STM32F4.h
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F4/README.md
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F7/HAL_timers_STM32F7.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F7/HAL_timers_STM32F7.h
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F7/README.md
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F7/TMC2660.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F7/TMC2660.h
  Marlin/src/HAL/HAL_STM32_F4_F7/SanityCheck.h
  Marlin/src/HAL/HAL_STM32_F4_F7/eeprom_emul.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/eeprom_emul.h
  Marlin/src/HAL/HAL_STM32_F4_F7/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32_F4_F7/fastio_STM32_F4_F7.h
  Marlin/src/HAL/HAL_STM32_F4_F7/persistent_store_eeprom.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/pinsDebug.h
  Marlin/src/HAL/HAL_STM32_F4_F7/spi_pins.h
  Marlin/src/HAL/HAL_STM32_F4_F7/watchdog_STM32_F4_F7.cpp
  Marlin/src/HAL/HAL_STM32_F4_F7/watchdog_STM32_F4_F7.h
  Marlin/src/HAL/HAL_TEENSY31_32/HAL_timers_Teensy.h
  Marlin/src/HAL/shared/Marduino.h
  Marlin/src/core/serial.h
  Marlin/src/module/stepper_indirection.cpp
  Marlin/src/module/stepper_indirection.h
  platformio.ini
Labels: A: STM32, T: 32-Bit & HAL, T: Development

#14559 Wanhao Duplicator i3 Mini & Rebrands Configuration
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_WANHAO_ONEPLUS.h
  Marlin/src/pins/pins.h
  config/examples/Wanhao/Duplicator i3 Mini/Configuration.h
  config/examples/Wanhao/Duplicator i3 Mini/Configuration_adv.h
Labels: A: ATmega, PR: Configurations

#14585 Allow usage of the ADC keypad on the LPC176x boards
  Marlin/src/module/temperature.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#14584 update (c) comments
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32GENERIC.h
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32duino.h
  Marlin/src/module/thermistor/thermistor_512.h
  Marlin/src/pins/mega/pins_WANHAO_ONEPLUS.h
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_MINI_E3.h
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.cpp
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.h
  config/examples/Creality/CR-20 Pro/_Statusscreen.h
  config/examples/Creality/Ender-5/_Bootscreen.h
  config/examples/Creality/Ender-5/_Statusscreen.h
Labels: PR: General Cleanup

#14583 Fix stm32 compile error
  Marlin/src/HAL/HAL_STM32_F4_F7/STM32F7/TMC2660.cpp
Labels: A: STM32, PR: Bug Fix

#14591 Fix bug cannot reset runout by M412 if didn't enable HOST_ACTION_COMM…
  Marlin/src/gcode/feature/runout/M412.cpp
Labels: PR: Bug Fix

#14589 Dont init servo pin if not used for servo
  Marlin/src/HAL/HAL_AVR/HAL.cpp
  Marlin/src/HAL/HAL_LPC1768/main.cpp
  Marlin/src/inc/Conditionals_post.h
Labels: C: Hardware/Boards, PR: Bug Fix

#14588 Upgrade to PIO 4.0 and Python 3.7
  .travis.yml
Labels: C: Build / Toolchain

#14587 [2.0.x] Fix warnings introduced in commit 3ae3bf5 and cb60001
  Marlin/src/pins/stm32/pins_ARMED.h
Labels: C: Build / Toolchain, C: Hardware/Boards

#14621 Fix Z_PROBE_END_SCRIPT in ABL
  Marlin/src/gcode/bedlevel/abl/G29.cpp
Labels: F: Calibration, PR: Bug Fix

#14613 Update german language & etc.
  Marlin/src/HAL/HAL_AVR/pinsDebug.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/pins/stm32/pins_STM3R_MINI.h
Labels: C: Language

#14605 Ender-5 Z Tweaks
  config/examples/Creality/Ender-5/Configuration.h
  config/examples/Creality/Ender-5/Configuration_adv.h
Labels: C: Configuration, PR: Bug Fix

#14603 Fix STATUS_MESSAGE_SCROLLING in LIGHTWEIGHT_UI
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#14606 Remove upload_protocol "cmsis-dap"
  buildroot/share/PlatformIO/boards/BigTree_SKR_Pro.json
  platformio.ini
Labels: A: STM32

#14592 Esp32 HAL - fixed i2s stream, added PWM to extended pins
  Marlin/src/HAL/HAL_ESP32/HAL.cpp
  Marlin/src/HAL/HAL_ESP32/HAL_timers_ESP32.cpp
  Marlin/src/HAL/HAL_ESP32/HAL_timers_ESP32.h
  Marlin/src/HAL/HAL_ESP32/fastio_ESP32.h
  Marlin/src/HAL/HAL_ESP32/i2s.cpp
Labels: A: ESP32, PR: Bug Fix, T: 32-Bit & HAL

#14602 Fix undefined behavior in process_injected_command()
  Marlin/src/gcode/queue.cpp
Labels: C: G-code Parser, PR: Bug Fix

#14618 Allow configuration of tool change purge at runtime
  Marlin/src/gcode/config/M217.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/module/tool_change.h
Labels: PR: Improvement

#14574 Oscar (by Thinknthings of Korea) board support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_TT_OSCAR.h
Labels: A: ATmega, C: Hardware/Boards

#14597 Longer3D LK1/2 (Alfawise U20/U20+/U30) board support
  .travis.yml
  Marlin/src/core/boards.h
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_LONGER3D_LK.h
  Marlin/src/pins/stm32/pins_MKS_ROBIN.h
  Marlin/src/pins/stm32/pins_MKS_ROBIN_MINI.h
  Marlin/src/pins/stm32/pins_MKS_ROBIN_NANO.h
  buildroot/share/PlatformIO/ldscripts/alfawise_Ux0.ld
  buildroot/share/PlatformIO/scripts/alfawise_Ux0.py
  buildroot/share/tests/alfawise_U20-tests
  config/examples/Alfawise/U20/Configuration.h
  config/examples/Alfawise/U20/Configuration_adv.h
  config/examples/Alfawise/U20/_Statusscreen.h
  platformio.ini
Labels: C: Hardware/Boards

#14623 Esp32 HAL - Dynamic ADC attenuation
  Marlin/src/HAL/HAL_ESP32/HAL.cpp
Labels: A: ESP32, PR: Improvement, T: 32-Bit & HAL

#14633 Reduce Ender-5 bed size
  config/examples/Creality/Ender-5/Configuration.h
Labels: C: Configuration, PR: Bug Fix

#14632 Remove Ender-3 Readme
  config/examples/Creality/Ender-3/README.md
Labels: C: Configuration, PR: Improvement

#14631 DOGM: Avoid white flash on TFT (re)init
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
Labels: C: LCD & Controllers, PR: Improvement

#14649 Fix EXT_UI example onFilamentChange Parameter
  Marlin/src/lcd/extui_example.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#14643 Fix unused variable warnings.
  Marlin/src/lcd/extensible_ui/ui_api.cpp
Labels: PR: General Cleanup

#14642 Fix missed set of changes for G12
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/gcode/feature/clean/G12.cpp
  Marlin/src/gcode/feature/pause/G27.cpp
  Marlin/src/libs/nozzle.cpp
  Marlin/src/libs/nozzle.h
Labels: PR: Bug Fix

#14640 xpt2046: handle mks touchscreen without PenIRQ pin
  Marlin/src/feature/touch/xpt2046.cpp
  Marlin/src/feature/touch/xpt2046.h
  Marlin/src/pins/pinsDebug_list.h
Labels: C: LCD & Controllers, PR: Improvement

#14576 Tevo Tornado Configuration
  config/examples/Tevo/Tornado/V1 (MKS Base)/Configuration.h
  config/examples/Tevo/Tornado/V1 (MKS Base)/Configuration_adv.h
  config/examples/Tevo/Tornado/V2 (MKS GEN-L)/Configuration.h
  config/examples/Tevo/Tornado/V2 (MKS GEN-L)/Configuration_adv.h
  config/examples/Tevo/Tornado/_Bootscreen.h
Labels: PR: Configurations

#14661 Fix for M504 changing filament runout value #14476
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix

#14664 Update Travis to bionic, remove caching
  .travis.yml
Labels: C: Build / Toolchain, PR: Improvement

#14628 Encoder direction: Wrangle, Revert select screen change
  Marlin/src/lcd/menu/game/game.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_mixer.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, PR: Bug Fix

#14577 Tevo Michelangelo configuration
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  config/examples/Tevo/Michelangelo/Configuration.h
  config/examples/Tevo/Michelangelo/Configuration_adv.h
  config/examples/Tevo/Michelangelo/_Bootscreen.h
Labels: PR: Configurations, S: Don't Merge

#14660 Fix compile warning
  Marlin/src/lcd/ultralcd.h
Labels: PR: Bug Fix

#14639 FYSETC Mini 12864 for HAL_STM32
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  Marlin/src/pins/stm32/pins_ARMED.h
Labels: A: STM32, C: LCD & Controllers, PR: Improvement

#14638 BigTreeTech SKR E3 DIP
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_E3_DIP.h
  platformio.ini
Labels: A: STM32, C: Hardware/Boards

#14674 pio: ststm32 version for STM32F407VE + test
  .travis.yml
  buildroot/share/tests/black_stm32f407ve-tests
  config/examples/JGAurora/A1/Configuration_adv.h
  platformio.ini
Labels: A: STM32

#14677 Fix broken Flattr link for thinkyhead
  README.md
Labels: C: Documentation

#14678 Fix Sanity Check Typo
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#14644 MKS GEN v1.3/1.4 undef STAT_LED_*_PIN
  Marlin/src/pins/ramps/pins_MKS_GEN_13.h
Labels: C: Hardware/Boards

#14671 add percent & comments correction, etc.
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: General Cleanup

#14669 STM32F1: a few recent warnings fixes (dogm, spi)
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_spi_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/STM32F1_flag_script.py
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  config/examples/Alfawise/U20/Configuration.h
Labels: A: STM32, PR: General Cleanup

#14682 Fix compile errors in tool change and ExtUI
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix

#14690 Add discord link to issue template
  .github/issue_template.md
Labels: C: Documentation

#14679 STM32F1 SPI1 bugfix
  Marlin/src/HAL/HAL_STM32F1/HAL.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_spi_STM32F1.cpp
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_E3_DIP.h
  Marlin/src/pins/stm32/pins_BIGTREE_SKR_MINI_E3.h
Labels: A: STM32, PR: Bug Fix

#14696 Fix single nozzle temp change, allow extra prime to happen slower
  Marlin/src/gcode/feature/advance/M900.cpp
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, PR: Bug Fix

#14700 Fix SPI comments + U20 pins cleanup
  Marlin/src/HAL/HAL_STM32F1/HAL_spi_STM32F1.cpp
  Marlin/src/pins/stm32/pins_LONGER3D_LK.h
  config/examples/Alfawise/U20/Configuration_adv.h
Labels: C: Configuration, C: Hardware/Boards, PR: Improvement

#14698 Fix macro evaluation in temperature.cpp for MAX6675_SEPARATE_SPI
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#14699 Remove unused defines and typo fix
  Marlin/src/HAL/HAL_DUE/pinsDebug.h
  Marlin/src/HAL/HAL_LINUX/pinsDebug.h
  Marlin/src/HAL/HAL_LINUX/spi_pins.h
  Marlin/src/HAL/HAL_LPC1768/pinsDebug.h
  Marlin/src/HAL/HAL_LPC1768/spi_pins.h
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32GENERIC.h
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32duino.h
  Marlin/src/pins/pinsDebug.h
Labels: PR: General Cleanup

#14703 fix: fysetc stm32flash usage
  buildroot/share/PlatformIO/scripts/fysetc_STM32F1.py
Labels: A: STM32, C: Build / Toolchain, PR: Bug Fix

#14704 Fix compilation warnings and errors.
  Marlin/src/HAL/HAL_DUE/Servo_Due.cpp
  Marlin/src/core/language.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix, PR: General Cleanup

#14714 Fix include
  Marlin/src/core/serial.h
Labels: C: Build / Toolchain, T: 32-Bit & HAL

#14712 Fix extraneous redefine of vsnprintf_P in Marduino.h
  Marlin/src/HAL/shared/Marduino.h
Labels: T: 32-Bit & HAL

#14717 PIO Core 4 and SanityCheck
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#14736 Default TOUCH_MI_DEPLOY_XPOS to min X
  Marlin/src/module/probe.cpp
Labels: F: Z-Probes, PR: Improvement

#14735 Fix for #14733
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
Labels: C: Hardware/Boards, PR: Bug Fix

#14725 vsnprintf patch redux
  Marlin/src/HAL/shared/Marduino.h
Labels: PR: Bug Fix

#14730 add -fmerge-all-constants to melzi build flags
  platformio.ini
Labels: C: Build / Toolchain, PR: Improvement

#14729 MKS Robin Lite/Lite2 Board Support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_MKS_ROBIN_LITE.h
  buildroot/share/PlatformIO/ldscripts/mks_robin_lite.ld
  buildroot/share/PlatformIO/scripts/mks_robin_lite.py
  platformio.ini
Labels: C: Hardware/Boards

#14723 FYSETC Cheetah 1.2 board/pins definition
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_FYSETC_CHEETAH_V12.h
  config/examples/FYSETC/Cheetah 1.2/BLTouch/Configuration.h
  config/examples/FYSETC/Cheetah 1.2/BLTouch/Configuration_adv.h
  config/examples/FYSETC/Cheetah 1.2/base/Configuration.h
  config/examples/FYSETC/Cheetah 1.2/base/Configuration_adv.h
Labels: C: Hardware/Boards

#14748 Fix & cleanup EXTUI
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/lcd/extui_malyan_lcd.cpp
  Marlin/src/module/configuration_store.cpp
Labels: C: LCD & Controllers, PR: General Cleanup

#14755 Fix MKS Robin Lite Board Regression
  Marlin/src/pins/pins.h
Labels: C: Hardware/Boards, PR: Bug Fix

#14760 Fix BUZZ(ER) and cleanup
  Marlin/src/feature/pause.cpp
  Marlin/src/lcd/menu/game/brickout.cpp
  Marlin/src/lcd/menu/game/game.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_custom.cpp
  Marlin/src/lcd/menu/menu_service.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/temperature.cpp
Labels: PR: General Cleanup

#14673 Fix encoder directions, followup to PR#14628
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
Labels: C: LCD & Controllers, Needs: Discussion, PR: Bug Fix

#14772 M48 command in the status line
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: C: LCD & Controllers, F: Calibration, F: Z-Probes

#14771 Enable runout sensor in EEPROM by default
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Improvement

#14768 JGAurora A5S & A1 touch support
  Marlin/src/HAL/HAL_STM32/pinsDebug_STM32GENERIC.h
  Marlin/src/HAL/HAL_STM32F1/HAL_sdio_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/HAL_timers_STM32F1.cpp
  Marlin/src/HAL/HAL_STM32F1/dogm/u8g_com_stm32duino_fsmc.cpp
  Marlin/src/feature/touch/xpt2046.cpp
  Marlin/src/feature/touch/xpt2046.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_JGAURORA_A5S_A1.h
  config/examples/JGAurora/A1/Configuration.h
  config/examples/JGAurora/A1/Configuration_adv.h
  config/examples/JGAurora/A5S/Configuration.h
  config/examples/JGAurora/A5S/Configuration_adv.h
  platformio.ini
Labels: C: LCD & Controllers, PR: Configurations

#14782 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#14779 Fix M122 indentation
  Marlin/src/feature/tmc_util.cpp
Labels: F: Trinamic

#14776 Return 'false' on EEPROM connection fail
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix

#14785 STM32F1: gpios enum defines for the preprocessor checks
  Marlin/src/HAL/HAL_STM32F1/fastio_STM32F1.h
Labels: A: STM32, PR: Improvement

#14787 update french
  Marlin/src/lcd/language/language_fr.h
Labels: C: Language

#14792 fix compile error when ADVANCED_PAUSE_FEATURE is not defined
  Marlin/src/feature/host_actions.cpp
Labels: PR: Bug Fix
