Repository MarlinFirmware/Marlin, pull requests merged in 2020-07, with the labels that each got.

#18473 fix #18405 correct uneven parentheses
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
Labels: PR: Bug Fix

#18474 Fix FYSETC CHEETAH V12 sd re-insert bug
  Marlin/src/sd/cardreader.cpp
Labels: C: Boards/Pins, F: SD Card Printing, PR: Bug Fix

#18470 Fix #18469 menu incorrectly presumes PWM fan exists
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18438 TFT_LITTLE_VGL_UI for everyone
  Marlin/Configuration.h
  Marlin/src/HAL/STM32F1/dogm/u8g_com_stm32duino_fsmc.cpp
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/touch/xpt2046.cpp
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/lcd/extui/lib/mks_ui/W25Qxx.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_about.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_change_speed.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_error_message.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_extrusion.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_fan.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_home.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_language.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_manuaLevel.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_move_motor.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_opration.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_pause_message.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_print_file.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_set.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tool.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/gb2312_puhui16.cpp
  Marlin/src/lcd/extui/lib/mks_ui/mks_hardware_test.cpp
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.cpp
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.h
  Marlin/src/lcd/extui/lib/mks_ui/printer_opration.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_fsmc.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_multi_language.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  platformio.ini
Labels: C: LCD & Controllers, PR: Bug Fix

#18483 Allow multiple default PIDs
  Marlin/src/gcode/config/M301.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/temperature.h
Labels: C: Configuration, C: Temperatures, F: Calibration, PR: Improvement

#18465 Enforce sensor range for temperature target
  Marlin/src/MarlinCore.cpp
  Marlin/src/MarlinCore.h
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/control/M85.cpp
  Marlin/src/gcode/control/T.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/thermistor/thermistor_1.h
  Marlin/src/module/thermistor/thermistor_10.h
  Marlin/src/module/thermistor/thermistor_1010.h
  Marlin/src/module/thermistor/thermistor_1047.h
  Marlin/src/module/thermistor/thermistor_11.h
  Marlin/src/module/thermistor/thermistor_110.h
  Marlin/src/module/thermistor/thermistor_12.h
  Marlin/src/module/thermistor/thermistor_13.h
  Marlin/src/module/thermistor/thermistor_147.h
  Marlin/src/module/thermistor/thermistor_15.h
  Marlin/src/module/thermistor/thermistor_18.h
  Marlin/src/module/thermistor/thermistor_2.h
  Marlin/src/module/thermistor/thermistor_20.h
  Marlin/src/module/thermistor/thermistor_201.h
  Marlin/src/module/thermistor/thermistor_202.h
  Marlin/src/module/thermistor/thermistor_21.h
  Marlin/src/module/thermistor/thermistor_22.h
  Marlin/src/module/thermistor/thermistor_23.h
  Marlin/src/module/thermistor/thermistor_3.h
  Marlin/src/module/thermistor/thermistor_331.h
  Marlin/src/module/thermistor/thermistor_332.h
  Marlin/src/module/thermistor/thermistor_4.h
  Marlin/src/module/thermistor/thermistor_5.h
  Marlin/src/module/thermistor/thermistor_501.h
  Marlin/src/module/thermistor/thermistor_502.h
  Marlin/src/module/thermistor/thermistor_51.h
  Marlin/src/module/thermistor/thermistor_512.h
  Marlin/src/module/thermistor/thermistor_52.h
  Marlin/src/module/thermistor/thermistor_55.h
  Marlin/src/module/thermistor/thermistor_6.h
  Marlin/src/module/thermistor/thermistor_60.h
  Marlin/src/module/thermistor/thermistor_61.h
  Marlin/src/module/thermistor/thermistor_66.h
  Marlin/src/module/thermistor/thermistor_67.h
  Marlin/src/module/thermistor/thermistor_7.h
  Marlin/src/module/thermistor/thermistor_70.h
  Marlin/src/module/thermistor/thermistor_71.h
  Marlin/src/module/thermistor/thermistor_75.h
  Marlin/src/module/thermistor/thermistor_8.h
  Marlin/src/module/thermistor/thermistor_9.h
  Marlin/src/module/thermistor/thermistor_99.h
  Marlin/src/module/thermistor/thermistor_998.h
  Marlin/src/module/thermistor/thermistor_999.h
  Marlin/src/module/thermistor/thermistors.h
Labels: C: Safety, C: Temperatures, Needs: Testing, PR: Improvement

#18504 Keep filament runout pin for Creality Melzi
  Marlin/src/pins/sanguino/pins_MELZI_CREALITY.h
Labels: C: Boards/Pins, C: Peripherals

#18485 Support FYSETC 2.42 inch OLED
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/pins/ramps/pins_FYSETC_F6_13.h
Labels: C: LCD & Controllers

#18503 [FR] Set babysteps in mm
  Marlin/Configuration_adv.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_tune.cpp
Labels: C: Configuration, C: LCD & Controllers, C: Motion, F: Calibration

#18373 Simpler mesh edit loop
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/touch/xpt2046.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
Labels: C: LCD & Controllers, C: Optimization, PR: Bug Fix

#18519 Follow-up: Add FYSETC 2.42 inch OLED support (Use ANY macro instead of EITHER)
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18495 Require unix line endings on test files
  buildroot/tests/.gitattributes
Labels: C: Build / Toolchain, PR: General Cleanup

#18522 Fix axis display name in serial echo
  Marlin/src/core/types.h
Labels: C: Serial Comms, PR: Bug Fix

#18516 Fix mks_robin_nano35 PIO environment
  platformio.ini
Labels: A: STM32, PR: Bug Fix, T: 32-Bit & HAL

#18502 FIx #18501 Incorrect sanguino_atmega1284p board_upload maximum_size
  platformio.ini
Labels: A: ATmega1280, A: ATmega1284, C: Build / Toolchain

#18490 Extend M150 for individual Neopixel control
  Marlin/src/feature/leds/neopixel.cpp
  Marlin/src/feature/leds/neopixel.h
  Marlin/src/gcode/feature/leds/M150.cpp
Labels: C: Hosts & Protocols

#18532 Fast Edit PID
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers, PR: Improvement

#18541 Fix error: 'ubl' was not declared in this scope
  Marlin/src/gcode/control/M17_M18_M84.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18533 Fixes: #18525 trying to read from thermistor when there is none.
  Marlin/src/module/temperature.cpp
Labels: C: Temperatures, PR: Bug Fix, T: Development

#18552 Fix for #18545
  Marlin/src/gcode/bedlevel/abl/G29.cpp
Labels: PR: Bug Fix

#18549 Enable CI on Push (direct commits)
  .github/workflows/test-builds.yml
Labels: C: Build / Toolchain

#18554 Fix stall sensitivity adjustment for FTDI screens
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/stepper_bump_sensitivity_screen.cpp
Labels: C: LCD & Controllers, Needs: Testing, PR: Bug Fix

#18539 Fix sanitycheck fail with Extruder Auto Fans on STM32 Platform "non-constant condition for static assertion"
  Marlin/src/HAL/STM32/fastio.h
Labels: A: STM32, PR: Bug Fix, T: 32-Bit & HAL

#18537 Filament Runout Inverting now Filament Runout State
  Marlin/Configuration.h
  Marlin/src/feature/mmu2/mmu2.cpp
  Marlin/src/feature/runout.h
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/endstop_state_screen.cpp
  Marlin/src/module/endstops.cpp
Labels: C: Configuration

#18557 Fix broken POWER_LOSS_RECOVERY prompt
  Marlin/src/HAL/LPC1768/main.cpp
  Marlin/src/HAL/STM32F1/HAL.cpp
  Marlin/src/HAL/STM32F1/onboard_sd.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/sd/cardreader.cpp
Labels: F: Print Recovery, PR: Bug Fix

#18302 Lerdge S,X,K Board Support
  .github/workflows/test-builds.yml
  Marlin/src/core/boards.h
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_LERDGE_K.h
  Marlin/src/pins/stm32f4/pins_LERDGE_S.h
  Marlin/src/pins/stm32f4/pins_LERDGE_X.h
  Marlin/src/sd/usb_flashdrive/lib-uhs2/Usb.cpp
  Marlin/src/sd/usb_flashdrive/lib-uhs2/confdescparser.h
  Marlin/src/sd/usb_flashdrive/lib-uhs2/masstorage.cpp
  Marlin/src/sd/usb_flashdrive/lib-uhs2/masstorage.h
  Marlin/src/sd/usb_flashdrive/lib-uhs2/message.cpp
  Marlin/src/sd/usb_flashdrive/lib-uhs2/usb_ch9.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_BULK_STORAGE/UHS_BULK_STORAGE.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_BULK_STORAGE/UHS_BULK_STORAGE_INLINE.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_host_INLINE.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_usb_ch9.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_usbhost.h
  buildroot/share/PlatformIO/boards/LERDGE.json
  buildroot/share/PlatformIO/ldscripts/lerdge.ld
  buildroot/share/PlatformIO/scripts/copy_marlin_variant_to_framework.py
  buildroot/share/PlatformIO/scripts/lerdge.py
  buildroot/share/PlatformIO/scripts/stm32_bootloader.py
  buildroot/share/PlatformIO/variants/LERDGE/PeripheralPins.c
  buildroot/share/PlatformIO/variants/LERDGE/PinNamesVar.h
  buildroot/share/PlatformIO/variants/LERDGE/variant.cpp
  buildroot/share/PlatformIO/variants/LERDGE/variant.h
  buildroot/tests/LERDGEX-tests
  platformio.ini
Labels: C: Boards/Pins, Needs: Work

#18528 Fix coils alignment
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/module/motion.cpp
Labels: C: Motion, PR: Bug Fix

#18567 scale filament runout dist lcd menu range
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: Configuration, C: LCD & Controllers

#18564 Require TMCStepper 0.7.1 or higher
  platformio.ini
Labels: F: Trinamic, PR: Bug Fix

#18421 Temperature: Don't wait twice
  Marlin/src/module/temperature.cpp
Labels: C: Temperatures

#18580 Update ch language
  Marlin/src/lcd/language/language_zh_CN.h
Labels: C: Language

#18579 Use fix voltage instead
  Marlin/src/inc/Conditionals_adv.h
Labels: C: LCD & Controllers, PR: Improvement

#18590 Solves: #18559. Fixes two different thermistor issues from commit c43bbcc
  Marlin/src/module/temperature.cpp
  Marlin/src/module/thermistor/thermistor_1010.h
  Marlin/src/module/thermistor/thermistor_1047.h
  Marlin/src/module/thermistor/thermistor_110.h
  Marlin/src/module/thermistor/thermistor_147.h
Labels: C: Temperatures, PR: Bug Fix

#18597 Remove no more valid remark
  Marlin/Configuration.h
Labels: PR: General Cleanup

#18488 Allow from 0 to 5 preheat setups (bugfix)
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/temp/M104_M109.cpp
  Marlin/src/gcode/temp/M106_M107.cpp
  Marlin/src/gcode/temp/M140_M190.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_ko_KR.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/lcdprint.cpp
  Marlin/src/lcd/lcdprint.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_addon.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_filament.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: Configuration, C: LCD & Controllers

#18571 Add "I" option to reinitialize TMC
  Marlin/src/gcode/feature/trinamic/M122.cpp
Labels: F: Trinamic, PR: Improvement

#18602 Solves: #18313 again! Fix CMSIS / USB-FD name conflicts
  Marlin/src/sd/usb_flashdrive/lib-uhs2/Usb.cpp
  Marlin/src/sd/usb_flashdrive/lib-uhs2/confdescparser.h
  Marlin/src/sd/usb_flashdrive/lib-uhs2/masstorage.cpp
  Marlin/src/sd/usb_flashdrive/lib-uhs2/masstorage.h
  Marlin/src/sd/usb_flashdrive/lib-uhs2/message.cpp
  Marlin/src/sd/usb_flashdrive/lib-uhs2/usb_ch9.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_BULK_STORAGE/UHS_BULK_STORAGE.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_BULK_STORAGE/UHS_BULK_STORAGE_INLINE.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_host_INLINE.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_usb_ch9.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_usbhost.h
Labels: PR: Bug Fix

#18608 Chitu v6 board fix for lvgl
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
Labels: C: Boards/Pins, C: LCD & Controllers, PR: Bug Fix

#18486 Closes: #18482 Case issues with Board CHITU_F103, wont compile on Linux.
  buildroot/share/PlatformIO/boards/CHITU_F103.json
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#18424 Add failsafe endstop while homing
  Marlin/Configuration.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.cpp
  buildroot/tests/mega2560-tests
Labels: F: Calibration, PR: Improvement

#18644 Fix indexed and edit menu items
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/lcdprint.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/libs/numtostr.cpp
  Marlin/src/libs/numtostr.h
  Marlin/src/module/configuration_store.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18639 AUTO_BED_LEVELING_3POINT: Correct probe (counter/3) string output
  Marlin/src/gcode/bedlevel/abl/G29.cpp
Labels: F: Calibration, PR: Bug Fix

#18637 Improve BLTouch reliability for STM32F1 boards
  Marlin/src/HAL/STM32F1/Servo.cpp
  Marlin/src/HAL/STM32F1/timers.cpp
  Marlin/src/HAL/STM32F1/timers.h
Labels: F: BLTouch, F: Z-Probes, Needs: Testing, PR: Bug Fix

#18558 Fix some Power Loss Recovery behaviors
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/gcode/feature/powerloss/M413.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  buildroot/tests/rambo-tests
Labels: F: Print Recovery, Needs: Testing, PR: Bug Fix

#18657 More Hotend Idle Timeout fixes
  Marlin/src/feature/hotend_idle.cpp
Labels: C: Safety, C: Temperatures, PR: Improvement

#18662 New Chopper Timing Preset Option For Noisy/Vibrating 0.9 Degree Steppers #18542
  Marlin/Configuration_adv.h
  Marlin/src/feature/tmc_util.h
Labels: C: Configuration, F: Trinamic

#18674 passive thermal chamber temp fix
  Marlin/src/HAL/STM32F1/HAL.cpp
Labels: C: Temperatures, PR: Bug Fix

#18655 Anycubic I3 Mega (AI3M) extensible ui implementation
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/lcd/extui/lib/anycubic/anycubic_serial.cpp
  Marlin/src/lcd/extui/lib/anycubic/anycubic_serial.h
  Marlin/src/lcd/extui/lib/anycubic/anycubic_tft.cpp
  Marlin/src/lcd/extui/lib/anycubic/anycubic_tft.h
  Marlin/src/lcd/extui_anycubic_tft.cpp
  Marlin/src/pins/ramps/pins_TRIGORILLA_14.h
Labels: C: LCD & Controllers

#18678 Support FT81050 for FYSETC F6
  Marlin/Configuration_adv.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/pin_mappings.h
Labels: C: Boards/Pins, C: LCD & Controllers

#18680 Use dwell instead of delay for PSU_POWERUP_DELAY
  Marlin/src/feature/power.cpp
  Marlin/src/gcode/control/M80_M81.cpp
Labels: C: Peripherals, PR: Improvement

#18683 Z2 stepper config for Chitu V6 Board
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
Labels: C: Boards/Pins

#18689 Make WriteVariable respecting Endian
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.h
Labels: C: LCD & Controllers, PR: Bug Fix

#18682 Remove "Cmd:" from messages in BLTouch menu
  Marlin/Configuration_adv.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_zh_CN.h
Labels: C: LCD & Controllers, C: Language, PR: Improvement

#18695 PID Autotune UI Return to Status
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers, C: Temperatures, F: Calibration, PR: Improvement

#18700 Split DGUSDisplay into two files
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.h
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplayDef.h
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.h
  Marlin/src/lcd/extui/lib/dgus/DGUSVPVariable.h
  Marlin/src/lcd/extui/lib/dgus/fysetc/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/hiprecy/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/origin/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui_dgus_lcd.cpp
  buildroot/tests/FYSETC_F6_13-tests
Labels: C: LCD & Controllers, PR: Improvement, T: Development

#18694 Reliable encoder wheel action when reversing direction
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#18705 update zh_CN language file
  Marlin/src/lcd/dogm/fontdata/langdata_zh_CN.h
  Marlin/src/lcd/language/language_zh_CN.h
Labels: C: Language

#18703 Fix more endian WriteVariable
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.h
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.h
Labels: C: LCD & Controllers

#18702 Fix BLTouch PWM reliability in HAL/STM32
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/Servo.cpp
  Marlin/src/HAL/STM32/Servo.h
  Marlin/src/HAL/STM32/timers.cpp
  Marlin/src/HAL/STM32/timers.h
Labels: A: STM32, F: BLTouch, PR: Bug Fix

#18699 Optimize build. Only used libraries downloaded & compiled.
  Marlin/src/core/drivers.h
  Marlin/src/feature/touch/xpt2046.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/HD44780/lcdprint_hd44780.cpp
  Marlin/src/module/stepper/TMC26X.cpp
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/scripts/common-features-dependencies.h
  buildroot/share/PlatformIO/scripts/common-features-dependencies.py
  platformio.ini
Labels: C: Build / Toolchain, PR: Improvement

#18721 Fix build fail on windows
  buildroot/share/PlatformIO/scripts/common-features-dependencies.py
Labels: C: Build / Toolchain, PR: Bug Fix

#18726 Fix build in some windows path edge case
  buildroot/share/PlatformIO/scripts/common-features-dependencies.py
Labels: C: Build / Toolchain, PR: Bug Fix

#18729 Conditional build for some big folders that are linked to specific features
  buildroot/share/PlatformIO/scripts/common-features-dependencies.py
  platformio.ini
Labels: C: Build / Toolchain, C: Optimization

#18730 Specific character LCD libraries
  Marlin/src/gcode/host/M360.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.h
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/scripts/common-features-dependencies.py
  buildroot/tests/esp32-tests
  platformio.ini
Labels: C: Build / Toolchain, C: Optimization

#18743 Fix Spanish Preheat Options
  Marlin/src/lcd/language/language_es.h
Labels: C: Language

#18736 Add nozzle wipe sequence commands
  Marlin/Configuration.h
  Marlin/src/gcode/feature/clean/G12.cpp
Labels: C: Motion, PR: Improvement

#18744 Do not unnecessarily switch direction when using linear advance
  Marlin/src/module/stepper.cpp
Labels: F: Linear Advance

#18738 Reduce waits during filament change
  Marlin/src/feature/pause.cpp
Labels: C: Motion, C: Optimization

#18749 Update FYSETC AIO II board pins
  Marlin/src/pins/stm32f1/pins_FYSETC_AIO_II.h
Labels: C: Boards/Pins, F: Trinamic

#18735 Add CONTROLLER_FAN_IGNORE_Z
  Marlin/Configuration_adv.h
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/feature/mmu2/mmu2.cpp
  Marlin/src/pins/mega/pins_MIGHTYBOARD_REVE.h
  buildroot/tests/mega2560-tests
Labels: C: Configuration, PR: New Feature

#18754 Improve and simplify encoder wheel handling
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#18762 handle lib_ignore for features
  buildroot/share/PlatformIO/scripts/common-features-dependencies.py
Labels: C: Build / Toolchain

#18758 Ender 3 V2 BL24CXX EEPROM support
  Marlin/src/HAL/STM32F1/eeprom_bl24cxx.cpp
  Marlin/src/HAL/STM32F1/eeprom_if_iic.cpp
  Marlin/src/HAL/shared/eeprom_api.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/gcode/eeprom/M500-M504.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dwin/dwin.cpp
  Marlin/src/lcd/dwin/dwin.h
  Marlin/src/lcd/dwin/eeprom_BL24CXX.cpp
  Marlin/src/libs/BL24CXX.cpp
  Marlin/src/libs/BL24CXX.h
  Marlin/src/libs/hex_print_routines.cpp
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
  buildroot/tests/STM32F103RET6_creality-tests
Labels: A: STM32, C: Boards/Pins, F: EEPROM

#18763 Add Filament Out port for Creality V4 Board
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
Labels: A: STM32, C: Boards/Pins, C: Peripherals

#18737 Add menu, Pre and Post Scripts for G425
  Marlin/Configuration_adv.h
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: C: LCD & Controllers, F: Calibration, PR: New Feature

#18779 Build fail on Docker without GCC
  buildroot/share/PlatformIO/scripts/common-features-dependencies.h
  buildroot/share/PlatformIO/scripts/common-features-dependencies.py
Labels: C: Build / Toolchain, C: Optimization, PR: Bug Fix, PR: Improvement

#18785 Close filament change dialog on host
  Marlin/src/feature/pause.cpp
Labels: C: Hosts & Protocols, C: LCD & Controllers, PR: Bug Fix

#18784 Fix MKS Robin Nano V2 build / upload
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/mks_hardware_test.cpp
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.cpp
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.h
  Marlin/src/pins/pins.h
  platformio.ini
Labels: C: Boards/Pins, C: Build / Toolchain, PR: Bug Fix

#18793 PWM_PIN is not necessarily available at compile time.
  Marlin/src/inc/SanityCheck.h
Labels: C: Build / Toolchain, PR: Bug Fix

#18792 Prevent ESP3D_WIFISUPPORT with non-ESP32 board
  Marlin/src/inc/SanityCheck.h
Labels: C: Build / Toolchain, C: Configuration, PR: Improvement

#18786 Add Extruders 0 as valid option in comments
  Marlin/Configuration.h
Labels: C: Configuration, PR: Improvement

#18808 update pull 18792
  Marlin/src/inc/SanityCheck.h
Labels: A: ESP32, C: Configuration, C: Peripherals

#18810 fix bogus output in print_xyz()
  Marlin/src/core/serial.cpp
Labels: C: Serial Comms, PR: Bug Fix

#18811 [2.0.x] DELTA + TMC + sensorless homing + SPI endstops
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.h
Labels: C: Motion, F: Calibration, F: Trinamic, K: Deltabot, PR: Bug Fix

#18819 Fix links to secure sites / Updated moved ressources
  LICENSE
  Marlin/src/HAL/DUE/HAL.cpp
  Marlin/src/HAL/ESP32/ota.cpp
  Marlin/src/HAL/STM32/SoftwareSerial.cpp
  Marlin/src/HAL/shared/backtrace/unwarmbytab.cpp
  Marlin/src/feature/dac/dac_mcp4728.cpp
  Marlin/src/gcode/motion/G5.cpp
  buildroot/share/vscode/avrdude.conf
  buildroot/share/vscode/avrdude_linux.conf
  buildroot/share/vscode/avrdude_macOS.conf
  platformio.ini
Labels: C: Documentation, PR: Improvement

#18823 Added TEMP_PROBE_PIN for Einsy Rambo
  Marlin/src/pins/rambo/pins_EINSY_RAMBO.h
Labels: C: Peripherals, C: Temperatures, F: Z-Probes

#18824 Fix compile error with NEOPIXEL_LED w/o PRINTER_EVENT_LEDS
  Marlin/src/inc/Conditionals_LCD.h
Labels: C: Peripherals, PR: Bug Fix

#18832 [Bugfix] Disable DEBUG that affect Z DIR - Mks Robin Nano v2
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
Labels: C: Boards/Pins, PR: Bug Fix

#18836 [SAMD51] uniform HAL to other
  Marlin/src/HAL/SAMD51/endstop_interrupts.h
Labels: PR: General Cleanup

#18841 Makes Cancel Object Numbers on statusscreen and menu corresponding to each other
  Marlin/src/feature/cancel_object.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18828 Clarify Nozzle-to-Probe offset
  Marlin/Configuration.h
Labels: C: Documentation

#18817 SPI Emulated DOGM (like FSMC_GRAPHICAL_TFT, but SPI)
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/STM32F1/SPI.h
  Marlin/src/HAL/STM32F1/dogm/u8g_com_stm32duino_hwspi.cpp
  Marlin/src/feature/touch/xpt2046.cpp
  Marlin/src/feature/touch/xpt2046.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
Labels: C: LCD & Controllers

#18827 remove need for HEATER_0_PIN if EXTRUDERS is 0
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration, PR: Bug Fix
