Repository MarlinFirmware/Marlin, pull requests merged in 2020-05, with the labels that each got.

#17805 Set Timer Overrides for M200 V1 and V2.
  Marlin/src/HAL/STM32/timers.cpp
  Marlin/src/HAL/STM32/timers.h
  Marlin/src/pins/stm32f0/pins_MALYAN_M300.h
  Marlin/src/pins/stm32f1/pins_MALYAN_M200.h
Labels: A: STM32, C: Hardware/Boards, PR: Improvement, T: 32-Bit & HAL

#17818 UI and stall reset for extra TMC axes
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/stepper_bump_sensitivity_screen.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
  Marlin/src/lcd/menu/menu_tmc.cpp
  Marlin/src/module/stepper/trinamic.cpp
Labels: C: LCD & Controllers, F: Trinamic, PR: Improvement

#17803 Clean up EEPROM
  Marlin/src/HAL/DUE/eeprom_flash.cpp
  Marlin/src/HAL/DUE/eeprom_if_flash.cpp
  Marlin/src/HAL/LPC1768/eeprom_wired.cpp
  Marlin/src/HAL/STM32/eeprom_wired.cpp
  Marlin/src/HAL/STM32_F4_F7/eeprom_flash.cpp
  Marlin/src/HAL/STM32_F4_F7/eeprom_wired.cpp
  Marlin/src/HAL/shared/eeprom_if_i2c.cpp
  Marlin/src/HAL/shared/eeprom_if_spi.cpp
Labels: F: EEPROM, PR: General Cleanup

#17834 Fix ExtUI compilation errors
  Marlin/src/lcd/extui_example.cpp
  Marlin/src/lcd/extui_malyan_lcd.cpp
Labels: C: LCD & Controllers

#17826 fix bug in operator overloading in Marlin/src/core/types.h
  Marlin/src/core/types.h
Labels: PR: Bug Fix

#17821 Add LONG_FILENAME_HOST_SUPPORT (M33) reporting in M115
  Marlin/src/gcode/host/M115.cpp
Labels: C: Hosts & Protocols

#17831 Fix broken STM32 builds when using TMC 2208/9 drivers
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/timers.cpp
  Marlin/src/HAL/STM32/timers.h
  buildroot/share/tests/BIGTREE_BTT002-tests
  buildroot/share/tests/BIGTREE_SKR_PRO-tests
  platformio.ini
Labels: A: STM32, F: Trinamic, PR: Bug Fix, T: 32-Bit & HAL

#17825 Fix compilation on Archim boards; Fix mismatch parens
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/config.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/basic/spi.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/basic/spi.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/advanced_settings_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/tune_menu.cpp
  Marlin/src/lcd/extui_dgus_lcd.cpp
Labels: PR: Bug Fix

#17833 fix: PTC_PARK_POS usage
  Marlin/src/feature/probe_temp_comp.cpp
Labels: C: Peripherals, PR: Bug Fix

#17820 Fix for: [FR] allow configuration of PSU pins for BOARD_RAMPS_CREALITY #17725
  Marlin/src/pins/ramps/pins_RAMPS_CREALITY.h
Labels: C: Hardware/Boards, PR: Improvement

#17806 Thermistor tables 22 and 23 for Rostock 301
  Marlin/Configuration.h
  Marlin/src/module/thermistor/thermistor_22.h
  Marlin/src/module/thermistor/thermistor_23.h
  Marlin/src/module/thermistor/thermistors.h
Labels: C: Peripherals

#17790 Support for Ortur 4.3 mainboard
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_ORTUR_4.h
Labels: C: Hardware/Boards

#17797 Support GT2560 3rd extruder
  Marlin/src/pins/mega/pins_GT2560_V3.h
  Marlin/src/pins/mega/pins_GT2560_V3_A20.h
Labels: A: ATmega2560, C: Hardware/Boards, PR: Improvement

#17763 [fix] Frequency limit factor
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#17817 Improve JD acosx implementation
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: C: Motion, C: Optimization, PR: Improvement

#17800 [FIX] ADD Follow up ToolMigration/Autotemp/fanspeed
  Marlin/src/module/temperature.cpp
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, C: Temperatures, PR: Bug Fix, PR: Improvement

#17874 Fix for undefined constants; squelch unused variable warnings; touch UI fixes.
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/basic/spi.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/base_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/endstop_state_screen.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/sd/cardreader.h
Labels: C: LCD & Controllers, PR: Bug Fix

#17865 Update platform.io for Fysetc S6 compilation
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#17855 Fix Malyan Extui (printer crash)
  Marlin/src/lcd/extui_malyan_lcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#17840 Malyan M200 V2
  Marlin/src/core/boards.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/marlin_events.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui_dgus_lcd.cpp
  Marlin/src/lcd/extui_malyan_lcd.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f0/pins_MALYAN_M200_V2.h
  Marlin/src/pins/stm32f1/pins_MALYAN_M200.h
  buildroot/share/PlatformIO/boards/malyanM200.json
  buildroot/share/PlatformIO/boards/malyanM200v2.json
  platformio.ini
Labels: C: Hardware/Boards

#17846 Fix acosx condition
  Marlin/src/module/planner.cpp
Labels: C: Motion, PR: Bug Fix

#17858 Added USE_SHARED_EEPROM for LPC HAL
  Marlin/src/HAL/LPC1768/inc/Conditionals_post.h
Labels: A: LPC176x, F: EEPROM, PR: Bug Fix, T: 32-Bit & HAL

#17842 Force unix-style line endings for testing scripts
  buildroot/bin/.gitattributes
  buildroot/share/tests/.gitattributes
Labels: C: Build / Toolchain, PR: Improvement

#17879 Fix for calling incorrect method.
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/marlin_events.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#17877 Decrease `MIN_COOLING_SLOPE_DEG_BED`
  Marlin/src/module/temperature.cpp
Labels: C: Temperatures, PR: Improvement

#17827 Update README.md for STM32F4 and STM32F1 boards in bugfix 2.0
  README.md
Labels: C: Documentation

#17861 Add Mightyboard Mega env
  platformio.ini
Labels: A: ATmega1280, A: ATmega2560, C: Hardware/Boards

#17759 More FTDI EVE fixes (RAMPS, Cheetah)
  Marlin/Configuration_adv.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/pin_mappings.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/stm32f1/pins_FYSETC_CHEETAH.h
Labels: C: LCD & Controllers

#17888 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#16741 Extended reporting WIP
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/HAL.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/serial.cpp
  Marlin/src/feature/host_actions.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/control/M111.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/host/M360.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/ultralcd.cpp
  buildroot/share/tests/esp32-tests
Labels: C: Hosts & Protocols, Needs: Work, PR: New Feature

#17882 Fix pins alias in Cheetah
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/pin_mappings.h
  Marlin/src/pins/stm32f1/pins_FYSETC_CHEETAH.h
Labels: C: Hardware/Boards, PR: Bug Fix

#17893 Fix: add missing EOL in M503 reporting for Stepper current (M906)
  Marlin/src/module/configuration_store.cpp
Labels: C: Hosts & Protocols, F: EEPROM, PR: Bug Fix

#17909 Fix unused sp_helper warning in trinamic.cpp
  Marlin/src/core/drivers.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/stepper/trinamic.cpp
  buildroot/share/tests/STM32F103RC_btt-tests
  buildroot/share/tests/STM32F103RE_btt-tests
Labels: C: Build / Toolchain, F: Trinamic, PR: General Cleanup

#17908 Add TMCStepper support for MKS Robin Pro
  .github/workflows/test-builds.yml
  buildroot/share/tests/mks_robin_pro-tests
  platformio.ini
Labels: C: Build / Toolchain, C: Hardware/Boards, F: Trinamic, PR: Improvement

#17901 DGUS bugfix
  Marlin/Configuration.h
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extui/lib/dgus/fysetc/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/hiprecy/DGUSDisplayDef.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#17897 UBL: do not skip grid display on mesh edit
  Marlin/src/lcd/menu/menu_ubl.cpp
Labels: C: LCD & Controllers, F: Calibration, F: U.B.L., PR: Bug Fix

#17933 Remove extraneous commas in M115_GEOMETRY_REPORT
  Marlin/src/gcode/host/M115.cpp
Labels: C: Hosts & Protocols, PR: Bug Fix

#17929 Update Galician language
  Marlin/src/lcd/language/language_gl.h
Labels: C: Language

#17928 Remove M73 doesn't work on SD print comment
  Marlin/src/gcode/lcd/M73.cpp
Labels: PR: General Cleanup

#17917 Fix line ending in M360.cpp
  Marlin/src/gcode/host/M360.cpp
Labels: PR: Bug Fix

#17916 Improved EEPROM boot error
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_mixer.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/configuration_store.cpp
Labels: C: LCD & Controllers, F: EEPROM, PR: Improvement

#17904 Normalize configuration of HAL/STM32 targets
  .github/workflows/test-builds.yml
  buildroot/share/PlatformIO/boards/BigTree_Btt002.json
  buildroot/share/PlatformIO/boards/BigTree_SKR_Pro.json
  buildroot/share/PlatformIO/boards/FLYF407ZG.json
  buildroot/share/PlatformIO/boards/blackSTM32F407VET6.json
  buildroot/share/tests/ARMED-tests
  buildroot/share/tests/BIGTREE_GTR_V1_0-tests
  buildroot/share/tests/BIGTREE_SKR_PRO-tests
  buildroot/share/tests/FLYF407ZG-tests
  buildroot/share/tests/FYSETC_S6-tests
  buildroot/share/tests/STM32F070RB_malyan-tests
  buildroot/share/tests/STM32F401VE_STEVAL-tests
  buildroot/share/tests/STM32F407VE_black-tests
  buildroot/share/tests/malyan_M300-tests
  buildroot/share/tests/rumba32_f446ve-tests
  buildroot/share/tests/rumba32_mks-tests
  platformio.ini
Labels: A: STM32, C: Build / Toolchain, PR: General Cleanup, PR: Improvement

#17934 Require TMCStepper >=0.6.2 for LPC176x controllers
  platformio.ini
Labels: A: LPC176x, F: Trinamic

#17953 Fix host_action_notify calls passing SRAM pointers
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/host_actions.h
  Marlin/src/lcd/ultralcd.cpp
Labels: PR: Coding Standards, PR: General Cleanup, PR: Improvement

#17952 DGUS: Use DGUS_RX_BUFFER_SIZE and DGUS_TX_BUFFER_SIZE
  Marlin/src/HAL/AVR/MarlinSerial.h
Labels: C: Configuration, C: LCD & Controllers, C: Serial Comms, PR: Bug Fix

#17945 Avoid division in JD calc, when possible
  Marlin/src/module/planner.h
Labels: C: Motion, C: Optimization

#17938 Fix vector normalization in JD
  Marlin/src/module/planner.cpp
Labels: C: Motion, C: Optimization

#17943 Fysetc S6: use PIO DFU with proper settings
  buildroot/share/PlatformIO/scripts/fysetc_STM32S6.py
  platformio.ini
Labels: A: STM32, C: Build / Toolchain, C: Hardware/Boards, PR: Improvement

#17946 Improve STM32F4 Flash Behavior
  Marlin/src/HAL/STM32/Servo.cpp
  Marlin/src/HAL/STM32/Servo.h
  Marlin/src/HAL/STM32/eeprom_flash.cpp
  Marlin/src/HAL/STM32/inc/SanityCheck.h
Labels: A: STM32, PR: Improvement

#17948 Enable FLASH_EEPROM_LEVELING by default for STM32F4 boards
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_V1_1.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
Labels: A: STM32, F: EEPROM, PR: Improvement, T: 32-Bit & HAL

#17919 M600 R<resume temperature>
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/gcode/feature/pause/M600.cpp
Labels: C: Peripherals, C: Temperatures, PR: Improvement

#17967 Add Emergency Parser to LPC tests
  Marlin/Configuration_adv.h
  buildroot/share/tests/LPC1768-tests
  buildroot/share/tests/LPC1769-tests
Labels: A: LPC176x, C: Build / Toolchain, T: Development

#17853 Direct Stepping feature
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/MarlinSerial.cpp
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/direct_stepping.cpp
  Marlin/src/feature/direct_stepping.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/geometry/G92.cpp
  Marlin/src/gcode/motion/G6.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  buildroot/share/tests/mega2560-tests
Labels: C: G-code Parser, C: Motion, C: Optimization, PR: New Feature

#17962 Revert babystep check from 52aa459 to fix double-click for babystep
  Marlin/src/lcd/menu/menu.cpp
Labels: PR: Bug Fix

#17935 Cleanup for FYSETC Cheetah
  Marlin/Configuration_adv.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/pin_mappings.h
  Marlin/src/pins/stm32f1/pins_FYSETC_CHEETAH.h
Labels: C: Hardware/Boards, PR: Improvement

#17956 Prevent some macro pitfalls
  Marlin/src/core/macros.h
Labels: PR: Coding Standards, PR: Improvement

#17957 Add user's BUILD: _date_ _time_ to M115 output
  Marlin/src/core/language.h
Labels: C: Hosts & Protocols

#17936 Corrected language_hu.h
  Marlin/src/lcd/language/language_hu.h
Labels: C: Language, PR: Bug Fix

#17990 Follow #17935 for SKR E3/DIP
  Marlin/Configuration_adv.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/pin_mappings.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3.h
Labels: C: Hardware/Boards

#17985 Fix FTDI EVE Touch UI typo
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/tune_menu.cpp
Labels: PR: Bug Fix

#17983 Clarify Home Before Filament Change comments
  Marlin/Configuration_adv.h
  Marlin/src/gcode/feature/pause/M600.cpp
Labels: PR: General Cleanup

#17972 CoreXY sensorless homing
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/endstops.cpp
  buildroot/share/tests/teensy35-tests
Labels: F: Calibration, K: Core / H-Bot, Needs: Testing, PR: Bug Fix

#17736 Vertex nano with board K8600
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_K8600.h
Labels: C: Hardware/Boards

#17996 Additional core homing pin tests
  Marlin/src/module/endstops.cpp
  buildroot/share/tests/teensy35-tests
Labels: F: Calibration, F: Trinamic, PR: Bug Fix

#18011 Fix BTT002 timer conflict with SPEAKER enabled
  buildroot/share/PlatformIO/variants/BIGTREE_BTT002/variant.h
Labels: A: STM32, C: Build / Toolchain, PR: Bug Fix

#17886 Add extruder sensor for MMU2
  Marlin/Configuration_adv.h
  Marlin/src/feature/mmu2/mmu2.cpp
  Marlin/src/feature/mmu2/mmu2.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_fr.h
Labels: C: Peripherals, PR: Improvement

#16362 Hotend Protection - Prevent deep-fried filament clogs
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/hotend_idle.cpp
  Marlin/src/feature/hotend_idle.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/temperature.h
  buildroot/share/tests/esp32-tests
Labels: PR: New Feature

#18040 Fix EXPERIMENTAL_I2CBUS build error on LPC
  Marlin/src/HAL/LPC1768/HAL.h
  buildroot/share/tests/LPC1769-tests
Labels: A: LPC176x, PR: Bug Fix

#18032 Hotend Idle Timeout fixes
  Marlin/Configuration_adv.h
  Marlin/src/feature/hotend_idle.h
Labels: PR: Bug Fix

#18055 Fix lcd long update time
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18048 Update samd-ramps runout pin
  Marlin/src/pins/samd/pins_RAMPS_144.h
Labels: A: SAMD51, C: Hardware/Boards

#18039 Ignore intermittent errors in the MAX31855K (and MAX6675) thermocouple sensor.
  Marlin/Configuration_adv.h
  Marlin/src/module/temperature.cpp
Labels: C: Peripherals, C: Temperatures, Needs: Testing, PR: New Feature

#18049 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#18029 Enable BigTreeTech GTR onboard I2C EEPROM by default
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
Labels: C: Hardware/Boards, PR: Improvement

#18059 MARLIN_EEPROM_SIZE with E2END as fallback
  Marlin/src/HAL/AVR/eeprom.cpp
  Marlin/src/HAL/DUE/eeprom_flash.cpp
  Marlin/src/HAL/DUE/eeprom_wired.cpp
  Marlin/src/HAL/ESP32/eeprom.cpp
  Marlin/src/HAL/LINUX/eeprom.cpp
  Marlin/src/HAL/LPC1768/eeprom_flash.cpp
  Marlin/src/HAL/LPC1768/eeprom_sdcard.cpp
  Marlin/src/HAL/LPC1768/eeprom_wired.cpp
  Marlin/src/HAL/SAMD51/eeprom_wired.cpp
  Marlin/src/HAL/STM32/eeprom_flash.cpp
  Marlin/src/HAL/STM32/eeprom_sdcard.cpp
  Marlin/src/HAL/STM32/eeprom_sram.cpp
  Marlin/src/HAL/STM32/eeprom_wired.cpp
  Marlin/src/HAL/STM32F1/eeprom_flash.cpp
  Marlin/src/HAL/STM32F1/eeprom_sdcard.cpp
  Marlin/src/HAL/STM32F1/eeprom_wired.cpp
  Marlin/src/HAL/STM32_F4_F7/eeprom_flash.cpp
  Marlin/src/HAL/STM32_F4_F7/eeprom_wired.cpp
  Marlin/src/HAL/TEENSY31_32/eeprom.cpp
  Marlin/src/HAL/TEENSY35_36/eeprom.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/pins/linux/pins_RAMPS_LINUX.h
  Marlin/src/pins/sam/pins_RADDS.h
  Marlin/src/pins/sam/pins_RAMPS_FD_V2.h
  Marlin/src/pins/sam/pins_RAMPS_SMART.h
  Marlin/src/pins/sam/pins_RURAMPS4D_11.h
  Marlin/src/pins/sam/pins_RURAMPS4D_13.h
  Marlin/src/pins/samd/pins_RAMPS_144.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
  Marlin/src/pins/stm32f1/pins_FYSETC_AIO_II.h
  Marlin/src/pins/stm32f1/pins_FYSETC_CHEETAH.h
  Marlin/src/pins/stm32f1/pins_GTM32_MINI.h
  Marlin/src/pins/stm32f1/pins_GTM32_MINI_A30.h
  Marlin/src/pins/stm32f1/pins_GTM32_PRO_VB.h
  Marlin/src/pins/stm32f1/pins_GTM32_REV_B.h
  Marlin/src/pins/stm32f1/pins_JGAURORA_A5S_A1.h
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_MINI.h
  Marlin/src/pins/stm32f4/pins_ARMED.h
  Marlin/src/pins/stm32f4/pins_BLACK_STM32F407VE.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_FLYF407ZG.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_GENERIC_STM32F4.h
  Marlin/src/pins/stm32f4/pins_RUMBA32_common.h
  Marlin/src/pins/stm32f4/pins_VAKE403D.h
  Marlin/src/pins/stm32f7/pins_THE_BORG.h
Labels: PR: Coding Standards, PR: General Cleanup, PR: Improvement

#18074 Fix DUE wired (i2c) eeprom init
  Marlin/src/HAL/DUE/eeprom_wired.cpp
Labels: A: SAM3X8C/E, F: EEPROM

#18060 Move progress bar baseline Y back to its original position
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: C: LCD & Controllers

#18103 fix 18102. Add strcmp_P to LCP1768/9
  Marlin/src/HAL/LINUX/HAL.h
  Marlin/src/HAL/LPC1768/HAL.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#18078 Fix GTR CR10_STOCKDISPLAY pins
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
Labels: A: STM32, C: Hardware/Boards, C: LCD & Controllers

#18079 Fix 8 extruders + Graphical LCD
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  buildroot/share/tests/BIGTREE_GTR_V1_0-tests
Labels: C: LCD & Controllers, PR: Bug Fix

#18080 FYSETC AIO_II board update
  Marlin/src/feature/tmc_util.h
  Marlin/src/module/stepper/trinamic.cpp
  Marlin/src/pins/stm32f1/pins_FYSETC_AIO_II.h
  Marlin/src/sd/cardreader.cpp
  buildroot/share/PlatformIO/scripts/STM32F103RC_fysetc.py
Labels: C: Hardware/Boards, F: Trinamic, PR: Bug Fix

#18098 Fix Mightyboard PIO env
  platformio.ini
Labels: A: ATmega1280, A: ATmega2560, C: Build / Toolchain

#18100 Add missing PICA pin definitions
  Marlin/src/pins/mega/pins_PICA.h
Labels: A: ATmega2560, C: Hardware/Boards, PR: Improvement

#18094 Fix integer division causing issue #17968
  Marlin/src/HAL/AVR/fast_pwm.cpp
Labels: C: Peripherals, PR: Bug Fix

#18112 Avoid division in Classic Jerk if possible
  Marlin/src/module/planner.cpp
Labels: C: Motion, C: Optimization

#18013 Add reporting of fan speed on speed change
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Hosts & Protocols, PR: Improvement

#18099 Extract common elements for STM32F1 environments
  platformio.ini
Labels: C: Build / Toolchain, T: Suggestion

#18089 Prevent upgrading MAX31865 library to 1.2
  platformio.ini
Labels: C: Build / Toolchain

#18095 Add Emergency Parser support for STM32
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/MarlinSerial.cpp
  Marlin/src/HAL/STM32/MarlinSerial.h
  Marlin/src/HAL/STM32/inc/SanityCheck.h
  Marlin/src/HAL/STM32/usb_serial.cpp
  Marlin/src/HAL/STM32/usb_serial.h
Labels: A: STM32, C: Serial Comms, PR: Improvement

#18108 No SD_CHECK_AND_RETRY with USE_USB_COMPOSITE (STM32F103 + SDIO)
  Marlin/src/HAL/STM32F1/inc/Conditionals_LCD.h
  Marlin/src/sd/Sd2Card.cpp
Labels: A: STM32, Bug: Confirmed !, PR: Bug Fix

#18118 Apply extends to 8bit avr controllers
  platformio.ini
Labels: C: Build / Toolchain

#18088 Initial BTT SKR Mini E3 V2 support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_V2_0.h
Labels: C: Hardware/Boards

#17884 Introduce SDCARD_READONLY advanced configuration
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/sd/Sd2Card.cpp
  Marlin/src/sd/SdBaseFile.cpp
  Marlin/src/sd/SdVolume.cpp
  Marlin/src/sd/cardreader.cpp
  buildroot/share/tests/LPC1768-tests
Labels: PR: New Feature

#18160 Fix timing for RepRapDiscount Full Graphic Smart Controller on Melzi …
  Marlin/src/pins/sanguino/pins_SANGUINOLOLU_11.h
Labels: C: Hardware/Boards, C: LCD & Controllers, PR: Improvement

#18144 Improve accuracy of G2 and G3 motion
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: PR: Improvement

#18149 fix compile-error "MSerial6 was not declared in this scope"
  Marlin/src/HAL/STM32/MarlinSerial.h
Labels: A: STM32, PR: Bug Fix, T: 32-Bit & HAL

#18145 Add SERIAL_STATS sanity checks for LPC, STM32, and STM32F1 HALs
  Marlin/src/HAL/LPC1768/inc/SanityCheck.h
  Marlin/src/HAL/STM32/inc/SanityCheck.h
  Marlin/src/HAL/STM32F1/inc/SanityCheck.h
Labels: A: LPC176x, A: STM32, C: Serial Comms
