Repository MarlinFirmware/Marlin, pull requests merged in 2020-09, with the labels that each got.

#19206 Update German, fix Mix component index
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#19210 feedrate_percentage not change in Anicubic I3 MEGA(S) with original screen
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19227 Messages cleanup
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
Labels: C: Language, PR: General Cleanup

#19220 Fix Anycubic LCDs / Trigorilla 1.4 pins
  Marlin/src/pins/ramps/pins_TRIGORILLA_14.h
Labels: C: Boards/Pins, C: LCD & Controllers, PR: Bug Fix

#19226 Fail SD mounting with no SPI re-init
  Marlin/src/sd/cardreader.cpp
Labels: F: SD Card Printing, PR: Bug Fix

#18822 Add support for MKS SGEN_L V2 motherboard
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins

#19251 Longer3D: Fix TFT board defines & disable DMA
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
Labels: C: LCD & Controllers, PR: Bug Fix

#19250 fix for #19224 for independent neopixel strip control option not being separated
  Marlin/src/feature/leds/neopixel.h
Labels: PR: Bug Fix

#19236 SD Init Fail message only when we can detect the SD Card Insertion
  Marlin/src/sd/cardreader.cpp
Labels: F: SD Card Printing, PR: Bug Fix

#19235 Introduce MARKFORGED kinematics
  Marlin/Configuration.h
  Marlin/src/core/utility.cpp
  Marlin/src/gcode/host/M360.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/stepper.cpp
Labels: PR: New Feature

#19257 Update ESP32 Wifi Sanity Check Wording
  Marlin/src/inc/SanityCheck.h
Labels: A: ESP32

#19279 Emergency Parser for STM32F1
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/STM32F1/MarlinSerial.cpp
  Marlin/src/HAL/STM32F1/MarlinSerial.h
  Marlin/src/HAL/STM32F1/inc/SanityCheck.h
Labels: C: Safety, C: Serial Comms, Needs: Testing, PR: Improvement

#19271 Fix STM32F1 SPI device init, MKS_LCD12864
  Marlin/src/HAL/STM32F1/SPI.cpp
  Marlin/src/lcd/dogm/u8g_dev_uc1701_mini12864_HAL.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE3.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
Labels: C: LCD & Controllers, C: Peripherals, F: SD Card Printing, PR: Bug Fix

#19268 Fix Buffer Corruption
  Marlin/src/lcd/dwin/dwin_lcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19263 Clarify disabling StallGuard on an Axis
  Marlin/Configuration_adv.h
Labels: C: Documentation

#19280 LCD Menu options for NEOPIXEL2_SEPARATE
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_led.cpp
Labels: C: LCD & Controllers, C: Peripherals

#19281 Emergency Parser for STM32F1 with USB_COMPOSITE
  Marlin/src/HAL/STM32F1/msc_sd.cpp
  Marlin/src/HAL/STM32F1/msc_sd.h
Labels: C: Safety, C: Serial Comms, PR: Improvement

#19183 Adjust GTR PeripheralPins to avoid timer conflicts
  buildroot/share/PlatformIO/variants/BIGTREE_GTR_V1/PeripheralPins.c
  buildroot/share/PlatformIO/variants/BIGTREE_GTR_V1/variant.h
Labels: PR: Improvement

#19285 Fix M166 Gradient Mix on delta printers
  Marlin/src/feature/mixing.cpp
  Marlin/src/gcode/feature/mixing/M166.cpp
Labels: C: Motion, PR: Improvement

#19284 BABYSTEP_DISPLAY_TOTAL isn't supported by Color UI (yet)
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration, C: LCD & Controllers

#19298 Fix runout disable
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/module/temperature.h
Labels: PR: Improvement

#18496 Update ststm32 to 8.0 for HAL/STM32
  .github/workflows/test-builds.yml
  Marlin/Makefile
  Marlin/src/HAL/STM32/SoftwareSerial.cpp
  Marlin/src/HAL/STM32/SoftwareSerial.h
  Marlin/src/HAL/STM32/timers.cpp
  Marlin/src/HAL/STM32/timers.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_RUMBA32_common.h
  buildroot/share/PlatformIO/boards/LERDGE.json
  buildroot/share/PlatformIO/boards/malyanM200v2.json
  buildroot/share/PlatformIO/boards/marlin_fysetc_s6.json
  buildroot/share/PlatformIO/scripts/fysetc_STM32S6.py
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_S6/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_S6/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_S6/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_S6/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_S6/variant.h
  buildroot/tests/STM32F070CB_malyan-tests
  platformio.ini
Labels: A: STM32, PR: Improvement, T: 32-Bit & HAL

#19311 Add support for Teensy4.1
  Marlin/src/HAL/TEENSY40_41/HAL.cpp
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/HAL/TEENSY40_41/HAL_SPI.cpp
  Marlin/src/HAL/TEENSY40_41/Servo.cpp
  Marlin/src/HAL/TEENSY40_41/Servo.h
  Marlin/src/HAL/TEENSY40_41/eeprom.cpp
  Marlin/src/HAL/TEENSY40_41/endstop_interrupts.h
  Marlin/src/HAL/TEENSY40_41/fastio.h
  Marlin/src/HAL/TEENSY40_41/inc/Conditionals_LCD.h
  Marlin/src/HAL/TEENSY40_41/inc/Conditionals_adv.h
  Marlin/src/HAL/TEENSY40_41/inc/Conditionals_post.h
  Marlin/src/HAL/TEENSY40_41/inc/SanityCheck.h
  Marlin/src/HAL/TEENSY40_41/pinsDebug.h
  Marlin/src/HAL/TEENSY40_41/spi_pins.h
  Marlin/src/HAL/TEENSY40_41/timers.cpp
  Marlin/src/HAL/TEENSY40_41/timers.h
  Marlin/src/HAL/TEENSY40_41/watchdog.cpp
  Marlin/src/HAL/TEENSY40_41/watchdog.h
  Marlin/src/HAL/platforms.h
  Marlin/src/HAL/shared/backtrace/unwmemaccess.cpp
  Marlin/src/HAL/shared/servo.h
  Marlin/src/core/boards.h
  Marlin/src/libs/private_spi.h
  Marlin/src/module/motion.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/teensy4/pins_T41U5XBB.h
  Marlin/src/pins/teensy4/pins_TEENSY41.h
  README.md
  buildroot/share/git/mftest
  buildroot/tests/teensy41-tests
  platformio.ini
Labels: C: Boards/Pins

#19325 Fix Danish and Basque-Euskera languages
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_eu.h
Labels: C: Language, PR: Bug Fix

#19314 Add support for MKS Gen_L V2.1 motherboard
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_MKS_GEN_L_V21.h
Labels: C: Boards/Pins

#19303 Bugfix #19280 lcd LED menu showing channel 3 for both channels when neopixel2 separate is enabled
  Marlin/src/lcd/menu/menu_item.h
Labels: C: Peripherals, PR: Bug Fix

#19301 UART IRQ Priority + Error Handling for Overrun, Framing and Parity
  Marlin/src/HAL/STM32/MarlinSerial.cpp
  Marlin/src/HAL/STM32F1/MarlinSerial.cpp
  Marlin/src/HAL/STM32F1/MarlinSerial.h
Labels: A: STM32, Needs: Testing, PR: Bug Fix, PR: Improvement

#19191 LPC using HW SPI Class + Finish DMA transfer for LPC
  Marlin/src/HAL/LPC1768/HAL_SPI.cpp
  Marlin/src/HAL/LPC1768/inc/SanityCheck.h
  Marlin/src/HAL/LPC1768/include/SPI.h
  Marlin/src/HAL/LPC1768/tft/xpt2046.cpp
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  platformio.ini
Labels: A: LPC176x, C: LCD & Controllers, PR: Improvement

#19331 Add K8800 board entry to the boards.h file
  Marlin/Makefile
  Marlin/src/core/boards.h
Labels: A: ATmega2560, PR: Bug Fix

#19340 Fix Creality RET6 board environment typo
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#19365 Update Italian Language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#19369 Fix MKS SGEN_L pin assignment on EXP2
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
Labels: C: Boards/Pins, PR: Bug Fix

#19351 Fix #19350 Remove duplicate string on LCD when wildcard is present.
  Marlin/src/lcd/lcdprint.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19349 New "Leveling" menu in Touch UI; Assorted Fixes
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/extras/poly_ui.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/language/language_en.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/advanced_settings_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bio_status_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/filament_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/files_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/main_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screen_data.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/theme/colors.h
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
Labels: C: LCD & Controllers, PR: Improvement

#19339 Improve temperature runaway and idle timeout
  Marlin/src/feature/pause.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Temperatures, PR: Improvement

#19382 Added missing menu source code.
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/extended/text_ellipsis.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/marlin_events.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bio_status_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/leveling_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/status_screen.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19413 Add multiple PID defaults to Configuration.h
  Marlin/Configuration.h
  buildroot/tests/BIGTREE_GTR_V1_0-tests
Labels: C: Configuration, PR: Improvement

#19404 Add missing spaces in info menu
  Marlin/src/lcd/menu/menu_info.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19384 Fix for setting offset from tune menu (ender 3 v2)
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.h
  Marlin/src/lcd/dwin/e3v2/rotary_encoder.cpp
  Marlin/src/lcd/dwin/e3v2/rotary_encoder.h
  Marlin/src/module/temperature.cpp
  buildroot/share/PlatformIO/scripts/common-dependencies.h
  platformio.ini
Labels: C: LCD & Controllers, PR: Improvement

#19416 Enable SHOW_REMAINING_TIME for non-graphical LCD
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
Labels: C: Configuration, C: LCD & Controllers, PR: Improvement

#19410 Fix Typo (#19407)
  Marlin/src/lcd/extui/lib/mks_ui/SPIFlashStorage.cpp
Labels: PR: Bug Fix

#19394 Move JOYSTICK_DEBUG from joystick.h to Configuration_adv.h
  Marlin/Configuration_adv.h
  Marlin/src/feature/joystick.h
Labels: C: Configuration

#19398 Add Host Action Start
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/host_actions.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: Hosts & Protocols, PR: Improvement

#19386 Full Move Screen for Color UI
  Marlin/src/lcd/tft/bitmaps/btn_64x52_rounded.bmp
  Marlin/src/lcd/tft/bitmaps/home.bmp
  Marlin/src/lcd/tft/images/btn_rounded_64x52x4.cpp
  Marlin/src/lcd/tft/images/home_64x64x4.cpp
  Marlin/src/lcd/tft/tft_color.h
  Marlin/src/lcd/tft/tft_image.cpp
  Marlin/src/lcd/tft/tft_image.h
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/touch.h
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_320x240.h
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/lcd/tft/ui_480x320.h
  Marlin/src/lcd/ultralcd.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
Labels: C: LCD & Controllers, PR: Improvement

#19418 Fix Assisted Tramming with Multi Hotends
  Marlin/src/gcode/bedlevel/G35.cpp
Labels: PR: Bug Fix

#19422 Fix AXIS_CAN_CALIBRATE compiler error with COREXY
  Marlin/src/gcode/calibrate/M425.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/menu/menu_backlash.cpp
Labels: F: Calibration, PR: Bug Fix

#19424 Fix Taz Pro compilation issues
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/boot_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/leveling_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/theme/bootscreen_logo_portrait.h
Labels: C: LCD & Controllers, PR: Bug Fix

#19436 Store case light brightness in EEPROM even w/o an UltraLCD
  Marlin/src/module/settings.cpp
Labels: C: Peripherals, PR: Improvement

#19441 CrealityDWIN Fix Control Icons
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19447 Optional menu item for Assisted Tramming
  Marlin/Configuration_adv.h
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: C: Configuration, C: LCD & Controllers

#19459 Replace Serial with Serial1 in pins files
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_RUMBA32_MKS.h
Labels: C: Boards/Pins, PR: Bug Fix

#19419 Definition for SoftSPI::softSPI MAX6675
  Marlin/src/module/temperature.cpp
Labels: C: Peripherals, PR: Bug Fix

#19462 Fix MKS SGEN_L V2 fans pin define
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
Labels: C: Boards/Pins, PR: Bug Fix

#19458 Build-time TMC address conflict detection
  Marlin/src/module/stepper/trinamic.cpp
  buildroot/bin/opt_set
  buildroot/tests/STM32F103RC_btt-tests
  buildroot/tests/esp32-tests
Labels: C: Configuration, PR: Improvement

#19465 New Touch UI buttons
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/leveling_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/tune_menu.cpp
Labels: C: LCD & Controllers, PR: Improvement

#19475 Update LPC1768/9 debug uart pins when using new LPC_PINCFG_UART defines
  Marlin/src/HAL/AVR/fastio.h
  Marlin/src/HAL/AVR/pinsDebug.h
  Marlin/src/pins/pinsDebug.h
Labels: C: Boards/Pins, T: Development

#19464 Fix more STM32F1 Serial hangs due to overflows
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/AVR/MarlinSerial.cpp
  Marlin/src/HAL/AVR/MarlinSerial.h
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/DUE/MarlinSerial.h
  Marlin/src/HAL/LINUX/include/serial.h
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/LPC1768/MarlinSerial.cpp
  Marlin/src/HAL/LPC1768/MarlinSerial.h
  Marlin/src/HAL/LPC1768/inc/SanityCheck.h
  Marlin/src/HAL/LPC1768/usb_serial.cpp
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/MarlinSerial.cpp
  Marlin/src/HAL/STM32/MarlinSerial.h
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/STM32F1/MarlinSerial.cpp
  Marlin/src/HAL/STM32F1/MarlinSerial.h
  Marlin/src/HAL/STM32F1/msc_sd.h
  Marlin/src/HAL/STM32_F4_F7/HAL.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/anycubic_chiron_lcd.cpp
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.cpp
  buildroot/tests/mks_robin_pro-tests
Labels: A: STM32, C: Safety, PR: Bug Fix

#19500 Add BigTreeTech SKR E3 Turbo support
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1769/pins_BTT_SKR_E3_TURBO.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins

#19515 Fix M33 string without escape
  Marlin/src/gcode/parser.cpp
Labels: C: G-code Parser, PR: Bug Fix

#19507 Fix MKS Robin undefined pins error
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN.h
Labels: C: Boards/Pins, PR: Bug Fix

#19510 Corrected the comments on the thermistor input pins for the SKR 1.4
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
Labels: C: Boards/Pins, C: Documentation

#19513 SKR E3 Turbo follow up
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1769/pins_BTT_SKR_E3_TURBO.h
Labels: C: Boards/Pins

#19429 Enhanced MMU2 S Mode spins the BMG gears during C0
  Marlin/src/feature/mmu2/mmu2.cpp
Labels: C: Peripherals, PR: Improvement

#19520 Fix Allen key probe build
  Marlin/src/module/probe.cpp
Labels: F: Z-Probes, K: Deltabot, PR: Bug Fix

#19528 Add. Kis3d Silicone heater and precision cast plate thermistor combination
  Marlin/Configuration.h
  Marlin/src/lcd/thermistornames.h
  Marlin/src/module/thermistor/thermistor_30.h
  Marlin/src/module/thermistor/thermistors.h
Labels: C: Peripherals

#19375 MarlinUI for SPI/I2C TFT-GLCD character-based display bridge
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/TFTGLCD/lcdprint_TFTGLCD.cpp
  Marlin/src/lcd/TFTGLCD/ultralcd_TFTGLCD.cpp
  Marlin/src/lcd/TFTGLCD/ultralcd_TFTGLCD.h
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_1.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_MKS_SBASE.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1768/pins_RAMPS_RE_ARM.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/lpc1769/pins_SMOOTHIEBOARD.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE3.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  buildroot/tests/LPC1769-tests
  platformio.ini
Labels: C: LCD & Controllers

#19539 Fix diveToFile with open Dir object
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: F: SD Card Printing, PR: Bug Fix

#19540 Fix, improve Power-Loss Recovery
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/gcode/feature/powerloss/M1000.cpp
  Marlin/src/gcode/feature/powerloss/M413.cpp
Labels: PR: Bug Fix, PR: Improvement

#19505 Full Feature support for Stock build Anycubic Chiron
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/pinsDebug.h
  Marlin/src/HAL/AVR/pinsDebug_plus_70.h
  Marlin/src/feature/powerloss.cpp
  Marlin/src/lcd/extui/anycubic_chiron_lcd.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/FileNavigator.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/FileNavigator.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/Tunes.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/Tunes.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft_defs.h
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.h
  Marlin/src/libs/numtostr.cpp
  Marlin/src/libs/numtostr.h
Labels: C: Boards/Pins, C: LCD & Controllers
