Repository MarlinFirmware/Marlin, pull requests merged in 2020-08, with the labels that each got.

#18893 Use Translated for DWIN screen titles
  Marlin/src/lcd/dwin/dwin.cpp
  Marlin/src/lcd/dwin/dwin_lcd.cpp
Labels: C: LCD & Controllers, C: Language

#18862 Fix a typo in pins_DUPLICATOR_I3_PLUS.h (EXT Connector table)
  Marlin/src/pins/ramps/pins_DUPLICATOR_I3_PLUS.h
Labels: C: Boards/Pins

#18865 Fix FLYF407ZG pins
  Marlin/src/pins/stm32f4/pins_FLYF407ZG.h
  buildroot/share/PlatformIO/variants/FLY_F407ZG/PeripheralPins.c
  buildroot/share/PlatformIO/variants/FLY_F407ZG/variant.cpp
  buildroot/share/PlatformIO/variants/FLY_F407ZG/variant.h
Labels: A: STM32, C: Boards/Pins

#18872 No mks_robin extra_scripts in Trigorilla build
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#18915 Move scaled TFT / touch defines
  Marlin/src/HAL/STM32F1/dogm/u8g_com_stm32duino_hwspi.cpp
  Marlin/src/MarlinCore.cpp
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/lcd/extui/lib/mks_ui/mks_hardware_test.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/lcdprint.h
  Marlin/src/lcd/scaled_tft.h
  Marlin/src/lcd/touch/xpt2046.cpp
  Marlin/src/lcd/touch/xpt2046.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
Labels: C: LCD & Controllers, PR: General Cleanup

#18912 Assisted Tramming requires a bed probe
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration, PR: Improvement

#18901 Fix MKS Nano V1.2 FSMC Display
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
Labels: C: LCD & Controllers, PR: Bug Fix

#18906 Fix do_z_clearance in g28.cpp and prevent multiple rise
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/stepper/indirection.h
Labels: C: Configuration, F: Calibration, PR: New Feature

#18886 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#18884 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#18880 Change to arduino friendly include
  Marlin/src/lcd/tft/tft_image.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18877 Make ili9341 rotatable (e.g., Anycubic Predator)
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
Labels: C: LCD & Controllers, PR: Improvement

#18930 FIX menu_cancelobject.cpp and move it below tune while busy
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_cancelobject.cpp
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18920 Post merge fixes of 18879
  Marlin/src/lcd/extui/lib/mks_ui/SPIFlashStorage.cpp
  Marlin/src/lcd/extui/lib/mks_ui/SPIFlashStorage.h
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.cpp
Labels: PR: Bug Fix

#18922 Add Chitu 3D V6 second filament runout pin
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
Labels: F: Filament Sensor, PR: Improvement

#18925 Ask the PR authors to attach configuration
  .github/pull_request_template.md
Labels: T: Development

#18919 Exclude most disabled G-codes from build
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/binary_stream.cpp
  Marlin/src/feature/binary_stream.h
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/caselight.h
  Marlin/src/feature/e_parser.cpp
  Marlin/src/feature/e_parser.h
  Marlin/src/gcode/feature/caselight/M355.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/advanced_settings_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/main_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.h
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_led.cpp
  Marlin/src/libs/heatshrink/heatshrink_decoder.cpp
  Marlin/src/libs/heatshrink/heatshrink_decoder.h
  Marlin/src/module/configuration_store.cpp
  buildroot/share/PlatformIO/scripts/common-dependencies.h
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  platformio.ini
Labels: C: Build / Toolchain, PR: Improvement

#18927 MKS Robin Nano CI Tests
  .github/workflows/test-builds.yml
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.cpp
  buildroot/tests/mks_robin_nano-tests
  buildroot/tests/mks_robin_nano35-tests
Labels: T: Development

#18937 Minor bug fix - extruder speed
  Marlin/Configuration_adv.h
Labels: C: Configuration, C: LCD & Controllers

#18935 Fix PIO warning about new `marlin` config
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  platformio.ini
Labels: C: Build / Toolchain, PR: Improvement

#18940 Fix LVGL for Chitu after merges
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
Labels: C: LCD & Controllers, PR: Bug Fix

#18941 Fix the FSCM initialisation - Speedup!
  Marlin/src/HAL/STM32F1/dogm/u8g_com_stm32duino_fsmc.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_fsmc.cpp
Labels: C: LCD & Controllers

#18918 ZoneStar Z6FB
  Marlin/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.h
  Marlin/src/lcd/extui_anycubic_chiron_lcd.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/sanguino/pins_ZMIB_V2.h
  Marlin/src/sd/Sd2Card.cpp
  platformio.ini
Labels: C: Boards/Pins

#18947 Extend HW PWM sanity checks to include SPINDLE_LASER_FREQUENCY
  Marlin/src/HAL/DUE/inc/SanityCheck.h
  Marlin/src/HAL/ESP32/inc/SanityCheck.h
  Marlin/src/HAL/LINUX/inc/SanityCheck.h
  Marlin/src/HAL/LPC1768/fast_pwm.cpp
  Marlin/src/HAL/LPC1768/inc/SanityCheck.h
  Marlin/src/HAL/SAMD51/inc/SanityCheck.h
  Marlin/src/HAL/STM32/inc/SanityCheck.h
  Marlin/src/HAL/STM32F1/inc/SanityCheck.h
  Marlin/src/HAL/STM32_F4_F7/inc/SanityCheck.h
  Marlin/src/HAL/TEENSY31_32/inc/SanityCheck.h
  Marlin/src/HAL/TEENSY35_36/inc/SanityCheck.h
Labels: C: Configuration

#18951 Add Z move after tool change
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, PR: Bug Fix

#18962 Fix STATIC_ITEM bugs
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/lcd/HD44780/ultralcd_HD44780.cpp
  Marlin/src/lcd/dogm/ultralcd_DOGM.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/lcdprint.h
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_addon.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_filament.cpp
  Marlin/src/lcd/menu/menu_info.cpp
  Marlin/src/lcd/menu/menu_led.cpp
  Marlin/src/lcd/menu/menu_mmu2.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18960 Fix compiler search in non default PIO installs - Fix #18959
  buildroot/share/PlatformIO/scripts/common-dependencies.py
Labels: C: Build / Toolchain, PR: Bug Fix

#18958 Marlin Color UI for STM32F1 (SPI)
  Marlin/src/HAL/STM32F1/inc/Conditionals_LCD.h
  Marlin/src/HAL/STM32F1/tft/tft_spi.cpp
  Marlin/src/HAL/STM32F1/tft/tft_spi.h
  Marlin/src/HAL/STM32F1/tft/xpt2046.cpp
  Marlin/src/lcd/tft/ili9488.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
Labels: A: STM32, C: LCD & Controllers

#18399 Add Printer Passcode for Non-touch Screens
  Marlin/Configuration.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/language.h
  Marlin/src/core/macros.h
  Marlin/src/feature/password/password.cpp
  Marlin/src/feature/password/password.h
  Marlin/src/gcode/feature/password/M510-M512.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_password.cpp
  Marlin/src/module/settings.cpp
  buildroot/share/PlatformIO/scripts/common-dependencies.h
  buildroot/tests/DUE-tests
  buildroot/tests/rambo-tests
  platformio.ini
Labels: C: LCD & Controllers, PR: New Feature

#18963 Tool-change Z move followup
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, PR: Bug Fix

#18875 Show remaining time in LIGHTWEIGHT_UI
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
Labels: C: LCD & Controllers, PR: Improvement

#18970 Remove dead code
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#18981 Fix Ender3V2 Dwin compile issues with manual mesh and host prompt
  Marlin/src/lcd/dwin/dwin.cpp
Labels: C: LCD & Controllers, F: Z-Probes, PR: Bug Fix

#18982 Removed dependency on VERTEX_FORMAT for FTDI800 compatibility.
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_screen.cpp
Labels: C: LCD & Controllers, C: Optimization

#18985 MKS Robin new 320x240 TFT Color UI support
  Marlin/src/lcd/tft/ili9341.h
  Marlin/src/lcd/tft/ili9488.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_MINI.h
Labels: C: LCD & Controllers

#18978 Rename EVENT_GCODE_SD_STOP to EVENT_GCODE_SD_ABORT
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dwin/dwin.cpp
Labels: C: Configuration

#18998 String interpolation for 2 digit numbers.
  Marlin/src/core/language.h
  Marlin/src/lcd/lcdprint.cpp
  Marlin/src/lcd/tft/tft_string.cpp
  Marlin/src/lcd/tft/tft_string.h
Labels: C: LCD & Controllers, PR: Bug Fix

#18974 LVGL using standard HAL TFT IO (SPI and FSMC)
  Marlin/src/HAL/STM32F1/tft/tft_fsmc.cpp
  Marlin/src/HAL/STM32F1/tft/tft_fsmc.h
  Marlin/src/HAL/STM32F1/tft/tft_spi.cpp
  Marlin/src/HAL/STM32F1/tft/tft_spi.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/extui/lib/mks_ui/SPI_TFT.cpp
  Marlin/src/lcd/extui/lib/mks_ui/SPI_TFT.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/mks_hardware_test.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_fsmc.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
Labels: C: LCD & Controllers, PR: General Cleanup, PR: Improvement

#19010 tft: restore ILI9341 colors and reversed logic
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
Labels: C: LCD & Controllers, PR: Bug Fix

#19016 FIX Z_AFTER_DEACTIVATE (indirection.h)
  Marlin/src/module/stepper/indirection.h
Labels: PR: Bug Fix

#18992 Use NEOPIXEL2 in series vs. default of parallel
  Marlin/Configuration.h
  Marlin/src/feature/leds/neopixel.cpp
  Marlin/src/feature/leds/neopixel.h
Labels: C: Peripherals, PR: Improvement

#19002 Add ENDER2_STOCKDISPLAY support for BTT_SKR_V1_4 ( and Turbo) Board
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
Labels: C: Boards/Pins, C: LCD & Controllers

#19009 Pause: Check Temp before moving hotend
  Marlin/src/feature/pause.cpp
Labels: C: Motion, PR: Improvement

#19011 [AVR] Let laser use some servo timers when they're not used
  Marlin/src/HAL/AVR/ServoTimers.h
  Marlin/src/HAL/AVR/inc/SanityCheck.h
Labels: C: Peripherals, PR: Improvement, T: 32-Bit & HAL

#19024 Fix IS_PROBE_PIN macro
  Marlin/src/inc/Conditionals_post.h
Labels: PR: Bug Fix

#19019 Add CR10_STOCKDISPLAY checks to pins_CREALITY_V4.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
Labels: C: LCD & Controllers

#19066 Fix PSU on when pid autotune
  Marlin/src/feature/power.cpp
  Marlin/src/module/temperature.cpp
Labels: C: Peripherals, PR: Bug Fix

#19064 Fix for mount not initialized SD card
  Marlin/src/lcd/language/language_en.h
  Marlin/src/sd/cardreader.cpp
Labels: F: SD Card Printing, PR: Improvement

#19063 Fix __ARM__ typo
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix, T: 32-Bit & HAL

#19013 Disable Filament Runout in EEPROM structure if not present
  Marlin/Configuration.h
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/runout.h
  Marlin/src/module/settings.cpp
Labels: C: Peripherals, F: EEPROM, T: Suggestion

#19022 Add env mega2560 extended pins where pins 70-85 are defined
  buildroot/share/PlatformIO/scripts/copy_marlin_variant_to_framework.py
  buildroot/share/PlatformIO/variants/megaextendedpins/pins_arduino.h
  platformio.ini
Labels: A: ATmega2560, C: Boards/Pins

#18883 Let user limit number of fans
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/sam/pins_CNCONTROLS_15D.h
Labels: C: Configuration

#19070 Move ExtUI displays to sub-folder
  Marlin/src/lcd/extui/anycubic_chiron_lcd.cpp
  Marlin/src/lcd/extui/anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/dgus_lcd.cpp
  Marlin/src/lcd/extui/example.cpp
  Marlin/src/lcd/extui/malyan_lcd.cpp
  platformio.ini
Labels: PR: General Cleanup

#19031 TFT32 screen support on MKS Robin Nano 1.2 board
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
Labels: C: LCD & Controllers

#19119 Move PSU on before setting heating pwm (PID autotune)
  Marlin/src/module/temperature.cpp
Labels: C: Peripherals, PR: Bug Fix

#19118 Tests for Color UI and Robin Nano Boards (and fixes)
  buildroot/tests/mks_robin_nano35-tests
Labels: C: LCD & Controllers

#19133 fix M150 after c488070 broke it.
  Marlin/src/gcode/feature/leds/M150.cpp
Labels: Bug: Confirmed !, S: Please Merge

#19047 Fix SD pins for SKR Pro and GTR
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/sd/cardreader.cpp
Labels: C: Boards/Pins

#19136 Add Einsy Rambo filament runout pin
  Marlin/src/pins/rambo/pins_EINSY_RAMBO.h
Labels: C: Boards/Pins

#19135 Direct Stepping update
  Marlin/src/feature/direct_stepping.cpp
  Marlin/src/feature/direct_stepping.h
  Marlin/src/module/stepper.cpp
Labels: C: G-code Parser, C: Motion, PR: Improvement

#19139 Marlin TFT port to LPC + Bonus: Full Hardware SPI Support
  Marlin/src/HAL/LPC1768/HAL_SPI.cpp
  Marlin/src/HAL/LPC1768/inc/Conditionals_LCD.h
  Marlin/src/HAL/LPC1768/include/SPI.h
  Marlin/src/HAL/LPC1768/tft/tft_spi.cpp
  Marlin/src/HAL/LPC1768/tft/tft_spi.h
  Marlin/src/HAL/LPC1768/tft/xpt2046.cpp
  Marlin/src/HAL/LPC1768/tft/xpt2046.h
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/pinsDebug_list.h
Labels: C: LCD & Controllers, PR: Improvement, PR: New Feature

#19156 Fix blue in NEOPIXEL_STARTUP_TEST
  Marlin/src/feature/leds/neopixel.cpp
Labels: C: Peripherals, PR: Bug Fix

#19152 SINGLENOZZLE part fan fix when not using STANDBY
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#19140 Support FYSETC S6 2.0 board
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6_V2_0.h
Labels: C: Boards/Pins

#19115 Independent Neopixel strips option
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
  Marlin/src/feature/leds/neopixel.cpp
  Marlin/src/feature/leds/neopixel.h
  Marlin/src/gcode/feature/leds/M150.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
Labels: C: Peripherals

#18907 Fix HOME_AFTER_DEACTIVATE behavior when steppers released
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/feature/camera/M240.cpp
  Marlin/src/gcode/feature/clean/G12.cpp
  Marlin/src/gcode/feature/pause/G27.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/geometry/M206_M428.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/stepper/indirection.h
  Marlin/src/module/tool_change.cpp
Labels: T: Suggestion

#19196 Only set touchscreen offsets if they aren't defined
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
Labels: C: Boards/Pins, C: Configuration
