Repository MarlinFirmware/Marlin, pull requests merged in 2020-10, with the labels that each got.

#19558 Fix move screen when touch_screen is disabled
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: C: LCD & Controllers, T: Development

#19561 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language, PR: Improvement

#19572 Fix bug of negative target temperature in visu screen Anycubic I3 MEGA serie
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#19577 [FIX] G35 Serial output (change counter to anti)
  Marlin/src/gcode/bedlevel/G35.cpp
Labels: C: Hosts & Protocols

#19565 Minor SPI fixes, systick_callback for STM32F1 HAL compatibility
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/HAL_SPI.cpp
Labels: A: STM32

#19593 Fix onboard SD card support for Teensy 4.1 and Teensy 3.6
  Marlin/src/sd/Sd2Card.cpp
  Marlin/src/sd/Sd2Card.h
Labels: F: SD Card Printing, PR: Bug Fix, T: 32-Bit & HAL

#19583 Update config README.md with link to repo as well
  config/README.md
Labels: C: Documentation

#19582 fixes #19566 add TEMP_ADC_PROBE support to stm32f1 HAL
  Marlin/src/HAL/STM32F1/HAL.cpp
Labels: C: Peripherals, PR: Bug Fix

#19581 Fix wrappers on HAL/STM32F1 .cpp files
  Marlin/src/HAL/STM32F1/HAL_SPI.cpp
  Marlin/src/HAL/STM32F1/eeprom_bl24cxx.cpp
  Marlin/src/HAL/STM32F1/eeprom_if_iic.cpp
  Marlin/src/HAL/STM32F1/eeprom_wired.cpp
  Marlin/src/HAL/STM32F1/msc_sd.cpp
  Marlin/src/HAL/STM32F1/onboard_sd.cpp
Labels: PR: Coding Standards

#19538 Add support for X2, Y2 and Z2 to Touch UI.
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/language/language_en.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/advanced_settings_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/stepper_current_screen.cpp
  Marlin/src/lcd/extui/ui_api.cpp
Labels: C: LCD & Controllers, PR: Improvement

#19545 Archim1 Platform.io windows fix.
  Marlin/src/HAL/DUE/upload_extra_script.py
Labels: C: Build / Toolchain

#19615 Fix german translation purging/unloading
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#19607 fixes #19579, Z_AFTER_HOMING ignored with no probe
  Marlin/src/module/probe.h
Labels: C: Motion, F: Calibration, PR: Bug Fix

#19606 Allow overriding of the cold hotend warning.
  Marlin/src/lcd/menu/menu_motion.cpp
  buildroot/tests/mega1280-tests
  buildroot/tests/mega2560-tests
Labels: C: LCD & Controllers, PR: Improvement

#18866 Z Probe Offset Calibration Menu
  Marlin/Configuration_adv.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_probe_offset.cpp
  buildroot/tests/mega2560-tests
Labels: C: LCD & Controllers, F: Calibration, PR: New Feature

#19642 Fix problem with Ender-3 V2 menu system not properly stopping SD prints.
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
Labels: C: LCD & Controllers, F: SD Card Printing, PR: Bug Fix

#19519 Add Chamber servo vent, auto fan
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
Labels: C: Peripherals

#19645 Restore missing ° to 6x9 (USE_SMALL_INFOFONT) font
  Marlin/Configuration_adv.h
  Marlin/src/lcd/dogm/fontdata/fontdata_6x9_marlin.h
  buildroot/share/fonts/marlin-6x9.bdf
Labels: C: LCD & Controllers, PR: Bug Fix

#19647 Update PROBE_OFFSET_WIZARD location
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
Labels: C: LCD & Controllers, PR: Improvement

#19624 Move board that use arduino pins > 69 on env:mega2560 to env:mega2560ext
  Marlin/src/pins/pins.h
  platformio.ini
Labels: A: ATmega2560, C: Build / Toolchain, T: 32-Bit & HAL

#19640 Fix and improve Makefile / CMake
  Marlin/Makefile
  buildroot/share/cmake/CMakeLists.txt
Labels: C: Build / Toolchain, PR: Bug Fix, PR: Improvement

#19654 Update Italian Language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#19185 ADD FLY MINI BOARD
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_FLY_MINI.h
  buildroot/share/PlatformIO/ldscripts/fly_mini.ld
  buildroot/share/PlatformIO/scripts/fly_mini.py
  buildroot/share/PlatformIO/variants/FLY_F407ZG/PeripheralPins.c
  platformio.ini
Labels: C: Boards/Pins

#19664 Optional `M42`/`M226`; Add more features filters
  Marlin/Configuration_adv.h
  Marlin/src/gcode/control/M226.cpp
  Marlin/src/gcode/control/M42.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/MarlinConfig.h
  Marlin/src/inc/MarlinConfigPre.h
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/scripts/common-dependencies.h
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  platformio.ini
Labels: C: Build / Toolchain, C: Optimization, PR: Bug Fix

#19671 Keep HAL tasks running during PID Autotune
  Marlin/src/module/temperature.cpp
Labels: C: Serial Comms, C: Temperatures

#19690 Digipots refactor / cleanup
  Marlin/src/HAL/DUE/fastio/G2_PWM.cpp
  Marlin/src/HAL/LPC1768/inc/SanityCheck.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/dac/dac_mcp4728.cpp
  Marlin/src/feature/dac/dac_mcp4728.h
  Marlin/src/feature/dac/stepper_dac.cpp
  Marlin/src/feature/dac/stepper_dac.h
  Marlin/src/feature/digipot/digipot.h
  Marlin/src/feature/digipot/digipot_mcp4018.cpp
  Marlin/src/feature/digipot/digipot_mcp4451.cpp
  Marlin/src/gcode/feature/digipot/M907-M910.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/pins/ramps/pins_RIGIDBOARD_V2.h
  Marlin/src/pins/teensy2/pins_PRINTRBOARD_REVF.h
  platformio.ini
Labels: PR: Coding Standards, PR: General Cleanup

#19687 Fix at90usb1286 builds
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/AVR/MarlinSerial.cpp
  Marlin/src/HAL/AVR/MarlinSerial.h
  Marlin/src/HAL/STM32F1/dogm/u8g_com_stm32duino_swspi.cpp
  Marlin/src/gcode/control/M111.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/teensy2/pins_PRINTRBOARD_REVF.h
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#19686 Fix various errors, warnings in example config builds
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_upload.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/module/thermistor/thermistor_666.h
  Marlin/src/pins/sensitive_pins.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
Labels: A: STM32, C: Boards/Pins, PR: General Cleanup, PR: Improvement

#19685 cast I2C_ADDRESS to uint8_t, to avoid ambiguous call warnings
  Marlin/src/HAL/HAL.h
Labels: C: Build / Toolchain, PR: General Cleanup

#19694 Fix wait_for_user in the Color UI
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/lcd/tft/touch.cpp
Labels: C: LCD & Controllers, PR: Improvement

#19693 Option to disable Watchdog Init call for STM32
  Marlin/src/HAL/STM32/watchdog.cpp
  Marlin/src/HAL/STM32F1/watchdog.cpp
  Marlin/src/pins/stm32f1/pins_MALYAN_M200.h
Labels: A: STM32, C: Boards/Pins, T: 32-Bit & HAL

#19682 Add ASSISTED_TRAMMING Z distance difference for each point
  Marlin/Configuration_adv.h
  Marlin/src/gcode/bedlevel/G35.cpp
Labels: F: Calibration, PR: Improvement

#18972 Reimplement prusa M915 into G34
  Marlin/Configuration_adv.h
  Marlin/src/gcode/calibrate/G34.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_motion.cpp
  buildroot/tests/LPC1769-tests
  platformio.ini
Labels: PR: New Feature

#19695 Allow configuration of MAX31865 resistance values
  Marlin/Configuration.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
Labels: C: Configuration, C: Peripherals, C: Temperatures

#19696 Fix screen click reading too often
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19697 Add D100 Watchdog Test
  Marlin/src/gcode/gcode_d.cpp
Labels: PR: Improvement, T: Development

#19681 Disable software endstops while doing UBL fine tuning
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G34.cpp
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/gcode/control/M211.cpp
  Marlin/src/gcode/feature/clean/G12.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_probe_offset.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/libs/nozzle.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/tool_change.cpp
Labels: PR: Improvement

#19706 Sanity-check mutually-exclusive G34 features
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#19708 Fix some utf8 issues in Color UI (for FR lang, for example)
  Marlin/src/lcd/tft/tft_string.cpp
  Marlin/src/lcd/tft/tft_string.h
Labels: C: LCD & Controllers, C: Language, PR: Bug Fix

#19373 Add NUCLEO-F767ZI development board
  Marlin/src/HAL/shared/backtrace/unwmemaccess.cpp
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f7/pins_NUCLEO_F767ZI.h
  platformio.ini
Labels: A: STM32

#19724 Watchdog Refresh for LVGL Asset Load
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19713 If needed, home before G34
  Marlin/src/gcode/calibrate/G34.cpp
Labels: F: Calibration, PR: Improvement

#19730 Fix mega2560ext
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#19734 Take an argument in the NOOP version of SET_SOFT_ENDSTOP_LOOSE
  Marlin/src/module/motion.h
Labels: PR: Bug Fix

#19727 Configuration_adv.h: disable LASER_POWER_INLINE
  Marlin/Configuration_adv.h
Labels: C: Configuration, C: Peripherals, PR: Improvement

#19740 ADVANCED_PAUSE not compile without PREVENT_COLD_EXTRUSION (#19463)
  Marlin/src/feature/pause.cpp
Labels: C: Temperatures, PR: Bug Fix

#19754 Fix issue when compiling TOUCH_SCREEN with TFT_LVGL_UI
  Marlin/src/inc/Conditionals_LCD.h
Labels: C: Configuration, C: LCD & Controllers

#19745 Sanity check for unsupported emergency parser config
  Marlin/src/HAL/STM32F1/inc/SanityCheck.h
Labels: C: Configuration, PR: Improvement

#19746 Fix NUCLEO_F767ZI build and add tests
  .github/workflows/test-builds.yml
  Marlin/src/pins/stm32f7/pins_NUCLEO_F767ZI.h
  buildroot/tests/NUCLEO_F767ZI-tests
Labels: A: STM32, C: Build / Toolchain

#19748 Update README.md to indicate support for ESP32 160MHz variant
  README.md
Labels: C: Documentation

#19765 Fix SAMD Serial name macro
  Marlin/src/HAL/SAMD51/HAL.h
Labels: A: SAMD51, PR: Bug Fix

#19752 M410 out of the UART IQR
  Marlin/src/feature/e_parser.cpp
  Marlin/src/feature/e_parser.h
  Marlin/src/module/temperature.cpp
Labels: C: Safety, PR: Improvement

#19756 fix for dualx sudden layer shift (#19151)
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/feature/runout.h
  Marlin/src/gcode/bedlevel/G35.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/temp/M104_M109.cpp
  Marlin/src/libs/L64XX/L64XX_Marlin.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, F: IDEX, PR: Bug Fix

#19766 Fix IS_ULTIPANEL checks
  Marlin/src/inc/Conditionals_post.h
Labels: C: LCD & Controllers, PR: Bug Fix

#19773 Fix starting fan with bad material preset index
  Marlin/src/lcd/menu/menu_temperature.cpp
Labels: C: Peripherals, C: Temperatures, PR: Bug Fix

#19784 fixed bug with pin assignment when using digipots
  Marlin/src/pins/lpc1769/pins_SMOOTHIEBOARD.h
Labels: A: LPC176x, C: Boards/Pins, PR: Bug Fix

#19777 M503 -> M907 output garbled by out of bounds index
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/pins/rambo/pins_RAMBO.h
  Marlin/src/pins/rambo/pins_SCOOVO_X9H.h
  Marlin/src/pins/ramps/pins_BQ_ZUM_MEGA_3D.h
Labels: C: Documentation, C: Hosts & Protocols, F: EEPROM

#19781 Add separate chopper timing
  Marlin/Configuration_adv.h
  Marlin/src/module/stepper/trinamic.cpp
  Marlin/src/module/stepper/trinamic.h
Labels: C: Configuration, F: Trinamic, PR: Improvement

#19798 check for valid stepper driver types
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  buildroot/tests/teensy35-tests
  buildroot/tests/teensy41-tests
Labels: C: Configuration, PR: Improvement

#19801 Add Teensy 4.1 Ethernet support
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/serial.h
  Marlin/src/feature/ethernet.cpp
  Marlin/src/feature/ethernet.h
  Marlin/src/gcode/feature/network/M552-M554.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/module/settings.cpp
  buildroot/tests/teensy41-tests
  platformio.ini
Labels: C: Serial Comms, PR: New Feature

#19820 Move stepper driver defaults to Conditionals_adv.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
Labels: C: Configuration, PR: Bug Fix

#19817 longer3D: do not set LONGER_LK_TFT28 in pins def.
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
Labels: C: Boards/Pins, C: LCD & Controllers, PR: Improvement

#19797 Fix: G2/G3 with P has bad E/Z movement
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: C: Motion, PR: Bug Fix

#19825 General cleanup, mostly MKS UI
  .gitignore
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_about.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_acceleration_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_advance_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_auto_level_offset_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_baby_stepping.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_change_speed.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_eeprom_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_encoder_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_error_message.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_extrusion.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_fan.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_change.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_home.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_homing_sensitivity_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_jerk_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_keyboard.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_language.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_level_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_machine_para.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_machine_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_manuaLevel.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_manual_level_pos_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_max_feedrate_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_motor_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_move_motor.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_number_key.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_operation.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_pause_message.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_pause_position.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_print_file.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_set.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_step_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tmc_current_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tmc_step_mode_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tool.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_list.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_tips.cpp
  Marlin/src/lcd/extui/lib/mks_ui/irq_overrid.cpp
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.cpp
  Marlin/src/lcd/extui/lib/mks_ui/printer_operation.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifiSerial.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
  Marlin/src/pins/esp32/pins_E4D.h
  Marlin/src/pins/pins.h
  platformio.ini
Labels: C: LCD & Controllers, PR: General Cleanup

#19815 Ramps-S v1.2 by Sakul.cz added as a motherboard option
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/ramps/pins_RAMPS_S_12.h
Labels: C: Boards/Pins

#19812 New web GUI based on bootstrap.js
  data/www/bootstrap.min.css
  data/www/bootstrap.min.js
  data/www/bootstrap4-toggle.min.js
  data/www/chart.lineargauge.js
  data/www/chart.min.js
  data/www/filesaver.min.js
  data/www/index-ie.html
  data/www/index.html
  data/www/jquery-3.5.1.slim.min.js
  data/www/jquery.browser.min.js
  data/www/marlin-logo-dark.png
  data/www/marlin-logo.png
  data/www/marlin.css
  data/www/marlin.js
  data/www/marlinui.eot
  data/www/marlinui.svg
  data/www/marlinui.ttf
  data/www/marlinui.woff
  data/www/moment.min.js
  data/www/webmarlin-class.js
  data/www/webmarlin-font.css
  data/www/webmarlin.css
  data/www/webmarlin.js
Labels: C: Hosts & Protocols, PR: Improvement

#19818 Add BigTreeTech SKR Mini MZ V1
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_V2_0.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_MZ_V1_0.h
Labels: C: Boards/Pins

#19837 Add feature PSU POWER Action gcode
  Marlin/Configuration.h
  Marlin/src/feature/power.cpp
Labels: C: Peripherals, PR: New Feature

#19793 FLSUN Delta QQS-Pro pins
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_FLSUN_HISPEED.h
  buildroot/share/PlatformIO/scripts/add_nanolib.py
  platformio.ini
Labels: C: Boards/Pins

#19828 Configure TMC interpolation per driver.
  Marlin/Configuration_adv.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/stepper/trinamic.cpp
Labels: F: Trinamic, PR: New Feature

#19842 Fix FYSETC AIO_II board tmc connection issue
  Marlin/src/pins/stm32f1/pins_FYSETC_AIO_II.h
Labels: C: Boards/Pins, F: Trinamic, PR: Bug Fix

#19843 Slim down MKS UI code
  Marlin/src/lcd/extui/lib/mks_ui/draw_about.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_acceleration_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_advance_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_auto_level_offset_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_baby_stepping.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_change_speed.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_eeprom_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_encoder_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_error_message.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_extrusion.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_fan.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_change.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_home.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_homing_sensitivity_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_jerk_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_language.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_level_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_machine_para.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_machine_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_manuaLevel.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_manual_level_pos_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_max_feedrate_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_motor_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_move_motor.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_number_key.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_operation.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_pause_position.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_print_file.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_set.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_step_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tmc_current_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tmc_step_mode_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tool.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_list.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_tips.cpp
Labels: C: LCD & Controllers, C: Optimization

#19850 Minor CHOPPER_TIMING_ fix
  Marlin/src/module/stepper/trinamic.h
Labels: C: Configuration, F: Trinamic, PR: Bug Fix

#19856 CASE_LIGHT_NO_BRIGHTNESS on PWM pin improvement
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/caselight.h
  Marlin/src/gcode/feature/caselight/M355.cpp
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_led.cpp
  Marlin/src/module/settings.cpp
Labels: C: Configuration, C: Peripherals, PR: Improvement

#19860 Pins post-process header
  Marlin/src/HAL/ESP32/timers.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_postprocess.h
Labels: PR: General Cleanup

#19874 Fix Chitu V5/V6 FAN2 pins
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
Labels: C: Boards/Pins, PR: Bug Fix

#19869 More MKS UI cleanup, optimization
  Marlin/src/feature/tmc_util.h
  Marlin/src/lcd/extui/lib/mks_ui/SPIFlashStorage.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_about.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_acceleration_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_advance_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_auto_level_offset_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_baby_stepping.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_change_speed.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_eeprom_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_encoder_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_error_message.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_extrusion.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_fan.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_change.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_home.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_homing_sensitivity_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_jerk_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_keyboard.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_language.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_level_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_machine_para.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_machine_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_manuaLevel.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_manual_level_pos_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_max_feedrate_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_motor_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_move_motor.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_number_key.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_operation.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_pause_position.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_print_file.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_print_file.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_set.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_step_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tmc_current_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tmc_step_mode_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tool.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_list.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi_tips.cpp
  Marlin/src/lcd/extui/lib/mks_ui/gb2312_puhui16.cpp
  Marlin/src/lcd/extui/lib/mks_ui/mks_hardware_test.cpp
  Marlin/src/lcd/extui/lib/mks_ui/printer_operation.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_upload.cpp
  buildroot/tests/mks_robin_nano35-tests
Labels: C: LCD & Controllers, C: Optimization, PR: Coding Standards, PR: General Cleanup, PR: Improvement

#19881 Fix dependency script for debug in recent PIO changes
  buildroot/share/PlatformIO/scripts/common-dependencies.py
Labels: C: Build / Toolchain, PR: Improvement

#19880 Fix for failed probing on Anycubic Chiron with custom machine name
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft_defs.h
Labels: C: LCD & Controllers, PR: Bug Fix

#19796 Support for 'BTN_ENC_EN' pin in emulated DOGM
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/pinsDebug_list.h
Labels: C: LCD & Controllers, PR: Bug Fix

#19885 Ignore NativeEthernet for at90usb1286 builds
  .github/workflows/test-builds.yml
  platformio.ini
Labels: A: AT90USB, PR: Bug Fix

#19886 Fix stale ZMIB_V2 environment names
  Marlin/src/pins/pins.h
Labels: C: Build / Toolchain, PR: Bug Fix

#19875 Display RA_CONTROL_PANEL requires LiquidCrystal_I2C@1.1.4
  buildroot/share/PlatformIO/scripts/common-dependencies.h
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#19878 Support Fysetc Mini 12864 + GT2560 A(+)
  Marlin/src/pins/mega/pins_GT2560_REV_A.h
Labels: C: Boards/Pins, C: LCD & Controllers

#19904 LVGL follow up (2)
  Marlin/src/lcd/extui/lib/mks_ui/SPI_TFT.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_about.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_print_file.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.h
Labels: C: LCD & Controllers, C: Optimization, PR: Coding Standards, PR: General Cleanup

#19900 Missing watchdog for LVGL
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_lvgl_configuration.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19926 Fix G35 PROGMEM strings
  Marlin/src/gcode/bedlevel/G35.cpp
Labels: PR: Bug Fix

#19901 Toggle buzzer in configuration menu
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/libs/buzzer.cpp
  Marlin/src/module/settings.cpp
  buildroot/tests/LPC1768-tests
  buildroot/tests/mega2560-tests
  buildroot/tests/teensy35-tests
Labels: C: LCD & Controllers, PR: New Feature

#19907 Fix LCD Menus + DAC compilation
  Marlin/src/module/settings.cpp
  buildroot/tests/at90usb1286_dfu-tests
Labels: PR: Bug Fix

#19918 Color UI circular task queue
  Marlin/src/lcd/tft/tft_queue.cpp
  Marlin/src/lcd/tft/tft_queue.h
Labels: C: LCD & Controllers, PR: Bug Fix

#19908 Update ExtUI path in config comment
  Marlin/Configuration.h
Labels: C: Documentation

#19909 add missing LED pins to AZTEEG X5 mini
  Marlin/src/pins/lpc1769/pins_AZTEEG_X5_MINI.h
Labels: C: Boards/Pins, PR: Improvement

#19910 Generalize BTT SKR E3-DIP version string
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
Labels: C: Boards/Pins

#19929 Quote compiler call to not break when compiler path have spaces
  buildroot/share/PlatformIO/scripts/common-dependencies.py
Labels: C: Build / Toolchain

#19919 Color and Classic UI for MKS SGEN L V2
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
Labels: C: Boards/Pins, C: LCD & Controllers

#19905 MKS Nano boards in STM32
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#19953 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#19952 Add stm32f1 FAST_PWM feature
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/STM32F1/fast_pwm.cpp
  Marlin/src/HAL/STM32F1/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_spindle_laser.cpp
Labels: A: STM32, PR: Improvement, T: 32-Bit & HAL

#19947 Update Dagoma F5 board configuration
  Marlin/src/core/boards.h
  Marlin/src/module/thermistor/thermistor_17.h
  Marlin/src/module/thermistor/thermistors.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_DAGOMA_F5.h
Labels: C: Boards/Pins, PR: Improvement

#19962 Resolve probing issues with low set beds
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft_defs.h
Labels: C: Configuration, C: LCD & Controllers, PR: Bug Fix

#19975 Modify PIO debug build path
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
Labels: C: Build / Toolchain

#19971 added SPINDLE_SERVO feature
  Marlin/Configuration_adv.h
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: New Feature
