Repository MarlinFirmware/Marlin, pull requests merged in 2020-01, with the labels that each got.

#16416 [2.0.x] Fix min limit for acc, feed and jerk
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#16417 Finishing touches to Renkforce RF100 config
  config/examples/Renkforce/RF100/Configuration.h
  config/examples/Renkforce/RF100XL/Configuration.h
  config/examples/Renkforce/RF100v2/Configuration.h
Labels: PR: Configurations, PR: Improvement

#16412 stm32: support ENDSTOP_INTERRUPTS_FEATURE
  Marlin/src/inc/SanityCheck.h
Labels: A: STM32, T: 32-Bit & HAL

#16404 improved STEVAL_3DP001V1 support
  Marlin/src/core/boards.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_STEVAL.h
  Marlin/src/pins/stm32/pins_STEVAL_3DP001V1.h
  buildroot/share/PlatformIO/boards/STEVAL_STM32F401VE.json
  buildroot/share/PlatformIO/scripts/STEVAL__F401XX.py
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/PeripheralPins.c
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/PinNamesVar.h
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/hal_conf_custom.h
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/ldscript.ld
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/variant.h
  platformio.ini
Labels: A: STM32, PR: Improvement

#16401 Add support for MKS Robin ILI9328-based TFT display
  Marlin/src/HAL/HAL_STM32F1/dogm/u8g_com_stm32duino_fsmc.cpp
  Marlin/src/lcd/dogm/u8g_dev_tft_320x240_upscale_from_128x64.cpp
  Marlin/src/pins/stm32/pins_MKS_ROBIN.h
Labels: C: LCD & Controllers

#16396 Disable PIDTEMPBED for all SKR Mini E3
  config/examples/BigTreeTech/SKR Mini E3 1.0/Configuration.h
  config/examples/BigTreeTech/SKR Mini E3 1.2/Configuration.h
Labels: PR: Configurations, PR: Improvement

#16390 Don't loop forever in loop procedure
  Marlin/src/Marlin.cpp
Labels: PR: Improvement, T: 32-Bit & HAL

#16384 Refactor TMC-related macros and sanity checks
  Marlin/src/HAL/HAL_DUE/inc/SanityCheck.h
  Marlin/src/HAL/HAL_ESP32/inc/SanityCheck.h
  Marlin/src/HAL/HAL_LINUX/inc/SanityCheck.h
  Marlin/src/HAL/HAL_SAMD51/inc/SanityCheck.h
  Marlin/src/HAL/HAL_STM32/HAL.cpp
  Marlin/src/HAL/HAL_STM32F1/inc/SanityCheck.h
  Marlin/src/HAL/HAL_STM32_F4_F7/inc/SanityCheck.h
  Marlin/src/HAL/HAL_TEENSY31_32/inc/SanityCheck.h
  Marlin/src/HAL/HAL_TEENSY35_36/inc/SanityCheck.h
  Marlin/src/core/drivers.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
Labels: F: Trinamic, PR: Improvement

#16363 Fix dogm warnings
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: PR: General Cleanup

#16364 Fix unused variable warnings in stepper.cpp
  Marlin/src/module/stepper.cpp
Labels: PR: General Cleanup

#16346 Fix PrintrBoard build by ignoring TMC libraries
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix, T: 32-Bit & HAL

#16345 Neopixel doesn't require pwm pin for brightness
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: C: LCD & Controllers, C: Peripherals, PR: Bug Fix

#16431 STM32F1: Fix misleading-indentation/nullptr on fsmc
  Marlin/src/HAL/HAL_STM32F1/dogm/u8g_com_stm32duino_fsmc.cpp
Labels: A: STM32, C: LCD & Controllers, PR: Bug Fix

#16425 Use Z-offset editing precision based on value limits
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
Labels: C: LCD & Controllers, F: Calibration, PR: Improvement

#16424 Add Ender-5 leadscrew readme
  config/examples/Creality/Ender-5/README.md
Labels: C: Documentation, PR: Configurations

#16374 Add motherboard BIGTREE_SKR_V1.4_TURBO
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1769/pins_BTT_SKR_V1_4_TURBO.h
  Marlin/src/pins/pins.h
Labels: C: Hardware/Boards

#16436 [1.1.x] Enable DUAL_NOZZLE_DUPLICATION_MODE for BIBO
  Marlin/example_configurations/BIBO/TouchX/default/Configuration_adv.h
Labels: C: Configuration, PR: Improvement

#16435 [2.0.x] Enable MULTI_NOZZLE_DUPLICATION for BIBO
  config/examples/BIBO/TouchX/default/Configuration_adv.h
Labels: C: Configuration, PR: Improvement

#16432 touch: allow mesh value edit with UBL
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, F: U.B.L., PR: Bug Fix

#16315 Sidewinder X1 Config Updates
  config/examples/Artillery/Sidewinder X1/Configuration.h
  config/examples/Artillery/Sidewinder X1/Configuration_adv.h
  config/examples/Artillery/Sidewinder X1/_Bootscreen.h
Labels: PR: Configurations, PR: Improvement

#16400 Add Leapfrog Xeed 2015 board and pins file
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_LEAPFROG_XEED2015.h
  Marlin/src/pins/pins.h
Labels: C: Hardware/Boards

#16394 Improve JGAurora A1/A5S touch buttons
  config/examples/JGAurora/A1/Configuration.h
  config/examples/JGAurora/A5S/Configuration.h
Labels: C: LCD & Controllers, PR: Improvement

#16448 Standardize drivers.h values, add class indirection
  Marlin/src/core/drivers.h
  Marlin/src/feature/tmc_util.h
  Marlin/src/module/stepper/trinamic.h
  buildroot/share/tests/megaatmega2560-tests
Labels: F: Trinamic, PR: General Cleanup

#16442 Add BTT002 filament runout, PLR, and RGB pins
  Marlin/src/pins/stm32/pins_BTT_BTT002_V1_0.h
Labels: A: STM32, C: Hardware/Boards, C: Peripherals, PR: Improvement

#16437 add missing avr serial pins to pinsDebug.h (M43 improvement)
  Marlin/src/pins/pinsDebug.h
Labels: A: ATmega, A: SAM3X8C/E, PR: Improvement, T: Development

#16367 Fix doubling of MIN_PROBE_EDGE for default ABL G29.
  Marlin/src/core/utility.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/G42.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/probe/G30.cpp
  Marlin/src/gcode/probe/M851.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
  buildroot/share/tests/LPC1768-tests
Labels: C: Configuration, F: Calibration, F: Z-Probes, PR: Bug Fix

#16286 Add example configs. Expand custom menu.
  Marlin/src/lcd/menu/menu_custom.cpp
  config/examples/Anet/E10/Configuration.h
  config/examples/Anet/E10/Configuration_adv.h
  config/examples/Geeetech/D200/Configuration.h
  config/examples/Geeetech/D200/Configuration_adv.h
  config/examples/Geeetech/M201/Configuration.h
  config/examples/Geeetech/M201/Configuration_adv.h
  config/examples/JGAurora/Magic/Configuration.h
  config/examples/JGAurora/Magic/Configuration_adv.h
  config/examples/MakerFarm/Pegasus_12/Configuration.h
  config/examples/MakerFarm/Pegasus_12/Configuration_adv.h
Labels: PR: Configurations

#16320 Add EVNOVO (Artillery) Genius config
  config/examples/Artillery/Genius/Configuration.h
  config/examples/Artillery/Genius/Configuration_adv.h
  config/examples/Artillery/Genius/_Bootscreen.h
Labels: PR: Configurations

#16332 Fix Creality CR-20 Pro configuration example
  config/examples/Creality/CR-20 Pro/Configuration.h
Labels: PR: Configurations, PR: Improvement

#16321 Support FYSETC F6 V1.4 board
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_FYSETC_F6_13.h
  Marlin/src/pins/ramps/pins_FYSETC_F6_14.h
  platformio.ini
Labels: C: Hardware/Boards

#16439 Fix for serials available on SKR-Pro 1.1
  buildroot/share/PlatformIO/variants/BIGTREE_SKR_PRO_1v1/PeripheralPins.c
  buildroot/share/PlatformIO/variants/BIGTREE_SKR_PRO_1v1/variant.h
  platformio.ini
Labels: A: STM32, C: Hardware/Boards, PR: Bug Fix

#16464 Fix EEPROM error when EXTRUDERS == 0
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix

#16459 Fix where Extruders == 0 is considered thermally unsafe
  Marlin/src/gcode/host/M115.cpp
Labels: C: Hosts & Protocols, PR: Improvement

#16460 Fix progress bar calculation for permyriad.
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#16453 french: review & rework UBL menus
  Marlin/src/lcd/language/language_fr.h
Labels: C: Language

#16470 Fix compile error
  Marlin/src/module/configuration_store.cpp
Labels: PR: Bug Fix

#16467 Fix unused variable warning.
  Marlin/src/feature/caselight.cpp
Labels: PR: General Cleanup

#16471 U20: update sample config to help UBL toggle
  config/examples/Alfawise/U20-bltouch/Configuration.h
  config/examples/Alfawise/U20-bltouch/Configuration_adv.h
Labels: PR: Configurations, PR: Improvement

#16501 Fix issue #16493 BOARD_MKS_SGEN fails to build
  Marlin/src/pins/lpc1768/pins_MKS_SBASE.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN.h
Labels: PR: Bug Fix

#16475 Correct eeprom error using single nozzle or multi extruders
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix

#16499 Skr-Pro: don't use conflicting timers with bltouch
  Marlin/src/HAL/HAL_STM32/timers.h
  buildroot/share/PlatformIO/variants/BIGTREE_SKR_PRO_1v1/PeripheralPins.c
  buildroot/share/PlatformIO/variants/BIGTREE_SKR_PRO_1v1/variant.h
Labels: A: STM32, PR: Bug Fix

#16497 Add some missing macros for some 32bits boards Arduino frameworks.
  Marlin/src/feature/dac/dac_mcp4728.h
Labels: T: 32-Bit & HAL

#16485 Fix change filament menu when using filament runout sensor.
  Marlin/src/lcd/menu/menu_filament.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#16474 Fix LCD on the Tevo Tornado
  config/examples/Tevo/Tornado/V2 (MKS GEN-L)/Configuration.h
Labels: C: LCD & Controllers, PR: Bug Fix

#16488 Add Linear Advance/Advance K to Tune menu
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
Labels: C: LCD & Controllers

#16472 Correct speed value for ESP32 board in README
  README.md
Labels: C: Documentation

#16502 Fix issue #16498
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix

#16444 Add menu for adjustment of Probe Offsets
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers, F: Calibration

#16523 LCD: Missing Probe Offset XY sign + fr
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#16522 Update Russian language
  Marlin/src/lcd/language/language_ru.h
Labels: C: Language

#16518 Prevent Z misaligments on tool change
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, PR: Bug Fix

#16527 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#16533 (#16283) Don't allow softendstop overrun before homing
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
Labels: C: Motion, PR: Improvement

#16537 Fix probeless delta build
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/delta.cpp
  Marlin/src/module/delta.h
  buildroot/share/tests/megaatmega2560-tests
Labels: K: Deltabot, PR: Bug Fix

#16530 Command edit, G2-G3
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: PR: Bug Fix

#16454 Add GTM32 (STM32F103VET6) environment
  platformio.ini
Labels: C: Build / Toolchain

#16553 G2Pro config
  config/examples/delta/Geeetech/G2Pro/Configuration.h
  config/examples/delta/Geeetech/G2Pro/Configuration_adv.h
Labels: PR: Configurations

#16514 Corrected upload path detection for Linux
  Marlin/src/HAL/HAL_LPC1768/upload_extra_script.py
Labels: C: Build / Toolchain, PR: Improvement

#16538 improved STEVAL_3DP001V1 support (add SERVO and TONE timers to variant)
  Marlin/src/gcode/feature/powerloss/M1000.cpp
  Marlin/src/lcd/language/language_ru.h
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/variant.h
Labels: A: STM32, PR: Improvement

#16556 Fix extui and plr
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/power_loss_recovery.h
  Marlin/src/gcode/feature/powerloss/M1000.cpp
  Marlin/src/gcode/sdcard/M24_M25.cpp
  Marlin/src/lcd/extensible_ui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/menu/menu_job_recovery.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/sd/cardreader.cpp
  platformio.ini
Labels: C: LCD & Controllers, PR: Bug Fix

#16560 Fix FYSETC S6 FLASH_PAGE_SIZE
  .github/workflows/test-builds.yml
  buildroot/share/PlatformIO/scripts/fysetc_STM32S6.py
  buildroot/share/PlatformIO/variants/FYSETC_S6/variant.h
  buildroot/share/git/mftest
  buildroot/share/tests/FYSETC_S6-tests
  platformio.ini
Labels: A: STM32, T: 32-Bit & HAL

#16539 Nikon IR support for time lapse photos
  Marlin/Configuration_adv.h
  Marlin/src/gcode/feature/camera/M240.cpp
Labels: C: Peripherals, PR: Improvement

#16264 ADC Adjustable Debounce
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
Labels: C: Configuration, C: LCD & Controllers

#16580 STM32 RODATA LENGTH #16411
  buildroot/share/PlatformIO/ldscripts/STM32F103RC_SKR_MINI_256K.ld
  buildroot/share/PlatformIO/ldscripts/STM32F103RC_SKR_MINI_512K.ld
  buildroot/share/PlatformIO/ldscripts/STM32F103RE_SKR_E3_DIP.ld
  buildroot/share/PlatformIO/ldscripts/fysetc_aio_ii.ld
  buildroot/share/PlatformIO/ldscripts/mks_robin_mini.ld
Labels: A: STM32

#16578 I2C address format and lpc176x fmk implementation
  Marlin/src/feature/dac/dac_mcp4728.cpp
Labels: PR: Bug Fix

#16540 Fix bugs in TOUCH_UI_FTDI_EVE
  Marlin/src/lcd/extensible_ui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/basic/commands.cpp
  Marlin/src/lcd/extensible_ui/lib/ftdi_eve_touch_ui/marlin_events.cpp
  Marlin/src/lcd/extensible_ui/lib/ftdi_eve_touch_ui/screens/nudge_nozzle_screen.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#16548 ESP32 HAL: Fix random pauses during prints
  Marlin/src/HAL/HAL_ESP32/HAL.h
  Marlin/src/HAL/HAL_ESP32/Servo.cpp
  Marlin/src/HAL/shared/Delay.h
Labels: A: ESP32, PR: Bug Fix, T: 32-Bit & HAL

#16582 Adjust GTM32 Env
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#16559 Update FYSETC S6 pins
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/ramps/pins_FYSETC_F6_13.h
  Marlin/src/pins/stm32/pins_FYSETC_S6.h
Labels: C: Hardware/Boards, PR: Improvement

#16293 PINDA v2 temperature sensor / compensation
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/feature/probe_temp_compensation.cpp
  Marlin/src/feature/probe_temp_compensation.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G76_M871.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/thermistor/thermistors.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR.h
  buildroot/share/tests/megaatmega2560-tests
Labels: F: Z-Probes, PR: New Feature

#16589 fix X_DUAL_STEPPER_DRIVERS compile error
  Marlin/src/core/drivers.h
Labels: Bug? False Alarm, Needs: Discussion, PR: Bug Fix

#16596 [SAMD51] Add probe temperature compensation adc handling
  Marlin/src/HAL/HAL_SAMD51/HAL.cpp
Labels: A: SAMD51, PR: Improvement, T: 32-Bit & HAL

#16593 Update FYSETC S6 Peripheral Pins
  buildroot/share/PlatformIO/variants/FYSETC_S6/PeripheralPins.c
Labels: A: STM32

#16591 Update BTT002 pins
  Marlin/src/pins/stm32/pins_BTT_BTT002_V1_0.h
Labels: A: STM32, C: Hardware/Boards, PR: Bug Fix

#16587 Fix issue #16569 M85 - Inactivity Shutdown issues.
  Marlin/src/gcode/control/M85.cpp
Labels: PR: Bug Fix

#16421 Add AVR sanity check to prevent MONITOR_DRIVER_STATUS with SoftwareSerial
  Marlin/src/HAL/HAL_AVR/inc/SanityCheck.h
  buildroot/share/tests/megaatmega2560-tests
Labels: C: Serial Comms, F: Trinamic

#16599 STEVAL_3DP001V1 - easier Serial2 (for WIFI interface)
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/variant.h
Labels: PR: Improvement, T: 32-Bit & HAL

#16601 Fix a Greek language string
  Marlin/src/lcd/language/language_el_gr.h
Labels: C: Language

#16277 Add baseline Quad Z stepper support
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/HAL_AVR/endstop_interrupts.h
  Marlin/src/HAL/HAL_DUE/endstop_interrupts.h
  Marlin/src/HAL/HAL_ESP32/endstop_interrupts.h
  Marlin/src/HAL/HAL_LPC1768/endstop_interrupts.h
  Marlin/src/HAL/HAL_SAMD51/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32F1/endstop_interrupts.h
  Marlin/src/HAL/HAL_STM32_F4_F7/endstop_interrupts.h
  Marlin/src/HAL/HAL_TEENSY35_36/endstop_interrupts.h
  Marlin/src/core/drivers.h
  Marlin/src/core/language.h
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/calibrate/M666.cpp
  Marlin/src/gcode/feature/L6470/M122.cpp
  Marlin/src/gcode/feature/L6470/M906.cpp
  Marlin/src/gcode/feature/L6470/M916-918.cpp
  Marlin/src/gcode/feature/trinamic/M569.cpp
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/gcode/feature/trinamic/M911-M914.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_tmc.cpp
  Marlin/src/libs/L64XX/L64XX_Marlin.cpp
  Marlin/src/libs/L64XX/L64XX_Marlin.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/stepper/L64xx.cpp
  Marlin/src/module/stepper/L64xx.h
  Marlin/src/module/stepper/TMC26X.cpp
  Marlin/src/module/stepper/TMC26X.h
  Marlin/src/module/stepper/indirection.h
  Marlin/src/module/stepper/trinamic.cpp
  Marlin/src/module/stepper/trinamic.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/ramps/pins_RL200.h
  Marlin/src/pins/sensitive_pins.h
  buildroot/share/tests/DUE-tests
  buildroot/share/tests/teensy35-tests
Labels: C: Motion, F: Calibration, PR: New Feature

#16600 Fix CHAMBER_MAXTEMP drift offset
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Improvement

#16597 L64xx - M906 - use correct status variable, minor formatting fixes
  Marlin/src/gcode/feature/L6470/M906.cpp
Labels: PR: Bug Fix, PR: Improvement

#16621 Split out & fix STM401, STM4xx & STM32F7xx timers - also fix STEVAL_3DP001V1 compil warning
  Marlin/src/HAL/HAL_STM32/timers.h
  Marlin/src/pins/stm32/pins_STEVAL_3DP001V1.h
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/variant.h
Labels: A: STM32, Bug: Confirmed !, PR: Bug Fix

#16622 New identifier to set i2c master id
  Marlin/Configuration_adv.h
  Marlin/src/HAL/HAL_LPC1768/include/i2c_util.c
  Marlin/src/HAL/HAL_LPC1768/include/i2c_util.h
  Marlin/src/HAL/HAL_LPC1768/u8g/LCD_I2C_routines.cpp
Labels: A: LPC176x, C: Configuration, C: Serial Comms

#16449 G26: release the UI on prime extrusion timeout
  Marlin/src/gcode/bedlevel/G26.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#16620 HMS434 V15 board for due
  Marlin/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/module/thermistor/thermistor_332.h
  Marlin/src/module/thermistor/thermistors.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/sam/pins_CNCONTROLS_15D.h
Labels: A: SAM3X8C/E, C: Hardware/Boards

#16554 Allow G12 defaults per tool & Tool Change Post Script
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/libs/nozzle.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: New Feature

#16652 Enable use of latest TMCStepper on mks_robin_nano
  platformio.ini
Labels: A: STM32, C: Build / Toolchain, F: Trinamic

#16641 Add Duet Smart Effector support
  Marlin/Configuration.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/gcode/config/M672.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/pins/pinsDebug_list.h
Labels: PR: New Feature

#16656 Fix recursive menu call in DELTA_CALIBRATION_MENU
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
Labels: C: LCD & Controllers, C: Motion, K: Deltabot, PR: Improvement

#16636 Mks base + digipot config fails to compile
  Marlin/src/HAL/HAL_LPC1768/include/digipot_mcp4451_I2C_routines.c
  Marlin/src/HAL/HAL_LPC1768/include/digipot_mcp4451_I2C_routines.h
  Marlin/src/HAL/HAL_LPC1768/include/i2c_util.h
  Marlin/src/feature/digipot/digipot_mcp4451.cpp
Labels: C: Build / Toolchain, PR: Bug Fix

#16658 Add missing entry point for idletask for ESP3DLib
  Marlin/src/HAL/HAL_ESP32/HAL.cpp
Labels: A: ESP32, PR: Bug Fix, T: 32-Bit & HAL

#16649 Fix bug #16647, M43 fails to compile when SERIAL_PORT != 0 on AVR
  Marlin/src/pins/pinsDebug.h
Labels: A: ATmega, C: Serial Comms, PR: Bug Fix

#16657 Fix HOMING_BACKOFF_MM for DELTA
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
Labels: F: Calibration, K: Deltabot, PR: Improvement

#16646 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#16645 Fix bug #16644, M43 on AVR breaks Pronterface
  Marlin/src/HAL/HAL_AVR/pinsDebug.h
Labels: PR: Bug Fix

#16637 Fix Spanish bltouch reversed messages
  Marlin/src/lcd/language/language_es.h
Labels: C: Language

#16667 Save and Restore WorkdirDepth when removeFile
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: F: SD Card Printing, Needs: Work, PR: Bug Fix

#16687 Re-Organize Serial Port Output
  Marlin/src/core/serial.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
Labels: C: G-code Parser, C: Serial Comms, T: Suggestion

#16690 ESP32: Delay to Let Idle Task Run in `SdVolume::freeClusterCount()`
  Marlin/src/sd/SdVolume.cpp
Labels: A: ESP32, F: SD Card Printing, T: 32-Bit & HAL

#16717 Main HAS_FAN macro doesn't check right pin definitions
  Marlin/src/inc/Conditionals_post.h
Labels: PR: Bug Fix

#16718 Fix 'waiting for printer to cool down' when probe temp calibration
  Marlin/src/feature/probe_temp_compensation.h
  Marlin/src/gcode/calibrate/G76_M871.cpp
Labels: F: Calibration, F: Z-Probes, PR: Bug Fix

#16716 Add E4d@BOX mainboard
  Marlin/src/core/boards.h
  Marlin/src/pins/esp32/pins_E4D.h
  Marlin/src/pins/pins.h
Labels: C: Hardware/Boards

#16708 Fix M48 build
  Marlin/src/gcode/calibrate/M48.cpp
Labels: PR: Bug Fix

#16715 Fix for G60/G61
  Marlin/src/gcode/feature/pause/G60.cpp
  Marlin/src/gcode/feature/pause/G61.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
Labels: PR: Bug Fix

#16697 Move L64XX index_to_axis to progmem
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/prusa_MMU2/mmu2.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/libs/L64XX/L64XX_Marlin.cpp
  Marlin/src/libs/L64XX/L64XX_Marlin.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper/L64xx.h
  Marlin/src/module/stepper/indirection.h
Labels: C: Optimization

#16725 Refactor heater watch, job timer auto-start
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/temperature/M104_M109.cpp
  Marlin/src/gcode/temperature/M140_M190.cpp
  Marlin/src/gcode/temperature/M141_M191.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: General Cleanup

#16723 Auto assign DIAG pins for multi-endstop
  Marlin/src/core/macros.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pinsDebug_list.h
Labels: C: Configuration, F: Trinamic, PR: Improvement

#16728 Fix compile error in SdVolume.cpp for ESP32
  Marlin/src/sd/SdVolume.cpp
Labels: PR: Bug Fix

#16729 Simultaneous use of rotary encoder and touch buttons
  Marlin/src/lcd/ultralcd.cpp
Labels: C: LCD & Controllers, PR: Improvement

#16727 Multiple endstops on BTT SKR 1.4 / 1.4 Turbo
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
Labels: C: Hardware/Boards

#16731 Add PT100 on MCU's with 3.3v excitation temptable
  Marlin/Configuration.h
  Marlin/src/lcd/thermistornames.h
  Marlin/src/module/thermistor/thermistor_21.h
  Marlin/src/module/thermistor/thermistors.h
Labels: C: Peripherals, T: 32-Bit & HAL
