Repository MarlinFirmware/Marlin, pull requests merged in 2020-11, with the labels that each got.

#19956 Clean up SPI and ST7920 defines
  Marlin/src/HAL/STM32F1/spi_pins.h
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.h
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
  Marlin/src/pins/stm32f1/pins_CCROBOT_MEEB_3DP.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
  Marlin/src/pins/stm32f1/pins_FLSUN_HISPEED.h
  Marlin/src/pins/stm32f1/pins_FLY_MINI.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE3.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_MINI.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f1/pins_TRIGORILLA_PRO.h
  Marlin/src/pins/stm32f4/pins_RUMBA32_MKS.h
Labels: PR: General Cleanup

#19951 Reset calibration screen touch timer when click is consumed
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/touch.h
Labels: C: LCD & Controllers, PR: Improvement

#19954 Automatically center custom status screen logo
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status/bed.h
  Marlin/src/lcd/dogm/status/chamber.h
  Marlin/src/lcd/dogm/status/combined.h
  Marlin/src/lcd/dogm/status/cutter.h
  Marlin/src/lcd/dogm/status/fan.h
  Marlin/src/lcd/dogm/status/hotend.h
Labels: C: LCD & Controllers, PR: General Cleanup

#19945 Increase SPI Speed on LPC. Color and Classic UI for MKS SGEN L.
  Marlin/src/HAL/LPC1768/HAL_SPI.cpp
  Marlin/src/HAL/LPC1768/include/SPI.h
  Marlin/src/HAL/LPC1768/tft/tft_spi.cpp
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
Labels: C: LCD & Controllers, C: Optimization, C: Peripherals

#19990 Fix EP compilation error when using HW Serial for STM32
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/usb_serial.cpp
Labels: A: STM32, C: Serial Comms, T: 32-Bit & HAL

#20005 MenuMedia always accessible from Color UI status screen
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: C: LCD & Controllers, PR: Improvement

#20004 Make Classic UI use the Screen Resolution for Touch (not fixed 320x240)
  Marlin/src/lcd/dogm/u8g_dev_tft_upscale_from_128x64.cpp
  Marlin/src/lcd/touch/touch_buttons.cpp
  Marlin/src/lcd/touch/touch_buttons.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_TRIGORILLA_PRO.h
Labels: C: LCD & Controllers, PR: Improvement

#20002 Add TMC2225/TMC2226 comment
  Marlin/Configuration.h
Labels: C: Documentation, F: Trinamic

#20025 Add STM32 HAL FAST_PWM feature
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/fast_pwm.cpp
  Marlin/src/HAL/STM32/inc/SanityCheck.h
  Marlin/src/HAL/STM32/timers.cpp
  Marlin/src/HAL/STM32/timers.h
Labels: A: STM32, PR: Improvement, T: 32-Bit & HAL

#20011 Add wiring warning for the SKR1.4 when using ANET_FULL_GRAPHICS_LCD
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
Labels: C: Boards/Pins, C: Documentation, C: Safety

#20036 Fix BTT002 PWM assignments in PeripheralPins.c
  buildroot/share/PlatformIO/variants/BIGTREE_BTT002/PeripheralPins.c
Labels: C: Boards/Pins, PR: Bug Fix, T: 32-Bit & HAL

#20035 Fix #19602
  Marlin/src/sd/cardreader.cpp
Labels: F: SD Card Printing, T: Suggestion

#20030 Fix compilation with heated bed and zero extruders
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  buildroot/tests/rambo-tests
Labels: C: Build / Toolchain, C: Configuration

#20020 Add some Spanish translations
  Marlin/src/lcd/language/language_es.h
Labels: C: Language

#20055 E4d@box pins fix
  Marlin/src/pins/esp32/pins_E4D.h
Labels: C: Boards/Pins, PR: Improvement

#20032 Support FYSETC E4 board
  Marlin/src/core/boards.h
  Marlin/src/pins/esp32/pins_FYSETC_E4.h
  Marlin/src/pins/pins.h
  platformio.ini
Labels: C: Boards/Pins

#20044 Fix FYSETC S6 Timer Conflict
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
Labels: A: STM32, C: Boards/Pins, PR: Bug Fix

#20046 STM32F1 Cleanup. Remove STM32F1/SoftwareSerial.
  Marlin/src/HAL/STM32F1/SoftwareSerial.cpp
  Marlin/src/HAL/STM32F1/SoftwareSerial.h
  Marlin/src/HAL/STM32F1/build_flags.py
  Marlin/src/HAL/STM32F1/inc/SanityCheck.h
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#20047 Forbid -1 serial port on STM32F1 without native USB
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/stm32f1/pins_CHITU3D.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V5.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
  Marlin/src/pins/stm32f1/pins_FLSUN_HISPEED.h
  Marlin/src/pins/stm32f1/pins_FLY_MINI.h
  Marlin/src/pins/stm32f1/pins_FYSETC_AIO_II.h
  Marlin/src/pins/stm32f1/pins_FYSETC_CHEETAH.h
  Marlin/src/pins/stm32f1/pins_GTM32_MINI.h
  Marlin/src/pins/stm32f1/pins_GTM32_MINI_A30.h
  Marlin/src/pins/stm32f1/pins_GTM32_PRO_VB.h
  Marlin/src/pins/stm32f1/pins_GTM32_REV_B.h
  Marlin/src/pins/stm32f1/pins_JGAURORA_A5S_A1.h
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE3.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_MINI.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f1/pins_STM3R_MINI.h
  Marlin/src/pins/stm32f1/pins_TRIGORILLA_PRO.h
  buildroot/tests/mks_robin_lite-tests
  buildroot/tests/mks_robin_pro-tests
Labels: A: STM32, C: Configuration, C: Serial Comms, PR: Improvement

#20022 Anet 1.0 alternative graphical LCD wiring
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/sanguino/pins_ANET_10.h
Labels: C: Boards/Pins

#20021 Added Optimised ENV for melzi with stock bootloader
  Marlin/src/pins/pins.h
  platformio.ini
Labels: C: Build / Toolchain

#20053 Single Touch Menu Navigation for Color UI
  Marlin/Configuration.h
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: C: LCD & Controllers

#20000 Tramming Wizard
  Marlin/Configuration_adv.h
  Marlin/src/feature/tramming.h
  Marlin/src/gcode/bedlevel/G35.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_tramming.cpp
  buildroot/share/PlatformIO/scripts/common-dependencies.h
  buildroot/tests/DUE-tests
  platformio.ini
Labels: C: LCD & Controllers, F: Calibration, PR: Improvement

#20051 Fix Endstop Interrupts with SPI endstops, sanity checks
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/endstops.cpp
Labels: C: Peripherals, PR: Bug Fix

#19991 Zonestar Z8XM2 Changes
  Marlin/src/core/boards.h
  Marlin/src/lcd/menu/menu_tramming.cpp
  Marlin/src/lcd/thermistornames.h
  Marlin/src/module/thermistor/thermistor_503.h
  Marlin/src/module/thermistor/thermistors.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_ZRIB_V52.h
Labels: C: Boards/Pins

#20069 BTT SKR mini MZ / E3 2.0: PWR-DET
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
Labels: C: Boards/Pins, C: Peripherals

#20057 Tramming_Wizard Clearance
  Marlin/src/gcode/bedlevel/G35.cpp
  Marlin/src/lcd/menu/menu_tramming.cpp
  Marlin/src/module/probe.cpp
Labels: F: Calibration, PR: Improvement

#19987 Add POWER_OFF_DELAY option
  Marlin/Configuration.h
  Marlin/src/MarlinCore.h
  Marlin/src/feature/power.cpp
  Marlin/src/feature/power.h
  Marlin/src/gcode/control/M80_M81.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#20079 restore 320x240 touch buttons Y
  Marlin/src/lcd/touch/touch_buttons.h
Labels: C: LCD & Controllers, PR: Improvement

#20078 Fix SKR E3 DIP pin CLCD_SPI_CS
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
Labels: C: Boards/Pins, PR: Bug Fix

#20077 Update README.md
  README.md
Labels: C: Documentation

#20076 M84 Spelling
  Marlin/src/MarlinCore.cpp
Labels: PR: General Cleanup

#20058 Arduino DUE compilation fixes
  Marlin/src/HAL/STM32/MarlinSPI.cpp
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/feature/controllerfan.h
Labels: A: SAM3X8C/E, C: Build / Toolchain, PR: Bug Fix

#20092 Fix compilation errors for UI on Native build (simulator)
  Marlin/src/lcd/dogm/u8g_dev_st7920_128x64_HAL.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_language.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_print_file.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_wifi.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_upload.cpp
  Marlin/src/lcd/lcdprint.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
Labels: C: LCD & Controllers, PR: Bug Fix

#20063 Tramming Wizard clear after probing
  Marlin/Configuration_adv.h
  Marlin/src/lcd/menu/menu_tramming.cpp
Labels: F: Calibration, PR: Improvement

#20088 Add BTT driver expansion module to skr1.3 and skr1.4
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_common.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/lpc1769/pins_TH3D_EZBOARD.h
  Marlin/src/pins/ramps/pins_FYSETC_F6_13.h
Labels: C: Boards/Pins, PR: Improvement

#20093 Fix GPIO logging
  .gitignore
  Marlin/src/HAL/LINUX/main.cpp
Labels: PR: Bug Fix, T: 32-Bit & HAL

#19965 Distinct runout states
  Marlin/Configuration.h
  Marlin/src/HAL/DUE/fastio.h
  Marlin/src/HAL/ESP32/fastio.h
  Marlin/src/feature/mmu2/mmu2.cpp
  Marlin/src/feature/runout.h
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.cpp
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/endstop_state_screen.cpp
  Marlin/src/module/endstops.cpp
  buildroot/tests/BIGTREE_GTR_V1_0-tests
  buildroot/tests/mega2560-tests
Labels: F: Filament Sensor, PR: Improvement

#20087 Handle UTF in long filenames
  Marlin/Configuration_adv.h
  Marlin/src/lcd/fontutils.cpp
  Marlin/src/sd/SdBaseFile.cpp
  Marlin/src/sd/SdFatConfig.h
  buildroot/share/fonts/genpages.c
Labels: F: SD Card Printing, PR: New Feature

#20099 Toggle for SD mount on boot
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/sd/cardreader.cpp
Labels: F: SD Card Printing, PR: New Feature

#20074 Fix up MAX31865 / SPI (PT100 & PT1000) support
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  buildroot/share/PlatformIO/variants/archim/variant.h
  platformio.ini
Labels: C: Temperatures, Needs: Testing, PR: Improvement

#20086 Fix MAX6675 SPI init conflict with TMC and others
  Marlin/src/MarlinCore.cpp
  Marlin/src/module/temperature.cpp
Labels: C: Peripherals, PR: Bug Fix

#20113 Add HOME_Z_FIRST option
  Marlin/Configuration_adv.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration, C: Motion, F: Calibration

#20115 Fix longFilename NULL pointer dereference
  Marlin/src/sd/SdBaseFile.cpp
Labels: PR: Bug Fix

#20121 Fix incorrect UTF filename scrolling
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/fontutils.cpp
  Marlin/src/lcd/fontutils.h
  Marlin/src/lcd/marlinui.cpp
Labels: C: LCD & Controllers, C: Language, PR: Bug Fix, PR: Improvement

#20091 G34 stepper locks
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/SanityCheck.h
  platformio.ini
Labels: F: Calibration, PR: Improvement

#20127 Update M303.cpp
  Marlin/src/gcode/temp/M303.cpp
Labels: C: LCD & Controllers, F: Calibration, PR: Bug Fix

#20131 Fix for Linear Advance
  Marlin/src/module/stepper.cpp
Labels: C: Motion, PR: Bug Fix

#20135 Disable UTF_FILENAME_SUPPORT by default
  Marlin/Configuration_adv.h
Labels: C: Configuration, C: LCD & Controllers

#20123 Add BTT EXP MOT on SKR Pro
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
Labels: C: Boards/Pins, C: Peripherals

#20133 Remove legacy value from IDEX menus and add post command option to M605
  Marlin/Configuration_adv.h
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  buildroot/tests/mega2560-tests
Labels: C: LCD & Controllers, F: IDEX, PR: Improvement

#20130 Possible overflow when using BLOCK_BUFFER_SIZE >= 128
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: C: Configuration, C: G-code Parser

#20165 Multi-Hotend Preheat Fixes
  Marlin/src/lcd/menu/menu_temperature.cpp
Labels: C: LCD & Controllers, C: Temperatures, PR: Bug Fix

#20142 Just a few int/ptr type fixes (needed for the simulator)
  Marlin/src/lcd/dogm/u8g_dev_tft_upscale_from_128x64.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: C: LCD & Controllers, PR: Coding Standards, PR: General Cleanup

#20136 add ethernet.cpp src filter
  platformio.ini
Labels: C: Build / Toolchain

#19979 ADD FLY_CDY BOARD
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1769/pins_FLY_CDY.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins

#20179 Lower Ram Usage for Color UI on MKS S GEN L
  Marlin/src/lcd/tft/tft_queue.cpp
  Marlin/src/lcd/tft/tft_queue.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
Labels: C: LCD & Controllers, PR: Improvement

#20183 Minor fix to avoid division by zero, when using the simulator
  Marlin/src/feature/leds/printer_event_leds.cpp
Labels: PR: Bug Fix, PR: Coding Standards, PR: General Cleanup

#19981 Add Makefile & Docker for running tests locally
  .github/workflows/test-builds.yml
  Makefile
  README.md
  buildroot/share/git/mftest
  buildroot/tests/ARMED-tests
  buildroot/tests/BIGTREE_BTT002-tests
  buildroot/tests/BIGTREE_GTR_V1_0-tests
  buildroot/tests/BIGTREE_SKR_PRO-tests
  buildroot/tests/DUE-tests
  buildroot/tests/DUE_archim-tests
  buildroot/tests/FLYF407ZG-tests
  buildroot/tests/FYSETC_F6_13-tests
  buildroot/tests/FYSETC_S6-tests
  buildroot/tests/LERDGEX-tests
  buildroot/tests/LPC1768-tests
  buildroot/tests/LPC1769-tests
  buildroot/tests/NUCLEO_F767ZI-tests
  buildroot/tests/SAMD51_grandcentral_m4-tests
  buildroot/tests/STM32F070CB_malyan-tests
  buildroot/tests/STM32F070RB_malyan-tests
  buildroot/tests/STM32F103CB_malyan-tests
  buildroot/tests/STM32F103RC_btt-tests
  buildroot/tests/STM32F103RC_btt_USB-tests
  buildroot/tests/STM32F103RC_fysetc-tests
  buildroot/tests/STM32F103RC_meeb-tests
  buildroot/tests/STM32F103RE-tests
  buildroot/tests/STM32F103RET6_creality-tests
  buildroot/tests/STM32F103RE_btt-tests
  buildroot/tests/STM32F103RE_btt_USB-tests
  buildroot/tests/STM32F103VE_longer-tests
  buildroot/tests/STM32F4-tests
  buildroot/tests/STM32F401VE_STEVAL-tests
  buildroot/tests/STM32F407VE_black-tests
  buildroot/tests/STM32F7-tests
  buildroot/tests/at90usb1286_cdc-tests
  buildroot/tests/at90usb1286_dfu-tests
  buildroot/tests/esp32-tests
  buildroot/tests/jgaurora_a5s_a1-tests
  buildroot/tests/linux_native-tests
  buildroot/tests/malyan_M300-tests
  buildroot/tests/mega1280-tests
  buildroot/tests/mega2560-tests
  buildroot/tests/mks_robin-tests
  buildroot/tests/mks_robin_lite-tests
  buildroot/tests/mks_robin_mini-tests
  buildroot/tests/mks_robin_nano35-tests
  buildroot/tests/mks_robin_pro-tests
  buildroot/tests/mks_robin_stm32-tests
  buildroot/tests/rambo-tests
  buildroot/tests/rumba32-tests
  buildroot/tests/run_tests
  buildroot/tests/sanguino1284p-tests
  buildroot/tests/sanguino644p-tests
  buildroot/tests/teensy31-tests
  buildroot/tests/teensy35-tests
  buildroot/tests/teensy41-tests
  docker-compose.yml
  docker/Dockerfile
  get_test_targets.py
Labels: C: Build / Toolchain, T: Development

#20178 Allow COLOR_UI be used without TOUCH_SCREEN
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  buildroot/tests/mks_robin_nano35-tests
Labels: C: LCD & Controllers, PR: Bug Fix

#20143 Fix NAN mesh entries with ABL_BILINEAR_SUBDIVISION
  Marlin/src/feature/bedlevel/abl/abl.cpp
Labels: F: Calibration, PR: Bug Fix, S: Please Merge

#20167 Probe wizard move to
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_probe_offset.cpp
Labels: F: Calibration, Needs: Testing

#20151 Go to File Browser on Media Insert (option)
  Marlin/Configuration_adv.h
  Marlin/src/feature/password/password.h
  Marlin/src/gcode/gcode.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_item.h
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/lcd/menu/menu_password.cpp
Labels: C: LCD & Controllers, F: SD Card Printing, PR: New Feature

#19959 Update for FLSun Hispeedv1 Board
  Marlin/src/pins/stm32f1/pins_FLSUN_HISPEED.h
Labels: C: Boards/Pins

#20176 Fix NO_SD_HOST_DRIVE when shared media is not supported
  Marlin/src/HAL/LPC1768/inc/Conditionals_adv.h
  Marlin/src/HAL/LPC1768/main.cpp
  Marlin/src/HAL/STM32/Sd2Card_sdio_stm32duino.cpp
  Marlin/src/HAL/STM32/inc/Conditionals_adv.h
  Marlin/src/HAL/STM32F1/HAL.cpp
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/STM32F1/inc/Conditionals_LCD.h
  Marlin/src/HAL/STM32F1/inc/Conditionals_adv.h
  Marlin/src/HAL/STM32F1/msc_sd.cpp
  Marlin/src/HAL/STM32F1/onboard_sd.cpp
  Marlin/src/inc/Conditionals_post.h
Labels: A: STM32, Needs: Testing, PR: Bug Fix, PR: General Cleanup

#20148 Remaining Time for Prusa-style LCD layout
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
Labels: C: LCD & Controllers, PR: Improvement

#19912 Add SMUFF support
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/LPC1768/inc/SanityCheck.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/mmu/mmu.cpp
  Marlin/src/feature/mmu/mmu.h
  Marlin/src/feature/mmu/mmu2-serial-protocol.md
  Marlin/src/feature/mmu/mmu2.cpp
  Marlin/src/feature/mmu/mmu2.h
  Marlin/src/gcode/config/M220.cpp
  Marlin/src/gcode/control/T.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/feature/prusa_MMU2/M403.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/parser.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_mmu2.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper/indirection.h
  Marlin/src/module/tool_change.cpp
  Marlin/src/pins/lpc1768/pins_MKS_SBASE.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  buildroot/tests/mega2560-tests
  platformio.ini
Labels: C: Peripherals, PR: New Feature

#20193 Update mmu.cpp to fix compilation errors.
  Marlin/src/feature/mmu/mmu.cpp
Labels: PR: Bug Fix

#20188 Use RTD for MAX31865 reading
  Marlin/src/module/temperature.cpp
Labels: C: Temperatures, PR: Bug Fix

#20200 Abort print if media is removed while printing from SD
  Marlin/src/sd/cardreader.cpp
Labels: C: Safety, F: SD Card Printing, PR: Bug Fix

#20201 Fix Fil. Change labels with Extruder > 1
  Marlin/src/lcd/menu/menu_filament.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#20199 fixes #20195 REPRAP_DISCOUNT_SMART_CONTROLLER and ROTATE_PROGRESS_DISPLAY compile error
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
Labels: PR: Bug Fix

#20209 Reduce RAM usage for TFT Color UI on SGen-L V2
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
Labels: A: LPC176x, C: LCD & Controllers, C: Optimization

#19246 Improve thermistor 20-21 descriptions re: ADC Vref and INA826 PT100 supply V
  Marlin/Configuration.h
  Marlin/src/module/thermistor/thermistor_21.h
Labels: C: Documentation, PR: Bug Fix

#20208 Allow LPC Upload Script Run without Admin Privileges on Windows
  Marlin/src/HAL/LPC1768/upload_extra_script.py
Labels: A: LPC176x, C: Build / Toolchain, PR: Improvement

#20185 Support Longer LK Pro / Alfawise PRO board
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_LONGER3D_LK4PRO.h
Labels: A: ATmega2560, C: Boards/Pins

#20214 Missing header for suicide() on LVGL UI
  Marlin/src/lcd/extui/lib/mks_ui/draw_set.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#20213 SINGLE_TOUCH_NAVIGATION follow up
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/touch.h
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#20228 Fix backward Filament Runout (Presence) Sensor pullup/pulldown
  Marlin/src/feature/runout.h
Labels: C: Peripherals, PR: Bug Fix

#20227 Fix wrong argument in SET_FAST_PWM_FREQ call
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#20219 Fix usage of '³' and '²' in LCD language files
  Marlin/src/core/language.h
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
Labels: C: Language, PR: Bug Fix

#19890 BTN_ENC_EN for many boards
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_GMARSH_X6_REV1.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1768/pins_RAMPS_RE_ARM.h
  Marlin/src/pins/lpc1768/pins_SELENA_COMPACT.h
  Marlin/src/pins/lpc1769/pins_AZTEEG_X5_MINI.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/mega/pins_CHEAPTRONICv2.h
  Marlin/src/pins/mega/pins_GT2560_REV_A.h
  Marlin/src/pins/rambo/pins_EINSY_RAMBO.h
  Marlin/src/pins/rambo/pins_EINSY_RETRO.h
  Marlin/src/pins/rambo/pins_MINIRAMBO.h
  Marlin/src/pins/rambo/pins_RAMBO.h
  Marlin/src/pins/ramps/pins_FYSETC_F6_13.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/ramps/pins_RAMPS_S_12.h
  Marlin/src/pins/ramps/pins_TT_OSCAR.h
  Marlin/src/pins/sam/pins_ARCHIM1.h
  Marlin/src/pins/sam/pins_DUE3DOM.h
  Marlin/src/pins/sam/pins_DUE3DOM_MINI.h
  Marlin/src/pins/sam/pins_RADDS.h
  Marlin/src/pins/sam/pins_RAMPS_DUO.h
  Marlin/src/pins/sam/pins_RAMPS_FD_V1.h
  Marlin/src/pins/sam/pins_RURAMPS4D_11.h
  Marlin/src/pins/sam/pins_RURAMPS4D_13.h
  Marlin/src/pins/samd/pins_RAMPS_144.h
  Marlin/src/pins/sanguino/pins_ANET_10.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
  Marlin/src/pins/stm32f1/pins_CHITU3D.h
  Marlin/src/pins/stm32f1/pins_FLY_MINI.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE3.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f1/pins_STM32F1R.h
  Marlin/src/pins/stm32f4/pins_BLACK_STM32F407VE.h
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_RUMBA32_common.h
Labels: C: Boards/Pins, C: LCD & Controllers

#20218 Only send (costly) SW Stepper Enable when toggling
  Marlin/src/module/stepper/indirection.cpp
  Marlin/src/module/stepper/indirection.h
  buildroot/tests/NUCLEO_F767ZI-tests
  buildroot/tests/esp32-tests
Labels: C: Motion, C: Optimization

#20243 Fix Load Filament Wait for User
  Marlin/src/feature/pause.cpp
Labels: F: Filament Sensor, PR: Bug Fix

#20242 Fix issue 20224 by supporting pull-up and pull-down again
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/feature/powerloss.h
  Marlin/src/feature/runout.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.cpp
  buildroot/tests/BIGTREE_GTR_V1_0-tests
  buildroot/tests/mega2560-tests
Labels: C: Peripherals, PR: Bug Fix

#20236 BROWSE_MEDIA_ON_INSERT - "Back" and "Main"
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_media.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#20248 Remove UBL moves to Z0
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
Labels: F: Calibration, Needs: Testing

#20246 Allow Status Message without LCD
  Marlin/src/gcode/temp/M303.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
Labels: C: Hosts & Protocols, C: LCD & Controllers, C: Language

#20247 Fix dummy thermistors for Bed, Chamber, and Probe
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Temperatures, PR: Bug Fix, T: Development

#20145 LCD position in current units
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: C: LCD & Controllers, PR: Improvement

#20263 Set "lcd_move_e" index to fix the label
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#20262 Allow Cold Unload/Load on FilamentChange with M302 P1
  Marlin/src/feature/pause.cpp
Labels: C: Peripherals, C: Temperatures, PR: Improvement

#20254 Prevent Z_MULTI_ENDSTOPS when HOMING_Z_WITH_PROBE
  Marlin/src/inc/SanityCheck.h
  buildroot/tests/DUE-tests
Labels: C: Configuration

#20270 Missing header to use HAS_SD_HOST_DRIVE
  Marlin/src/HAL/STM32F1/msc_sd.cpp
Labels: PR: Bug Fix

#20269 Fix COLOR_UI compilation without TOUCH_SCREEN_CALIBRATION
  Marlin/src/lcd/tft_io/tft_io.h
  Marlin/src/lcd/tft_io/touch_calibration.h
Labels: C: LCD & Controllers, PR: Bug Fix

#20239 Probe_Offset_Wizard: Improvements
  Marlin/Configuration_adv.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_probe_offset.cpp
Labels: F: Calibration, F: Z-Probes, PR: Improvement

#20279 Reduce warnings, extern "C" shorthand
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/ESP32/HAL.h
  Marlin/src/HAL/ESP32/timers.h
  Marlin/src/HAL/HAL.h
  Marlin/src/HAL/LINUX/HAL.cpp
  Marlin/src/HAL/LINUX/HAL.h
  Marlin/src/HAL/LINUX/include/Arduino.h
  Marlin/src/HAL/LPC1768/HAL.cpp
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/LPC1768/MarlinSerial.cpp
  Marlin/src/HAL/LPC1768/main.cpp
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/STM32F1/timers.h
  Marlin/src/HAL/STM32_F4_F7/HAL.h
  Marlin/src/HAL/STM32_F4_F7/STM32F4/timers.cpp
  Marlin/src/HAL/STM32_F4_F7/STM32F7/timers.cpp
  Marlin/src/HAL/TEENSY31_32/HAL.h
  Marlin/src/HAL/TEENSY31_32/timers.h
  Marlin/src/HAL/TEENSY35_36/HAL.h
  Marlin/src/HAL/TEENSY35_36/timers.h
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/HAL/TEENSY40_41/timers.h
  Marlin/src/libs/duration_t.h
Labels: PR: Coding Standards, PR: General Cleanup

#20153 Remove HAL/STM32_F4_F7
  .github/workflows/test-builds.yml
  Marlin/src/HAL/STM32/pinsDebug.h
  Marlin/src/HAL/STM32/pinsDebug_STM32GENERIC.h
  Marlin/src/HAL/STM32/pinsDebug_STM32duino.h
  Marlin/src/HAL/STM32F1/pinsDebug.h
  Marlin/src/HAL/STM32_F4_F7/HAL.cpp
  Marlin/src/HAL/STM32_F4_F7/HAL.h
  Marlin/src/HAL/STM32_F4_F7/HAL_SPI.cpp
  Marlin/src/HAL/STM32_F4_F7/README.md
  Marlin/src/HAL/STM32_F4_F7/STM32F4/README.md
  Marlin/src/HAL/STM32_F4_F7/STM32F4/timers.cpp
  Marlin/src/HAL/STM32_F4_F7/STM32F4/timers.h
  Marlin/src/HAL/STM32_F4_F7/STM32F7/README.md
  Marlin/src/HAL/STM32_F4_F7/STM32F7/TMC2660.cpp
  Marlin/src/HAL/STM32_F4_F7/STM32F7/TMC2660.h
  Marlin/src/HAL/STM32_F4_F7/STM32F7/timers.cpp
  Marlin/src/HAL/STM32_F4_F7/STM32F7/timers.h
  Marlin/src/HAL/STM32_F4_F7/Servo.cpp
  Marlin/src/HAL/STM32_F4_F7/Servo.h
  Marlin/src/HAL/STM32_F4_F7/eeprom_emul.cpp
  Marlin/src/HAL/STM32_F4_F7/eeprom_emul.h
  Marlin/src/HAL/STM32_F4_F7/eeprom_flash.cpp
  Marlin/src/HAL/STM32_F4_F7/eeprom_wired.cpp
  Marlin/src/HAL/STM32_F4_F7/endstop_interrupts.h
  Marlin/src/HAL/STM32_F4_F7/fastio.h
  Marlin/src/HAL/STM32_F4_F7/inc/Conditionals_LCD.h
  Marlin/src/HAL/STM32_F4_F7/inc/Conditionals_adv.h
  Marlin/src/HAL/STM32_F4_F7/inc/Conditionals_post.h
  Marlin/src/HAL/STM32_F4_F7/inc/SanityCheck.h
  Marlin/src/HAL/STM32_F4_F7/pinsDebug.h
  Marlin/src/HAL/STM32_F4_F7/spi_pins.h
  Marlin/src/HAL/STM32_F4_F7/timers.h
  Marlin/src/HAL/STM32_F4_F7/watchdog.cpp
  Marlin/src/HAL/STM32_F4_F7/watchdog.h
  Marlin/src/HAL/platforms.h
  Marlin/src/HAL/shared/backtrace/unwmemaccess.cpp
  Marlin/src/HAL/shared/servo.h
  Marlin/src/core/boards.h
  Marlin/src/core/macros.h
  Marlin/src/module/stepper/TMC26X.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_BEAST.h
  Marlin/src/pins/stm32f4/pins_GENERIC_STM32F4.h
  Marlin/src/pins/stm32f7/pins_THE_BORG.h
  buildroot/tests/BIGTREE_SKR_PRO-tests
  buildroot/tests/REMRAM_V1-tests
  buildroot/tests/STM32F103RC_btt-tests
  buildroot/tests/STM32F4-tests
  platformio.ini
Labels: A: STM32, Needs: Testing, PR: General Cleanup, S: Don't Merge, T: 32-Bit & HAL

#20216 Add support for MKS Robin E3/E3D V1.1 motherboard
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3D_V1_1.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_V1_1.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_V1_1_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
Labels: C: Boards/Pins

#20241 Use probe to level corners
  Marlin/Configuration.h
  Marlin/src/feature/backlash.cpp
  Marlin/src/feature/bltouch.cpp
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
  buildroot/tests/LPC1769-tests
Labels: PR: New Feature

#20290 [WIP] Fix nozzle to probe offset
  Marlin/src/module/probe.cpp
Labels: F: Calibration, F: Z-Probes, PR: Bug Fix

#20084 M808 Repeat Markers
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/feature/repeat.cpp
  Marlin/src/feature/repeat.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/sd/M808.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
  buildroot/test-gcode/M808-loops.gcode
  buildroot/tests/mega2560-tests
  platformio.ini
Labels: C: Hosts & Protocols, F: SD Card Printing, PR: New Feature

#20296 enable sensorless homing in both directions
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
Labels: C: Boards/Pins, PR: Bug Fix, PR: Improvement

#20292 G2 and G3 Math Error Correction (referencing issue #20258)
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: C: Motion, PR: Bug Fix

#20283 Fix motion over soft. endstop after M84 #20264
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
Labels: C: Motion, F: Calibration, PR: Bug Fix

#20314 Test if circle first before angular corrections
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: C: Motion, PR: Improvement

#20320 Controller Fan for SKR E3 Turbo (same as SKR mini E3)
  Marlin/src/pins/lpc1769/pins_BTT_SKR_E3_TURBO.h
Labels: C: Boards/Pins

#20316 Add default fade height configuration
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/settings.cpp
Labels: C: Configuration, PR: Improvement

#20323 Adjust axis homed / trusted methods
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G34.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/stepper/indirection.h
Labels: C: Motion, F: Calibration, PR: General Cleanup
