Repository MarlinFirmware/Marlin, pull requests merged in 2020-02, with the labels that each got.

#16745 Update language_ru.h
  Marlin/src/lcd/language/language_ru.h
Labels: C: Language

#16738 Update pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
Labels: C: Hardware/Boards, PR: Bug Fix

#16737 Revert "Fix Trigorilla 1.4 limit switches"
  Marlin/src/pins/ramps/pins_TRIGORILLA_14.h
Labels: C: Hardware/Boards, PR: Bug Fix

#16747 Kill steppers when M112 is processed by the emergency parser
  Marlin/src/module/temperature.cpp
Labels: C: G-code Parser, PR: Bug Fix

#16751 Encapsulate probe as singleton class
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/utility.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/G42.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/calibrate/G76_M871.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/config/M304.cpp
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/gcode/probe/G30.cpp
  Marlin/src/gcode/probe/G31_G32.cpp
  Marlin/src/gcode/probe/M401_M402.cpp
  Marlin/src/gcode/probe/M851.cpp
  Marlin/src/lcd/extensible_ui/lib/dgus/DGUSDisplayDefinitionFYSETC.cpp
  Marlin/src/lcd/extensible_ui/lib/dgus/DGUSDisplayDefinitionHIPRECY.cpp
  Marlin/src/lcd/extensible_ui/lib/dgus/DGUSDisplayDefinitionOrigin.cpp
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
Labels: PR: Coding Standards, PR: General Cleanup

#16473 G34 automatic point assignment
  Marlin/Configuration_adv.h
  Marlin/src/feature/z_stepper_align.cpp
  Marlin/src/feature/z_stepper_align.h
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/module/configuration_store.cpp
Labels: F: Calibration, Needs: Work, PR: Improvement

#16749 Fix Temperature::over_autostart_threshold
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#16750 Update Russian language
  Marlin/src/lcd/language/language_ru.h
Labels: C: Language

#16757 Add nested REPEAT. Use it (and loops) to reduce source size.
  Marlin/src/core/macros.h
  Marlin/src/feature/runout.h
  Marlin/src/gcode/calibrate/M666.cpp
  Marlin/src/gcode/config/M301.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/stepper/indirection.h
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/pins.h
Labels: C: Optimization, PR: Coding Standards, PR: General Cleanup, PR: Improvement

#16755 Add Z_AFTER_HOMING to raise after homing Z
  Marlin/Configuration.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/module/motion.cpp
Labels: C: Configuration, F: Calibration

#16759 Add extra corner leveling margin options
  Marlin/Configuration.h
  Marlin/src/feature/joystick.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/module/planner.h
Labels: F: Calibration, PR: Improvement

#16771 Fix warning for ESP32 in HAL_ESP32/timers.cpp
  Marlin/src/HAL/HAL_ESP32/timers.cpp
Labels: A: ESP32, PR: General Cleanup, T: 32-Bit & HAL

#16773 Keep secure credentials in a separate config file
  .gitignore
  Marlin/Configuration_adv.h
  buildroot/bin/opt_set
  buildroot/share/tests/esp32-tests
Labels: C: Configuration, PR: Improvement

#16756 STM32duino - SDIO for onboard SD card (experimental)
  Marlin/src/HAL/HAL_STM32/Sd2Card_sdio_stm32duino.cpp
  Marlin/src/HAL/HAL_STM32F1/timers.h
  Marlin/src/core/boards.h
  Marlin/src/core/macros.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/pinsDebug.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/stm32/pins_ARMED.h
  Marlin/src/pins/stm32/pins_BLACK_STM32F407VE.h
  Marlin/src/pins/stm32/pins_BTT_SKR_PRO_V1_1.h
  Marlin/src/pins/stm32/pins_FLYF407ZG.h
  Marlin/src/pins/stm32/pins_STEVAL_3DP001V1.h
  buildroot/share/PlatformIO/variants/STEVAL_F401VE/variant.h
  buildroot/share/tests/BIGTREE_BTT002-tests
  buildroot/share/tests/BIGTREE_SKR_PRO-tests
  buildroot/share/tests/STM32F103RC_bigtree_USB-tests
  buildroot/share/tests/STM32F103RE_bigtree-tests
  buildroot/share/tests/STM32F103RE_bigtree_USB-tests
Labels: A: STM32, Needs: Discussion, PR: Improvement, PR: New Feature, S: Experimental

#16781 Add MKS_RUMBA32, rename RUMBA32 to AUS3D_RUMBA32
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_1.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_common.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32/pins_RUMBA32_AUS3D.h
  Marlin/src/pins/stm32/pins_RUMBA32_MKS.h
  Marlin/src/pins/stm32/pins_RUMBA32_common.h
  platformio.ini
Labels: C: Hardware/Boards, PR: General Cleanup, PR: Improvement

#16794 Remove Unused Serial Port Initialization
  Marlin/src/HAL/HAL_LPC1768/main.cpp
  Marlin/src/MarlinCore.cpp
Labels: A: LPC176x, PR: General Cleanup, T: 32-Bit & HAL

#16793 Fix for probe with multiple endstops
  Marlin/src/module/endstops.cpp
Labels: F: Calibration, PR: Bug Fix

#16790 Coolstep for TMC2130, 2209, 5130, 5160
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/HAL_AVR/inc/SanityCheck.h
  Marlin/src/HAL/HAL_DUE/inc/SanityCheck.h
  Marlin/src/HAL/HAL_ESP32/inc/SanityCheck.h
  Marlin/src/HAL/HAL_LINUX/inc/SanityCheck.h
  Marlin/src/HAL/HAL_SAMD51/inc/SanityCheck.h
  Marlin/src/HAL/HAL_STM32/HAL.cpp
  Marlin/src/HAL/HAL_STM32F1/inc/SanityCheck.h
  Marlin/src/HAL/HAL_STM32_F4_F7/inc/SanityCheck.h
  Marlin/src/HAL/HAL_TEENSY31_32/inc/SanityCheck.h
  Marlin/src/HAL/HAL_TEENSY35_36/inc/SanityCheck.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/drivers.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper/trinamic.cpp
  Marlin/src/pins/lpc1768/pins_GMARSH_X6_REV1.h
  Marlin/src/pins/lpc1769/pins_TH3D_EZBOARD.h
  Marlin/src/pins/mega/pins_MIGHTYBOARD_REVE.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_Z_BOLT_X_SERIES.h
  Marlin/src/pins/stm32/pins_BTT_SKR_MINI_E3_V1_0.h
Labels: F: Trinamic, PR: Improvement

#16811 Fix probing failed raise to infinity
  Marlin/src/feature/bltouch.h
  Marlin/src/module/probe.cpp
Labels: F: Z-Probes, PR: Bug Fix

#16792 Add PID Controls to ExtUI
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: Improvement

#16806 Updated pin description for MKS BASE V1.6
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_MKS_BASE_10.h
  Marlin/src/pins/ramps/pins_MKS_BASE_14.h
  Marlin/src/pins/ramps/pins_MKS_BASE_15.h
  Marlin/src/pins/ramps/pins_MKS_BASE_16.h
  Marlin/src/pins/ramps/pins_MKS_BASE_common.h
Labels: C: Hardware/Boards

#16818 GCode quoted string support
  Marlin/Configuration_adv.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/queue.cpp
  buildroot/share/tests/megaatmega1280-tests
Labels: C: G-code Parser, PR: Improvement

#16827 Split up PID for ExtUI
  Marlin/src/lcd/extensible_ui/ui_api.cpp
  Marlin/src/lcd/extensible_ui/ui_api.h
Labels: C: LCD & Controllers, PR: General Cleanup, PR: Improvement

#16826 Update platformio.ini for mks_robin nano
  platformio.ini
Labels: A: STM32, C: Build / Toolchain, PR: Bug Fix

#16813 Fix babystepping pulse timing
  Marlin/src/module/stepper.cpp
Labels: A: STM32, C: Motion, F: Calibration, PR: Bug Fix

#16832 Update Samd51 smarteeprom repository link
  Marlin/src/HAL/HAL_SAMD51/inc/SanityCheck.h
Labels: C: Documentation

#16833 Use prior babystep delay method
  Marlin/src/module/stepper.cpp
Labels: C: Motion, PR: Bug Fix

#16835 [AGCM4] Prevent pin glitches on out commutation
  Marlin/src/HAL/HAL_SAMD51/fastio.h
Labels: A: SAMD51, PR: Improvement

#16841 MarlinSerial Constructor for DGUS_SERIAL_PORT
  Marlin/src/HAL/HAL_LPC1768/MarlinSerial.cpp
Labels: C: LCD & Controllers, C: Serial Comms

#16840 Fix line parsing
  Marlin/src/gcode/queue.cpp
Labels: C: G-code Parser, PR: Bug Fix

#16849 Stop timer when M140 has target temp below mintemp
  Marlin/src/gcode/temperature/M140_M190.cpp
Labels: PR: Improvement

#16850 Remove unused GCodeQueue::Stopped_N
  Marlin/src/MarlinCore.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
Labels: C: G-code Parser, PR: General Cleanup

#16844 [For ESP32] Added ESPAsyncTCP to lib_ignore
  platformio.ini
Labels: A: ESP32, C: Build / Toolchain, PR: Bug Fix

#16606 Add ramps 1.4.4 to AGCM4
  .github/workflows/test-builds.yml
  Marlin/src/HAL/HAL_SAMD51/timers.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/samd/pins_RAMPS_144.h
  buildroot/share/tests/SAMD51_grandcentral_m4-tests
Labels: A: SAMD51

#16856 Clean up host actions code
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/host_actions.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/feature/runout.cpp
  Marlin/src/gcode/host/M876.cpp
Labels: PR: Coding Standards, PR: General Cleanup

#16857 Clean up stepper and babystep
  Marlin/src/HAL/HAL_ESP32/i2s.cpp
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/babystep.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/temperature.cpp
Labels: C: Motion, PR: Coding Standards, PR: General Cleanup

#16830 Fysetc s6 board update
  Marlin/Configuration_adv.h
  Marlin/src/lcd/extensible_ui/lib/ftdi_eve_touch_ui/compat.h
  Marlin/src/lcd/extensible_ui/lib/ftdi_eve_touch_ui/pin_mappings.h
  Marlin/src/pins/stm32/pins_FYSETC_S6.h
Labels: C: Hardware/Boards, C: LCD & Controllers

#16864 Double ADC read frequency
  Marlin/src/module/temperature.cpp
  platformio.ini
Labels: C: Peripherals, PR: Improvement, S: Experimental

#16829 Integrate BABYSTEPPING into the stepper ISR
  Marlin/Configuration_adv.h
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/babystep.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/temperature.cpp
Labels: C: Motion, F: Trinamic, Needs: Work, PR: Improvement, S: Experimental

#16868 Move SAMD51 temp timer to RTC
  Marlin/src/HAL/HAL_SAMD51/timers.cpp
  Marlin/src/HAL/HAL_SAMD51/timers.h
Labels: A: SAMD51, C: Peripherals, PR: Improvement

#16867 Fix wrong unknown command
  Marlin/src/gcode/queue.cpp
Labels: C: G-code Parser, C: Serial Comms, PR: Improvement

#16877 French: small update
  Marlin/src/lcd/language/language_fr.h
Labels: C: Language

#16906 Port redirect for movement command message when stop
  Marlin/src/gcode/queue.cpp
Labels: C: Serial Comms, PR: Bug Fix

#16914 Fix to build with ubl
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
Labels: PR: Bug Fix

#16890 TMC2209 - Disable spreadcycle in tmc_enable_stallguard(TMC2209Stepper &st)
  Marlin/src/feature/tmc_util.cpp
Labels: F: Trinamic, PR: Bug Fix

#16898 Fix EEPROM errors when EXTRUDERS == 0
  Marlin/src/module/configuration_store.cpp
Labels: F: EEPROM, PR: Bug Fix

#16891 Add support for PICA Shields
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_PICA.h
  Marlin/src/pins/mega/pins_PICAOLD.h
  Marlin/src/pins/pins.h
Labels: C: Hardware/Boards

#16918 [ESP32] Allow user to define pins for hardware Serial1 and Serial2
  Marlin/src/HAL/HAL_ESP32/HAL.cpp
  Marlin/src/pins/esp32/pins_MRR_ESPA.h
  Marlin/src/pins/esp32/pins_MRR_ESPE.h
Labels: A: ESP32, C: Serial Comms

#16921 Fix Bugfix 2.0.x #16908, fix broken M0
  Marlin/src/gcode/lcd/M0_M1.cpp
Labels: PR: Bug Fix

#16928 Fix ANET_FULL_GRAPHICS_LCD SKR 1.4
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
Labels: A: LPC1768, C: Hardware/Boards, C: LCD & Controllers

#16930 Reduce default TMC baud rate to 57600 when using Software Serial
  Marlin/src/module/stepper/trinamic.cpp
Labels: F: Trinamic, PR: Improvement

#16945 Allow Z_SAFE_HOMING_POINT outside of bed area (#16943)
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#16944 Revert "Clean up Makefile indentation"
  Marlin/Makefile
Labels: C: Build / Toolchain, PR: Bug Fix

#16957 Config Updates
  Marlin/Configuration_adv.h
Labels: C: Documentation

#16947 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#16956 Fix Cutter overlapping Bed Icon
  Marlin/Configuration_adv.h
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
Labels: C: Configuration, C: LCD & Controllers

#16955 Fix SKR14 Turbo overlapping define
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
Labels: C: Hardware/Boards, PR: Bug Fix

#16967 Ensure proper SD print completion
  Marlin/src/MarlinCore.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: F: SD Card Printing, PR: Bug Fix

#16976 Fix GTR10 Overlapping Defines
  platformio.ini
Labels: C: Build / Toolchain, PR: General Cleanup

#16979 Toolchange tweaks
  Marlin/src/module/tool_change.cpp
Labels: PR: Improvement

#16977 Lcd alert eeprom error
  Marlin/src/MarlinCore.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/ultralcd.cpp
  Marlin/src/lcd/ultralcd.h
  Marlin/src/module/configuration_store.cpp
Labels: C: LCD & Controllers, F: EEPROM, PR: Improvement

#16980 Bugfix 2.0.x add lpc1768 serial ports to pinsdebug
  Marlin/src/pins/pinsDebug.h
Labels: PR: Improvement, T: Development

#16974 SKR Pin Ordering Comment Change
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/stm32/pins_BTT_SKR_E3_DIP.h
  Marlin/src/pins/stm32/pins_BTT_SKR_MINI_E3.h
Labels: C: Documentation, C: Hardware/Boards, PR: Improvement

#16966 Bugfix 2.0.x TRINAMICS issue #16961
  Marlin/src/inc/Conditionals_post.h
Labels: F: Trinamic

#16981 Sanity check for LPC serial pin conflict
  Marlin/src/HAL/HAL_LPC1768/MarlinSerial.cpp
  Marlin/src/HAL/HAL_LPC1768/inc/SanityCheck.h
Labels: C: Build / Toolchain, C: Configuration

#16960 Allow servo features in combination
  Marlin/src/feature/bltouch.h
  Marlin/src/gcode/config/M281.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/configuration_store.cpp
  Marlin/src/module/servo.h
Labels: C: Peripherals, PR: Improvement

#16872 Quick-homing sensorless back-off
  Marlin/src/gcode/calibrate/G28.cpp
Labels: F: Calibration, F: Trinamic, S: Experimental

#16932 Case-insensitive G-code option
  Marlin/Configuration_adv.h
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/parser.h
Labels: C: G-code Parser

#16996 Update planner.cpp
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#17006 G33 sanity_check was lost on the way
  Marlin/src/module/probe.h
Labels: F: Calibration, PR: Bug Fix

#17005 Fix G76 reachable test
  Marlin/src/gcode/calibrate/G76_M871.cpp
Labels: F: Calibration, PR: Bug Fix

#17013 Fix a bug in G34 where "Decreasing accuracy detected" error would throw
  Marlin/src/gcode/calibrate/G34_M422.cpp
Labels: F: Calibration, PR: Bug Fix

#17010 Reverse encoder for FYSETC Mini 12864 2.1 + SKR 1.3
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
Labels: C: Hardware/Boards, C: LCD & Controllers, PR: Bug Fix

#17019 Catch more LPC1768 pin conflicts
  Marlin/src/HAL/HAL_LPC1768/inc/SanityCheck.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
Labels: A: LPC1768, A: LPC1769, A: LPC176x, C: Build / Toolchain, C: Configuration, PR: Improvement, T: 32-Bit & HAL

#17021 Update comment on gt2560 pins
  Marlin/src/pins/mega/pins_GT2560_V3.h
Labels: C: Documentation, C: Hardware/Boards
