Repository MarlinFirmware/Marlin, pull requests merged in 2021-08, with the labels that each got.

#22470 MKSUI with CUSTOM_MENU_MAIN - fix compilation error
  Marlin/src/lcd/extui/mks_ui/draw_more.cpp
Labels: C: LCD & Controllers

#22475 Add override for serial buffer size
  buildroot/share/PlatformIO/scripts/stm32_serialbuffer.py
  ini/stm32f4.ini
Labels: A: STM32, C: Build / Toolchain

#22452 Fix G38 behavior for probes that use Z_MIN pins
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/endstops.cpp
Labels: Bug: Potential ?, Needs: Discussion

#22479 Fixes issue #21274 compile error with maple env.
  Marlin/src/lcd/extui/dgus/DGUSScreenHandler.cpp
Labels: A: STM32, PR: Bug Fix

#22477 STM32F1: Allow board_build.rename like in STM32 HAL
  buildroot/share/PlatformIO/scripts/STM32F103VE_longer.py
  ini/stm32-common.ini
  ini/stm32f1-maple.ini
Labels: C: Build / Toolchain

#22482 Fix LINEAR_AXES > 3 compile/display, endstops consistency
  Marlin/src/core/serial.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
Labels: PR: Bug Fix

#22487 Fix up endstop flags
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/endstops.h
  buildroot/tests/teensy35
  buildroot/tests/teensy41
Labels: PR: Bug Fix

#22500 FTDI Eve Touch UI Fixes
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/extended/command_processor.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/extended/text_box.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/extended/text_ellipsis.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/dialog_box_base_class.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/dialog_box_base_class.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/interface_settings_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/interface_sounds_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/interface_sounds_screen.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/spinner_dialog_box.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/spinner_dialog_box.h
Labels: C: LCD & Controllers

#22504 Fix extra E move in toolchange (TOOLCHANGE_NO_RETURN)
  Marlin/src/module/tool_change.cpp
Labels: Bug: Confirmed !, C: Motion, F: Toolchange

#22473 Longer3D: STM32 boot fix, keep tests on maple env
  .github/workflows/test-builds.yml
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
  buildroot/share/PlatformIO/variants/MARLIN_F103VE_LONGER/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_F103VE_LONGER/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_F103VE_LONGER/hal_conf_custom.h
  buildroot/share/PlatformIO/variants/MARLIN_F103VE_LONGER/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_F103VE_LONGER/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_F103VE_LONGER/variant.h
  ini/stm32f1.ini
Labels: C: Boards/Pins, C: Build / Toolchain

#21562 Mixer Presets
  Marlin/Configuration.h
  Marlin/src/feature/mixing.cpp
Labels: C: LCD & Controllers

#22493 M42: Prevent unwanted pin mode switch to output
  Marlin/src/gcode/control/M42.cpp
Labels: T: Development

#22525 Simplify endstops flags, part 2
  Marlin/src/inc/Conditionals_post.h
Labels: C: Boards/Pins, PR: Bug Fix, F: Calibration

#22511 STM32: Fix unused EEPROM variable warning
  Marlin/src/HAL/STM32/eeprom_flash.cpp
Labels: PR: Improvement, C: Build / Toolchain

#22515 Fix MKS 'USB Flash MSC' environments
  ini/stm32f4.ini
Labels: PR: Bug Fix, S: Please Merge, C: Build / Toolchain

#22528 MKS PWC module adds macro definition
  Marlin/src/gcode/lcd/M995.cpp
  Marlin/src/pins/lpc1768/pins_MKS_SBASE.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_common.h
  Marlin/src/pins/stm32f1/pins_FLSUN_HISPEED.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_PRO_V2.h
Labels: C: Peripherals

#22530 Corrections to FTDI Eve Touch UI
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/extended/adjuster_widget.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/spinner_dialog_box.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/spinner_dialog_box.h
Labels: C: LCD & Controllers

#22531 🐛 Spellcheck code
  Marlin/src/HAL/DUE/usb/sd_mmc_spi_mem.h
  Marlin/src/HAL/DUE/usb/udd.h
  Marlin/src/HAL/STM32/tft/tft_ltdc.cpp
  Marlin/src/feature/binary_stream.h
  Marlin/src/lcd/extui/mks_ui/tft_lvgl_configuration.h
  Marlin/src/lcd/extui/mks_ui/wifi_module.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_module.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_host_INLINE.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/macro_logic.h
Labels: PR: General Cleanup

#22498 Zonestar ZM3E2, ZM3E4 V1, ZM3E4 V2
  .github/workflows/test-builds.yml
  Marlin/src/core/boards.h
  Marlin/src/lcd/tft_io/touch_calibration.cpp
  Marlin/src/lcd/tft_io/touch_calibration.h
  Marlin/src/pins/lpc1769/pins_BTT_SKR_E3_TURBO.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_V2_0.h
  Marlin/src/pins/stm32f1/pins_JGAURORA_A5S_A1.h
  Marlin/src/pins/stm32f1/pins_MINGDA_MPX_ARM_MINI.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_MINI.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_TRIGORILLA_PRO.h
  Marlin/src/pins/stm32f1/pins_ZM3E2_V1_0.h
  Marlin/src/pins/stm32f1/pins_ZM3E4_V1_0.h
  Marlin/src/pins/stm32f1/pins_ZM3E4_V2_0.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX.h
  buildroot/share/PlatformIO/ldscripts/ZONESTAR_ZM3E_256K.ld
  buildroot/share/PlatformIO/ldscripts/ZONESTAR_ZM3E_512K.ld
  buildroot/tests/STM32F103RC_fysetc_maple
  buildroot/tests/STM32F103VE_ZM3E4V2_USB_maple
  buildroot/tests/jgaurora_a5s_a1_maple
  buildroot/tests/mks_robin_lite_maple
  buildroot/tests/mks_robin_pro_maple
  ini/stm32f1-maple.ini
  ini/stm32f1.ini
Labels: C: Boards/Pins

#22516 Fix multiple Simulator issues on Windows
  Marlin/src/HAL/NATIVE_SIM/pinsDebug.h
  Marlin/src/HAL/NATIVE_SIM/u8g/u8g_com_st7920_sw_spi.cpp
  Marlin/src/HAL/NATIVE_SIM/u8g/u8g_com_sw_spi.cpp
  Marlin/src/HAL/shared/cpu_exception/exception_arm.cpp
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/core/serial_base.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  ini/native.ini
Labels: C: Build / Toolchain

#22537 Define HAL_STM32 for HAL/STM32
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/HAL_MinSerial.cpp
  Marlin/src/HAL/STM32/HAL_SPI.cpp
  Marlin/src/HAL/STM32/MarlinSPI.cpp
  Marlin/src/HAL/STM32/MarlinSerial.cpp
  Marlin/src/HAL/STM32/Sd2Card_sdio_stm32duino.cpp
  Marlin/src/HAL/STM32/Servo.cpp
  Marlin/src/HAL/STM32/eeprom_flash.cpp
  Marlin/src/HAL/STM32/eeprom_sdcard.cpp
  Marlin/src/HAL/STM32/eeprom_sram.cpp
  Marlin/src/HAL/STM32/eeprom_wired.cpp
  Marlin/src/HAL/STM32/fast_pwm.cpp
  Marlin/src/HAL/STM32/fastio.cpp
  Marlin/src/HAL/STM32/msc_sd.cpp
  Marlin/src/HAL/STM32/tft/gt911.cpp
  Marlin/src/HAL/STM32/tft/tft_fsmc.cpp
  Marlin/src/HAL/STM32/tft/tft_ltdc.cpp
  Marlin/src/HAL/STM32/tft/tft_spi.cpp
  Marlin/src/HAL/STM32/tft/xpt2046.cpp
  Marlin/src/HAL/STM32/timers.cpp
  Marlin/src/HAL/STM32/usb_host.cpp
  Marlin/src/HAL/STM32/usb_serial.cpp
  Marlin/src/HAL/STM32/watchdog.cpp
  Marlin/src/HAL/platforms.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/compat.h
  Marlin/src/lcd/extui/mks_ui/wifiSerial_STM32.cpp
  ini/features.ini
  ini/stm32-common.ini
  ini/stm32f0.ini
  ini/stm32f1-maple.ini
  ini/stm32f1.ini
  ini/stm32f4.ini
  ini/stm32f7.ini
  ini/stm32h7.ini
Labels: T: 32-Bit & HAL, C: Build / Toolchain, A: STM32

#22508 STM32: Prevent possible crashes before HAL init
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/fastio.cpp
  Marlin/src/HAL/STM32/fastio.h
  Marlin/src/HAL/STM32F1/pinsDebug.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
Labels: T: 32-Bit & HAL, A: STM32

#22553 M575: Fix port number output, '0' was port 48
  Marlin/src/gcode/config/M575.cpp
Labels: PR: Bug Fix, C: Hosts & Protocols, C: Serial Comms

#22551 add a check that MOTHERBOARD is defined
  Marlin/src/pins/pins.h
Labels: PR: Improvement, C: Configuration

#22550 Fix Ender-3 v2 language init
  Marlin/src/MarlinCore.cpp
  Marlin/src/lcd/e3v2/creality/dwin.h
Labels: C: LCD & Controllers

#22560 UBL: remove extra lines on settings load/report
  Marlin/src/module/settings.cpp
Labels: PR: Improvement, C: Hosts & Protocols, F: EEPROM

#22558 tweak SKR2 pins
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  ini/stm32f4.ini
Labels: C: Boards/Pins, PR: Bug Fix, A: STM32

#22557 Peripheral option MKS_PWC
  Marlin/Configuration.h
  Marlin/src/HAL/DUE/HAL_SPI.cpp
  Marlin/src/HAL/STM32F1/eeprom_wired.cpp
  Marlin/src/HAL/shared/eeprom_if_spi.cpp
  Marlin/src/MarlinCore.cpp
  Marlin/src/MarlinCore.h
  Marlin/src/feature/dac/dac_dac084s085.cpp
  Marlin/src/gcode/control/M80_M81.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/mks_ui/printer_operation.cpp
  Marlin/src/libs/W25Qxx.cpp
  Marlin/src/pins/linux/pins_RAMPS_LINUX.h
  Marlin/src/pins/lpc1768/pins_MKS_SBASE.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/ramps/pins_FYSETC_F6_13.h
  Marlin/src/pins/ramps/pins_RAMPS_CREALITY.h
  Marlin/src/pins/sam/pins_ALLIGATOR_R2.h
  Marlin/src/pins/sam/pins_RURAMPS4D_11.h
  Marlin/src/pins/sam/pins_RURAMPS4D_13.h
  Marlin/src/pins/sam/pins_ULTRATRONICS_PRO.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_CR6.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_common.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4210.h
  Marlin/src/pins/stm32f1/pins_FLSUN_HISPEED.h
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_MINI.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f4/pins_LERDGE_S.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_PRO_V2.h
Labels: C: Peripherals

#22586 Clean up CrealityUI and MarlinUI
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/e3v2/creality/dwin.cpp
  Marlin/src/lcd/e3v2/creality/dwin.h
  Marlin/src/lcd/e3v2/creality/dwin_lcd.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_media.cpp
  buildroot/tests/STM32F103RET6_creality
Labels: PR: General Cleanup, C: LCD & Controllers

#22574 Revert "🐛 Prevent ABL G29 setting a funky feedrate"
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix, F: Calibration

#22581 Simplify PROBING_STEPPERS_OFF code by implying PROBING_ESTEPPERS_OFF
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/probe.cpp
Labels: PR: Improvement, F: Calibration

#22583 Longer3D: Add usable PWM/timer pins
  buildroot/share/PlatformIO/variants/MARLIN_F103VE_LONGER/PeripheralPins.c
  ini/stm32f1.ini
Labels: PR: Improvement, C: Boards/Pins

#22584 STM32: Reduce delay & double reset during TFT FSMC init
  Marlin/src/HAL/STM32/tft/tft_fsmc.cpp
  Marlin/src/lcd/tft_io/tft_io.cpp
Labels: C: LCD & Controllers

#22605 🌐 Update menu titles, add more IJK
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_sv.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: Language

#22600 fix hbot/core for 6axis
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix, K: Core / H-Bot, C: Motion

#22608 TMCStepper 0.7.3
  ini/features.ini
Labels: C: Build / Toolchain, F: Trinamic

#22611 LPC176x M43
  Marlin/src/HAL/AVR/pinsDebug.h
  Marlin/src/HAL/DUE/pinsDebug.h
  Marlin/src/HAL/LINUX/pinsDebug.h
  Marlin/src/HAL/LPC1768/pinsDebug.h
  Marlin/src/HAL/NATIVE_SIM/pinsDebug.h
  Marlin/src/HAL/SAMD51/pinsDebug.h
  Marlin/src/HAL/STM32/pinsDebug.h
  Marlin/src/HAL/STM32F1/pinsDebug.h
  Marlin/src/HAL/TEENSY40_41/pinsDebug.h
  Marlin/src/pins/pinsDebug.h
  Marlin/src/pins/pinsDebug_list.h
Labels: C: Boards/Pins, T: Development

#22621 Add TH3D EZBoard Lite V2
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_TH3D_EZBOARD_LITE_V2.h
  buildroot/share/PlatformIO/variants/MARLIN_TH3D_EZBOARD_LITE_V2/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_TH3D_EZBOARD_LITE_V2/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_TH3D_EZBOARD_LITE_V2/hal_conf_extra.h
  buildroot/share/PlatformIO/variants/MARLIN_TH3D_EZBOARD_LITE_V2/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_TH3D_EZBOARD_LITE_V2/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_TH3D_EZBOARD_LITE_V2/variant.h
  ini/stm32f4.ini
Labels: C: Boards/Pins

#22628 Pins cleanup, define some EXP1/2
  Marlin/src/HAL/STM32F1/onboard_sd.cpp
  Marlin/src/pins/lpc1768/pins_AZSMZ_MINI.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_1.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_common.h
  Marlin/src/pins/lpc1768/pins_GMARSH_X6_REV1.h
  Marlin/src/pins/lpc1768/pins_MKS_SBASE.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1768/pins_RAMPS_RE_ARM.h
  Marlin/src/pins/lpc1769/pins_AZTEEG_X5_MINI.h
  Marlin/src/pins/lpc1769/pins_BTT_SKR_E3_TURBO.h
  Marlin/src/pins/lpc1769/pins_COHESION3D_REMIX.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/lpc1769/pins_TH3D_EZBOARD.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/sanguino/pins_MELZI_CREALITY.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_CR6.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
  Marlin/src/pins/stm32f1/pins_CCROBOT_MEEB_3DP.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4210.h
  Marlin/src/pins/stm32f1/pins_FYSETC_CHEETAH.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f1/pins_ZM3E2_V1_0.h
  Marlin/src/pins/stm32f1/pins_ZM3E4_V1_0.h
  Marlin/src/pins/stm32f1/pins_ZM3E4_V2_0.h
  Marlin/src/pins/stm32f4/pins_BTT_E3_RRF.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  Marlin/src/pins/stm32f4/pins_FLYF407ZG.h
  Marlin/src/pins/stm32f4/pins_FYSETC_CHEETAH_V20.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_PRO_V2.h
Labels: C: Boards/Pins, PR: Coding Standards

#22625 Triple Endstop bugfix
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix, F: Calibration

#22599 Rework G2/G3 arc handling
  Marlin/Configuration_adv.h
  Marlin/src/core/macros.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/inc/Conditionals_adv.h
Labels: PR: Bug Fix, C: Motion

#22645 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#22678 Hungarian Language update
  Marlin/src/lcd/language/language_hu.h
Labels: C: Language

#22680 Fix indentation of M43 for multi-name pin assignments on LPC176x
  Marlin/src/HAL/LPC1768/pinsDebug.h
Labels: PR: Improvement, C: Hosts & Protocols

#22660 Revert MAX31865 recent changes
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/libs/MAX31865.cpp
  Marlin/src/libs/MAX31865.h
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix, C: Peripherals, C: Temperatures

#22672 Tramming wizard usability improvements
  Marlin/src/lcd/extui/example/example.cpp
  Marlin/src/lcd/menu/menu_tramming.cpp
  buildroot/tests/DUE
  buildroot/tests/LPC1768
Labels: PR: Improvement, F: Calibration, C: LCD & Controllers

#22663 Set Z_PROBE_OFFSET_RANGE_MIN/MAX for MBL
  Marlin/src/inc/Conditionals_post.h
Labels: PR: Improvement, C: Configuration
