Repository MarlinFirmware/Marlin, pull requests merged in 2021-05, with the labels that each got.

#21759 Fix Singlenozzle Standby issues
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/tool_change.cpp
Labels: C: LCD & Controllers, C: Temperatures, PR: Bug Fix

#21729 Fix misleading docstring
  Marlin/src/libs/duration_t.h
Labels: C: Documentation

#21749 Fix resuming after powerloss on parked nozzle (with z-homing)
  Marlin/src/gcode/feature/pause/M125.cpp
Labels: F: Print Recovery, PR: Bug Fix

#21762 Fix filament load M701 not raising nozzle #21750
  Marlin/src/gcode/feature/pause/M701_M702.cpp
Labels: C: Motion, PR: Bug Fix

#21763 Add missing onMeshUpdate in anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/anycubic_i3mega_lcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21753 Add Laser Cutter Air Assist Feature
  Marlin/Configuration_adv.h
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/control/M10-M11.cpp
  Marlin/src/gcode/control/M7-M9.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_spindle_laser.cpp
  buildroot/tests/mega2560
Labels: F: CNC / Laser, PR: New Feature

#21734 PID tuning start event
  Marlin/src/lcd/extui/ui_api.h
  Marlin/src/module/temperature.cpp
Labels: C: Hosts & Protocols, C: LCD & Controllers, C: Temperatures

#21491 Update ST STM32 platform to version 12.1
  ini/stm32f1.ini
Labels: A: STM32, S: Please Merge, T: 32-Bit & HAL

#21771 Allow disable of currently-required POWER_TIMEOUT
  Marlin/src/feature/power.cpp
Labels: C: Configuration

#21770 Allow Creality V4 SERVO0 and PROBE pin overrides
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
Labels: C: Boards/Pins

#21775 Multi Volume Followup 1
  Marlin/src/HAL/STM32/msc_sd.cpp
Labels: A: STM32, C: LCD & Controllers, F: SD Card Printing, PR: Bug Fix

#21781 Blocking Move Followup 2 (fix delta failed probe)
  Marlin/src/module/motion.cpp
Labels: C: Motion, PR: Bug Fix

#21776 Prevent watchdog reset in setup()
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: LCD & Controllers, PR: Bug Fix

#21791 UMW follow up
  Marlin/src/lcd/menu/menu_ubl.cpp
Labels: F: U.B.L., PR: Bug Fix

#21804 Don't check for upload disk if not uploading.
  Marlin/src/HAL/LPC1768/upload_extra_script.py
Labels: C: Build / Toolchain

#21805 Split SKR V2 Up into Rev. A & B
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_REV_A.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_REV_B.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
Labels: C: Boards/Pins, C: Safety

#21801 Fix [XYZ]_ENABLE_PIN defines for sensitive pins
  Marlin/src/pins/sensitive_pins.h
Labels: C: Boards/Pins

#21809 MMU2 menu fails to compile, idle not declared
  Marlin/src/lcd/menu/menu_mmu2.cpp
Labels: PR: Bug Fix

#21808 Simplify extra endstops, undef unused extras
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins_postprocess.h
Labels: C: Boards/Pins, PR: Bug Fix

#21794 Add TFT SPI Pins for BTT SKR v1.3
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
Labels: C: Boards/Pins, C: LCD & Controllers

#21811 fix CASE_LIGHT_USE_RGB_LED
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/caselight.h
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
  Marlin/src/gcode/feature/caselight/M355.cpp
Labels: C: Peripherals

#21784 Experimental serial_port_3 support
  Marlin/Configuration.h
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/AVR/MarlinSerial.cpp
  Marlin/src/HAL/AVR/MarlinSerial.h
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/DUE/MarlinSerial.cpp
  Marlin/src/HAL/DUE/MarlinSerial.h
  Marlin/src/HAL/DUE/MarlinSerialUSB.cpp
  Marlin/src/HAL/DUE/MarlinSerialUSB.h
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/core/serial_hook.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  buildroot/tests/LPC1768
Labels: C: Serial Comms, PR: Improvement

#21842 Active MMU slot indicator
  Marlin/src/lcd/dogm/status/hotend.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: C: LCD & Controllers, C: Peripherals

#21838 Fix E3V2 Control menu icons and texts orderings
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21840 Signal SD completion later
  Marlin/src/MarlinCore.cpp
  Marlin/src/MarlinCore.h
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/sd/M1001.cpp
  Marlin/src/gcode/sd/M24_M25.cpp
  Marlin/src/gcode/sd/M27.cpp
  Marlin/src/gcode/sd/M32.cpp
  Marlin/src/gcode/sd/M524.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_module.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_upload.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: F: SD Card Printing, PR: Bug Fix

#21812 add SOFT_I2C_EEPROM and fix pin for Lerdge K
  .github/workflows/test-builds.yml
  Marlin/src/HAL/shared/eeprom_if_i2c.cpp
  Marlin/src/lcd/tft_io/st7796s.h
  Marlin/src/pins/stm32f4/pins_LERDGE_K.h
  buildroot/tests/LERDGEK
  ini/features.ini
  ini/stm32f4.ini
Labels: C: Boards/Pins, F: EEPROM

#21829 Update advanced pause feature info
  Marlin/Configuration_adv.h
Labels: C: Documentation

#21849 Optimize G-code flag parameters
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/encoder_i2c.cpp
  Marlin/src/feature/fwretract.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/bedlevel/ubl/M421.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/powerloss/M1000.cpp
  Marlin/src/gcode/feature/powerloss/M413.cpp
  Marlin/src/gcode/feature/runout/M412.cpp
  Marlin/src/gcode/feature/trinamic/M122.cpp
  Marlin/src/gcode/gcode_d.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/sd/M27.cpp
  Marlin/src/gcode/sd/M808.cpp
  Marlin/src/gcode/temp/M106_M107.cpp
  Marlin/src/gcode/temp/M303.cpp
Labels: C: G-code Parser, C: Optimization

#21779 Resume after pausing and controlled power-loss (without z-homing)
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/gcode/sd/M24_M25.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.cpp
  buildroot/tests/rambo
Labels: F: Print Recovery

#21859 Simplify serial macro expansion
  Marlin/src/core/macros.h
  Marlin/src/core/serial.h
  Marlin/src/module/settings.cpp
Labels: PR: Coding Standards, PR: General Cleanup, T: Development

#21488 BTT SKR MINI E3 in STM32
  .github/workflows/test-builds.yml
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32F1/HAL.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
  buildroot/share/PlatformIO/scripts/stm32_bootloader.py
  buildroot/share/PlatformIO/variants/MARLIN_F103Rx/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_F103Rx/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_F103Rx/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_F103Rx/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_F103Rx/variant.h
  buildroot/tests/STM32F103RC_btt_USB_stm32
  buildroot/tests/STM32F103RC_btt_stm32
  ini/stm32f1.ini
Labels: A: STM32, S: Please Merge, T: 32-Bit & HAL

#21810 G60-G61 E position support
  Marlin/src/gcode/feature/pause/G60.cpp
  Marlin/src/gcode/feature/pause/G61.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
Labels: C: G-code Parser

#21877 Fix compile error (typo)
  Marlin/src/gcode/feature/trinamic/M122.cpp
Labels: F: Trinamic, PR: Bug Fix

#21858 Fix G5 IJ with Motion Mode
  Marlin/src/gcode/parser.cpp
Labels: C: G-code Parser, C: Motion, PR: Bug Fix

#21826 Initial BigTreeTech Octopus (STM32F446ZET6) Support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_0.h
  buildroot/share/PlatformIO/boards/marlin_BigTree_Octopus_v1.json
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_V1_0/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_V1_0/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_V1_0/hal_conf_extra.h
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_V1_0/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_V1_0/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_V1_0/variant.h
  ini/stm32f4.ini
Labels: A: STM32, C: Boards/Pins, S: Please Merge

#21882 Always Invert Octopus Onboard SD Detect Pin
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_0.h
Labels: C: Boards/Pins, PR: Improvement

#21880 Fix minor multi volume config typo
  Marlin/Configuration_adv.h
Labels: PR: Bug Fix

#21879 Update Robin Pro TFT Pins
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
Labels: C: LCD & Controllers, PR: Bug Fix

#21885 🔧 Sanity-check user SD_DETECT_STATE
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_0.h
Labels: C: Configuration

#21894 fix compilation for home hon top
  Marlin/src/feature/powerloss.cpp
Labels: PR: Bug Fix

#21884 Fix nextion compile error
  Marlin/src/lcd/extui/nextion/nextion_extui.cpp
  Marlin/src/lcd/extui/nextion/nextion_tft.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21883 Fix Octopus 12864 LCD Delays
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_0.h
Labels: C: Boards/Pins, C: LCD & Controllers, PR: Bug Fix

#21902 🐛 Fix RR collision with MM
  Marlin/src/gcode/parser.cpp
Labels: C: G-code Parser, PR: Bug Fix

#21901 BTT Octopus: Prevent Potential Step/Tone Timer Conflict
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_0.h
Labels: C: Boards/Pins, PR: Bug Fix, T: 32-Bit & HAL

#21900 Robin Pro TFT Fixes (2)
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
Labels: C: LCD & Controllers, PR: Bug Fix

#21907 Fixes compilation error, when G29_RETRY_AND_RECOVER and LCD_LANGUAGE_* are selected simultaneously.
  Marlin/src/gcode/gcode.cpp
  Marlin/src/inc/Conditionals_LCD.h
Labels: PR: Bug Fix

#21905 MKS UI missing condition for font selection
  Marlin/src/lcd/extui/mks_ui/draw_ui.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#18427 M154 Position Auto-Report
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/host/M154.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  buildroot/tests/mega2560
  ini/features.ini
  platformio.ini
Labels: C: Hosts & Protocols

#21889 Fix MKS Robin E3 BLTOUCH and Fan PWM timer conflicts
  Marlin/src/HAL/STM32F1/timers.h
Labels: A: STM32, PR: Bug Fix, T: 32-Bit & HAL

#21933 fixes 21928, mks_encrypt.py not using env variable build.firmware to set filename
  buildroot/share/PlatformIO/scripts/mks_encrypt.py
Labels: PR: Bug Fix, S: Please Merge

#21934 Bring back EEPROM_CHITCHAT
  Marlin/src/module/settings.cpp
Labels: PR: Bug Fix

#21949 Independent baud rates
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  buildroot/tests/STM32F103RC_btt_USB
Labels: C: Serial Comms, PR: New Feature

#21944 Fix Toshiba FlashAir SD card support
  Marlin/src/sd/Sd2Card.cpp
Labels: F: SD Card Printing, PR: Bug Fix

#21925 menu_main media menu position
  Marlin/Configuration_adv.h
  Marlin/src/lcd/menu/menu_main.cpp
  buildroot/tests/mega2560
Labels: C: LCD & Controllers

#21955 Mention the Configurations repo in README
  README.md
Labels: C: Documentation

#21958 Fix Teensy PINS_DEBUGGING compile
  Marlin/src/HAL/AVR/pinsDebug.h
Labels: PR: Bug Fix

#21972 Add platformio filters for M117, M300 and M414
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/lcd/M117.cpp
  ini/features.ini
  platformio.ini
Labels: C: Optimization, PR: Improvement

#21969 Macros for optional list items
  Marlin/src/core/macros.h
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/fwretract.cpp
  Marlin/src/feature/fwretract.h
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
  Marlin/src/feature/leds/pca9632.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/sd/usb_flashdrive/lib-uhs2/masstorage.cpp
  Marlin/src/sd/usb_flashdrive/lib-uhs2/masstorage.h
Labels: PR: General Cleanup

#21961 fix-HSUSB
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_V1_0/PeripheralPins.c
Labels: C: Build / Toolchain, PR: Bug Fix

#21956 Fix SKR2 12864 LCD Delays
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
Labels: C: LCD & Controllers

#21953 Refactors towards 2-to-6 Linear Axes
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/core/types.h
  Marlin/src/core/utility.h
  Marlin/src/feature/encoder_i2c.cpp
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/gcode/calibrate/M425.cpp
  Marlin/src/gcode/config/M200-M205.cpp
  Marlin/src/gcode/config/M92.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/feature/pause/G61.cpp
  Marlin/src/gcode/feature/trinamic/M122.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/geometry/G92.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/stepper/trinamic.cpp
  buildroot/tests/mega2560
  buildroot/tests/rambo
Labels: C: Motion, PR: Improvement

#21975 Fix compilation error with multi_volume and SDIO onboard
  Marlin/src/sd/cardreader.cpp
Labels: PR: Bug Fix

#21962 LEDs refactor and extend
  Marlin/Configuration.h
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
  Marlin/src/feature/leds/neopixel.cpp
  Marlin/src/feature/leds/neopixel.h
  Marlin/src/feature/leds/printer_event_leds.cpp
  Marlin/src/gcode/feature/leds/M150.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu_led.cpp
  buildroot/tests/DUE
  buildroot/tests/LPC1768
  buildroot/tests/rambo
Labels: C: Peripherals, PR: Bug Fix, PR: Improvement, PR: New Feature

#21980 Update BTT002 board variant with correct MMU2 serial pins
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_BTT002/variant.h
Labels: C: Boards/Pins, PR: Bug Fix

#21987 Add HOST_ACTION_COMMANDS to extended M115 report.
  Marlin/src/gcode/host/M115.cpp
Labels: PR: Improvement

#21922 Add MESH_EDIT_MENU sanity check
  Marlin/src/inc/SanityCheck.h
Labels: PR: Improvement, S: Please Merge

#21993 Update Polish trasnlation
  Marlin/src/lcd/language/language_pl.h
Labels: C: Language

#21992 Added Malyan M180 pin board files and configurations
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_MALYAN_M180.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins

#21996 Use 32-bit float constants in STM32F1 builds
  Marlin/src/HAL/STM32F1/build_flags.py
Labels: A: STM32, C: Build / Toolchain, C: Optimization, Needs: Testing, T: 32-Bit & HAL
