Repository MarlinFirmware/Marlin, pull requests merged in 2021-03, with the labels that each got.

#20327 Fix runout sensor for mixing extruder
  Marlin/Configuration.h
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/runout.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/endstops.cpp
  buildroot/tests/mega2560-tests
Labels: F: Filament Sensor

#21232 Minor FTDI EVE Touch UI fixes
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_load_chocolate.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_load_chocolate.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_move_e_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_status_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21230 Default microsteps to axis first stepper
  Marlin/Configuration_adv.h
Labels: C: Configuration, T: Design Concept, T: Suggestion

#16909 Safe Z homing for Power Loss Recovery
  Marlin/Configuration_adv.h
  Marlin/src/feature/powerloss.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
  buildroot/tests/rambo-tests
Labels: C: Configuration, C: Motion, F: SD Card Printing, PR: Improvement

#18389 Add assign PIN to G-CODE macro feature
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/pins/pinsDebug_list.h
Labels: Needs: Testing, PR: New Feature

#21237 Trust XY after Quiet Probing short sleep
  Marlin/src/module/probe.cpp
Labels: C: Motion, F: Calibration, PR: Workaround

#21240 MKS H43 compile fix
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.h
Labels: C: LCD & Controllers, PR: Bug Fix

#21005 TPARA - 3DOF robot arm IK
  Marlin/Configuration.h
  Marlin/src/core/macros.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/M665.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/scara.cpp
  Marlin/src/module/scara.h
Labels: C: Motion, PR: New Feature

#21243 SMUFF => SMuFF
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
Labels: C: Documentation

#21238 Correct MKS Robin Nano v3 Fan pins
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3.h
Labels: C: Boards/Pins

#21249 Fix multi-serial CRC error crash
  Marlin/src/gcode/control/M999.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
Labels: C: Serial Comms, PR: Bug Fix

#21261 Fix SKR 1.4 UART3 Environment
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#21263 Link to bugfix tree
  config/README.md
Labels: C: Documentation

#21268 Restore board-based build flags
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/ramps/pins_LONGER3D_LKx_PRO.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/ramps/pins_RAMPS_S_12.h
  buildroot/share/PlatformIO/scripts/common-dependencies-post.py
  platformio.ini
Labels: C: Build / Toolchain

#21272 fix compile error with DWIN_CREALITY_LCD on SKR14
  Marlin/src/lcd/dwin/dwin_lcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21267 MKS H43 bug fix
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_extrusion.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_change.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_operation.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tool.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21255 Cooler (for Laser) - M143, M193
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/fastio.h
  Marlin/src/HAL/ESP32/HAL.cpp
  Marlin/src/HAL/SAMD51/HAL.cpp
  Marlin/src/HAL/STM32F1/HAL.cpp
  Marlin/src/HAL/STM32F1/msc_sd.cpp
  Marlin/src/core/language.h
  Marlin/src/feature/cooler.cpp
  Marlin/src/feature/cooler.h
  Marlin/src/feature/power.cpp
  Marlin/src/gcode/calibrate/G76_M192_M871.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/temp/M140_M190.cpp
  Marlin/src/gcode/temp/M141_M191.cpp
  Marlin/src/gcode/temp/M143_M193.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status/cooler.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_info.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/lcd/tft/tft_color.h
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/lcd/tft/ui_common.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/thermistor/thermistors.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/sensitive_pins.h
  buildroot/tests/BIGTREE_SKR_PRO
  platformio.ini
Labels: C: Safety, F: CNC / Laser, PR: New Feature

#21276 fixes #21275, rename missed DEBUG_PRINT_P to DEBUG_ECHOPGM_P
  Marlin/src/core/debug_out.h
Labels: PR: Bug Fix

#21273 Extend Heater Overshoot Options
  Marlin/Configuration.h
Labels: C: Configuration, C: Documentation, C: Safety, C: Temperatures

#21283 Fix Host Keepalive serial output with multi-serial
  Marlin/src/HAL/ESP32/FlushableHardwareSerial.h
  Marlin/src/core/serial.h
  Marlin/src/core/serial_hook.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/queue.cpp
  platformio.ini
Labels: C: Serial Comms, PR: Bug Fix

#21284 fix PIN_EXISTS calls in PR 18389
  Marlin/Configuration_adv.h
Labels: PR: Bug Fix, PR: Configurations

#21290 Arduino IDE - 21283 follow up
  Marlin/src/HAL/ESP32/FlushableHardwareSerial.cpp
  Marlin/src/HAL/ESP32/HAL.h
Labels: C: Build / Toolchain, PR: Bug Fix

#21287 Separate serial_index from serial's mask
  Marlin/src/core/serial.h
  Marlin/src/core/serial_base.h
  Marlin/src/core/serial_hook.h
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/meatpack.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/host/M118.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
  Marlin/src/gcode/sd/M1001.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.cpp
  Marlin/src/libs/autoreport.h
  Marlin/src/module/temperature.cpp
  Marlin/src/sd/cardreader.cpp
Labels: C: Serial Comms, PR: Coding Standards

#21298 Fix for issue #21297: Stuck in boot loop
  Marlin/src/MarlinCore.cpp
Labels: A: LPC176x, PR: Bug Fix

#21306 Fix MeatPack with per-serial-port instances
  Marlin/Configuration_adv.h
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/feature/meatpack.cpp
  Marlin/src/feature/meatpack.h
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  platformio.ini
Labels: C: Serial Comms, Needs: Discussion, PR: Bug Fix

#21291 G34 TouchMi bug fix
  Marlin/src/gcode/calibrate/G34_M422.cpp
Labels: F: Z-Probes, PR: Bug Fix

#21305 Fix Lerdge Flash Drive PIO Environments
  platformio.ini
Labels: C: Build / Toolchain, Needs: Work, PR: Bug Fix

#21299 Lerdge K pins for TMC 2208/2209 UART
  Marlin/src/pins/stm32f4/pins_LERDGE_K.h
Labels: C: Boards/Pins

#21295 fix multiple issues in password feature
  Marlin/src/feature/password/password.cpp
  Marlin/src/feature/password/password.h
  Marlin/src/lcd/menu/menu_password.cpp
Labels: C: Safety, C: User Interface, PR: Bug Fix, PR: Improvement

#21320 Fix Clean Closed Action
  .github/workflows/clean-closed.yml
Labels: PR: Bug Fix

#21322 Lerdge-X I²C EEPROM pins and size
  Marlin/src/pins/stm32f4/pins_LERDGE_X.h
Labels: C: Boards/Pins, PR: Bug Fix

#21331 Add a sanity check and avoid defining something that's not declared
  Marlin/src/inc/Conditionals_post.h
Labels: C: Serial Comms, PR: Bug Fix

#21333 Clean up, optimize ExtUI/TFT code
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/bedlevel.h
  Marlin/src/lcd/extui/anycubic_chiron_lcd.cpp
  Marlin/src/lcd/extui/anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/dgus_lcd.cpp
  Marlin/src/lcd/extui/example.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/FileNavigator.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft_defs.h
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/marlin_events.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_screen.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/stress_test_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/temperature_screen.cpp
  Marlin/src/lcd/extui/malyan_lcd.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
  Marlin/src/sd/cardreader.h
Labels: C: LCD & Controllers, PR: General Cleanup

#21317 Pause SD queue early on M25
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/sd/M24_M25.cpp
Labels: F: SD Card Printing, PR: Improvement

#21335 Add M207/8/9 (firmware retraction) reporting
  Marlin/src/feature/fwretract.cpp
  Marlin/src/feature/fwretract.h
  Marlin/src/gcode/feature/fwretract/M207-M209.cpp
  Marlin/src/gcode/geometry/M206_M428.cpp
  Marlin/src/module/settings.cpp
Labels: PR: Improvement

#21341 We don't need separate build when uploading with stlink/jlink
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
Labels: C: Build / Toolchain, S: Please Merge

#21338 Custom user menus confirm
  Marlin/Configuration_adv.h
  Marlin/src/lcd/menu/menu_custom.cpp
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers

#21346 Update display timing for SKR Pro
  Marlin/src/pins/sanguino/pins_MELZI_V2.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
Labels: C: LCD & Controllers, Needs: Discussion, Needs: Testing, Needs: Work

#21337 Fix small wired EEPROM
  Marlin/src/HAL/shared/eeprom_if_i2c.cpp
Labels: F: EEPROM, PR: Bug Fix

#21336 Fix building issue with Meatpack defined only on the second serial port
  Marlin/src/HAL/HAL.h
  Marlin/src/feature/meatpack.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  buildroot/share/PlatformIO/scripts/common-dependencies.h
Labels: Needs: Work, S: Don't Merge

#21340 Script to generate Marlin TFT Images
  buildroot/share/scripts/gen-tft-image.py
Labels: C: Build / Toolchain, C: User Interface

#21316 Fix Teensy building bug
  Marlin/src/HAL/TEENSY31_32/HAL.cpp
  Marlin/src/HAL/TEENSY31_32/HAL.h
  Marlin/src/HAL/TEENSY35_36/HAL.cpp
  Marlin/src/HAL/TEENSY35_36/HAL.h
  Marlin/src/HAL/TEENSY40_41/HAL.cpp
  Marlin/src/HAL/TEENSY40_41/HAL.h
Labels: PR: Bug Fix, T: 32-Bit & HAL

#21334 added new control board (KRATOS32) and two displays
  Marlin/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/sam/pins_KRATOS32.h
Labels: C: Boards/Pins, C: LCD & Controllers

#21361 Detect extra ENVS in preflight check
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: C: Build / Toolchain, PR: Bug Fix

#21324 Add Nextion Display to Marlin 2.x.x
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/lib/nextion/FileNavigator.cpp
  Marlin/src/lcd/extui/lib/nextion/FileNavigator.h
  Marlin/src/lcd/extui/lib/nextion/nextion_tft.cpp
  Marlin/src/lcd/extui/lib/nextion/nextion_tft.h
  Marlin/src/lcd/extui/lib/nextion/nextion_tft_defs.h
  Marlin/src/lcd/extui/nextion_lcd.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
  platformio.ini
Labels: C: LCD & Controllers, C: User Interface

#21372 Fix preflight motherboard target check
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: C: Build / Toolchain, PR: Bug Fix

#21381 [New Feature] Mesh editor for the FTDI Eve Touch UI.
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/extended/grid_layout.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/extras/adjuster_widget.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/extras/adjuster_widget.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/language/language_en.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_screen.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/leveling_menu.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
Labels: C: LCD & Controllers, F: Calibration, PR: New Feature

#21407 Update language_hu.h file
  Marlin/src/lcd/language/language_hu.h
Labels: C: Language

#21388 MKS H43 fix bug
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21383 Fix macros that call macros crashing
  Marlin/src/gcode/gcode.cpp
Labels: C: Build / Toolchain, PR: Bug Fix

#21387 UBL - Hilbert space-filling curve probing sequence
  Marlin/Configuration.h
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  buildroot/tests/mega2560
Labels: F: Calibration, F: U.B.L., PR: New Feature

#21332 Add NOZZLE_CLEAN_FEATURE sanity checks
  .github/workflows/test-builds.yml
  Marlin/src/inc/SanityCheck.h
  buildroot/tests/LPC1768
  buildroot/tests/LPC1769
  buildroot/tests/STM32F103RE
  buildroot/tests/teensy35
  buildroot/tests/teensy41
Labels: C: Configuration, PR: Improvement

#18177 More custom user menu items
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/custom_user_menus.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/main_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_en.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_fr.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_it.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_ru.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_s_cn.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_sp.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_t_cn.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_custom.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  buildroot/share/PlatformIO/scripts/common-dependencies.h
  buildroot/tests/mega2560
Labels: C: LCD & Controllers, PR: New Feature

#21374 Add typedef celsius_t
  Marlin/src/core/types.h
  Marlin/src/feature/mmu/mmu2.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/lcd/M145.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/temp/M104_M109.cpp
  Marlin/src/gcode/temp/M140_M190.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.h
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/fysetc/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/hiprecy/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/origin/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/thermistor/thermistors.h
Labels: C: Temperatures, PR: Coding Standards

#21426 Use template for MarlinSettings EEPROM read/write
  Marlin/src/module/settings.cpp
  Marlin/src/module/settings.h
Labels: C: Optimization, PR: Coding Standards, T: Design Concept

#21425 Update display timing for Anet V1.0
  Marlin/src/pins/sanguino/pins_ANET_10.h
Labels: C: LCD & Controllers, PR: Bug Fix

#21413 MEGA2560 on SMART RAMPS, manual probe crashing, MARLIN_DEV_MODE compile time bug fixes
  Marlin/src/core/bug_on.h
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/pins/ramps/pins_RAMPS.h
Labels: PR: Improvement

#21396 Fix buffer alignment for SDIO
  Marlin/src/feature/binary_stream.h
Labels: F: SD Card Printing, PR: Bug Fix

#21369 [PR] Enabled String Status Line for Ender3v2
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/cancel_object.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/temp/M104_M109.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/lcdprint.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/tool_change.cpp
Labels: C: LCD & Controllers

#21079 SKR E3 Mini V2.0 Fan Bug Fix
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_V2_0.h
Labels: C: Peripherals, Needs: Discussion, Needs: Testing, PR: Bug Fix, S: Don't Merge, T: 32-Bit & HAL

#16082 Extend M106/M107 for better laser module support
  Marlin/Configuration_adv.h
  Marlin/src/gcode/temp/M106_M107.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_PRO_V2.h
  buildroot/tests/ARMED
Labels: C: Peripherals, PR: Improvement

#21442 Endstops always on after delta homing
  Marlin/src/module/delta.cpp
Labels: F: Calibration, F: Trinamic, K: Deltabot, PR: Bug Fix

#21441 Endstops always on after G28
  Marlin/src/gcode/calibrate/G28.cpp
Labels: F: Calibration, F: Trinamic, K: Deltabot, PR: Bug Fix

#21440 SDIO patch followup
  Marlin/src/feature/binary_stream.h
Labels: F: SD Card Printing, PR: Bug Fix

#21443 Optimize least_squares_fit
  Marlin/src/libs/least_squares_fit.cpp
  Marlin/src/libs/least_squares_fit.h
Labels: C: Optimization

#21446 Define HW serial ports needed for TMC UART
  Marlin/src/HAL/DUE/HAL.cpp
  Marlin/src/HAL/DUE/MarlinSerial.h
  Marlin/src/HAL/LPC1768/MarlinSerial.cpp
  Marlin/src/HAL/LPC1768/inc/SanityCheck.h
  Marlin/src/HAL/SAMD51/HAL.cpp
  Marlin/src/HAL/SAMD51/MarlinSerial_AGCM4.cpp
  Marlin/src/HAL/STM32/MarlinSerial.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  buildroot/share/extras/header.h
Labels: C: Boards/Pins, C: Configuration, C: Serial Comms, F: Trinamic, PR: Bug Fix

#21436 Avoid triggering watchdog during long wired EEPROM writes
  Marlin/src/HAL/AVR/eeprom.cpp
  Marlin/src/HAL/DUE/eeprom_flash.cpp
  Marlin/src/HAL/DUE/eeprom_wired.cpp
  Marlin/src/HAL/LPC1768/eeprom_wired.cpp
  Marlin/src/HAL/SAMD51/eeprom_wired.cpp
  Marlin/src/HAL/STM32/eeprom_wired.cpp
  Marlin/src/HAL/STM32F1/eeprom_bl24cxx.cpp
  Marlin/src/HAL/STM32F1/eeprom_wired.cpp
  Marlin/src/HAL/TEENSY31_32/eeprom.cpp
  Marlin/src/HAL/TEENSY35_36/eeprom.cpp
  Marlin/src/HAL/TEENSY40_41/eeprom.cpp
Labels: F: EEPROM, PR: Improvement

#21450 Fix for YHCB2004 - Confirmed working on hardware
  Marlin/src/pins/mega/pins_GT2560_V3.h
Labels: C: Boards/Pins, C: LCD & Controllers, PR: Bug Fix

#21452 MKS UI: Monitoring state when idle
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_multi_language.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_multi_language.h
Labels: C: LCD & Controllers, PR: Improvement

#21472 correct yhcb2004 pin mixup
  Marlin/src/pins/mega/pins_GT2560_V3.h
Labels: C: Boards/Pins

#21431 Laser.cooler.flowmeter
  Marlin/Configuration_adv.h
  Marlin/src/core/language.h
  Marlin/src/feature/cooler.cpp
  Marlin/src/feature/cooler.h
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status/cooler.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/libs/numtostr.cpp
  Marlin/src/libs/numtostr.h
  Marlin/src/module/temperature.cpp
  buildroot/tests/mega2560
  platformio.ini
Labels: F: CNC / Laser, PR: New Feature

#21468 Fix MKS LVGL UI Main screen / print buttons
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_extrusion.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_change.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21458 Support FYSETC Spider board
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_FYSETC_SPIDER.h
Labels: C: Boards/Pins

#21375 GT2560_REV_A_PLUS update z_max_pin
  Marlin/src/pins/mega/pins_GT2560_REV_A.h
Labels: C: Boards/Pins, PR: Bug Fix

#21477 Disable FORCE_INLINE for BLTouch methods
  Marlin/src/feature/bltouch.h
Labels: PR: Coding Standards

#21329 align indent for temp residency, window & hysteresis
  Marlin/Configuration.h
Labels: PR: General Cleanup

#21469 Generalize MMU with variable nr of colors
  Marlin/Configuration.h
  Marlin/src/gcode/control/T.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins.h
Labels: C: Peripherals, PR: Improvement

#21318 Add support for per-serial feature querying
  Marlin/src/core/bug_on.h
  Marlin/src/core/macros.h
  Marlin/src/core/serial.h
  Marlin/src/core/serial_base.h
  Marlin/src/core/serial_hook.h
  Marlin/src/feature/meatpack.h
  Marlin/src/gcode/gcode_d.cpp
  Marlin/src/gcode/host/M115.cpp
Labels: C: Serial Comms, PR: Coding Standards, PR: Improvement

#21476 Fix and add DMA for SDIO on STM32
  Marlin/src/HAL/STM32/Sd2Card_sdio_stm32duino.cpp
  Marlin/src/gcode/gcode_d.cpp
Labels: A: STM32, Needs: Testing, T: 32-Bit & HAL

#21484 [RFC] Add cheap implementations of strtol() and strtof()
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
Labels: C: Optimization, Needs: Discussion, Needs: Testing, PR: Improvement

#21485 MKS H43 Fix bug
  Marlin/Configuration.h
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.h
  Marlin/src/module/settings.cpp
Labels: C: LCD & Controllers, PR: Bug Fix
