Repository MarlinFirmware/Marlin, pull requests merged in 2021-10, with the labels that each got.

#22863 Added WYH L12864 LCD from Alfawise Ex8 printer. Resolves #22856
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/DUE/dogm/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/HAL/DUE/dogm/u8g_com_HAL_DUE_sw_spi.cpp
  Marlin/src/HAL/LPC1768/u8g/u8g_com_HAL_LPC1768_st7920_sw_spi.cpp
  Marlin/src/HAL/LPC1768/u8g/u8g_com_HAL_LPC1768_sw_spi.cpp
  Marlin/src/HAL/NATIVE_SIM/u8g/u8g_com_st7920_sw_spi.cpp
  Marlin/src/HAL/NATIVE_SIM/u8g/u8g_com_sw_spi.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/marlinui_DOGM.h
  Marlin/src/lcd/dogm/u8g_dev_st7565_64128n_HAL.cpp
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/mega/pins_SILVER_GATE.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/rambo/pins_EINSY_RAMBO.h
  Marlin/src/pins/rambo/pins_EINSY_RETRO.h
  Marlin/src/pins/rambo/pins_MINIRAMBO.h
  Marlin/src/pins/rambo/pins_RAMBO.h
  Marlin/src/pins/ramps/pins_3DRAG.h
  Marlin/src/pins/ramps/pins_BQ_ZUM_MEGA_3D.h
  Marlin/src/pins/ramps/pins_DAGOMA_F5.h
  Marlin/src/pins/ramps/pins_FORMBOT_TREX2PLUS.h
  Marlin/src/pins/sanguino/pins_MELZI.h
  Marlin/src/pins/sanguino/pins_MELZI_CREALITY.h
  Marlin/src/pins/sanguino/pins_MELZI_TRONXY.h
  Marlin/src/pins/sanguino/pins_MELZI_V2.h
  Marlin/src/pins/sanguino/pins_SANGUINOLOLU_11.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
  Marlin/src/pins/stm32f1/pins_CCROBOT_MEEB_3DP.h
  Marlin/src/pins/stm32f1/pins_FLY_MINI.h
  Marlin/src/pins/stm32f1/pins_GTM32_MINI.h
  Marlin/src/pins/stm32f1/pins_GTM32_MINI_A30.h
  Marlin/src/pins/stm32f1/pins_GTM32_PRO_VB.h
  Marlin/src/pins/stm32f1/pins_GTM32_REV_B.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_PRO.h
  Marlin/src/pins/stm32f1/pins_ZM3E4_V1_0.h
  Marlin/src/pins/stm32f1/pins_ZM3E4_V2_0.h
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_E3_RRF.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  Marlin/src/pins/stm32f4/pins_FLYF407ZG.h
  Marlin/src/pins/stm32f4/pins_FYSETC_CHEETAH_V20.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_RUMBA32_common.h
  Marlin/src/pins/stm32f4/pins_VAKE403D.h
Labels: C: LCD & Controllers

#22879 🎨 Axis '@' string interpolation, with example
  Marlin/src/lcd/e3v2/marlinui/dwin_string.cpp
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_sv.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/lcdprint.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_item.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/tft/tft_string.cpp
Labels: C: Language, C: LCD & Controllers, C: Optimization

#22877 Fix arduino ide compile error, issue 22876
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/language/language.cpp
Labels: PR: Bug Fix

#22874 Fix wrong messages displayed during advanced pause with EXTENSIBLE_UI (issue #22873)
  Marlin/src/lcd/marlinui.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#22868 Fix EXTRUDER 0 warnings
  Marlin/src/module/stepper.h
Labels: PR: Improvement

#23040 Fix E3V2 (CrealityUI) Zoffset in Tune & Prepare Menu
  Marlin/src/lcd/e3v2/creality/dwin.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#22880 Rutilea ESP32 custom board
  Marlin/src/HAL/ESP32/i2s.cpp
  Marlin/src/core/boards.h
  Marlin/src/pins/esp32/pins_ESPA_common.h
  Marlin/src/pins/esp32/pins_FYSETC_E4.h
  Marlin/src/pins/esp32/pins_MRR_ESPA.h
  Marlin/src/pins/esp32/pins_MRR_ESPE.h
  Marlin/src/pins/esp32/pins_RESP32_CUSTOM.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins, PR: New Feature

#22908 Shutdown Host Action
  Marlin/Configuration_adv.h
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/host_actions.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_cancelobject.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_tramming.cpp
Labels: PR: New Feature, C: Hosts & Protocols
