Repository MarlinFirmware/Marlin, pull requests merged in 2021-02, with the labels that each got.

#20959 Fix AutoReporter not building and not working
  Marlin/src/libs/autoreport.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
  buildroot/tests/LPC1768-tests
  buildroot/tests/mega2560-tests
Labels: C: Hosts & Protocols, PR: Bug Fix

#20958 color_ui: refresh the menu on media detach
  Marlin/src/gcode/sd/M21_M22.cpp
Labels: C: LCD & Controllers, F: SD Card Printing, Needs: Discussion

#20755 [RFC] G-code console for LVGL UI
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/AVR/MarlinSerial.cpp
  Marlin/src/HAL/AVR/MarlinSerial.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/Sd2Card_sdio_stm32duino.cpp
  Marlin/src/HAL/STM32F1/MarlinSerial.h
  Marlin/src/core/macros.h
  Marlin/src/core/serial_hook.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_gcode.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_gcode.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_keyboard.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_level_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_more.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tool.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_en.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_fr.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_it.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_ru.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_s_cn.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_sp.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_t_cn.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_multi_language.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_multi_language.h
  Marlin/src/lcd/extui/lib/mks_ui/wifiSerial.h
  buildroot/tests/mega2560-tests
  docs/Serial.md
Labels: C: LCD & Controllers, Needs: Discussion, PR: New Feature, help wanted

#20962 fixes #20961 Compile error in host_response_handler
  Marlin/src/feature/host_actions.cpp
Labels: PR: Bug Fix, S: Please Merge

#20963 Fix MARLIN_LOGO_FULL_SIZE - 20861 follow up
  Marlin/src/lcd/tft/tft_image.cpp
Labels: C: LCD & Controllers, PR: Bug Fix, S: Please Merge

#20971 Auto Save Option for Successful Touch Calibration
  Marlin/Configuration.h
  Marlin/src/lcd/tft_io/touch_calibration.cpp
Labels: C: LCD & Controllers, PR: Improvement, S: Please Merge

#20972 color_ui: allow multilanguage too
  Marlin/Configuration_adv.h
  Marlin/src/lcd/tft/tft_string.cpp
Labels: C: LCD & Controllers, C: Language, PR: Improvement

#20956 Support for Shared Media on STM32 - USB Mass Storage Device
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/inc/Conditionals_adv.h
  Marlin/src/HAL/STM32/msc_sd.cpp
  Marlin/src/HAL/STM32/msc_sd.h
  platformio.ini
Labels: A: STM32, PR: New Feature, S: Please Merge

#20931 More explicative comment on ubl code
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
Labels: PR: General Cleanup

#20966 add PREHEAT comments
  Marlin/Configuration.h
Labels: C: Documentation, PR: Improvement

#20934 Run Calibration Screen after Eeprom reset, when needed, for Classic and Color UI
  Marlin/src/lcd/marlinui.cpp
Labels: C: LCD & Controllers, PR: Bug Fix, S: Please Merge

#20998 fix DOGLCD_MOSI pin on FYSETC_MINI_12864 LCD
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
Labels: C: Boards/Pins, PR: Bug Fix

#20901 Fix delay function for ARM CPU
  Marlin/src/HAL/DUE/HAL_SPI.cpp
  Marlin/src/HAL/DUE/dogm/u8g_com_HAL_DUE_st7920_sw_spi.cpp
  Marlin/src/HAL/DUE/dogm/u8g_com_HAL_DUE_sw_spi_shared.cpp
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/HAL_SPI.cpp
  Marlin/src/HAL/shared/Delay.cpp
  Marlin/src/HAL/shared/Delay.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/macros.h
  Marlin/src/gcode/gcode_d.cpp
Labels: PR: Improvement, T: 32-Bit & HAL

#21019 Fix ESP32 I2S initialization order
  Marlin/src/HAL/ESP32/HAL.cpp
  Marlin/src/HAL/ESP32/HAL.h
Labels: A: ESP32, PR: Workaround, T: 32-Bit & HAL

#21016 Thermocouple conditionals
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/thermistor/thermistors.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  platformio.ini
Labels: PR: General Cleanup

#21004 Fix "more" menu in LVGL, no description
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/custom_user_menus.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_more.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_en.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_fr.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_it.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_ru.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_s_cn.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_sp.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_t_cn.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_multi_language.cpp
  Marlin/src/lcd/menu/menu_custom.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21021 Fix mini12864 v2.1 + psu control + neopixel backlight
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu_led.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21001 Fix: Unsupported use of %f in printf
  Marlin/src/lcd/extui/lib/mks_ui/draw_acceleration_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_auto_level_offset_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_baby_stepping.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_jerk_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_max_feedrate_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_move_motor.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_number_key.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_pause_position.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_step_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_tmc_current_settings.cpp
  Marlin/src/lcd/extui/lib/mks_ui/printer_operation.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
  Marlin/src/module/temperature.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21007 Allow to redefine SERVO0_PIN on Creality Melzi
  Marlin/src/pins/sanguino/pins_MELZI_CREALITY.h
Labels: A: ATmega1284, C: Boards/Pins, PR: Improvement

#21011 Fix emergency parser for stm32f1
  Marlin/src/HAL/STM32F1/HAL.cpp
  Marlin/src/HAL/STM32F1/msc_sd.cpp
Labels: PR: Bug Fix

#20447 LPC176x Framework SPI Fixes for MAX6675, MAX31855 and MAX31865 SPI boards
  Marlin/src/HAL/LPC1768/inc/SanityCheck.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
Labels: C: Temperatures, Needs: Testing

#21026 Ender 3 V2 DWIN cleanup
  Marlin/src/core/macros.h
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.h
Labels: C: LCD & Controllers, PR: General Cleanup

#21033 Fix probe preheat lowering temperatures
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/module/probe.cpp
Labels: C: Temperatures, PR: Bug Fix, PR: Improvement

#21061 Ender 3 V2 DWIN cleanup
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
Labels: C: LCD & Controllers, PR: General Cleanup

#21059 MEGA 2560 can be used with SMART RAMPS 1.4
  Marlin/src/pins/sam/pins_RAMPS_SMART.h
Labels: C: Boards/Pins

#20983 Improved Status Area for DWIN Display
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
Labels: C: LCD & Controllers, C: User Interface, Needs: Work, PR: Improvement

#21056 RAMPS w. TMC2209 UART Drivers and SMART RAMPS with MEGA2560
  Marlin/src/pins/ramps/pins_RAMPS.h
Labels: Needs: Work, S: Don't Merge

#21047 Fix the reported unit in the delay test code
  Marlin/src/HAL/shared/Delay.cpp
Labels: T: Development

#21052 Improve the debug symbol generated so we have macro value too
  platformio.ini
Labels: C: Build / Toolchain

#21066 [SAMD51] Fix extra serial compiling
  Marlin/src/HAL/DUE/HAL.cpp
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/SAMD51/HAL.cpp
  Marlin/src/HAL/SAMD51/HAL.h
Labels: A: SAM3X8C/E, A: SAMD51, C: Optimization, T: 32-Bit & HAL

#21035 E3V2 DWIN live movement
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
Labels: C: LCD & Controllers, PR: Improvement

#21072 Fix fan speed in status area of E3V2 DWIN screens
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21080 fixes #21036 Division by zero error in _calculated_remaining_time
  Marlin/src/lcd/marlinui.h
Labels: PR: Bug Fix

#21065 Fix MMU2 compile error
  Marlin/src/feature/mmu/mmu2.cpp
Labels: PR: Bug Fix

#21054 EXP headers for RAMPS 1.x
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_common.h
  Marlin/src/pins/lpc1769/pins_BTT_SKR_E3_TURBO.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_FYSETC_CHEETAH_V20.h
Labels: C: Boards/Pins

#20992 Add support for automated building of all configuration from Marlin's Configuration repository
  buildroot/bin/build_all_examples
  buildroot/bin/build_example
  buildroot/bin/mftest
Labels: T: Development

#20928 ststm32 update from 10.0 to 11.0
  platformio.ini
Labels: Needs: Testing, S: Don't Merge

#21098 fixes #21089 "BUTTON_CLICK" redefined warnings
  Marlin/src/lcd/buttons.h
Labels: PR: Bug Fix

#21096 FYSETC mini12864 on BTT002
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
Labels: C: Boards/Pins, C: LCD & Controllers

#21086 Build-examples script fixes
  Marlin/src/pins/pins.h
  buildroot/bin/build_all_examples
  buildroot/bin/build_example
  buildroot/bin/mftest
Labels: T: Development

#21095 swap Z_MIN and Z_MAX pins pins_TRIGORILLA_PRO.h
  Marlin/src/pins/stm32f1/pins_TRIGORILLA_PRO.h
Labels: C: Boards/Pins, Needs: More Data

#21091 Add Support for YHCB2004 & GT2560 V4.1B
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.h
  Marlin/src/pins/mega/pins_GT2560_V3.h
  Marlin/src/pins/mega/pins_GT2560_V3_A20.h
  Marlin/src/pins/mega/pins_GT2560_V3_MC2.h
  Marlin/src/pins/mega/pins_HJC2560C_REV2.h
  Marlin/src/pins/stm32f1/pins_GTM32_MINI.h
  Marlin/src/pins/stm32f1/pins_GTM32_MINI_A30.h
  Marlin/src/pins/stm32f1/pins_GTM32_PRO_VB.h
  Marlin/src/pins/stm32f1/pins_GTM32_REV_B.h
  platformio.ini
Labels: C: LCD & Controllers

#21087 document FAN2_PIN
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
Labels: C: Documentation

#21110 Fix IDEX broken endstop test
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.h
Labels: F: IDEX, PR: Bug Fix

#21113 Fix MP SCARA kinematics
  Marlin/src/module/scara.cpp
Labels: K: SCARA, PR: Bug Fix

#21115 Fix cleaning_buffer_counter check
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#21145 fixes #21144 'LEVELING_NOZZLE_TEMP' was not declared
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
Labels: PR: Bug Fix

#21128 Fix LCD AZSMZ 12864 display freeze with SD card
  Marlin/src/lcd/dogm/marlinui_DOGM.h
Labels: A: ATmega2560, A: SAM3X8C/E, C: LCD & Controllers

#21148 Enhancements and fixes to FTDI Touch UI
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/language/language_en.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_load_chocolate.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_load_chocolate.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_main_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_move_e_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_preheat_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_preheat_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_status_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/cocoa_press_ui.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/confirm_user_request_alert_box.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/move_axis_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screen_data.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/theme/colors.h
Labels: C: LCD & Controllers, PR: Improvement

#21167 Fix Touch UI compiliation error when not using Trinamic drivers; missing colors in theme.
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/theme/colors.h
Labels: C: LCD & Controllers, PR: Bug Fix

#21152 Fix broken serial comms to Chiron TFT panel
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.cpp
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/UHS_host_INLINE.h
Labels: C: LCD & Controllers, C: Serial Comms, PR: Bug Fix

#21156 PID for Chamber (resolves feature request #16316)
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/core/language.h
  Marlin/src/feature/leds/printer_event_leds.cpp
  Marlin/src/feature/leds/printer_event_leds.h
  Marlin/src/gcode/config/M309.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/temp/M303.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Temperatures

#21174 Fix MKS Robin Nano V3 I2C pins
  buildroot/share/PlatformIO/variants/MARLIN_F4x7Vx/variant.h
  platformio.ini
Labels: F: EEPROM, PR: Bug Fix, S: Please Merge

#21178 Combine LPC fixes
  Marlin/src/HAL/DUE/MarlinSerialUSB.cpp
  Marlin/src/HAL/DUE/MarlinSerialUSB.h
  Marlin/src/HAL/LPC1768/MarlinSerial.cpp
  Marlin/src/HAL/LPC1768/MarlinSerial.h
  Marlin/src/HAL/LPC1768/usb_serial.cpp
  Marlin/src/HAL/shared/Delay.cpp
  Marlin/src/core/serial.h
  Marlin/src/core/serial_base.h
  Marlin/src/core/serial_hook.h
  Marlin/src/gcode/queue.cpp
  docs/Serial.md
Labels: A: LPC176x, C: Serial Comms

#21177 Let libmaple accept RX_BUFFER_SIZE and TX_BUFFER_SIZE
  buildroot/share/PlatformIO/scripts/fix_framework_weakness.py
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#21159 Longer3D: early init of open drain pins with BOARD_PREINIT
  Marlin/src/MarlinCore.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
Labels: C: Boards/Pins, T: 32-Bit & HAL

#21120 Allow Zero Endstops (e.g., for CNC)
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/libs/L64XX/L64XX_Marlin.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.h
  Marlin/src/module/probe.h
  buildroot/tests/teensy31-tests
Labels: F: CNC / Laser, F: Calibration

#21114 Use 'H' value for UBL G29 z-clearance
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
Labels: F: Calibration, F: U.B.L.

#21068 Preflight checks for PlatformIO builds
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_ZRIB_V52.h
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  buildroot/tests/mega1280-tests
  platformio.ini
Labels: C: Build / Toolchain, PR: Improvement

#21161 Fix LEVEL_CORNERS_USE_PROBE with BLTOUCH_HS_MODE
  Marlin/src/lcd/menu/menu_bed_corners.cpp
Labels: F: Calibration, F: Z-Probes, Needs: Testing

#21188 Follow up for Allow Zero Endstops #21120
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix

#20444 Simplify: Z_AFTER_DEACTIVATE, UNKNOWN_Z_NO_RAISE, do_z_clearance
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
  Marlin/src/module/stepper/indirection.h
  buildroot/tests/STM32F103RC_btt-tests
Labels: C: Motion

#20350 Add shortcut to a preheat menu
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
Labels: C: LCD & Controllers, Needs: Discussion

#21122 Fix G-Code queue
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/bug_on.h
  Marlin/src/core/language.h
  Marlin/src/core/macros.h
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/feature/meatpack.cpp
  Marlin/src/feature/meatpack.h
  Marlin/src/gcode/calibrate/M100.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/host/M110.cpp
  Marlin/src/gcode/host/M118.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/gcode/queue.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_keyboard.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_manuaLevel.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_move_motor.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
  docs/Queue.md
Labels: C: Serial Comms, Needs: Testing, Needs: Work, PR: Bug Fix

#21192 Stow probe after raising Z when homing
  Marlin/src/gcode/calibrate/G28.cpp
Labels: F: Calibration, PR: Bug Fix

#21200 Fix M355 with NEOPIXEL
  Marlin/src/gcode/feature/caselight/M355.cpp
Labels: C: Peripherals, PR: Bug Fix

#21205 Fix PlatformIO Ledger Env to avoid breaking PIO clean
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix, S: Please Merge

#21197 Fix build for GTR and SKR PRO with usb flash drive support
  buildroot/tests/BIGTREE_GTR_V1_0_usb_flash_drive-tests
  platformio.ini
Labels: A: STM32, PR: Bug Fix

#21051 Make F_CPU a compile time constant (and not a runtime constant).
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/inc/Conditionals_adv.h
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
Labels: C: Build / Toolchain, T: 32-Bit & HAL

#21214 Fix building issue with binary transfer and multiserial
  Marlin/src/gcode/sd/M28_M29.cpp
Labels: PR: Bug Fix

#21212 [SMUFF] Extend commands to supported extruders
  Marlin/src/feature/mmu/mmu2.cpp
  Marlin/src/gcode/feature/prusa_MMU2/M403.cpp
  Marlin/src/inc/Conditionals_LCD.h
Labels: C: Peripherals, PR: Improvement

#21211 [SAMD51] add sanity check
  Marlin/src/HAL/SAMD51/inc/SanityCheck.h
Labels: A: SAMD51, C: Configuration

#21210 Fix m876 emergency on stm32f103
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/pause.cpp
Labels: C: G-code Parser, C: Serial Comms, PR: Bug Fix

#21208 M106 / M107 duplicated mode handling
  Marlin/src/gcode/temp/M106_M107.cpp
Labels: F: IDEX

#21193 bugfix AUTO_POWER_CONTROL
  Marlin/src/MarlinCore.cpp
Labels: C: Peripherals, PR: Improvement

#21217 rename PROBE_SPEED to PROBE_FEEDRATE
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_probe_offset.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
Labels: PR: Configurations

#20341 RGB Caselight
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/caselight.h
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
  Marlin/src/feature/leds/neopixel.cpp
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_led.cpp
  Marlin/src/pins/pins_postprocess.h
  buildroot/tests/DUE-tests
Labels: C: Peripherals

#20609 Add MKS H43 support
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/STM32/eeprom_flash.cpp
  Marlin/src/HAL/shared/cpu_exception/exception_arm.cpp
  Marlin/src/HAL/shared/eeprom_if_i2c.cpp
  Marlin/src/MarlinCore.cpp
  Marlin/src/gcode/sd/M24_M25.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/dgus_lcd.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplay.h
  Marlin/src/lcd/extui/lib/dgus/DGUSDisplayDef.h
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.h
  Marlin/src/lcd/extui/lib/dgus/fysetc/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/fysetc/DGUSScreenHandler.h
  Marlin/src/lcd/extui/lib/dgus/hiprecy/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/hiprecy/DGUSScreenHandler.h
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.h
  Marlin/src/lcd/extui/lib/dgus/origin/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/origin/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/origin/DGUSScreenHandler.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_manuaLevel.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_move_motor.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.h
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3.h
  platformio.ini
Labels: C: LCD & Controllers, Needs: Work

#18839 Adding more EVE displays for extui
  Marlin/Configuration_adv.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/basic/boards.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/basic/commands.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/basic/resolutions.h
Labels: C: LCD & Controllers, PR: Improvement

#21219 Update ST STM32 platform to version 12.0
  platformio.ini
Labels: A: STM32, C: Build / Toolchain

#21194 [SAMD51] honor serial buffer size
  buildroot/share/PlatformIO/scripts/SAMD51_grandcentral_m4.py
  platformio.ini
Labels: A: SAMD51

#21224 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language
