Repository MarlinFirmware/Marlin, pull requests merged in 2021-11, with the labels that each got.

#23033 More flexible Probe Temperature Compensation
  Marlin/Configuration_adv.h
  Marlin/src/feature/probe_temp_comp.cpp
  Marlin/src/feature/probe_temp_comp.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G76_M192_M871.cpp
  Marlin/src/gcode/calibrate/G76_M871.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/temp/M192.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/settings.cpp
  buildroot/tests/rambo
  ini/features.ini
  platformio.ini
Labels: PR: Improvement, F: Calibration

#23051 add many missing pins to pinsDebug_list
  Marlin/src/pins/pinsDebug_list.h
Labels: PR: Improvement, T: Development

#23055 correct Y_SERIAL_RX_PIN in pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
Labels: C: Boards/Pins, PR: Bug Fix

#23029 Add Artillery Ruby (STM32F401RCT6)
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_ARTILLERY_RUBY.h
  buildroot/share/PlatformIO/boards/marlin_Artillery_Ruby.json
  buildroot/share/PlatformIO/scripts/STM32F103RC_MEEB_3DP.py
  buildroot/share/PlatformIO/scripts/STM32F103RC_fysetc.py
  buildroot/share/PlatformIO/variants/MARLIN_ARTILLERY_RUBY/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_ARTILLERY_RUBY/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_ARTILLERY_RUBY/hal_conf_custom.h
  buildroot/share/PlatformIO/variants/MARLIN_ARTILLERY_RUBY/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_ARTILLERY_RUBY/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_ARTILLERY_RUBY/variant.h
  ini/stm32f4.ini
Labels: Needs: Testing, C: Boards/Pins, A: STM32

#23061 Remove Posible USE_XXXX_PLUG redefinition warning
  Marlin/src/pins/pins_postprocess.h
Labels: PR: General Cleanup

#23054 Allow Low EJERK with LA
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Configurations, F: Linear Advance

#23050 Warn of possible endstop/DIAG homing conflicts
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1769/pins_BTT_SKR_E3_TURBO.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_E3_RRF.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  Marlin/src/pins/stm32f4/pins_LERDGE_K.h
  Marlin/src/pins/stm32f4/pins_LERDGE_S.h
  Marlin/src/pins/stm32f4/pins_LERDGE_X.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3_common.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_PRO_V2.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX.h
Labels: Needs: Discussion, F: Calibration, F: Trinamic

#23048 Ensure that PWM frequency is not changed by AUTO_FAN
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/AVR/fast_pwm.cpp
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/ESP32/HAL.h
  Marlin/src/HAL/LINUX/HAL.h
  Marlin/src/HAL/LPC1768/fast_pwm.cpp
  Marlin/src/HAL/NATIVE_SIM/HAL.h
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/HAL/STM32/fast_pwm.cpp
  Marlin/src/HAL/STM32F1/HAL.cpp
  Marlin/src/HAL/STM32F1/fast_pwm.cpp
  Marlin/src/HAL/TEENSY31_32/HAL.h
  Marlin/src/HAL/TEENSY35_36/HAL.h
  Marlin/src/HAL/TEENSY40_41/HAL.cpp
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/feature/caselight.cpp
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/gcode/control/M42.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/tft/ui_common.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix, T: 32-Bit & HAL, C: Peripherals

#23057 Fix NEOPIXEL2_SEPARATE default color
  Marlin/src/feature/leds/leds.cpp
Labels: PR: Bug Fix, C: Peripherals

#23060 Add MKS Robin E3/E3D NeoPixel Pin
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
Labels: PR: Improvement, C: Boards/Pins

#23058 Fix IntelliSense conflicts
  Marlin/src/HAL/DUE/upload_extra_script.py
  Marlin/src/HAL/LPC1768/upload_extra_script.py
  Marlin/src/HAL/STM32F1/build_flags.py
  buildroot/share/PlatformIO/scripts/SAMD51_grandcentral_m4.py
  buildroot/share/PlatformIO/scripts/STM32F103RC_MEEB_3DP.py
  buildroot/share/PlatformIO/scripts/STM32F103RC_fysetc.py
  buildroot/share/PlatformIO/scripts/STM32F1_create_variant.py
  buildroot/share/PlatformIO/scripts/add_nanolib.py
  buildroot/share/PlatformIO/scripts/chitu_crypt.py
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
  buildroot/share/PlatformIO/scripts/common-dependencies-post.py
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  buildroot/share/PlatformIO/scripts/custom_board.py
  buildroot/share/PlatformIO/scripts/download_mks_assets.py
  buildroot/share/PlatformIO/scripts/fix_framework_weakness.py
  buildroot/share/PlatformIO/scripts/generic_create_variant.py
  buildroot/share/PlatformIO/scripts/jgaurora_a5s_a1_with_bootloader.py
  buildroot/share/PlatformIO/scripts/lerdge.py
  buildroot/share/PlatformIO/scripts/marlin.py
  buildroot/share/PlatformIO/scripts/mks_robin.py
  buildroot/share/PlatformIO/scripts/mks_robin_e3.py
  buildroot/share/PlatformIO/scripts/mks_robin_e3p.py
  buildroot/share/PlatformIO/scripts/mks_robin_lite.py
  buildroot/share/PlatformIO/scripts/mks_robin_lite3.py
  buildroot/share/PlatformIO/scripts/mks_robin_mini.py
  buildroot/share/PlatformIO/scripts/mks_robin_nano.py
  buildroot/share/PlatformIO/scripts/mks_robin_nano35.py
  buildroot/share/PlatformIO/scripts/mks_robin_pro.py
  buildroot/share/PlatformIO/scripts/offset_and_rename.py
  buildroot/share/PlatformIO/scripts/openblt.py
  buildroot/share/PlatformIO/scripts/pioutil.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  buildroot/share/PlatformIO/scripts/random-bin.py
  buildroot/share/PlatformIO/scripts/robin.py
  buildroot/share/PlatformIO/scripts/simulator.py
  buildroot/share/PlatformIO/scripts/stm32_serialbuffer.py
  ini/stm32f1-maple.ini
Labels: T: Development

#23072 Octopus-Pro FORCE_SOFT_SPI for mini12864, Avoid making Max31865 SoftSPI inoperative
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_PRO_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_common.h
Labels: C: Boards/Pins, PR: Bug Fix, C: Peripherals

#23062 STM32: Fix set_pwm_duty for TFT_BACKLIGHT_PWM
  Marlin/src/HAL/STM32/fast_pwm.cpp
  Marlin/src/HAL/STM32F1/fast_pwm.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/tft/ui_common.cpp
  Marlin/src/lcd/tft_io/tft_io.cpp
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
Labels: PR: Bug Fix, T: 32-Bit & HAL, C: Peripherals

#23075 Fix potential bootloop after WD timeout on AVR
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/HAL.cpp
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix, A: AT90USB, A: ATmega2560, A: ATmega1284, A: ATmega1280

#23090 Fix typo in DGUS_LCD_UI_RELOADED, DGUSScreenHandler::SetStatusMessage
  Marlin/src/lcd/extui/dgus_reloaded/DGUSScreenHandler.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#23082 JyersUI: Fix wrong array size calculation
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#22682 MAX31865 enhancements
  Marlin/src/HAL/shared/Delay.h
  Marlin/src/HAL/shared/Marduino.h
  Marlin/src/libs/MAX31865.cpp
  Marlin/src/libs/MAX31865.h
  buildroot/tests/LPC1769
  buildroot/tests/teensy41
Labels: PR: Improvement, C: Peripherals, C: Temperatures

#23084 Fix inconsistency in M503 output
  Marlin/src/gcode/config/M304.cpp
  Marlin/src/module/settings.cpp
Labels: PR: General Cleanup, C: Serial Comms

#23088 Add Optional Verbose Preheating to Probing/Leveling
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/probe.cpp
Labels: PR: Improvement, C: LCD & Controllers, C: Temperatures

#23093 Add BTT002 (STM32F407VET6), Use MK3_FAN_PINS Flag
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
  buildroot/share/PlatformIO/boards/marlin_BigTree_BTT002_VET6.json
  ini/stm32f4.ini
Labels: PR: Improvement, C: Boards/Pins

#23101 Support for BIQU B1-SE-Plus strain gauge probe
  Marlin/Configuration.h
  Marlin/src/module/endstops.cpp
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_CR6.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V452.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V453.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
Labels: PR: New Feature, F: Calibration, F: Z-Probes

#23104 Update FYSETC Cheetah 2.0 pins define
  Marlin/src/pins/stm32f4/pins_FYSETC_CHEETAH_V20.h
Labels: C: Boards/Pins, PR: Bug Fix

#23100 General fixes and updates for the DWIN ENHANCED configuration
  Marlin/src/feature/pause.cpp
  Marlin/src/lcd/e3v2/enhanced/dwin.cpp
  Marlin/src/lcd/e3v2/enhanced/dwin.h
  Marlin/src/lcd/e3v2/enhanced/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/enhanced/dwin_lcd.h
  Marlin/src/lcd/e3v2/enhanced/dwinui.cpp
  Marlin/src/lcd/e3v2/enhanced/dwinui.h
  Marlin/src/lcd/e3v2/enhanced/meshviewer.cpp
  Marlin/src/lcd/e3v2/enhanced/meshviewer.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement, C: LCD & Controllers

#23108 Fix compilation error with RGB case lights
  Marlin/src/feature/caselight.cpp
Labels: PR: Bug Fix, C: Peripherals

#23110 Fix LCP1768 set_pwm_duty pin setup
  Marlin/src/HAL/LPC1768/fast_pwm.cpp
Labels: T: 32-Bit & HAL, A: LPC176x

#23113 Comments cleanup on MPX ARM MINI board
  Marlin/src/pins/stm32f1/pins_MINGDA_MPX_ARM_MINI.h
Labels: C: Boards/Pins, PR: General Cleanup

#23102 Integrate FAN_SOFT_PWM with USE_CONTROLLER_FAN and fix AVR timer 3 pins
  Marlin/src/HAL/AVR/fast_pwm.cpp
  Marlin/src/HAL/AVR/fastio.h
  Marlin/src/HAL/AVR/inc/SanityCheck.h
  Marlin/src/HAL/AVR/pinsDebug.h
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: Needs: Work, PR: Bug Fix, C: Peripherals, C: Temperatures

#23124 Removed hassle with touchscreen calibration in SimUI
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/linux/pins_RAMPS_LINUX.h
Labels: C: LCD & Controllers, C: Optimization

#23127 Implement LCD_SHOW_E_TOTAL for TFT_COLOR_UI
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: PR: Improvement, C: LCD & Controllers

#23129 TFT_NEWCOLOR_UI
  .gitignore
Labels: T: Development

#23137 🐛 Fix typos
  Marlin/src/HAL/STM32F1/onboard_sd.cpp
  Marlin/src/lcd/e3v2/enhanced/dwinui.cpp
  Marlin/src/lcd/e3v2/enhanced/dwinui.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSDisplay.h
  Marlin/src/pins/stm32f4/pins_RUMBA32_BTT.h
Labels: PR: General Cleanup

#23107 Allow Some Probe-Related Overrides
  Marlin/src/pins/stm32f1/pins_BTT_SKR_CR6.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V452.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V453.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V45x.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
Labels: PR: Improvement, C: Boards/Pins

#23133 fix PROBE_ENABLE_PIN has not init bug
  Marlin/src/MarlinCore.cpp
Labels: PR: Bug Fix, F: Z-Probes

#23149 PWM: Avoid set_pwm_duty calls each 0.1 second
  Marlin/src/module/planner.cpp
Labels: C: Peripherals, C: Optimization

#23153 PWM: avoid OUT_WRITE on TFT backlight sleep
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/touch/touch_buttons.cpp
Labels: PR: Bug Fix, C: LCD & Controllers, C: Peripherals

#23130 Add BigTreeTech Mini 12864 V1.0
  Marlin/Configuration.h
  Marlin/src/HAL/STM32F1/inc/SanityCheck.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3_common.h
Labels: PR: New Feature, C: LCD & Controllers

#23125 STM32 set_pwm_duty fixes
  Marlin/src/HAL/STM32/MarlinSPI.cpp
  Marlin/src/HAL/STM32/fast_pwm.cpp
  Marlin/src/HAL/STM32/tft/tft_spi.cpp
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/STM32F1/fast_pwm.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_module.cpp
  Marlin/src/pins/stm32f1/pins_LONGER3D_LK.h
Labels: PR: Bug Fix, T: 32-Bit & HAL, A: STM32

#23160 Fix BOTH Macro for RX BUFFER (issue #23159)
  Marlin/src/gcode/queue.cpp
Labels: PR: Bug Fix

#23163 Add support for MarkForged YX kinematics
  Marlin/Configuration.h
  Marlin/src/core/types.h
  Marlin/src/core/utility.cpp
  Marlin/src/feature/backlash.cpp
  Marlin/src/gcode/host/M360.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_backlash.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/stepper.cpp
Labels: PR: New Feature, K: Core / H-Bot, C: Motion

#23152 Fix homing current for extra axes
  Marlin/src/gcode/calibrate/G28.cpp
Labels: PR: Bug Fix, F: Calibration, F: Trinamic

#23150 Fix DGUS display include path
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#23131 Biqu BX Temporary Framework Workaround
  buildroot/share/PlatformIO/scripts/generic_create_variant.py
  ini/stm32h7.ini
Labels: PR: Bug Fix, A: STM32

#23199 Swap BTT002 Tach Pins
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
Labels: C: Boards/Pins, PR: Bug Fix

#23208 Support FYSETC Spider v2.2
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_FYSETC_SPIDER_V2_2.h
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_S6/PeripheralPins.c
Labels: C: Boards/Pins, A: STM32

#23197 Prevent M33 crash due to missing argument
  Marlin/src/sd/cardreader.cpp
Labels: F: SD Card Printing

#23194 Add support for UM2 extruder cooling fan pin PJ6
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/ramps/pins_ULTIMAIN_2.h
Labels: C: Boards/Pins, PR: Bug Fix, A: ATmega2560

#23186 Remove Bidirectional Unicode Text
  Marlin/Configuration_adv.h
Labels: PR: General Cleanup

#23205 Assume 4K EEPROM for RUMBA32 BTT
  Marlin/src/pins/stm32f4/pins_RUMBA32_BTT.h
Labels: C: Boards/Pins, F: EEPROM
