Repository MarlinFirmware/Marlin, pull requests merged in 2021-04, with the labels that each got.

#21499 Board IDs for G2560 Rev B, G2560 v4, GTM32 VD
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_GT2560_REV_B.h
  Marlin/src/pins/mega/pins_GT2560_V3.h
  Marlin/src/pins/mega/pins_GT2560_V4.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_GTM32_PRO_VB.h
  Marlin/src/pins/stm32f1/pins_GTM32_PRO_VD.h
Labels: C: Boards/Pins

#21480 Hilbert curve followup; G26 change for additional testing
  Marlin/src/core/utility.h
  Marlin/src/feature/bedlevel/abl/abl.cpp
  Marlin/src/feature/bedlevel/hilbert_curve.cpp
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.cpp
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_screen.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/module/settings.cpp
Labels: F: Calibration, PR: Improvement

#21500 MKS H43 Fix bug
  Marlin/Configuration.h
  Marlin/src/lcd/extui/lib/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.h
Labels: C: LCD & Controllers, PR: Bug Fix

#21498 laser.flowmeter
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/dogm/status/cooler.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/module/temperature.cpp
Labels: F: CNC / Laser, PR: Bug Fix

#21507 Split up platformio.ini
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  ini/avr.ini
  ini/due.ini
  ini/esp32.ini
  ini/features.ini
  ini/lpc176x.ini
  ini/native.ini
  ini/samd51.ini
  ini/stm32f0.ini
  ini/stm32f1.ini
  ini/stm32f4.ini
  ini/stm32f7.ini
  ini/teensy.ini
  platformio.ini
Labels: C: Build / Toolchain, PR: Improvement

#21512 add 3rd runout pin to gt2560 v3
  Marlin/src/pins/mega/pins_GT2560_V3.h
Labels: C: Boards/Pins

#21537 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#21535 Block hotend idle check if moves planned or waiting for the user
  Marlin/src/feature/hotend_idle.cpp
Labels: C: Safety, C: Temperatures, PR: Improvement

#21532 Revert "Optimized string-to-number functions (#21484)"
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/gcode/queue.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
Labels: PR: Bug Fix

#21528 Fat orphan detection
  Marlin/src/sd/SdBaseFile.cpp
Labels: F: SD Card Printing, PR: Bug Fix

#21521 Touch UI Bed Mesh Screen Refactor and Enhancements
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/marlin_events.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_base.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_base.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_edit_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_edit_screen.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_view_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_view_screen.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/leveling_menu.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screen_data.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screens.h
  Marlin/src/lcd/extui/ui_api.h
Labels: C: LCD & Controllers, C: Optimization, C: User Interface, PR: Improvement

#21546 Default DELAY_NS to round up.
  Marlin/src/HAL/shared/Delay.h
  Marlin/src/lcd/dogm/ultralcd_st7920_u8glib_rrd_AVR.cpp
Labels: PR: Improvement

#21544 MKS LVGL UI: Changed fan speed control in percent
  Marlin/src/lcd/extui/lib/mks_ui/draw_fan.cpp
Labels: C: LCD & Controllers, PR: Improvement

#21497 Rumba32 Fixed Variant to Work with Marlin
  buildroot/share/PlatformIO/variants/MARLIN_F446VE/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_F446VE/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_F446VE/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_F446VE/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_F446VE/variant.h
  ini/stm32f4.ini
Labels: A: STM32, C: Build / Toolchain, T: 32-Bit & HAL

#21502 Fix MKS LVGL UI Main screen
  Marlin/src/lcd/extui/lib/mks_ui/draw_extrusion.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_change.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
Labels: C: LCD & Controllers, C: Temperatures, PR: Bug Fix

#21536 BTT SKR-SE-BX (STM32H743IIT6 ARM Cortex M7) and BIQU_BX_TFT70
  .github/workflows/test-builds.yml
  Marlin/Configuration.h
  Marlin/src/HAL/STM32/MarlinSPI.cpp
  Marlin/src/HAL/STM32/inc/SanityCheck.h
  Marlin/src/HAL/STM32/tft/tft_ltdc.cpp
  Marlin/src/HAL/STM32/tft/tft_ltdc.h
  Marlin/src/HAL/STM32/timers.cpp
  Marlin/src/core/boards.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/u8g_dev_tft_upscale_from_128x64.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_view_screen.cpp
  Marlin/src/lcd/tft/tft.h
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_1024x600.h
  Marlin/src/lcd/tft/ui_common.h
  Marlin/src/lcd/tft_io/tft_io.cpp
  Marlin/src/lcd/tft_io/tft_io.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX.h
  buildroot/share/PlatformIO/boards/BTT_SKR_SE_BX.json
  buildroot/share/PlatformIO/variants/BTT_SKR_SE_BX/PeripheralPins.c
  buildroot/share/PlatformIO/variants/BTT_SKR_SE_BX/PinNamesVar.h
  buildroot/share/PlatformIO/variants/BTT_SKR_SE_BX/hal_conf_extra.h
  buildroot/share/PlatformIO/variants/BTT_SKR_SE_BX/ldscript.ld
  buildroot/share/PlatformIO/variants/BTT_SKR_SE_BX/variant.cpp
  buildroot/share/PlatformIO/variants/BTT_SKR_SE_BX/variant.h
  buildroot/tests/BTT_SKR_SE_BX
  ini/features.ini
  ini/stm32f7.ini
Labels: A: STM32, C: Boards/Pins, C: LCD & Controllers, PR: New Feature

#21552 Prevent magnetic switching toolhead collision
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, F: Toolchange

#21550 add config version greater than expected tests
  Marlin/src/inc/SanityCheck.h
Labels: C: Build / Toolchain, C: Configuration

#21496 Delayed U8glib Initialisation
  Marlin/src/lcd/dogm/HAL_LCD_class_defines.h
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  ini/features.ini
Labels: C: LCD & Controllers, PR: Bug Fix, S: Please Merge

#21574 add checks for tangled marlin (marlin source with old and new code)
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: C: Build / Toolchain

#21568 macros: introduce TERNADD() and TERNSUB() for math operations
  Marlin/src/core/macros.h
  Marlin/src/gcode/bedlevel/G35.cpp
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/scara.cpp
  Marlin/src/module/tool_change.cpp
Labels: C: Optimization

#21567 serial: remove return value on write()
  Marlin/src/HAL/AVR/MarlinSerial.cpp
  Marlin/src/HAL/AVR/MarlinSerial.h
  Marlin/src/core/serial_base.h
Labels: C: Optimization, C: Serial Comms

#21511 Fix manual move with MKS H43
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21579 fix M114 E & R broken by `LIN_ADVANCE`
  Marlin/src/module/stepper.cpp
Labels: C: Hosts & Protocols, PR: Bug Fix

#21577 Followup to "no status for serial::write"
  Marlin/src/core/serial_hook.h
  Marlin/src/feature/meatpack.h
  buildroot/tests/mega2560
Labels: C: Serial Comms, PR: Bug Fix, S: Please Test

#21595 Fix icon layout issue
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
Labels: C: LCD & Controllers

#21575 Reduce float math library code size (by 3 1/2 kilobytes)
  Marlin/src/core/macros.h
  Marlin/src/feature/bedlevel/abl/abl.cpp
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/gcode/bedlevel/G35.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/ubl/M421.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/calibrate/G76_M192_M871.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/probe/G30.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/ftdi_eve_lib/extended/adjuster_widget.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_base.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_edit_screen.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_tramming.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
  platformio.ini
Labels: C: Build / Toolchain, C: Optimization

#21566 platformio: use jump relaxing for all AVR targets
  ini/avr.ini
Labels: A: AT90USB, A: ATmega1280, A: ATmega1284, A: ATmega2560, C: Build / Toolchain, C: Optimization

#21564 Fix print resume with UBL
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/module/tool_change.cpp
Labels: F: U.B.L.

#21594 Add chamber fan mode 3
  Marlin/Configuration_adv.h
  Marlin/src/module/temperature.cpp
Labels: C: Configuration, C: Temperatures

#21590 Add STM32F103ZE to HAL.h for correct 512KB flash size.
  Marlin/src/HAL/STM32F1/HAL.h
Labels: A: STM32, T: 32-Bit & HAL

#21585 Update anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/lib/anycubic_i3mega/anycubic_i3mega_lcd.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21551 Fix and improve Power Monitor
  Marlin/Configuration_adv.h
  Marlin/src/feature/power_monitor.cpp
  Marlin/src/feature/power_monitor.h
  Marlin/src/gcode/feature/power_monitor/M430.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/menu/menu_power_monitor.cpp
  Marlin/src/pins/lpc1768/pins_GMARSH_X6_REV1.h
Labels: C: Peripherals, PR: Bug Fix

#21344 Multi Volume Support - LVGL Media Select Screen
  Marlin/Configuration_adv.h
  Marlin/src/HAL/DUE/usb/sd_mmc_spi_mem.cpp
  Marlin/src/HAL/STM32/msc_sd.cpp
  Marlin/src/MarlinCore.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_keyboard.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_media_select.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_media_select.h
  Marlin/src/lcd/extui/lib/mks_ui/draw_print_file.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ui.h
  Marlin/src/lcd/extui/lib/mks_ui/pic_manager.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_Language_en.h
  Marlin/src/lcd/extui/lib/mks_ui/tft_multi_language.cpp
  Marlin/src/lcd/extui/lib/mks_ui/tft_multi_language.h
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
  Marlin/src/sd/Sd2Card.cpp
  Marlin/src/sd/Sd2Card.h
  Marlin/src/sd/Sd2Card_sdio.h
  Marlin/src/sd/SdFatConfig.h
  Marlin/src/sd/SdVolume.cpp
  Marlin/src/sd/SdVolume.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
  Marlin/src/sd/disk_io_driver.h
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.cpp
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.h
Labels: A: STM32, C: LCD & Controllers, F: SD Card Printing, PR: New Feature

#21607 Enhancements and fixes to the FTDI Eve Touch UI
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/language/language_en.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_edit_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_edit_screen.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/bed_mesh_view_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/move_axis_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/move_axis_screen.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/screen_data.h
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/status_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/z_offset_screen.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/screens/z_offset_screen.h
Labels: C: LCD & Controllers, PR: Bug Fix, PR: Improvement

#21523 Replace separating char for filename scrolling
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
Labels: C: User Interface, Needs: Discussion, T: Suggestion

#21616 Fix Custom Menu audio and return
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#21619 Fix bug for MKS H43
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/lib/dgus/mks/DGUSScreenHandler.cpp
Labels: C: LCD & Controllers, PR: Bug Fix

#19330 Realtime Reporting and S000, P000, R000
  Marlin/Configuration_adv.h
  Marlin/src/feature/e_parser.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/bedlevel/ubl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/gcode/parser.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  buildroot/tests/LPC1768
Labels: C: Hosts & Protocols, PR: New Feature

#21623 Init pwm_thrs to 0 when HYBRID_THRESHOLD is off
  Marlin/src/feature/tmc_util.h
  Marlin/src/module/stepper/trinamic.cpp
Labels: F: Trinamic, PR: Improvement

#17239 Tool sensors
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/module/tool_change.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  buildroot/tests/BIGTREE_GTR_V1_0
Labels: C: Motion, F: Toolchange, PR: New Feature

#21630 Fix Realtime Reporting with G-code Motion Modes
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/parser.cpp
Labels: C: Hosts & Protocols, PR: Bug Fix

#21643 Skip scripts during 'platformio init'
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
  buildroot/share/PlatformIO/scripts/common-dependencies-post.py
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  buildroot/share/PlatformIO/scripts/copy_marlin_variant_to_framework.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: C: Build / Toolchain, PR: Improvement

#21658 Skip preflight checks only during PIO init
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
  buildroot/share/PlatformIO/scripts/common-dependencies-post.py
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  buildroot/share/PlatformIO/scripts/copy_marlin_variant_to_framework.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: C: Build / Toolchain

#21597 Autodetect and support for new style Anycubic Chiron TFT panel
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/FileNavigator.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/FileNavigator.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.cpp
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft.h
  Marlin/src/lcd/extui/lib/anycubic_chiron/chiron_tft_defs.h
Labels: C: LCD & Controllers

#21617 Changes supporting "Prussia3D" MK3 configuration
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/dogm/dogm_Statusscreen.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/pins/rambo/pins_EINSY_RAMBO.h
Labels: C: Boards/Pins

#21660 Fix grand central include lib "SdFat - Adafruit Fork"
  ini/samd51.ini
Labels: C: Build / Toolchain, Needs: Testing

#21668 M10-M11 Air Evacuation for Spindle/Laser
  Marlin/Configuration_adv.h
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/control/M10-M11.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_spindle_laser.cpp
  ini/features.ini
  platformio.ini
Labels: F: CNC / Laser, PR: New Feature

#21671 `Purge More / Resume` menu improve
  Marlin/src/feature/host_actions.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/pause.h
  Marlin/src/inc/Conditionals_post.h
Labels: C: LCD & Controllers, PR: Improvement

#21685 Add whole-degree accessors, simplify some temperature-related features
  Marlin/src/feature/leds/printer_event_leds.cpp
  Marlin/src/feature/leds/printer_event_leds.h
  Marlin/src/feature/leds/tempstat.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/probe_temp_comp.cpp
  Marlin/src/feature/probe_temp_comp.h
  Marlin/src/gcode/calibrate/G76_M192_M871.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_extrusion.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_filament_change.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_preHeat.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_printing.cpp
  Marlin/src/lcd/extui/lib/mks_ui/draw_ready_print.cpp
  Marlin/src/lcd/extui/lib/mks_ui/wifi_module.cpp
  Marlin/src/lcd/extui/malyan_lcd.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Optimization, C: Temperatures

#21678 High Precision Celsius for Calc
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Temperatures, PR: Improvement, S: Please Merge

#21686 Fixes issue 21682 MP_SCARA fails to compile.
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#21680 Add MCP4451 Digipot Support for Azteeg X5 GT
  Marlin/src/feature/digipot/digipot_mcp4451.cpp
  Marlin/src/inc/SanityCheck.h
Labels: C: Peripherals

#21670 Don't extrude while resuming from parked nozzle position after M600 filament change
  Marlin/src/feature/pause.cpp
Labels: PR: Bug Fix

#21683 ExtUI onPostprocessSettings Event
  Marlin/src/lcd/extui/anycubic_chiron_lcd.cpp
  Marlin/src/lcd/extui/anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/dgus_lcd.cpp
  Marlin/src/lcd/extui/example.cpp
  Marlin/src/lcd/extui/lib/ftdi_eve_touch_ui/marlin_events.cpp
  Marlin/src/lcd/extui/malyan_lcd.cpp
  Marlin/src/lcd/extui/nextion_lcd.cpp
  Marlin/src/lcd/extui/ui_api.h
  Marlin/src/module/settings.cpp
Labels: C: LCD & Controllers, PR: Improvement

#21674 Clean up / improve generate_version functionality
  buildroot/bin/generate_version
Labels: C: Build / Toolchain, PR: General Cleanup

#21665 Move last bootscreen delay to end of setup
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/utility.cpp
  Marlin/src/core/utility.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: C: LCD & Controllers, C: Optimization

#21646 Fixed 5 point in manual level settings.
  Marlin/src/lcd/extui/lib/mks_ui/draw_tramming_pos_settings.cpp
Labels: C: LCD & Controllers, F: Calibration, PR: Bug Fix

#21642 menu_item: prevent useless float operations
  Marlin/src/lcd/menu/menu_item.h
Labels: C: Optimization, Needs: Testing

#21652 [PR] Soft reset functionality
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/HAL.cpp
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/DUE/HAL.cpp
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/ESP32/HAL.cpp
  Marlin/src/HAL/ESP32/HAL.h
  Marlin/src/HAL/LINUX/HAL.cpp
  Marlin/src/HAL/LINUX/HAL.h
  Marlin/src/HAL/LPC1768/HAL.cpp
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/SAMD51/HAL.cpp
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32F1/HAL.cpp
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/TEENSY31_32/HAL.cpp
  Marlin/src/HAL/TEENSY31_32/HAL.h
  Marlin/src/HAL/TEENSY35_36/HAL.cpp
  Marlin/src/HAL/TEENSY35_36/HAL.h
  Marlin/src/HAL/TEENSY40_41/HAL.cpp
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/e_parser.h
  Marlin/src/gcode/gcode_d.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/marlinui.h
  buildroot/tests/LPC1768
Labels: C: Safety, Needs: Testing

#21612 Backlash Compensation for COREnn
  Marlin/Configuration_adv.h
  Marlin/src/feature/backlash.cpp
  Marlin/src/lcd/menu/menu_backlash.cpp
  buildroot/tests/teensy35
Labels: C: Motion, F: Calibration, K: Core / H-Bot

#21689 Sanity check for MIXING_EXTRUDER & DISTINCT_E_FACTORS
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#21534 New Advanced Settings menu for Ender3v2 with DWIN display
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
  Marlin/src/lcd/dwin/e3v2/dwin.h
  Marlin/src/lcd/language/language_en.h
  buildroot/tests/STM32F103RET6_creality
Labels: C: LCD & Controllers, PR: New Feature

#21692 Fix usage and commentary of MANUAL_PROBE_START_Z and Z_AFTER_PROBING
  Marlin/Configuration.h
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
Labels: F: Calibration, PR: Bug Fix

#21699 fix bootloop caused by liquidcrystal library
  ini/features.ini
  ini/lpc176x.ini
Labels: C: LCD & Controllers, Needs: Testing, PR: Bug Fix

#21707 Cleaner output from opt_enable, etc.
  buildroot/bin/opt_disable
  buildroot/bin/opt_enable
  buildroot/bin/opt_set
Labels: C: Build / Toolchain, T: Development

#21701 Fix "continuous" typo
  Marlin/Configuration_adv.h
  Marlin/src/HAL/STM32F1/MarlinSerial.cpp
  Marlin/src/lcd/marlinui.cpp
Labels: PR: General Cleanup

#21710 Fix typo: 'Automaticaly' to 'Automatically'
  Marlin/Makefile
Labels: PR: General Cleanup

#21698 Make Cancel Objects reporting optional
  Marlin/Configuration_adv.h
  Marlin/src/feature/cancel_object.cpp
Labels: C: LCD & Controllers, PR: Configurations

#21711 Drop buggy -fmerge-constants flag
  platformio.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#21715 Update redundant_temperature types, fixes #21712
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Temperatures, PR: Bug Fix

#21700 Fix E3V2 Advanced Settings without powerloss recovery (#21534)
  Marlin/src/lcd/dwin/e3v2/dwin.cpp
Labels: C: LCD & Controllers, F: Print Recovery, PR: Bug Fix

#21503 BTT SKR V2.0 (STM32F407VGT6) & Stepper Driver Anti-SNAFU Protection
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/boards.h
  Marlin/src/feature/stepper_driver_safety.cpp
  Marlin/src/feature/stepper_driver_safety.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0.h
  ini/features.ini
  ini/stm32f4.ini
  platformio.ini
Labels: A: STM32, C: Boards/Pins, PR: New Feature, S: Please Merge

#21717 Add probe & chamber pins to BTT SKR V2
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0.h
Labels: C: Boards/Pins

#21723 Cleanup some TFT comments
  Marlin/src/lcd/dogm/u8g_dev_tft_upscale_from_128x64.cpp
  Marlin/src/lcd/tft/tft_color.h
Labels: C: LCD & Controllers, PR: General Cleanup

#21708 Add Full Move Screen for Color UI: support for 320x240 TFT screens
  Marlin/src/feature/dac/stepper_dac.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/tft/bitmaps/btn_42x39_rounded.bmp
  Marlin/src/lcd/tft/images/btn_rounded_42x39x4.cpp
  Marlin/src/lcd/tft/tft_image.cpp
  Marlin/src/lcd/tft/tft_image.h
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: C: LCD & Controllers, PR: Improvement

#21743 Fix Thermal Runaway false-alarm in M303, add HeaterWatch::check
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Temperatures, PR: Bug Fix

#21741 Fix BTT E3 RRF and SKR V2 Generic PIO Board
  ini/stm32f4.ini
Labels: C: Build / Toolchain, PR: Bug Fix

#21733 Fix compile with DISTINCT_E_FACTORS + SLIM_LCD_MENUS
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: LCD & Controllers

#21731 Compile error for COREnn backlash
  Marlin/src/inc/SanityCheck.h
Labels: K: Core / H-Bot, PR: Bug Fix
