Repository MarlinFirmware/Marlin, pull requests merged in 2022-06, with the labels that each got.

#24271 SKR3 STM32H743 support
  Marlin/src/HAL/STM32/sdio.cpp
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_V3_0.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_V3_0_EZ.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_V3_0_common.h
  buildroot/share/PlatformIO/boards/marlin_STM32H743Vx.json
  buildroot/share/PlatformIO/variants/MARLIN_H743Vx/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_H743Vx/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_H743Vx/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_H743Vx/variant_MARLIN_STM32H743Vx.cpp
  buildroot/share/PlatformIO/variants/MARLIN_H743Vx/variant_MARLIN_STM32H743Vx.h
  ini/stm32h7.ini
Labels: C: Boards/Pins, A: STM32

#24269 setup SPI to stepper drivers before PSU_CONTROL
  Marlin/src/MarlinCore.cpp
Labels: PR: Bug Fix, F: Trinamic

#24272 Fix SKR V3/V3 EZ Compiling on Linux
  buildroot/share/PlatformIO/variants/MARLIN_H743Vx/variant_MARLIN_STM32H743VX.cpp
  buildroot/share/PlatformIO/variants/MARLIN_H743Vx/variant_MARLIN_STM32H743VX.h
Labels: PR: Bug Fix, C: Build / Toolchain

#24275 Fix SDIO Init bootloop on STM32F1
  Marlin/src/HAL/STM32/sdio.cpp
Labels: PR: Bug Fix, S: Please Merge, A: STM32

#24220 “Improve Sensorless homing/probing accuracy for G28, G33, M48”
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/delta.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
Labels: F: Calibration

#24193 Adds PWM capability to ESP32 I2S expander pins.
  Marlin/Configuration_adv.h
  Marlin/Makefile
  Marlin/src/HAL/ESP32/HAL.cpp
  Marlin/src/HAL/ESP32/HAL.h
  Marlin/src/HAL/ESP32/i2s.cpp
  Marlin/src/HAL/ESP32/inc/Conditionals_adv.h
  Marlin/src/HAL/ESP32/inc/SanityCheck.h
  Marlin/src/module/stepper.cpp
  Marlin/src/pins/esp32/pins_E4D.h
  Marlin/src/pins/esp32/pins_ENWI_ESPNP.h
  Marlin/src/pins/esp32/pins_ESP32.h
  Marlin/src/pins/esp32/pins_ESPA_common.h
  Marlin/src/pins/esp32/pins_MKS_TINYBEE.h
  Marlin/src/pins/esp32/pins_MRR_ESPE.h
Labels: PR: Improvement, T: HAL & APIs, A: ESP32

#24291 Fix compile with HAS_DELTA_SENSORLESS_PROBING.
  Marlin/src/gcode/calibrate/G33.cpp
Labels: PR: Bug Fix

#24302 fix slow screen updates issue 24298
  Marlin/src/HAL/SAMD51/HAL.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/anycubic_i3mega/anycubic_i3mega_lcd.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSRxHandler.cpp
  Marlin/src/lcd/extui/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: PR: Bug Fix, F: SD Card Printing

#24310 Fix compile error with ProUI
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24326 remove marlin rename from build env jgaurora_a5s_a1
  ini/stm32f1.ini
Labels: PR: Bug Fix, C: Build / Toolchain

#24313 filter PROUI gcode preview on arduino ide
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
Labels: PR: Bug Fix, S: Please Merge, C: Build / Toolchain

#24331 Use Biqu BX Config for CI Tests
  buildroot/tests/BTT_SKR_SE_BX
Labels: C: Build / Toolchain, T: GitHub Admin

#24362 Fix stutter when drawing arcs
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: PR: Bug Fix, C: Motion

#24324 Fix typo in `Info_PrintFinish_1_buf_ch[]` and user facing string
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
Labels: C: Language, C: LCD & Controllers, C: User Interface

#24325 support FOAMCUTTER_XYUV with RAMPS
  Marlin/Configuration.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/ramps/pins_RAMPS.h
Labels: C: Motion, A: ATmega2560

#24305 Resolve DUE Servo pulse issue
  Marlin/src/HAL/AVR/Servo.cpp
  Marlin/src/HAL/DUE/Servo.cpp
  Marlin/src/HAL/DUE/ServoTimers.h
  Marlin/src/HAL/DUE/timers.cpp
  Marlin/src/HAL/DUE/timers.h
  Marlin/src/HAL/SAMD51/Servo.cpp
  Marlin/src/HAL/shared/servo_private.h
  Marlin/src/core/serial.cpp
  Marlin/src/core/types.h
Labels: T: HAL & APIs, A: SAM3X8C/E

#24328 Removed redundant code, fixed compiler warning
  Marlin/src/lcd/menu/menu_x_twist.cpp
Labels: PR: General Cleanup

#24383 Fix BX Touch Freeze
  Marlin/src/HAL/STM32/tft/gt911.cpp
  Marlin/src/HAL/STM32/tft/gt911.h
Labels: PR: Bug Fix, C: LCD & Controllers

#24378 Dgus lcd UI mks issue 24376
  Marlin/src/feature/pause.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/marlinui.h
Labels: PR: Bug Fix, C: LCD & Controllers

#24387 Fix Classic UI for BX
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  Marlin/src/lcd/touch/touch_buttons.cpp
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX.h
Labels: PR: Bug Fix, C: LCD & Controllers

#24375 Added code profiling / idle timer on MAX7219 debug display
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/max7219.cpp
  Marlin/src/feature/max7219.h
Labels: PR: Improvement, T: Development

#24397 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#24398 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#24404 🐛 Fix Manual Move axis selection
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24407 MAX31865 PT1000 normalization issue
  Marlin/src/libs/MAX31865.cpp
  Marlin/src/libs/MAX31865.h
Labels: PR: Bug Fix, C: Temperatures

#24425 Fix Individual Axis Homing / 4520a51 Followup
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: PR: Bug Fix, C: LCD & Controllers
