Repository MarlinFirmware/Marlin, pull requests merged in 2022-10, with the labels that each got.

#24803 Assert Thermistor 66 (Dyze Design) Minimum Requirements
  Marlin/Configuration.h
  Marlin/src/core/macros.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/thermistornames.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/thermistor/thermistor_66.h
  Marlin/src/module/thermistor/thermistors.h
Labels: PR: Improvement, C: Safety, C: Temperatures

#24815 clean up creality v521, #24760 followup
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  ini/stm32f1.ini
Labels: PR: Improvement, C: Boards/Pins

#24824 check for empty MARLIN_FEATURES
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: PR: Improvement

#24825 add exp1 and exp2 pin definitions to pins_EINSY_RAMBO.h
  Marlin/src/pins/rambo/pins_EINSY_RAMBO.h
Labels: PR: Improvement, C: Boards/Pins

#24814 Fix switching toolheads without sensors
  Marlin/src/module/tool_change.cpp
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
  Marlin/src/pins/stm32g0/pins_BTT_SKR_MINI_E3_V3_0.h
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_SPIDER_KING407/PeripheralPins.c
Labels: PR: Bug Fix, F: Toolchange

#24826 🐛 fix touchscreen sleep with color_ui
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/settings.cpp
Labels: C: LCD & Controllers

#24821 Lin Advance K per extruder
  Marlin/Configuration_adv.h
  Marlin/src/gcode/feature/advance/M900.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/settings.cpp
  buildroot/tests/mega2560
  buildroot/tests/rambo
Labels: C: Configuration

#24871 Fix simulation for TFT LCDs
  Makefile
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/pins/linux/pins_RAMPS_LINUX.h
Labels: PR: Bug Fix, C: Build / Toolchain

#24866 fix v axis types
  Marlin/src/core/types.h
  Marlin/src/module/probe.h
Labels: PR: Bug Fix

#24861 Fix Bed and Chamber PID menus
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: PR: Bug Fix, C: LCD & Controllers, C: User Interface

#24872 Update Sensorless Homing Sanity Check for 9-Axis
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#24858 Fix compile without Z axis
  Marlin/src/gcode/feature/trinamic/M569.cpp
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: PR: Improvement

#24875 No Sleep for CR-10 Stock Display
  Marlin/src/inc/SanityCheck.h
Labels: PR: Configurations, C: LCD & Controllers

#24787 Add Tronxy v10
  Marlin/Configuration.h
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_TH3D_EZBOARD_V2.h
  Marlin/src/pins/stm32f4/pins_TRONXY_V10.h
  buildroot/share/PlatformIO/boards/marlin_STM32F446ZET_tronxy.json
  buildroot/share/PlatformIO/variants/MARLIN_F446Zx_TRONXY/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_F446Zx_TRONXY/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_F446Zx_TRONXY/hal_conf_custom.h
  buildroot/share/PlatformIO/variants/MARLIN_F446Zx_TRONXY/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_F446Zx_TRONXY/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_F446Zx_TRONXY/variant.h
  ini/stm32f4.ini
Labels: C: Boards/Pins

#24878 🧑‍💻 Pins cleanup, add pins to debug list
  Marlin/src/HAL/AVR/fastio.h
  Marlin/src/lcd/buttons.h
  Marlin/src/lcd/extui/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/pins/mega/pins_EINSTART-S.h
  Marlin/src/pins/mega/pins_MIGHTYBOARD_REVE.h
  Marlin/src/pins/mega/pins_OVERLORD.h
  Marlin/src/pins/pinsDebug.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/ramps/pins_RIGIDBOARD.h
  Marlin/src/pins/ramps/pins_ULTIMAIN_2.h
  Marlin/src/pins/ramps/pins_ZRIB_V20.h
Labels: C: Boards/Pins, PR: Bug Fix

#24902 Fix Stuck Print Abort Menu
  Marlin/src/lcd/marlinui.cpp
Labels: PR: Bug Fix

#24795 add uart sanity checks for stm32 boards starting with creality v4 boards
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/inc/SanityCheck.h
  Marlin/src/HAL/STM32/inc/SanityCheck.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
Labels: PR: Improvement

#24873 Controller fan PWM Scaling and Kickstart
  Marlin/Configuration_adv.h
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: Improvement, Needs: Testing

#24797 Input shaping
  Marlin/Configuration_adv.h
  Marlin/src/gcode/feature/input_shaping/M593.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  buildroot/tests/mega2560
  ini/features.ini
  platformio.ini
Labels: PR: New Feature, C: Motion

#24898 Add support for 3rd MAX Thermocouple
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement, C: Temperatures

#24899 Fix FTDUI Status Screen Timeout
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/base_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/base_screen.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu.cpp
Labels: C: Configuration, C: LCD & Controllers

#24908 patch move_extruder_servo for SWITCHING_EXTRUDER
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix, F: Toolchange

#24934 Update Display Sleep LCD Check
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix, C: LCD & Controllers

#24932 undefine unused Driver TX and TX pins, fixes driver uart pin re mapping.
  Marlin/src/pins/pins_postprocess.h
Labels: C: Boards/Pins, PR: Bug Fix

#24915 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#24896 Add support for Tenlog MB1V23 IDEX mainboard
  Marlin/Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_TENLOG_MB1_V23.h
Labels: C: Boards/Pins

#24880 Update servo pins on ZRIB_V52 and ZRIB_V53
  Marlin/src/pins/ramps/pins_ZRIB_V52.h
  Marlin/src/pins/ramps/pins_ZRIB_V53.h
Labels: C: Boards/Pins, PR: Bug Fix, S: Please Merge
