Repository MarlinFirmware/Marlin, pull requests merged in 2022-08, with the labels that each got.

#24557 Move enable_state set to ensure error override
  Marlin/src/feature/spindle_laser.h
  Marlin/src/lcd/menu/menu_spindle_laser.cpp
Labels: PR: Bug Fix, F: CNC / Laser

#24574 Simplify scripts with pathlib
  Marlin/src/HAL/LPC1768/upload_extra_script.py
  buildroot/share/PlatformIO/scripts/STM32F1_create_variant.py
  buildroot/share/PlatformIO/scripts/chitu_crypt.py
  buildroot/share/PlatformIO/scripts/download_mks_assets.py
  buildroot/share/PlatformIO/scripts/generic_create_variant.py
  buildroot/share/PlatformIO/scripts/jgaurora_a5s_a1_with_bootloader.py
  buildroot/share/PlatformIO/scripts/lerdge.py
  buildroot/share/PlatformIO/scripts/marlin.py
  buildroot/share/PlatformIO/scripts/offset_and_rename.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  buildroot/share/PlatformIO/scripts/preprocessor.py
  buildroot/share/dwin/bin/DWIN_ICO.py
  buildroot/share/scripts/config-labels.py
  buildroot/share/vscode/auto_build.py
Labels: PR: General Cleanup, C: Build / Toolchain

#24575 patch for 644p and 1284p serial port 1 sanity check
  Marlin/src/HAL/AVR/inc/SanityCheck.h
Labels: C: Boards/Pins, PR: Bug Fix

#24528 Parse config.ini for settings
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/base.ini
  Marlin/config.ini
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/macros.h
  Marlin/src/gcode/temp/M303.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  buildroot/share/PlatformIO/scripts/configuration.py
  buildroot/share/PlatformIO/scripts/schema.py
  buildroot/share/PlatformIO/scripts/signature.py
  platformio.ini
Labels: PR: New Feature, C: Build / Toolchain

#24077 Simple framework for running tests
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/tests/marlin_tests.cpp
  Marlin/src/tests/marlin_tests.h
  ini/features.ini
  platformio.ini
Labels: Needs: Work, T: Development

#24345 Allow using a laser only connected to a PWM pin, without an enable pin
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/inc/SanityCheck.h
Labels: F: CNC / Laser

#24588 Allow USB host shield to work on lpc1768
  Marlin/src/sd/usb_flashdrive/lib-uhs2/message.cpp
Labels: PR: Bug Fix, A: LPC176x

#24593 Patch AUTO_FAN_PIN sanity check
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#24554 support bed level with BDsensor
  .github/workflows/test-builds.yml
  Marlin/Configuration.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/utility.cpp
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/babystep.h
  Marlin/src/feature/bedlevel/bdl/bdl.cpp
  Marlin/src/feature/bedlevel/bdl/bdl.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/probe/M102.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper/indirection.h
  Marlin/src/pins/stm32f1/pins_PANDA_PI_V29.h
  buildroot/tests/PANDA_PI_V29
  ini/features.ini
  ini/stm32f1.ini
  platformio.ini
Labels: PR: New Feature, F: Z-Probes

#24569 Fix issue with debugging when using PlatformIO
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
  buildroot/share/PlatformIO/scripts/simulator.py
Labels: C: Build / Toolchain

#24461 Abort on endstop hit improvement: custom G-Code feature
  Marlin/Configuration_adv.h
  Marlin/src/module/endstops.cpp
Labels: PR: New Feature

#24598 Fix UBL Build Mesh Menu when PREHEAT_COUNT > 5
  Marlin/src/lcd/menu/menu_ubl.cpp
Labels: PR: Bug Fix, F: U.B.L.

#24599 Fix automatic upload port selection for LPC1768 on Darwin and Linux
  Marlin/src/HAL/LPC1768/upload_extra_script.py
Labels: PR: Bug Fix, C: Build / Toolchain

#24600 PR: Fix for hard crash bug with DGUS Reloaded LCD on STM32 platform
  Marlin/src/lcd/extui/dgus/DGUSDisplay.h
  Marlin/src/lcd/extui/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSDisplay.h
  Marlin/src/lcd/extui/dgus_reloaded/DGUSRxHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSRxHandler.h
  Marlin/src/lcd/extui/dgus_reloaded/DGUSTxHandler.h
Labels: Needs: Testing, PR: Bug Fix, C: LCD & Controllers

#24605 Remove STM32F4 Print Counter Sanity Check
  Marlin/Configuration.h
  Marlin/src/HAL/STM32/inc/Conditionals_post.h
  Marlin/src/HAL/STM32/inc/SanityCheck.h
Labels: PR: Improvement, F: EEPROM, A: STM32

#24610 Improve MKS UI About Screen
  Marlin/src/lcd/extui/mks_ui/draw_about.cpp
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO.h
Labels: PR: Improvement, C: LCD & Controllers

#24601 Rework Skew Correction Configuration Options
  Marlin/Configuration.h
Labels: PR: Configurations, F: Calibration

#24652 Fix regressions in JyersUI
  Marlin/src/lcd/e3v2/common/dwin_api.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24683 🔨 Suppressible Creality 4.2.2 stepper warning
  Marlin/src/inc/Warnings.cpp
  Marlin/src/pins/stm32f1/pins_CREALITY_V422.h
Labels: C: Configuration

#24664 Fix Freeze Feature
  Marlin/src/MarlinCore.cpp
Labels: PR: Bug Fix

#24618 MarlinMenu tweaks
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/gcode/lcd/M255.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_item.h
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/touch/touch_buttons.cpp
  Marlin/src/module/settings.cpp
  buildroot/tests/mega2560
Labels: Needs: Discussion, C: LCD & Controllers

#24679 Add timestamps in M20 (M20 T support)
  Marlin/Configuration_adv.h
  Marlin/src/gcode/sd/M20.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
  buildroot/tests/SAMD51_grandcentral_m4
Labels: C: Hosts & Protocols, F: SD Card Printing

#24649 fix a probe bug of BDsensor
  Marlin/src/feature/bedlevel/bdl/bdl.cpp
  Marlin/src/module/probe.cpp
Labels: PR: Bug Fix, F: Z-Probes

#24647 update pid debug formatting
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#24648 update USE_CONTROLLER_FAN sanity check
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#24636 Increase Preheat Constants to 10
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_post.h
Labels: PR: Improvement, C: LCD & Controllers

#24631 Fix: Z at right edge out of mesh border is being overcompensated if UBL is active
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
Labels: F: U.B.L.

#24685 Fix some compiler warnings
  Marlin/src/inc/Conditionals_adv.h
Labels: PR: Bug Fix, S: Please Merge

#24694 Fix back button
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/menu/menu_item.h
  Marlin/src/lcd/menu/menu_main.cpp
Labels: PR: Bug Fix, C: LCD & Controllers
