Repository MarlinFirmware/Marlin, pull requests merged in 2022-11, with the labels that each got.

#24971 🐛 Fix Anycubic / Trigorilla pins, etc.
  Marlin/src/feature/powerloss.h
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/gcode/feature/advance/M900.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/extui/anycubic_chiron/chiron_tft.cpp
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/ramps/pins_TRIGORILLA_14.h
Labels: PR: Improvement, C: Boards/Pins, PR: Bug Fix

#24940 add missing FORCE_SOFT_SPI for MKS_MINI_12864 on skr v1.3
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
Labels: C: Boards/Pins, PR: Bug Fix

#24944 allow for max endstops on BOARD_MKS_MONSTER8_V2
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V1.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V2.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_common.h
Labels: PR: Improvement, C: Boards/Pins

#24949 M306: Display MPC Autotune status (similar to c135db1c
  Marlin/src/gcode/temp/M306.cpp
Labels: PR: Improvement, C: User Interface

#24947 Fixed compilation error in marlinui.cpp for Overlord configuration
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/leds/leds.h
Labels: PR: General Cleanup

#24982 fix to allow for two thermocouples
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix, C: Temperatures

#24888 [BUG] fix reset of multiple SERVICE_INTERVAL
  Marlin/src/module/printcounter.cpp
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V2.h
  Marlin/src/sd/cardreader.cpp
Labels: PR: Bug Fix

#24865 Delta homing direction check
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#24850 add missing FORCE_SOFT_SPI for MKS_MINI_12864 on skr v1.3
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
Labels: C: Boards/Pins, PR: Bug Fix, S: Please Merge

#24977 remove extraneous ; from planner.cpp
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#24986 add FYSETC_MINI_12864_2_1 support to BTT_SKR_E3_DIP
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
Labels: PR: Improvement, C: Boards/Pins, C: LCD & Controllers

#24993 Fix Robin nano typo in env
  Marlin/src/pins/pins.h
Labels: PR: Bug Fix, C: Build / Toolchain

#25016 Fix AXEL_TPARA compile
  Marlin/Configuration.h
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/scara.cpp
  Marlin/src/module/settings.cpp
Labels: PR: Bug Fix, C: Configuration, K: SCARA

#24994 COLOR_UI: restore display sleep timeout and setting
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/touch.h
  Marlin/src/module/settings.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#25003 optional cutter/laser status in HD44780 status screen
  Marlin/src/feature/power_monitor.cpp
  Marlin/src/lcd/HD44780/lcdprint_hd44780.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/lcdprint_u8g.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/u8g_fontutf8.cpp
  Marlin/src/lcd/dogm/u8g_fontutf8.h
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/lcdprint.cpp
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_password.cpp
  Marlin/src/lcd/menu/menu_spindle_laser.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  buildroot/tests/BIGTREE_SKR_PRO
  buildroot/tests/mega2560
Labels: PR: Improvement, C: LCD & Controllers, F: CNC / Laser, C: User Interface

#24884 Menu Changes
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V2.h
Labels: Needs: Discussion, C: LCD & Controllers

#25020 fix issue with menu_ubl.cpp with no FAN_PIN
  Marlin/src/lcd/menu/menu_ubl.cpp
Labels: PR: Bug Fix

#22942 Fix Z increase issue on a toolchange
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix, F: Toolchange

#24827 Fix SKR mini E2 V2 + BTT_MINI_12864_V1 display
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_V2_0.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
Labels: C: Boards/Pins, PR: Bug Fix, C: LCD & Controllers, A: STM32

#24373 Remove tmc configuration section
  Marlin/Configuration_adv.h
  Marlin/src/core/drivers.h
  Marlin/src/core/types.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/stepper/TMC26X.cpp
  Marlin/src/module/stepper/trinamic.cpp
Labels: PR: Improvement, C: Configuration, F: Trinamic

#25007 Fix incorrect sanity check of ADVANCE_K when DISTINCT_E_FACTORS is en…
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix, C: Configuration

#24967 [FIX] Fix preheating time
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
Labels: Needs: Discussion, T: Suggestion, C: Temperatures

#25027 Add missed va_end in unwarm.cpp
  Marlin/src/HAL/shared/backtrace/unwarm.cpp
Labels: PR: Bug Fix

#24951 Input Shaping improvements
  Marlin/Configuration_adv.h
  Marlin/src/gcode/feature/input_shaping/M593.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  buildroot/tests/mega2560
  ini/features.ini
Labels: PR: Improvement, PR: Bug Fix, C: Motion

#24955 Increase SCURVE cycle count for unoptimized cortex-m0
  Marlin/src/module/stepper.h
Labels: PR: Bug Fix, C: Motion, C: Optimization

#24983 ✨ Ender 3v2 DWIN support on BTT Octopus V1.1
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_common.h
Labels: PR: Improvement, C: Boards/Pins, C: LCD & Controllers
