Repository MarlinFirmware/Marlin, pull requests merged in 2022-12, with the labels that each got.

#24953 G30 Rework
  Marlin/src/core/types.h
  Marlin/src/gcode/probe/G30.cpp
Labels: PR: Improvement, F: Calibration

#25043 Fixes issue 25039, wrong substitution key used in MSG_MOVE_N_MM
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_uk.h
Labels: C: Language

#25042 Update renamed.ini nano_35 to nano35
  ini/renamed.ini
Labels: PR: Bug Fix, C: Build / Toolchain

#24984 🐛 Ender 3v2 DWIN MarlinUI Fixup
  Marlin/src/lcd/e3v2/common/dwin_api.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_status_480x272.cpp
Labels: PR: Improvement, C: LCD & Controllers

#25055 Fix commit 3ba9387
  Marlin/src/gcode/calibrate/M48.cpp
Labels: PR: Bug Fix

#23066 Add option for M150 to control only the first LED strip
  Marlin/Configuration.h
  Marlin/src/gcode/feature/leds/M150.cpp
Labels: C: Peripherals, C: G-code Parser

#24879 progress display followup
  Marlin/Configuration_adv.h
  Marlin/src/gcode/lcd/M73.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_status_480x272.cpp
  Marlin/src/libs/numtostr.cpp
Labels: PR: Improvement, C: LCD & Controllers

#25012 Update pins_LONGER3D_LKx_PRO.h pins for LK5
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/ramps/pins_3DRAG.h
  Marlin/src/pins/ramps/pins_K8600.h
  Marlin/src/pins/ramps/pins_LONGER3D_LKx_PRO.h
  Marlin/src/pins/ramps/pins_ORTUR_4.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/ramps/pins_ZRIB_V20.h
  Marlin/src/pins/sanguino/pins_AZTEEG_X1.h
  Marlin/src/pins/sanguino/pins_MELZI.h
  Marlin/src/pins/sanguino/pins_MELZI_CREALITY.h
  Marlin/src/pins/sanguino/pins_MELZI_MALYAN.h
  Marlin/src/pins/sanguino/pins_MELZI_TRONXY.h
  Marlin/src/pins/sanguino/pins_SANGUINOLOLU_11.h
  Marlin/src/pins/sanguino/pins_SANGUINOLOLU_12.h
  Marlin/src/pins/sanguino/pins_STB_11.h
Labels: PR: Improvement, C: Boards/Pins

#24995 Run both controller fans automatically.
  Marlin/Configuration_adv.h
  Marlin/src/feature/controllerfan.cpp
Labels: PR: New Feature, C: Peripherals

#25035 Input shaping buffer size calculation improvements
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.h
Labels: PR: Improvement, C: Motion

#25080 remove env:mega1280 from MIGHTYBOARD_REVE
  Marlin/src/pins/pins.h
Labels: PR: Bug Fix, C: Build / Toolchain

#25079 🔧 Sanity Check Custom Menu
  Marlin/src/inc/SanityCheck.h
Labels: PR: Improvement, C: LCD & Controllers

#25048 E3V2/JyersUI: add TMC settings menu
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.h
Labels: C: LCD & Controllers

#25071 Add option for swapping Z1 and Z2 pinouts.
  Marlin/src/pins/ramps/pins_TRIGORILLA_14.h
Labels: C: Boards/Pins

#24980 Restore async DMA data transfer for TFT_COLOR_UI
  Marlin/Configuration.h
  Marlin/src/HAL/LPC1768/HAL_SPI.cpp
  Marlin/src/HAL/LPC1768/include/SPI.h
  Marlin/src/HAL/LPC1768/tft/tft_spi.cpp
  Marlin/src/HAL/LPC1768/tft/tft_spi.h
  Marlin/src/HAL/LPC1768/tft/xpt2046.cpp
  Marlin/src/HAL/STM32/tft/tft_fsmc.cpp
  Marlin/src/HAL/STM32/tft/tft_fsmc.h
  Marlin/src/HAL/STM32/tft/tft_ltdc.cpp
  Marlin/src/HAL/STM32/tft/tft_ltdc.h
  Marlin/src/HAL/STM32/tft/tft_spi.cpp
  Marlin/src/HAL/STM32/tft/tft_spi.h
  Marlin/src/HAL/STM32F1/SPI.cpp
  Marlin/src/HAL/STM32F1/SPI.h
  Marlin/src/HAL/STM32F1/tft/tft_fsmc.cpp
  Marlin/src/HAL/STM32F1/tft/tft_fsmc.h
  Marlin/src/HAL/STM32F1/tft/tft_spi.cpp
  Marlin/src/HAL/STM32F1/tft/tft_spi.h
  Marlin/src/lcd/tft/tft.h
  Marlin/src/lcd/tft/tft_queue.cpp
  Marlin/src/lcd/tft/tft_queue.h
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/lcd/tft_io/tft_io.cpp
  Marlin/src/lcd/tft_io/tft_io.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
  buildroot/share/PlatformIO/variants/marlin_maple_CHITU_F103/board/board.h
  buildroot/share/PlatformIO/variants/marlin_maple_MEEB_3DP/board/board.h
  ini/stm32f1-maple.ini
Labels: PR: Bug Fix, C: LCD & Controllers

#25085 add BOARD_K8400 BLTOUCH special case
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/ramps/pins_K8400.h
Labels: C: Boards/Pins, F: Z-Probes

#25092 attempt to fix badly reported `area:` dimension upon `M115`
  Marlin/src/gcode/host/M115.cpp
Labels: PR: Bug Fix

#24964 Big Tree Tech EBB42 v1.1 board support
  Marlin/src/core/boards.h
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32g0/pins_BTT_EBB42_V1_1.h
  buildroot/share/PlatformIO/boards/marlin_BTT_EBB42_V1_1.json
  buildroot/share/PlatformIO/variants/MARLIN_BTT_EBB42_V1_1/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_BTT_EBB42_V1_1/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_BTT_EBB42_V1_1/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_BTT_EBB42_V1_1/variant_MARLIN_BTT_EBB42_V1_1.cpp
  buildroot/share/PlatformIO/variants/MARLIN_BTT_EBB42_V1_1/variant_MARLIN_BTT_EBB42_V1_1.h
  ini/stm32g0.ini
Labels: Needs: Work, C: Boards/Pins

#25031 add btt octopus f407support
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/boards/marlin_STM32F407ZE.json
  buildroot/share/PlatformIO/variants/MARLIN_F407ZE/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_F407ZE/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_F407ZE/hal_conf_extra.h
  buildroot/share/PlatformIO/variants/MARLIN_F407ZE/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_F407ZE/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_F407ZE/variant.h
  ini/stm32f4.ini
Labels: C: Boards/Pins

#25101 Suppress warning in touch.cpp
  Marlin/src/lcd/tft/touch.cpp
Labels: PR: Bug Fix

#25103 🐛 Plug overflow in DOGM time and fix alignment
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/libs/duration_t.h
Labels: PR: Bug Fix, C: LCD & Controllers

#25096 :bug: Restore PID FAN/EXTRUSION SCALING
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  buildroot/tests/LPC1768
Labels: Needs: Testing, PR: Bug Fix

#25169 fix: Glitchy submenu when conditionally rendering menu options with Lambdas
  Marlin/src/lcd/menu/menu_main.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#25093 add autotemp to eeprom settings
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.cpp
Labels: Needs: Testing, PR: New Feature

#25166 EZBoard V2 - AutoFan Issue - Fix Compile Issues from 2.1.2 Update
  Marlin/src/pins/stm32f4/pins_TH3D_EZBOARD_V2.h
Labels: C: Boards/Pins, PR: Bug Fix

#25158 Define HAS_STOWABLE_PROBE for Z Servo Probe
  Marlin/src/inc/Conditionals_LCD.h
Labels: PR: Improvement

#25154 Fix #25153 - Add H8 to Creality 4.2.2 stepper warning
  Marlin/src/inc/Warnings.cpp
Labels: C: Boards/Pins

#25150 new FILAMENT_RUNOUT_SCRIPT sanity check
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  buildroot/tests/mega2560
Labels: PR: New Feature

#25149 fix warning with DISTINCT_E_FACTORS in settings.cpp
  Marlin/src/module/settings.cpp
Labels: C: Build / Toolchain

#25122 fix z correction calculation from x/y index in mesh bed leveling
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
Labels: PR: Bug Fix, F: Calibration
