Repository MarlinFirmware/Marlin, pull requests merged in 2022-05, with the labels that each got.

#24125 Remove Facebook UTM code from URLs (fbclid)
  Marlin/src/pins/ramps/pins_FYSETC_F6_13.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/samd/pins_BRICOLEMON_LITE_V1_0.h
  Marlin/src/pins/samd/pins_BRICOLEMON_V1_0.h
  Marlin/src/pins/stm32f4/pins_ARMED.h
Labels: PR: General Cleanup

#24120 Users must specify all driver types
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/core/drivers.h
  Marlin/src/feature/z_stepper_align.cpp
  Marlin/src/feature/z_stepper_align.h
  Marlin/src/gcode/calibrate/G34.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/calibrate/M666.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/libs/L64XX/L64XX_Marlin.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/ramps/pins_RL200.h
  Marlin/src/pins/ramps/pins_ZRIB_V53.h
  Marlin/src/pins/samd/pins_BRICOLEMON_V1_0.h
  Marlin/src/pins/sensitive_pins.h
  buildroot/tests/BIGTREE_GTR_V1_0
  buildroot/tests/DUE
  buildroot/tests/SAMD51_grandcentral_m4
  buildroot/tests/mega1280
  buildroot/tests/rambo
  buildroot/tests/teensy35
  buildroot/tests/teensy41
Labels: PR: Bug Fix, C: Configuration

#24130 Adds Address Flag to M3426 Command
  Marlin/src/feature/adc/adc_mcp3426.cpp
  Marlin/src/feature/adc/adc_mcp3426.h
  Marlin/src/gcode/feature/adc/M3426.cpp
Labels: C: Hosts & Protocols, C: Peripherals

#24113 Various EEPROM size fixes
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/sam/pins_RURAMPS4D_11.h
  Marlin/src/pins/sam/pins_RURAMPS4D_13.h
  Marlin/src/pins/samd/pins_BRICOLEMON_LITE_V1_0.h
  Marlin/src/pins/samd/pins_BRICOLEMON_V1_0.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4210.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V45x.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_common.h
  Marlin/src/pins/stm32f4/pins_LERDGE_S.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX.h
Labels: PR: Bug Fix, F: EEPROM

#24141 fix copy and paste error in MARKFORGED_YX
  Marlin/src/module/endstops.cpp
Labels: PR: Bug Fix

#24140 update ESP3DLib
  ini/features.ini
Labels: PR: Bug Fix, C: Build / Toolchain, A: ESP32

#24146 Fix Faux RGB/Suppress "NEO_RGB redefined" warnings
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix, C: LCD & Controllers

#24076 Fan Tail Speed Initialization Fix
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: PR: Bug Fix, C: Peripherals

#24102 Add DISABLE_BUZZER_DEFAULT option
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/spindle_laser.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/e3v2/common/encoder.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/extui/anycubic_chiron/Tunes.cpp
  Marlin/src/lcd/extui/anycubic_i3mega/anycubic_extui.cpp
  Marlin/src/lcd/extui/mks_ui/mks_hardware.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/libs/buzzer.cpp
  Marlin/src/libs/buzzer.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement, C: Configuration, C: LCD & Controllers

#24151 Add Creality CR10SmartPro Support
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V24S1.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V25S1.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4210.h
  buildroot/share/PlatformIO/ldscripts/crealityPro.ld
  ini/stm32f1-maple.ini
  ini/stm32f1.ini
Labels: C: Boards/Pins

#24148 add sanity check for common serial port pin conflicts in AVR
  Marlin/src/HAL/AVR/inc/SanityCheck.h
  Marlin/src/HAL/DUE/inc/SanityCheck.h
  Marlin/src/pins/mega/pins_GT2560_V3_MC2.h
  Marlin/src/pins/pins_postprocess.h
  buildroot/tests/FYSETC_F6
Labels: PR: Improvement

#24163 Fix PTC defined but not used warnings / remove duplicate TEMP_SENSOR_PROBE sanity check
  Marlin/src/gcode/calibrate/G76_M871.cpp
  Marlin/src/inc/SanityCheck.h
Labels: PR: General Cleanup

#24165 Allow board & probe dummy thermistors
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix, C: Temperatures

#24162 Fix AIR_ASSIST
  Marlin/src/feature/spindle_laser.cpp
Labels: PR: Bug Fix, F: CNC / Laser

#24147 Improve MKS SGEN_L V2 & Robin Nano V3 Pins
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3_common.h
Labels: PR: Improvement, C: Boards/Pins

#24132 DWIN/DACAI screen support for the Creality 4.2.3 boards
  Marlin/src/inc/Conditionals_LCD.h
Labels: PR: Improvement, C: LCD & Controllers

#24160 Move TMC Test
  Marlin/src/MarlinCore.cpp
Labels: Needs: Testing, Needs: Discussion, F: Trinamic

#24182 Fix incorrect definition of cli() and sei() on Due
  Marlin/src/HAL/DUE/HAL.h
Labels: PR: Bug Fix

#24178 fix ZERO macro memset warning - #24177
  Marlin/src/core/macros.h
Labels: PR: General Cleanup, C: Build / Toolchain

#24194 Switch to PlatformIO Core 6.0 Dev
  .github/workflows/test-builds.yml
  docker/Dockerfile
Labels: C: Build / Toolchain

#24214 Common Bed Leveling object name, accessors
  Marlin/src/HAL/AVR/inc/SanityCheck.h
  Marlin/src/HAL/DUE/inc/SanityCheck.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/utility.cpp
  Marlin/src/feature/bedlevel/abl/bbl.cpp
  Marlin/src/feature/bedlevel/abl/bbl.h
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/bedlevel.h
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.cpp
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
  Marlin/src/feature/bedlevel/ubl/ubl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/bedlevel/G42.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/abl/M421.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/M421.cpp
  Marlin/src/gcode/bedlevel/ubl/G29.cpp
  Marlin/src/gcode/bedlevel/ubl/M421.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/motion/M290.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/meshviewer.cpp
  Marlin/src/lcd/e3v2/proui/ubl_tools.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSTxHandler.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/settings.cpp
Labels: PR: Coding Standards, PR: General Cleanup

#24195 Fix reboot loop when using FTDI_EVE_TOUCH_UI
  Marlin/src/lcd/buttons.h
Labels: PR: Bug Fix, C: LCD & Controllers

#24188 Leveling fixes
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix, F: Calibration

#24170 🔧 Remove LCD_SERIAL_PORT defaults
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/inc/Warnings.cpp
Labels: C: Configuration, C: LCD & Controllers

#24199 Use Github Issue Templates in Bugfix / Update README
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/contributing.md
  .github/issue_template.md
  README.md
  buildroot/web-ui/data/www/index.html
Labels: T: GitHub Admin

#24223 fix g92 for polargraph
  Marlin/src/gcode/geometry/G92.cpp
Labels: PR: Bug Fix, C: Motion

#24204 Fix FLSUN Hispeed FIL_RUNOUT_PIN and MKS Robin Mini TFT pins
  Marlin/src/pins/stm32f1/pins_FLSUN_HISPEED.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_MINI.h
Labels: C: Boards/Pins, PR: Bug Fix

#24191 🧑‍💻 MAP macro for axis lists, etc.
  Marlin/src/core/macros.h
  Marlin/src/core/types.h
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/calibrate/M425.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/libs/L64XX/L64XX_Marlin.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper/trinamic.cpp
Labels: T: Development, C: Build / Toolchain

#24227 Fix warnings building for Lulzbot machines
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/tune_menu.cpp
  Marlin/src/pins/rambo/pins_EINSY_RETRO.h
Labels: PR: General Cleanup

#24228 ♻️ Use more F() strings in LCD code
  Marlin/src/core/multi_language.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/dogm/u8g_dev_tft_upscale_from_128x64.cpp
  Marlin/src/lcd/e3v2/common/dwin_api.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/marlinui/dwin_string.cpp
  Marlin/src/lcd/e3v2/marlinui/dwin_string.h
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/advanced_settings.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_bed_corners.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_cancelobject.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/lcd/menu/menu_filament.cpp
  Marlin/src/lcd/menu/menu_info.cpp
  Marlin/src/lcd/menu/menu_item.h
  Marlin/src/lcd/menu/menu_language.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_media.cpp
  Marlin/src/lcd/menu/menu_mixer.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_password.cpp
  Marlin/src/lcd/menu/menu_probe_offset.cpp
  Marlin/src/lcd/menu/menu_spindle_laser.cpp
  Marlin/src/lcd/menu/menu_tmc.cpp
  Marlin/src/lcd/menu/menu_tramming.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/lcd/menu/menu_x_twist.cpp
  Marlin/src/lcd/tft/tft_string.cpp
  Marlin/src/lcd/tft/tft_string.h
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/lcd/tft/ui_common.cpp
Labels: PR: Coding Standards, C: LCD & Controllers

#24015 Fix: USB_FlashDrive Power Loss Recovery Check
  Marlin/src/sd/cardreader.cpp
Labels: PR: Bug Fix, F: Print Recovery

#24074 add simple prompt for firmware upload destination
  buildroot/share/PlatformIO/scripts/upload_prompt_extra_script.py
  ini/stm32f1.ini
Labels: Needs: Work, PR: New Feature, C: Build / Toolchain, help wanted

#24230 More EXP1/2 headers, TFT reset pin, etc.
  Marlin/src/HAL/STM32F1/tft/tft_spi.cpp
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/mega/pins_CNCONTROLS_11.h
  Marlin/src/pins/mega/pins_CNCONTROLS_12.h
  Marlin/src/pins/ramps/pins_AZTEEG_X3_PRO.h
  Marlin/src/pins/sam/pins_RAMPS_FD_V1.h
  Marlin/src/pins/sam/pins_RURAMPS4D_11.h
  Marlin/src/pins/sam/pins_RURAMPS4D_13.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3_common.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_PRO_V2.h
  Marlin/src/pins/stm32f4/pins_VAKE403D.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX.h
Labels: PR: Improvement, C: Boards/Pins, C: LCD & Controllers

#24232 update MarlinSimUI version
  ini/native.ini
Labels: T: Development, C: Build / Toolchain

#24186 remove mks custom pins and clean up TINYBEE pins
  Marlin/src/HAL/ESP32/u8g_esp32_spi.cpp
  Marlin/src/pins/esp32/pins_MKS_TINYBEE.h
Labels: C: Boards/Pins, PR: Bug Fix

#24238 Fix some motherboard checks
  Marlin/src/pins/pins.h
Labels: PR: Bug Fix, PR: General Cleanup

#24242 add pio src filter for I2C_AMMETER
  ini/features.ini
  platformio.ini
Labels: PR: Improvement

#24183 Update comment for MightyBoard pin assignments as per #23976
  Marlin/src/pins/mega/pins_MIGHTYBOARD_REVE.h
Labels: C: Documentation

#24253 MPC tweaks
  Marlin/Configuration.h
  Marlin/src/gcode/temp/M306.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  buildroot/tests/BIGTREE_GTR_V1_0
Labels: PR: Improvement, C: Temperatures

#24259 Mxxx report fix
  Marlin/src/core/serial.cpp
Labels: PR: Bug Fix, S: Please Merge

#24255 disable set_menu_cold_override when no extruders
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: PR: Improvement

#24256 Update Bug Report Requirements
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: T: GitHub Admin

#24189 Add laser safety watchdog timer
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/gcode/control/M85.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  buildroot/tests/BIGTREE_SKR_PRO
  buildroot/tests/mega2560
Labels: PR: New Feature, C: Safety, F: CNC / Laser
