Repository MarlinFirmware/Marlin, pull requests merged in 2022-07, with the labels that each got.

#24430 Fix M149 parser typo
  Marlin/src/gcode/units/M149.cpp
Labels: PR: Bug Fix, C: Hosts & Protocols

#24443 Fix Marlin Simulator Build for Mac M1
  ini/native.ini
Labels: PR: Bug Fix, T: Development

#24432 Update MKS TinyBee ADC Reference Voltage
  Marlin/src/pins/esp32/pins_MKS_TINYBEE.h
Labels: PR: Bug Fix, C: Temperatures

#24389 ♻️ Split up manage_heaters code, etc.
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/language.h
  Marlin/src/core/utility.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/gcode/queue.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/libs/buzzer.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner_bezier.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/sd/usb_flashdrive/Sd2Card_FlashDrive.cpp
Labels: PR: Coding Standards

#24434 MPCTEMP: Home all before disabling heaters/blasting fans at 100%
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement, C: Temperatures

#24446 Fix OpenBLT encode, expand build envs for clarity
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/scripts/openblt.py
  ini/stm32f4.ini
Labels: PR: Bug Fix, C: Build / Toolchain

#24449 BigTreeTech SKR SE BX V3.0
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX_V2.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX_V3.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX_common.h
  ini/stm32h7.ini
Labels: C: Boards/Pins

#22690 Inline Laser Power Improvements and fixes
  Marlin/Configuration_adv.h
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/feature/spindle_laser.h
  Marlin/src/feature/spindle_laser_types.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/menu/menu_item.h
  Marlin/src/lcd/menu/menu_spindle_laser.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/temperature.cpp
  buildroot/tests/mega2560
  docs/Cutter.md
Labels: PR: Improvement, F: CNC / Laser

#24455 Correct Sensorless Probing (cartesian printers broken by PR #24220)
  Marlin/src/module/delta.cpp
  Marlin/src/module/delta.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/probe.h
Labels: PR: Bug Fix, F: Calibration

#24458 📝 Configurations 02010100 with all kinematics
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/inc/Version.h
  buildroot/share/git/mfconfig
Labels: PR: Improvement, PR: Configurations

#24463 Fix LCD_BACKLIGHT_TIMEOUT compilation issues
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/lcd/M255.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/marlinui.h
  buildroot/tests/mega2560
Labels: PR: Bug Fix, C: LCD & Controllers

#24366 Arc printing optimisations
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/feature/joystick.cpp
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/planner_bezier.cpp
  Marlin/src/module/stepper.cpp
Labels: C: Motion, C: Optimization

#24483 Add MKS Monster8 V2
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V1.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V2.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_common.h
  ini/stm32f4.ini
Labels: C: Boards/Pins

#24435 📌 Ask for PlatformIO 6.1.1 or newer
  buildroot/share/PlatformIO/scripts/pioutil.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  ini/esp32.ini
  platformio.ini
Labels: C: Build / Toolchain

#24427 Drop support for L64** drivers, STEVAL_3DP001V1
  .github/workflows/test-builds.yml
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/shared/HAL_spi_L6470.cpp
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/boards.h
  Marlin/src/core/drivers.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/feature/L6470/M122.cpp
  Marlin/src/gcode/feature/L6470/M906.cpp
  Marlin/src/gcode/feature/L6470/M916-M918.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/host/M114.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/libs/L64XX/L64XX_Marlin.cpp
  Marlin/src/libs/L64XX/L64XX_Marlin.h
  Marlin/src/libs/L64XX/README.md
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper/L64xx.cpp
  Marlin/src/module/stepper/L64xx.h
  Marlin/src/module/stepper/indirection.cpp
  Marlin/src/module/stepper/indirection.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pinsDebug_list.h
  Marlin/src/pins/stm32f4/pins_STEVAL_3DP001V1.h
  buildroot/share/PlatformIO/boards/marlin_STEVAL_STM32F401VE.json
  buildroot/share/PlatformIO/variants/MARLIN_STEVAL_F401VE/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_STEVAL_F401VE/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_STEVAL_F401VE/hal_conf_custom.h
  buildroot/share/PlatformIO/variants/MARLIN_STEVAL_F401VE/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_STEVAL_F401VE/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_STEVAL_F401VE/variant.h
  buildroot/tests/FYSETC_F6
  buildroot/tests/STM32F401VE_STEVAL
  ini/features.ini
  ini/stm32f4.ini
Labels: C: Peripherals

#24476 Swap extruder speed values on MKS UI extruder screen
  Marlin/src/lcd/extui/mks_ui/draw_ui.h
Labels: PR: Bug Fix, C: LCD & Controllers

#24477 ProUI updates and fixes
  Marlin/src/lcd/e3v2/common/dwin_font.h
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.cpp
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
  Marlin/src/lcd/e3v2/proui/dwinui.cpp
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/e3v2/proui/lockscreen.cpp
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/lcd/e3v2/proui/menus.h
  Marlin/src/lcd/e3v2/proui/meshviewer.cpp
  Marlin/src/lcd/e3v2/proui/meshviewer.h
  Marlin/src/lcd/e3v2/proui/plot.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/planner.h
  Marlin/src/module/settings.cpp
Labels: PR: Improvement, PR: Bug Fix, C: LCD & Controllers

#24473 E3V2 ProUI: Fix LED compile errors
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
Labels: PR: Bug Fix, C: LCD & Controllers

#24491 Add creality board v4.2.5, found on CR200B printer
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V425.h
Labels: C: Boards/Pins

#24489 Lock ESP32SSDP Library to 1.1.1
  ini/features.ini
Labels: PR: Bug Fix, A: ESP32

#24499 Fix upload firmware error
  buildroot/share/scripts/upload.py
Labels: C: Build / Toolchain

#24428 Adding Steinhart-Hart С coefficient to temperature.cpp
  Marlin/Configuration_adv.h
  Marlin/src/module/temperature.cpp
Labels: C: Configuration, C: Temperatures

#24502 Remove log2file monitor filter
  platformio.ini
Labels: C: Build / Toolchain

#24488 eMotion-Tech eMotronic board support (Micro-Delta rework 3D printer)
  Marlin/src/core/boards.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/pins/lpc1768/pins_EMOTRONIC.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins

#24401 Polargraph settings
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/calibrate/M665.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/polargraph.cpp
  Marlin/src/module/polargraph.h
Labels: PR: Improvement, C: Hosts & Protocols, F: CNC / Laser

#24508 Fix ProUI with Leveling
  Marlin/src/lcd/e3v2/proui/dwin.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24509 Small bug fixes post arc and planner optimisations
  Marlin/src/gcode/motion/G2_G3.cpp
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix, C: Motion

#24518 Fix manual move lost axis
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_sv.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  Marlin/src/lcd/menu/menu_item.h
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24520 ♻️ Small sound / buzz refactor
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/lcd/M300.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/e3v2/common/encoder.cpp
  Marlin/src/lcd/e3v2/creality/dwin.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/game/game.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/libs/buzzer.h
  Marlin/src/module/printcounter.cpp
  ini/features.ini
Labels: PR: Improvement, PR: Coding Standards, C: User Interface

#24261 Use raw positions for G34 probing to honor M206 offsets
  Marlin/Configuration_adv.h
  Marlin/src/gcode/calibrate/G34_M422.cpp
Labels: PR: Bug Fix, F: Calibration

#24320 Update Contributing Guide
  .github/contributing.md
  README.md
Labels: T: GitHub Admin

#24493 Tests for MKS TinyBee (ESP32-based) platform
  .github/workflows/test-builds.yml
  buildroot/bin/restore_configs
  buildroot/tests/mks_tinybee
Labels: T: Development

#24521 add SKR_MINI_SCREEN_ADAPTER support to BTT skr mini E3 V3 pins
  Marlin/src/pins/stm32g0/pins_BTT_SKR_MINI_E3_V3_0.h
Labels: PR: New Feature

#24511 Add explicit Tool change to G30
  Marlin/src/gcode/probe/G30.cpp
Labels: F: Z-Probes

#24527 include gcode.h for extruder-less laser systems
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#24525 EXP header pin numbers redux
  Marlin/src/pins/esp32/pins_MKS_TINYBEE.h
  Marlin/src/pins/esp32/pins_PANDA_common.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_1.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_EMOTRONIC.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1769/pins_BTT_SKR_E3_TURBO.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/lpc1769/pins_TH3D_EZBOARD.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/ramps/pins_RAMPS_PLUS.h
  Marlin/src/pins/ramps/pins_ZRIB_V53.h
  Marlin/src/pins/sam/pins_RAMPS_FD_V1.h
  Marlin/src/pins/sam/pins_RAMPS_SMART.h
  Marlin/src/pins/sam/pins_RURAMPS4D_11.h
  Marlin/src/pins/sam/pins_RURAMPS4D_13.h
  Marlin/src/pins/samd/pins_BRICOLEMON_LITE_V1_0.h
  Marlin/src/pins/samd/pins_BRICOLEMON_V1_0.h
  Marlin/src/pins/sanguino/pins_ZMIB_V2.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
  Marlin/src/pins/stm32f1/pins_CCROBOT_MEEB_3DP.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4210.h
  Marlin/src/pins/stm32f1/pins_FLY_MINI.h
  Marlin/src/pins/stm32f1/pins_FYSETC_CHEETAH.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3_common.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_LITE.h
  Marlin/src/pins/stm32f1/pins_PANDA_PI_V29.h
  Marlin/src/pins/stm32f1/pins_ZM3E2_V1_0.h
  Marlin/src/pins/stm32f1/pins_ZM3E4_V1_0.h
  Marlin/src/pins/stm32f1/pins_ZM3E4_V2_0.h
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_E3_RRF.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  Marlin/src/pins/stm32f4/pins_FLYF407ZG.h
  Marlin/src/pins/stm32f4/pins_FYSETC_CHEETAH_V20.h
  Marlin/src/pins/stm32f4/pins_FYSETC_S6.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_common.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3_common.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_PRO_V2.h
  Marlin/src/pins/stm32f4/pins_TH3D_EZBOARD_V2.h
  Marlin/src/pins/stm32f4/pins_VAKE403D.h
  Marlin/src/pins/stm32g0/pins_BTT_SKR_MINI_E3_V3_0.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_V3_0_common.h
Labels: C: Documentation, C: Boards/Pins, PR: General Cleanup

#24536 Correct multidimensional array indexing when printing leveling grid
  Marlin/src/feature/bedlevel/bedlevel.cpp
Labels: PR: Bug Fix, C: Hosts & Protocols, F: Calibration

#24535 Update MPCTEMP Autotune Comment
  Marlin/Configuration.h
Labels: C: Documentation

#24540 Fix G30/Single Z-Probe for JyersUI
  Marlin/src/gcode/probe/G30.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24541 Fix 1024x600 TFT Upscale with no Touchscreen
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: PR: Improvement, C: LCD & Controllers

#24555 German translation
  Marlin/src/lcd/language/language_de.h
Labels: C: Language

#24560 Use CI on bugfix-2.0.x
  .github/contributing.md
  .github/workflows/test-builds.yml
  Marlin/Configuration_adv.h
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/feature/trinamic/M569.cpp
  Marlin/src/gcode/geometry/M206_M428.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/module/motion.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/stm32f4/pins_ANET_ET4.h
  README.md
  buildroot/bin/use_example_configs
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  buildroot/share/PlatformIO/scripts/fix_framework_weakness.py
  buildroot/share/PlatformIO/scripts/pioutil.py
  buildroot/share/PlatformIO/scripts/preprocessor.py
  buildroot/share/git/mfconfig
  buildroot/share/scripts/MarlinBinaryProtocol.py
  buildroot/share/scripts/upload.py
  docs/ConfigEmbedding.md
  ini/esp32.ini
  ini/features.ini
Labels: T: GitHub Admin

#24559 NUM_AXES usage fix on 2.0.x branch
  Marlin/src/gcode/feature/digipot/M907-M910.cpp
Labels: PR: Bug Fix

#24538 Extend Encoder EMI Noise Filter Option
  Marlin/Configuration.h
  Marlin/src/lcd/marlinui.h
  buildroot/tests/mega2560
Labels: PR: Configurations, C: LCD & Controllers

#24568 Fix feedrate for kinematic machines
  Marlin/src/module/motion.cpp
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix, C: Motion

#24570 Fix MPC compile error with the simulator
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix

#24533 Linear advance advances
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: PR: Improvement, Needs: Testing, PR: Bug Fix, F: Trinamic, F: Linear Advance

#24304 Allow configurable dwell for servo move on Switching Nozzle
  Marlin/Configuration.h
  Marlin/src/module/tool_change.cpp
Labels: C: Configuration
