Repository MarlinFirmware/Marlin, pull requests merged in 2022-04, with the labels that each got.

#23868 Bilinear leveling refactor and fixes
  Marlin/src/core/utility.cpp
  Marlin/src/feature/bedlevel/abl/abl.h
  Marlin/src/feature/bedlevel/abl/bbl.cpp
  Marlin/src/feature/bedlevel/abl/bbl.h
  Marlin/src/feature/bedlevel/bedlevel.cpp
  Marlin/src/feature/bedlevel/bedlevel.h
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.cpp
  Marlin/src/gcode/bedlevel/M420.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/abl/M421.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/settings.cpp
Labels: PR: Bug Fix, F: Calibration, S: Please Test

#23976 MightyBoard_RevE fix EX2, EXTRA MOSFET pins
  Marlin/src/pins/mega/pins_MIGHTYBOARD_REVE.h
Labels: C: Boards/Pins, PR: Bug Fix

#23970 Add SKR Mini V1.1 TMC UART Pins
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_V1_1.h
Labels: C: Boards/Pins, F: Trinamic

#23968 Update SKR2 Pins def
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
Labels: C: Boards/Pins

#23965 Fix #23926
  Marlin/src/pins/ramps/pins_MKS_GEN_L.h
Labels: C: Boards/Pins, PR: Bug Fix

#23964 Remove wrong description
  Marlin/Configuration_adv.h
Labels: PR: General Cleanup

#23979 fix compile issue
  Marlin/src/lcd/e3v2/marlinui/ui_status_480x272.cpp
Labels: Needs: Testing, PR: Bug Fix

#23990 Fix NOZZLE_PARK_Y_ONLY typo
  Marlin/src/inc/SanityCheck.h
Labels: PR: General Cleanup

#23989 🧑‍💻 General and Axis-based bitfield flags
  Marlin/src/core/types.h
  Marlin/src/feature/fancheck.cpp
  Marlin/src/feature/fancheck.h
  Marlin/src/feature/fwretract.cpp
  Marlin/src/feature/fwretract.h
  Marlin/src/feature/powerloss.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/lcd/menu/menu_tramming.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/module/tool_change.h
Labels: PR: Coding Standards, T: Development

#23983 bed/chamber PID autotune with MPCTEMP
  Marlin/Configuration.h
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: F: Calibration, C: LCD & Controllers, C: Temperatures

#23978 issue #23963 update Russian language in tft_Language_ru.h
  Marlin/src/lcd/extui/mks_ui/tft_Language_ru.h
Labels: C: Language

#23969 ESP32 must use double instead of float in ISR function
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/ESP32/HAL.cpp
  Marlin/src/HAL/ESP32/HAL.h
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/NATIVE_SIM/HAL.h
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/TEENSY31_32/HAL.h
  Marlin/src/HAL/TEENSY35_36/HAL.h
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/lcd/e3v2/marlinui/ui_status_480x272.cpp
Labels: T: 32-Bit & HAL

#23986 Improve M350 and M114 with NUM_AXES > 3
  Marlin/src/gcode/control/M350_M351.cpp
  Marlin/src/gcode/feature/L6470/M906.cpp
  Marlin/src/gcode/feature/trinamic/M569.cpp
  Marlin/src/gcode/feature/trinamic/M919.cpp
  Marlin/src/gcode/motion/G5.cpp
  Marlin/src/module/stepper.cpp
Labels: T: Design Concept, C: Peripherals

#23992 DOGM Display Sleep
  Marlin/Configuration_adv.h
  Marlin/src/core/language.h
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/lcd/M255.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/settings.cpp
  ini/features.ini
Labels: PR: New Feature, C: LCD & Controllers

#24013 Remove extra screen refreshes and obsolete box
  Marlin/src/lcd/e3v2/common/dwin_api.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24011 Fix NEO_GRB/NEO_RGB typo / Partially Revert #23590
  Marlin/src/inc/SanityCheck.h
  buildroot/tests/LPC1768
Labels: PR: Bug Fix, C: LCD & Controllers

#24010 Add new preflight check check for old files abl.cpp and abl.h
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: PR: Improvement

#24009 Followup Bilinear leveling refactor and fixes #23868
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix, F: Calibration

#24006 Remove GLOBAL_STATUS_MESSAGE
  Marlin/src/inc/Conditionals_LCD.h
Labels: PR: General Cleanup

#24001 use os.replace rather than os.rename, fix build error with TFT_LVGL_UI and PROBE_OFFSET_WIZARD
  Marlin/src/lcd/extui/mks_ui/draw_level_settings.cpp
  buildroot/share/PlatformIO/scripts/offset_and_rename.py
Labels: PR: Bug Fix, C: Build / Toolchain

#21142 Fix tool change priming
  Marlin/Configuration_adv.h
  Marlin/src/gcode/config/M217.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/module/tool_change.h
  buildroot/tests/BIGTREE_GTR_V1_0
Labels: PR: Bug Fix, F: Toolchange

#23984 MPC tuning improvements
  Marlin/Configuration.h
  Marlin/src/core/language.h
  Marlin/src/gcode/temp/M306.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/temperature.cpp
  buildroot/tests/BIGTREE_GTR_V1_0
  buildroot/tests/STM32F103RC_btt
  buildroot/tests/STM32F103RC_btt_maple
  buildroot/tests/mega2560
Labels: PR: Improvement, C: Temperatures

#24014 Auto Report Redundant Sensor option
  Marlin/Configuration_adv.h
  Marlin/src/module/temperature.cpp
Labels: C: Hosts & Protocols, C: Configuration, C: Temperatures

#23865 Update Chinese language
  Marlin/src/lcd/language/language_zh_CN.h
Labels: C: Language

#24029 Add board definitions for enwi ESPNP
  Marlin/src/core/boards.h
  Marlin/src/pins/esp32/pins_ENWI_ESPNP.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins, A: ESP32

#24023 DEBUG_CARDREADER need NEED_HEX_PRINT
  Marlin/src/inc/Conditionals_adv.h
Labels: PR: Bug Fix

#24051 prefer 'seenval' over 'seen' in M codes
  Marlin/src/gcode/calibrate/M666.cpp
  Marlin/src/gcode/config/M281.cpp
  Marlin/src/gcode/config/M304.cpp
  Marlin/src/gcode/config/M305.cpp
  Marlin/src/gcode/control/M17_M18_M84.cpp
  Marlin/src/gcode/control/M280.cpp
  Marlin/src/gcode/control/M3-M5.cpp
  Marlin/src/gcode/control/M350_M351.cpp
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/gcode/feature/cancel/M486.cpp
  Marlin/src/gcode/feature/i2c/M260_M261.cpp
  Marlin/src/gcode/feature/pause/G61.cpp
  Marlin/src/gcode/feature/pause/M603.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/feature/runout/M412.cpp
  Marlin/src/gcode/geometry/M206_M428.cpp
Labels: PR: Improvement, C: G-code Parser

#24049 MPC Edit Menu compilation error when compiling for multi-hotends
  Marlin/src/gcode/temp/M306.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  buildroot/tests/BIGTREE_GTR_V1_0
Labels: PR: Bug Fix

#24048 Fix unicode compiling error
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/extended/unicode/unicode.cpp
Labels: PR: Bug Fix

#24047 German Translation & rename includes
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/advanced_settings.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/advanced_settings.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/confirm_home_e.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/confirm_home_e.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/confirm_home_xyz.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/confirm_home_xyz.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/main_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/main_menu.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/printing_dialog_box.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/printing_dialog_box.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/screens.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/status_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/status_screen.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/tune_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/tune_menu.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/ui_landscape.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/ui_portrait.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/cocoa_press/advanced_settings_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/cocoa_press/leveling_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/cocoa_press/main_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/cocoa_press/preheat_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/advanced_settings_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/custom_user_menus.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/developer_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/endstop_state_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/filament_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/files_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/interface_settings_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/kill_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/language_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/leveling_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/lock_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/main_menu.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/status_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/touch_registers_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/tune_menu.cpp
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: C: Language

#24017 Update Preheat Constants comment
  Marlin/Configuration.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.h
  Marlin/src/lcd/menu/menu_ubl.cpp
Labels: PR: General Cleanup

#24045 Fix LCD Menu Move extruder - Proceed
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: Bug Fix, C: LCD & Controllers

#23975 Improve M907 set motor current
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/feature/dac/stepper_dac.cpp
  Marlin/src/gcode/calibrate/G34.cpp
  Marlin/src/gcode/feature/digipot/M907-M910.cpp
  Marlin/src/gcode/feature/trinamic/M569.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: C: Hosts & Protocols, C: Peripherals

#24063 Fix `PRINTCOUNTER` errors due to no extruder
  Marlin/src/gcode/gcode.cpp
  Marlin/src/module/printcounter.cpp
  Marlin/src/module/printcounter.h
  buildroot/tests/mega2560
Labels: PR: Bug Fix

#22896 patch stm32 pins_debugging
  Marlin/src/HAL/DUE/pinsDebug.h
  Marlin/src/HAL/STM32/pinsDebug.h
  Marlin/src/gcode/config/M43.cpp
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_PRO_V1_F429/variant.h
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_OCTOPUS_V1/variant.h
Labels: C: Boards/Pins, PR: Bug Fix

#24059 MPC Edit Menu compilation error when compiling for multi-hotends revisited
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: PR: Bug Fix

#24066 DGUS_LCD_CLASSIC supports DGUS_PREHEAT_UI, but currently cannot be enabled.
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/extui/dgus/DGUSScreenHandler.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24072 BACKLASH_COMPENSATION fails to compile
  Marlin/src/feature/backlash.cpp
Labels: PR: Bug Fix

#24067 Consolidate DGUSScreenHandler class
  Marlin/src/lcd/extui/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extui/dgus/DGUSDisplay.h
  Marlin/src/lcd/extui/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/DGUSScreenHandlerBase.h
  Marlin/src/lcd/extui/dgus/fysetc/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/fysetc/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/hiprecy/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/hiprecy/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/origin/DGUSScreenHandler.h
  Marlin/src/module/settings.cpp
Labels: PR: General Cleanup, C: LCD & Controllers

#24071 Enable u8g_esp32_spi with MKS_MINI_12864 lcds also
  Marlin/src/HAL/ESP32/u8g_esp32_spi.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24087 Fix "elapsed" text
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#24107 Fix extrapolation of unprobed points for kinetic and bilinear bed leveling
  Marlin/src/feature/bedlevel/abl/bbl.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSScreenHandler.h
Labels: PR: Bug Fix, F: Calibration

#24110 Update NeoPixel Type Comment
  Marlin/Configuration.h
Labels: C: Documentation

#24111 Fix FYSETC/MKS/BTT Mini 12864 NeoPixel Sanity Check (again)
  Marlin/src/inc/SanityCheck.h
  Marlin/src/inc/Warnings.cpp
  buildroot/tests/LPC1768
Labels: PR: Bug Fix, C: LCD & Controllers
