Repository MarlinFirmware/Marlin, pull requests merged in 2022-03, with the labels that each got.

#23832 [German Translation] add translation variable; JP remove obsolete variable
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_jp_kana.h
Labels: C: Language

#23831 fix renamed environment checking on windows
  ini/renamed.ini
Labels: PR: Bug Fix, C: Build / Toolchain

#23826 Adding to #23814: correct backlash applied steps when config changes
  Marlin/src/feature/backlash.cpp
  Marlin/src/feature/backlash.h
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/gcode/calibrate/M425.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_backlash.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/settings.cpp
Labels: PR: Bug Fix, F: Calibration

#23823 5v tolerance check logic error
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#23822 Add Blank BG screen to E3V2 for S1 screen compat
  Marlin/src/lcd/e3v2/creality/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/marlinui/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
Labels: C: LCD & Controllers

#23817 add support for Weedo Tina2 printer
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_PICA.h
  Marlin/src/pins/mega/pins_WEEDO_62A.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins

#23828 Universal X axis twist compensation
  Marlin/Configuration_adv.h
  Marlin/src/feature/bedlevel/bedlevel.h
  Marlin/src/feature/x_twist.cpp
  Marlin/src/feature/x_twist.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/lcd/menu/menu_x_twist.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/settings.cpp
  ini/features.ini
  platformio.ini
Labels: PR: Improvement, F: Calibration

#23840 Set XATC default start and spacing values in reset()
  Marlin/src/feature/x_twist.cpp
  Marlin/src/lcd/menu/menu_x_twist.cpp
Labels: PR: Bug Fix, F: Calibration

#23827 Enable emergency parser on STM32 when mass storage is enabled
  Marlin/src/HAL/STM32/HAL.cpp
  Marlin/src/HAL/STM32/usb_serial.cpp
Labels: PR: Bug Fix, C: Safety, C: Serial Comms

#23857 TH3D EZ Board V2: Add Default TMC Slave Addresses
  Marlin/src/pins/stm32f4/pins_TH3D_EZBOARD_V2.h
Labels: C: Boards/Pins, F: Trinamic

#23886 update laser_spindle configuration url in Configuration_adv.h
  Marlin/Configuration_adv.h
Labels: C: Documentation

#23887 fix g29, broken in commit 48b5362cf02ff12c9e9fc4d5825ceebe457ea34b
  Marlin/src/gcode/bedlevel/abl/G29.cpp
Labels: PR: Bug Fix, S: Please Merge

#23878 Ender3 V2/S1 (DWIN/DACAI) Pro UI update
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/config/M302.cpp
  Marlin/src/gcode/sd/M524.cpp
  Marlin/src/gcode/stats/M75-M78.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/e3v2/common/encoder.h
  Marlin/src/lcd/e3v2/creality/dwin.cpp
  Marlin/src/lcd/e3v2/creality/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
  Marlin/src/lcd/e3v2/proui/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/proui/dwin_lcd.h
  Marlin/src/lcd/e3v2/proui/dwin_popup.cpp
  Marlin/src/lcd/e3v2/proui/dwin_popup.h
  Marlin/src/lcd/e3v2/proui/dwinui.cpp
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/e3v2/proui/endstop_diag.cpp
  Marlin/src/lcd/e3v2/proui/endstop_diag.h
  Marlin/src/lcd/e3v2/proui/lockscreen.cpp
  Marlin/src/lcd/e3v2/proui/lockscreen.h
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/lcd/e3v2/proui/menus.h
  Marlin/src/lcd/e3v2/proui/meshviewer.cpp
  Marlin/src/lcd/e3v2/proui/meshviewer.h
  Marlin/src/lcd/e3v2/proui/printstats.cpp
  Marlin/src/lcd/e3v2/proui/printstats.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V24S1_301.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
  buildroot/tests/STM32F103RE_creality
Labels: PR: Improvement, C: LCD & Controllers

#23871 Restore 12 bit ADC to STM32 and STM32F1
  Marlin/src/HAL/STM32F1/HAL.cpp
  ini/stm32-common.ini
  ini/stm32g0.ini
Labels: PR: Bug Fix, C: Peripherals, A: STM32, C: Temperatures

#23851 Add SPI Stepper Support To Index Rev03
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/stm32f4/pins_INDEX_REV03.h
Labels: C: Boards/Pins

#23724 M401 enhance - query/feedback
  Marlin/src/gcode/probe/M401_M402.cpp
Labels: C: Hosts & Protocols

#23870 set USB clock source to `PLLQ` for `STM32G0B0`
  buildroot/share/PlatformIO/variants/MARLIN_G0B1RE/variant_MARLIN_STM32G0B1RE.cpp
Labels: C: Build / Toolchain

#23895 [Fix][German|French] rename, add new var
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_fr.h
Labels: C: Language, C: LCD & Controllers

#23855 Fix Chiron new TFT SD print after reset
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/lcd/extui/anycubic_chiron/FileNavigator.cpp
  Marlin/src/lcd/extui/anycubic_chiron/chiron_tft.cpp
  Marlin/src/lcd/extui/anycubic_chiron/chiron_tft_defs.h
Labels: PR: Bug Fix, C: LCD & Controllers

#23862 Remove Extraneous BTT Octopus Pro USB 446 Flag
  ini/stm32f4.ini
Labels: C: Build / Toolchain

#23422 For nozzle wipe, brush on single axis, option to auto home on that axis only.
  Marlin/src/gcode/feature/clean/G12.cpp
  Marlin/src/module/motion.h
Labels: C: Motion, C: Optimization

#23873 Revise Misleading IDEX Comment
  Marlin/Configuration_adv.h
  Marlin/src/module/motion.cpp
Labels: C: Documentation

#23898 fix conflict when using exensibleUI without HOST_KEEPALIVE_FEATURE
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
Labels: PR: Bug Fix, C: LCD & Controllers

#23885 Support DIGIPOT circuit designs using different values of Rsense and Vrefmax
  Marlin/src/feature/digipot/digipot_mcp4018.cpp
Labels: C: Peripherals

#23879 Fix for Ender 3v2 display issues
  Marlin/src/inc/Conditionals_post.h
Labels: PR: Bug Fix, S: Please Merge, C: LCD & Controllers

#23903 Fix wrong ADC Vref divisor for MKS TinyBee
  Marlin/src/HAL/ESP32/HAL.cpp
  Marlin/src/pins/esp32/pins_MKS_TINYBEE.h
Labels: T: 32-Bit & HAL, A: ESP32

#23867 16 times oversampling with 12 bit ADC
  Marlin/src/core/types.h
  Marlin/src/feature/joystick.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/thermistor/thermistors.h
Labels: PR: Bug Fix

#23911 fix xatc eeprom settings
  Marlin/src/module/settings.cpp
Labels: PR: Bug Fix, F: EEPROM

#23802 Add hardware PWM for fan, laser/spindle and servos on ESP32 boards
  Marlin/Configuration_adv.h
  Marlin/src/HAL/ESP32/HAL.cpp
  Marlin/src/HAL/ESP32/HAL.h
  Marlin/src/HAL/ESP32/Servo.cpp
  Marlin/src/HAL/ESP32/Servo.h
  Marlin/src/HAL/ESP32/inc/SanityCheck.h
Labels: T: 32-Bit & HAL, A: ESP32

#23908 Support new board PandaPi V2.9
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_PANDA_PI_V29.h
  ini/stm32f1.ini
Labels: C: Boards/Pins, A: STM32

#23925 Add support for EMI noise filter for button state
  Marlin/src/lcd/marlinui.h
Labels: C: LCD & Controllers

#23931 proui endstop_diag.cpp breaks compiling for all Arduino IDE users
  Marlin/src/lcd/e3v2/proui/endstop_diag.cpp
Labels: PR: Bug Fix, S: Please Merge, C: Build / Toolchain

#23935 Update Ukrainian language
  Marlin/src/lcd/language/language_uk.h
Labels: C: Language

#23936 Custom cable for BTT_MINI_12864_V1 + SKR MINI E3 V3.0
  Marlin/src/pins/stm32g0/pins_BTT_SKR_MINI_E3_V3_0.h
Labels: C: Boards/Pins

#23135 Fix heating cooling status message
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
Labels: PR: Improvement, C: LCD & Controllers

#23944 Configurable FREEZE pin state
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/pins/pinsDebug_list.h
Labels: PR: New Feature

#23957 Update Makefile to avoid Issue #23951 error
  Marlin/Makefile
Labels: PR: Bug Fix, C: Build / Toolchain

#23949 Ender 3 S1 MarlinUI Fixes
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/common/dwin_api.cpp
  Marlin/src/lcd/e3v2/marlinui/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
Labels: PR: Bug Fix, C: LCD & Controllers
