Repository MarlinFirmware/Marlin, pull requests merged in 2023-01, with the labels that each got.

#25143 add DGUS_LCD_UI_IA_CREALITY
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/core/macros.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/ia_creality/FileNavigator.cpp
  Marlin/src/lcd/extui/ia_creality/FileNavigator.h
  Marlin/src/lcd/extui/ia_creality/creality_extui.cpp
  Marlin/src/lcd/extui/ia_creality/creality_extui.h
  Marlin/src/lcd/extui/mks_ui/tft_multi_language.cpp
  Marlin/src/lcd/extui/mks_ui/tft_multi_language.h
  buildroot/tests/FYSETC_F6
  ini/features.ini
  platformio.ini
Labels: PR: New Feature, C: User Interface

#25026 Expose TRULY_LARGE_AREA option
  Marlin/Configuration_adv.h
  Marlin/src/lcd/menu/menu_motion.cpp
  buildroot/tests/teensy35
Labels: C: Configuration, C: LCD & Controllers

#25182 EZBoard V1 - AutoFan Issue - Fix Compile Issues from 2.1.2 Update
  Marlin/src/pins/lpc1769/pins_TH3D_EZBOARD.h
Labels: C: Boards/Pins

#25175 Follow up to DGUS_LCD_UI IA_CREALITY
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/ia_creality/creality_extui.cpp
Labels: PR: Bug Fix

#25120 Attach USB media
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_main.cpp
Labels: C: LCD & Controllers

#25194 Formatting change (from groups of 3's to 2's).
  Marlin/src/HAL/SAMD21/timers.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/pins/stm32f1/pins_CREALITY_V427.h
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: PR: General Cleanup

#25190 Reintroduce IS_MELZI define so LCDs work correctly on Melzi boards
  Marlin/src/pins/sanguino/pins_MELZI.h
Labels: C: Boards/Pins, PR: Bug Fix

#25186 remove use of pow call in M605, causes a rounding error
  Marlin/src/gcode/control/M605.cpp
Labels: PR: Bug Fix, C: G-code Parser

#25126 update mosfet pins pins_MKS_GEN_13
  Marlin/src/pins/ramps/pins_MKS_GEN_13.h
Labels: C: Boards/Pins, PR: Bug Fix

#25201 Update Windows instructions and link to Platform.io docs
  ini/native.ini
Labels: C: Documentation, C: Build / Toolchain

#25208 Update Simulator Linux instructions
  ini/native.ini
Labels: C: Documentation

#25203 Fix first neopixel strip behaviour at startup
  Marlin/src/feature/leds/neopixel.cpp
Labels: PR: Bug Fix, C: Peripherals

#25177 Fix UTF support for TFT Color UI
  Marlin/src/lcd/tft/fontdata/NotoSans/Medium_14px/NotoSans_Medium_14.cpp
  Marlin/src/lcd/tft/fontdata/NotoSans/Medium_16px/NotoSans_Medium_16.cpp
  Marlin/src/lcd/tft/fontdata/NotoSans/Medium_19px/NotoSans_Medium_19.cpp
  Marlin/src/lcd/tft/fontdata/Unifont/10px/Unifont_10.cpp
  Marlin/src/lcd/tft/fontdata/Unifont/20px/Unifont_20.cpp
  Marlin/src/lcd/tft/tft_string.h
Labels: PR: Bug Fix, C: LCD & Controllers

#25176 ProUI general updates
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/config/M302.cpp
  Marlin/src/gcode/lcd/M145.cpp
  Marlin/src/gcode/sd/M1001.cpp
  Marlin/src/gcode/sd/M524.cpp
  Marlin/src/gcode/stats/M75-M78.cpp
  Marlin/src/gcode/temp/M303.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.cpp
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
  Marlin/src/lcd/e3v2/proui/dwin_popup.cpp
  Marlin/src/lcd/e3v2/proui/dwin_popup.h
  Marlin/src/lcd/e3v2/proui/dwinui.cpp
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/e3v2/proui/endstop_diag.cpp
  Marlin/src/lcd/e3v2/proui/endstop_diag.h
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
  Marlin/src/lcd/e3v2/proui/gcode_preview.h
  Marlin/src/lcd/e3v2/proui/lockscreen.cpp
  Marlin/src/lcd/e3v2/proui/lockscreen.h
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/lcd/e3v2/proui/menus.h
  Marlin/src/lcd/e3v2/proui/meshviewer.cpp
  Marlin/src/lcd/e3v2/proui/plot.cpp
  Marlin/src/lcd/e3v2/proui/plot.h
  Marlin/src/lcd/e3v2/proui/printstats.cpp
  Marlin/src/lcd/e3v2/proui/printstats.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/bioprinter/advanced_settings.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/probe.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/sd/cardreader.cpp
Labels: PR: Improvement, PR: Coding Standards, C: LCD & Controllers

#25163 Implement RGB_STARTUP_TEST for PCA9632
  Marlin/Configuration.h
  Marlin/src/feature/leds/leds.cpp
Labels: C: Peripherals

#25146 Preheat bed along with hotend if MILLISECONDS_PREHEAT_TIME > 0
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Temperatures

#25238 Remove Old Experimental Tags
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/inc/Warnings.cpp
  buildroot/tests/SAMD21_minitronics20
  buildroot/tests/SAMD51_grandcentral_m4
Labels: C: Documentation, C: Configuration

#25232 ProUI MPC menu implementation
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
  Marlin/src/lcd/e3v2/proui/gcode_preview.h
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/lcd/e3v2/proui/menus.h
  Marlin/src/lcd/e3v2/proui/plot.cpp
  Marlin/src/lcd/e3v2/proui/plot.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/module/temperature.cpp
  buildroot/tests/STM32F103RE_creality
Labels: PR: New Feature, C: LCD & Controllers

#25113 Fix potential I2S buffer overwrite
  Marlin/src/HAL/ESP32/i2s.cpp
Labels: PR: Bug Fix, T: HAL & APIs

#25252 fix issues 25251, 25249 and 25180
  Marlin/src/gcode/host/M115.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/lcd/tft_io/tft_io.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix

#25258 Add ENDER2_STOCKDISPLAY back as valid display for Melzi_CREALITY
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/sanguino/pins_MELZI_CREALITY.h
Labels: C: Boards/Pins, PR: Bug Fix

#25280 🔧 Refine Input Shaping check
  Marlin/src/inc/SanityCheck.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: C: Configuration

#25279 Fix compilation errors for simulator with TFT screen
  Marlin/src/HAL/NATIVE_SIM/tft/tft_spi.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/tft_io/tft_io.h
  Marlin/src/lcd/tft_io/tft_orientation.h
Labels: PR: Bug Fix, T: HAL & APIs

#25278 Fix Ultipanel-type displays on MKS mainboards
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_common.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3_common.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_PRO_V2.h
Labels: C: Boards/Pins, PR: Bug Fix, C: LCD & Controllers

#25282 Fixed sanity check errors for k8400 config with bl touch
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/ramps/pins_K8400.h
Labels: C: Boards/Pins, C: Configuration

#25312 G61 parameter fix
  Marlin/src/gcode/feature/pause/G61.cpp
Labels: PR: Bug Fix

#25313 config.ini fetch examples fix
  buildroot/share/PlatformIO/scripts/configuration.py
Labels: PR: Bug Fix, C: Build / Toolchain

#25311 Allow compile with no Y axis
  Marlin/src/HAL/AVR/fastio.h
  Marlin/src/core/serial.h
  Marlin/src/core/types.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/move_axis_screen.cpp
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix, C: Motion

#25305 Update Slovak language
  Marlin/src/lcd/language/language_sk.h
Labels: C: Language

#25309 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language
