Repository MarlinFirmware/Marlin, pull requests merged in 2023-12, with the labels that each got.

#26343 🐛Adjust display precision in menu_advanced
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_item.h
  Marlin/src/libs/numtostr.cpp
  Marlin/src/libs/numtostr.h
Labels: PR: Improvement

#26495 Fix DEBUG_LEVELING_FEATURE compile errors
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/module/endstops.cpp
Labels: PR: Bug Fix

#26500 Double lcd framerate option
  Marlin/Configuration_adv.h
  Marlin/src/core/macros.h
  Marlin/src/lcd/marlinui.h
Labels: C: LCD & Controllers, C: Optimization

#26497 fix ftostrX3sign
  Marlin/src/libs/numtostr.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26492 Skip NEOPIXEL_PIN if using a FYSETC_MINI_12864_2_1 on MKS_MONSTER8_V2
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V2.h
Labels: PR: Improvement, C: Boards/Pins

#26487 Force UI refresh on manual SD card release and input shaping disabling
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_main.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26499 update to thermistor tables 14 and 68 to constexpr
  Marlin/src/module/thermistor/thermistor_14.h
  Marlin/src/module/thermistor/thermistor_68.h
Labels: PR: Bug Fix, C: Temperatures

#26494 FIX (tool change + toolchange prime + migration)
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix, F: Toolchange

#26470 Add Voxelab Aquila Support, additional HC32 details, ProUI fixes.
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32F1/HAL.cpp
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/STM32F1/HAL_N32.cpp
  Marlin/src/HAL/STM32F1/HAL_N32.h
  Marlin/src/HAL/STM32F1/MarlinSerial.cpp
  Marlin/src/HAL/STM32F1/adc.h
  Marlin/src/HAL/STM32F1/timers.h
  Marlin/src/core/boards.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/lcd/e3v2/creality/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwinui.cpp
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/pins/gd32f1/pins_VOXELAB_AQUILA.h
  Marlin/src/pins/hc32f4/pins_AQUILA_101.h
  Marlin/src/pins/pins.h
  ini/hc32.ini
  ini/stm32f1-maple.ini
Labels: C: Boards/Pins

#26512 Use PIO versioning, pin HC32 platform
  Marlin/src/pins/hc32f4/env_validate.h
  ini/hc32.ini
  ini/stm32f4.ini
  ini/stm32g0.ini
Labels: C: Build / Toolchain

#26501 Encoder improvements
  Marlin/src/lcd/marlinui.cpp
  buildroot/tests/mega2560
Labels: PR: Improvement, C: LCD & Controllers

#26466 Fix show elapsed time at end of print, instead of freezing at 99%
  Marlin/src/gcode/stats/M31.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/dogm/fontdata/fontdata_6x9_marlin.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.h
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSTxHandler.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26328 DMA Serial Reading to Circular buffer
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/MarlinSerial.h
  Marlin/src/HAL/AVR/inc/Conditionals_LCD.h
  Marlin/src/HAL/LPC1768/MarlinSerial.h
  Marlin/src/HAL/LPC1768/inc/Conditionals_LCD.h
  Marlin/src/HAL/LPC1768/inc/Conditionals_adv.h
  Marlin/src/HAL/STM32/HardwareSerial.cpp
  Marlin/src/HAL/STM32/HardwareSerial.h
  Marlin/src/HAL/STM32/MarlinSerial.cpp
  Marlin/src/HAL/STM32/MarlinSerial.h
  Marlin/src/inc/SanityCheck.h
  buildroot/tests/STM32F103RE_btt
Labels: Needs: Work, Needs: Testing, PR: New Feature, C: Serial Comms

#26517 Update `LCD_BACKLIGHT_TIMEOUT_MINS` + small tweaks
  Marlin/Configuration_adv.h
  Marlin/src/core/types.h
  Marlin/src/feature/bedlevel/bdl/bdl.cpp
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/calibrate/G76_M871.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/lcd/M255.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/common/encoder.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/plot.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/touch/touch_buttons.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.h
  ini/features.ini
Labels: PR: Improvement

#26516 Markforged inversed beltpath support (#26515)
  Marlin/Configuration.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/stepper.cpp
  buildroot/tests/mks_robin_mini
Labels: K: Core / H-Bot

#26529 Fix CLASSIC_JERK to consistently respect jerk limits.
  Marlin/src/gcode/config/M200-M205.cpp
  Marlin/src/gcode/motion/G4.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: PR: Bug Fix, C: Motion

#25636 Add CREALITY_CR4NTxxC10 motherboard (E3 Free-runs Silent Motherboard)
  Marlin/src/core/boards.h
  Marlin/src/pins/esp32/pins_MM_JOKER.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V24S1_301.h
  Marlin/src/pins/stm32f4/pins_CREALITY_CR4NTXXC10.h
  Marlin/src/pins/stm32f4/pins_FYSETC_SPIDER_KING407.h
  buildroot/share/PlatformIO/boards/marlin_STM32F401RE_freeruns.json
  buildroot/share/PlatformIO/variants/MARLIN_STM32F401RE_FREERUNS/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_STM32F401RE_FREERUNS/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_STM32F401RE_FREERUNS/hal_conf_custom.h
  buildroot/share/PlatformIO/variants/MARLIN_STM32F401RE_FREERUNS/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_STM32F401RE_FREERUNS/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_STM32F401RE_FREERUNS/variant.h
  ini/stm32f4.ini
Labels: C: Boards/Pins, A: STM32

#26533 Fix boot issue for Creality E3 Free-runs board
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/pins/stm32f4/pins_CREALITY_CR4NTXXC10.h
  buildroot/share/PlatformIO/variants/MARLIN_STM32F401RE_FREERUNS/ldscript.ld
  ini/stm32f4.ini
Labels: C: Boards/Pins, C: Build / Toolchain

#26556 🔧 config.ini / JSON dump by @section
  buildroot/share/PlatformIO/scripts/schema.py
  buildroot/share/PlatformIO/scripts/signature.py
Labels: T: Development, C: Configuration

#26539 Update ProUI Plot graph
  Marlin/src/inc/Warnings.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
  Marlin/src/lcd/e3v2/proui/plot.cpp
  Marlin/src/lcd/e3v2/proui/plot.h
  Marlin/src/lcd/language/language_en.h
  buildroot/share/dwin/bin/DWIN_ICO.py
Labels: PR: Improvement, C: LCD & Controllers

#26551 Add a jerk correction when using LIN_ADVANCE and CLASSIC_JERK
  Marlin/src/module/planner.cpp
Labels: C: Optimization

#26562 update BOARD_CREALITY_CR4NTXXC10 pins and env:STM32F401RE_freeruns
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/pins/mega/pins_GT2560_V3_A20.h
  Marlin/src/pins/mega/pins_GT2560_V4_A20.h
  Marlin/src/pins/samd/pins_BRICOLEMON_LITE_V1_0.h
  Marlin/src/pins/samd/pins_BRICOLEMON_V1_0.h
  Marlin/src/pins/stm32f4/pins_BLACKPILL_CUSTOM.h
  Marlin/src/pins/stm32f4/pins_CREALITY_CR4NTXXC10.h
  Marlin/src/pins/stm32f4/pins_CREALITY_F401.h
  ini/stm32f4.ini
Labels: PR: Improvement, PR: Bug Fix

#26558 Fix MARKFORGED_INVERSE typos
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix

#26550 Fix compiler warning and potential string buffer overflow
  Marlin/src/core/mstring.h
  Marlin/src/core/types.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/marlinui.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26574 Use TEMP_SENSOR_0_IS_MAX31865 for BTT Octopus Boards
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_PRO_V1_0.h
  Marlin/src/pins/stm32h7/pins_BTT_OCTOPUS_PRO_V1_common.h
Labels: PR: Improvement, C: Boards/Pins

#26565 ✨ BigTreeTech Kraken V1.0 (STM32H723ZG)
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32h7/pins_BTT_KRAKEN_V1_0.h
  buildroot/share/PlatformIO/boards/marlin_STM32H723ZG.json
  buildroot/share/PlatformIO/variants/MARLIN_H723ZG/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_H723ZG/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_H723ZG/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_H723ZG/variant_MARLIN_STM32H723ZG.cpp
  buildroot/share/PlatformIO/variants/MARLIN_H723ZG/variant_MARLIN_STM32H723ZG.h
  ini/stm32h7.ini
Labels: C: Boards/Pins, A: STM32

#26570 📝 Add Marlin BFT Protocol Document
  docs/BinaryFileTransferProtocol.md
Labels: C: Documentation

#26569 🧑‍💻 AS_CHAR => C
  Marlin/src/HAL/LPC1768/eeprom_sdcard.cpp
  Marlin/src/HAL/shared/Delay.cpp
  Marlin/src/core/debug_section.h
  Marlin/src/core/mstring.h
  Marlin/src/core/serial.h
  Marlin/src/core/types.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/encoder_i2c.cpp
  Marlin/src/feature/encoder_i2c.h
  Marlin/src/feature/max7219.cpp
  Marlin/src/feature/meatpack.cpp
  Marlin/src/feature/mixing.cpp
  Marlin/src/feature/runout.cpp
  Marlin/src/gcode/bedlevel/G35.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/calibrate/M48.cpp
  Marlin/src/gcode/calibrate/M666.cpp
  Marlin/src/gcode/config/M92.cpp
  Marlin/src/gcode/control/M605.cpp
  Marlin/src/gcode/feature/advance/M900.cpp
  Marlin/src/gcode/feature/ft_motion/M493.cpp
  Marlin/src/gcode/feature/pause/G61.cpp
  Marlin/src/gcode/feature/trinamic/M569.cpp
  Marlin/src/gcode/feature/trinamic/M919.cpp
  Marlin/src/gcode/host/M360.cpp
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/units/M149.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.cpp
  Marlin/src/lcd/extui/nextion/nextion_tft.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/temperature.cpp
Labels: C: Serial Comms

#26568 Initial U8G LCD support for HC32
  Marlin/src/HAL/HC32/inc/Conditionals_LCD.h
  Marlin/src/HAL/HC32/u8g/LCD_defines.h
  Marlin/src/HAL/HC32/u8g/u8g_com_HAL_HC32_sw_spi.cpp
  Marlin/src/pins/hc32f4/pins_AQUILA_101.h
Labels: C: LCD & Controllers, T: HAL & APIs

#26585 🔨 Use Newer Platform & Toolchain for STM32G0
  ini/stm32g0.ini
Labels: C: Build / Toolchain, A: STM32

#26582 📌 Specify U8glib-HAL@0.5.4
  ini/features.ini
Labels: C: Build / Toolchain

#26586 Enable ONBOARD_SDIO for TriGorilla Pro
  Marlin/src/pins/stm32f1/pins_TRIGORILLA_PRO.h
Labels: C: Boards/Pins

#26557 FT_MOTION : code simplification and cleanup, fix ceil really return ceil
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  Marlin/src/module/ft_types.h
Labels: PR: Improvement

#26578 ✨ BigTreeTech Manta M8P V2.0 (STM32H723ZE)
  Marlin/src/core/boards.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32h7/pins_BTT_MANTA_M8P_V2_0.h
  buildroot/share/PlatformIO/variants/MARLIN_H723ZE/variant_MARLIN_STM32H723ZE.cpp
  buildroot/share/PlatformIO/variants/MARLIN_H723ZE/variant_MARLIN_STM32H723ZE.h
  ini/stm32h7.ini
Labels: C: Boards/Pins, A: STM32

#26591 fix sanity check for FAN0_PIN issue 26590
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/mega/pins_MALYAN_M180.h
Labels: PR: Bug Fix

#26514 rename ANET_FULL_GRAPHICS_LCD_ALT_WIRING to CTC_A10S_A13
  Marlin/Configuration.h
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/sanguino/pins_ANET_10.h
Labels: PR: Improvement, C: Boards/Pins

#26595 Fix homing with FT_MOTION
  Marlin/src/module/ft_motion.cpp
Labels: PR: Bug Fix, C: Motion

#26599 Fix formatting issue in Makefile
  Makefile
Labels: C: Build / Toolchain
