Repository MarlinFirmware/Marlin, pull requests merged in 2023-02, with the labels that each got.

#25314 Small PID / MPC related fixes
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  buildroot/tests/LPC1768
  buildroot/tests/LPC1769
Labels: PR: Bug Fix, C: Temperatures

#25300 Buttons colors, Conditionals_LCD.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/tft/tft_color.h
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: PR: Improvement, PR: Bug Fix, C: LCD & Controllers

#25318 SanityCheck - add test for SDSORT_CACHE_NAMES false and SDSORT_DYNAMIC_RAM true
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#25319 Fix progress DOGM compile error
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#25321 Adding support for LCD for Melzi v4 to BTT SKR Mini E3
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
Labels: C: Boards/Pins, C: LCD & Controllers

#25295 Fix Z*_ENDSTOP_ADJUSTMENT comments
  Marlin/Configuration_adv.h
Labels: C: Documentation

#22425 Set or reset DIR_ATT_HIDDEN attribute for directory entry
  Marlin/src/sd/SdBaseFile.cpp
  Marlin/src/sd/SdBaseFile.h
Labels: PR: Improvement, T: Suggestion, F: SD Card Printing

#24424 Create MarlinFile Abstraction
  Marlin/src/HAL/STM32/eeprom_sdcard.cpp
  Marlin/src/HAL/STM32F1/eeprom_sdcard.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/archim2-flash/media_file_reader.h
  Marlin/src/lcd/extui/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/mks_ui/mks_hardware.cpp
  Marlin/src/lcd/extui/mks_ui/pic_manager.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_module.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_upload.cpp
  Marlin/src/sd/SdFile.h
  Marlin/src/sd/SdVolume.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
  Marlin/src/sd/disk_io_driver.h
  Marlin/src/sd/storage.h
Labels: PR: Coding Standards, F: SD Card Printing

#25285 Fix incorrect colors for AA font on Anet ET4/ET5 TFT screen
  Marlin/src/lcd/tft/canvas.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#25036 🚸 Allow disable of "err" temperature
  Marlin/Configuration_adv.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: C: Temperatures, C: User Interface

#25366 Update pins_BTT_SKR_MINI_E3_common.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
Labels: C: Documentation, C: Boards/Pins

#25374 DGUS_LCD_UI: fix input from screen
  Marlin/src/lcd/extui/ia_creality/creality_extui.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#25371 Support Dual SPI endstops on X and Y
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
Labels: F: Calibration, F: Trinamic

#25256 Add feature to avoid bed clips while probing
  Marlin/Configuration.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/module/probe.h
  buildroot/tests/mega2560
Labels: PR: New Feature, F: U.B.L.

#25379 UI stop button
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/lcd/tft/touch.h
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: PR: Improvement, C: LCD & Controllers

#25343 fix fan PWM, correct overflow errors, add optional debugging to avr fast pwm
  Marlin/src/HAL/AVR/fast_pwm.cpp
  Marlin/src/HAL/ESP32/HAL.cpp
  Marlin/src/HAL/STM32F1/fast_pwm.cpp
Labels: PR: Improvement, PR: Bug Fix, S: Please Merge, T: HAL & APIs

#25397 DGUS_LCD_UI: add option to rotate the screen
  Marlin/Configuration.h
  Marlin/src/lcd/extui/ia_creality/creality_extui.cpp
  buildroot/tests/FYSETC_F6
Labels: PR: Improvement, C: LCD & Controllers

#25399 Add option to automatically apply hotend offsets to EVENT_GCODE_TOOLCHANGE
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/tool_change.cpp
  buildroot/tests/BIGTREE_GTR_V1_0
Labels: PR: Improvement, C: Configuration, F: Toolchange

#25293 Assisted tramming can handle up to 9 points.
  Marlin/Configuration_adv.h
  Marlin/src/core/macros.h
  Marlin/src/feature/tramming.cpp
  Marlin/src/feature/tramming.h
  buildroot/tests/DUE
Labels: C: Configuration

#25411 update VIKI2 SPI pins on Re-ARM
  Marlin/src/pins/lpc1768/pins_RAMPS_RE_ARM.h
Labels: C: Boards/Pins, PR: Bug Fix

#25407 More sanity checks. CHECK_MAXTEMP, checks hotend maxtemp is achievable
  Marlin/src/core/macros.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/thermistor/thermistor_2000.h
Labels: C: Configuration

#25370 introduce get_distance function
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: PR: Improvement, C: Motion

#25360 Update russian language
  Marlin/src/lcd/language/language_ru.h
Labels: C: Language

#25349 encrypt mks firmware where needed. Issue: 25346
  ini/stm32f1-maple.ini
Labels: PR: Bug Fix, S: Please Merge, C: Build / Toolchain

#25338 AVR maths fixes
  Marlin/src/HAL/AVR/math.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: PR: Bug Fix, T: HAL & APIs, C: Motion

#25422 Refactor some stepper options
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/types.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/geometry/M206_M428.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/extui/mks_ui/mks_hardware.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/stepper.cpp
  buildroot/tests/mega2560
Labels: PR: Improvement, C: Configuration

#25420 Minor flash memory optimization in `edit_screen()`
  Marlin/src/lcd/menu/menu.cpp
Labels: C: LCD & Controllers, C: Optimization

#25423 update URL to IA_CREALITY DWIN files
  Marlin/Configuration.h
Labels: PR: Bug Fix

#25424 Update URL, RA_CONTROL_PANEL
  Marlin/Configuration.h
Labels: C: Documentation

#25440 🩹 Native types for RTS overloads
  Marlin/src/lcd/extui/ia_creality/creality_extui.cpp
  Marlin/src/lcd/extui/ia_creality/creality_extui.h
  Marlin/src/lcd/extui/mks_ui/wifiSerial_STM32.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#25431 Separate BTT Manta Environments
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_GTR_V1/variant.h
  buildroot/share/PlatformIO/variants/MARLIN_BIGTREE_SKR_PRO_11/variant.h
  buildroot/share/PlatformIO/variants/MARLIN_CREALITY_STM32F401RC/variant.h
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_CHEETAH_V20/variant.h
  buildroot/share/PlatformIO/variants/MARLIN_FYSETC_SPIDER_KING407/variant.h
  buildroot/share/PlatformIO/variants/MARLIN_G0B1RE/variant_MARLIN_STM32G0B1RE.h
  ini/stm32g0.ini
Labels: Needs: Testing, C: Boards/Pins, PR: Bug Fix

#25438 LCD_BACKLIGHT_TIMEOUT support for neopixel LCDs.
  Marlin/Configuration.h
  Marlin/src/feature/leds/neopixel.cpp
  Marlin/src/feature/leds/neopixel.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/marlinui.cpp
  buildroot/tests/LPC1768
Labels: PR: New Feature, C: LCD & Controllers

#25434 patch IA_CREALITY and add test
  buildroot/tests/STM32F103RE_creality
Labels: C: LCD & Controllers

#25442 Small Linear Advance fixes
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix, F: Linear Advance

#25417 update SENSORLESS_PROBING sanity check error message
  Marlin/src/inc/SanityCheck.h
Labels: PR: Improvement
