Repository MarlinFirmware/Marlin, pull requests merged in 2023-10, with the labels that each got.

#26255 G30 response precision
  Marlin/src/gcode/probe/G30.cpp
Labels: F: Calibration, C: Serial Comms

#26223 Update SanityCheck.h, fix typo
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#26226 BigTreeTech Manta M4P V1.0 => V2.1
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32g0/pins_BTT_MANTA_M4P_V2_1.h
  ini/stm32g0.ini
Labels: C: Boards/Pins

#26292 Fix tft_string
  Marlin/src/lcd/tft/tft_string.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26306 Warn on EEPROM "Errors"
  Marlin/src/core/debug_out.h
  Marlin/src/core/serial.cpp
  Marlin/src/core/serial.h
  Marlin/src/module/settings.cpp
Labels: PR: Bug Fix, C: Serial Comms

#26300 Format 'if' statement
  Marlin/src/lcd/menu/menu_media.cpp
Labels: PR: General Cleanup

#26310 Sanity Check TMC_HOME_PHASE and CORE / MARKFORGED Kinematics
  Marlin/src/inc/SanityCheck.h
Labels: F: Trinamic, K: Core / H-Bot

#26296 Restrict Hilbert curve to rectangular beds
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#26297 Probe Z offset only used when homing with probe (and with probing)
  Marlin/src/module/delta.cpp
  Marlin/src/module/motion.cpp
Labels: PR: Bug Fix

#26299 Using ui.set_status() with a PSTR leads to weird behavior
  Marlin/src/gcode/calibrate/G33.cpp
Labels: PR: Bug Fix, C: Serial Comms

#26327 Add CI test for STM32G0 (BigTreeTech SKR Mini E3 V3.0)
  .github/workflows/test-builds.yml
  buildroot/tests/STM32G0B1RE_btt
Labels: C: Build / Toolchain, T: GitHub Admin

#26249 hold back toolchain-gccarmnoneeabi in lpc176x
  ini/lpc176x.ini
Labels: PR: Bug Fix, C: Build / Toolchain

#26331 Fixed MMU initialization after 30 seconds has passed from printer start.
  Marlin/src/feature/mmu/mmu2.cpp
Labels: PR: Bug Fix, C: Peripherals

#26332 Patches for MSC SD
  Marlin/src/HAL/STM32/msc_sd.cpp
  Marlin/src/lcd/dogm/u8g_fontutf8.cpp
  buildroot/tests/STM32F103RE_btt_USB
Labels: PR: Bug Fix, T: HAL & APIs, C: Peripherals, A: STM32

#26303 Distinct servo angles for switching nozzle
  Marlin/Configuration.h
  Marlin/src/gcode/config/M281.cpp
  Marlin/src/module/servo.h
  Marlin/src/module/tool_change.cpp
  buildroot/tests/LPC1768
Labels: PR: Improvement, F: Toolchange

#26160 🎨 Rename BTT Mini 12864
  Marlin/Configuration.h
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/esp32/pins_MKS_TINYBEE.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_E3_DIP.h
  Marlin/src/pins/stm32f1/pins_BTT_SKR_MINI_E3_common.h
  Marlin/src/pins/stm32g0/pins_BTT_SKR_MINI_E3_V3_0.h
  Marlin/src/pins/stm32h7/pins_BTT_OCTOPUS_MAX_EZ.h
Labels: C: Configuration, C: LCD & Controllers

#26237 [FIX] fix tool_change_prime()
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix, C: Motion, F: Toolchange

#26127 Nonlinear extrusion
  Marlin/Configuration_adv.h
  Marlin/src/core/language.h
  Marlin/src/gcode/feature/nonlinear/M592.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  buildroot/tests/STM32F103RC_btt
  ini/features.ini
Labels: PR: New Feature, C: Motion

#26229 Restore use of Z_CLEARANCE_MULTI_PROBE to adjust probe error margin
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/module/probe.cpp
Labels: PR: Bug Fix, F: Calibration

#26213 Fix for `HAS_GCODE_PREVIEW` issue
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26351 Updates to pins_GT2560_V41b.h and board.h
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_GT2560_V41b.h
Labels: PR: Improvement, C: Boards/Pins

#26228 `FWRETRACT` in JyersUI, various tweaks
  Marlin/src/lcd/e3v2/common/dwin_set.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/language/language_en.h
Labels: PR: Improvement, C: LCD & Controllers

#26244 ✨ Migration-specific tool change settings
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/module/tool_change.cpp
Labels: PR: Improvement, C: Configuration, F: Toolchange

#26359 Fix marlinui_TFTGLCD compile error. Update pins_K8400.h
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/pins/mega/pins_GT2560_V41b.h
  Marlin/src/pins/ramps/pins_K8400.h
Labels: C: Boards/Pins, PR: Bug Fix, C: LCD & Controllers

#26339 Fix Endstop Test Menu
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
  Marlin/src/lcd/lcdprint.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26366 Fix SD ui.refresh with NO_SD_DETECT
  Marlin/src/sd/cardreader.cpp
Labels: C: LCD & Controllers, F: SD Card / Media

#26348 Don't Auto Install DevContainer Extension
  .vscode/extensions.json
Labels: PR: Improvement, T: Development, C: Build / Toolchain

#26346 Add Missing MKS Eagle Environments
  Marlin/src/pins/pins.h
  ini/stm32f4.ini
Labels: C: Boards/Pins, PR: Bug Fix, C: Build / Toolchain

#26342 Fix compilation error due to lack of xy_uint8_t constructor.
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/bed_mesh_view_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/filament_runout_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/language_menu.cpp
  buildroot/tests/FYSETC_S6
Labels: PR: Bug Fix, C: LCD & Controllers

#26198 Planner improvements for fast printing
  Marlin/Configuration_adv.h
  Marlin/src/feature/max7219.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: PR: Improvement, C: Motion

#26153 Speed up COMPACT_MARLIN_BOOT_LOGO (rle16)
  Marlin/src/lcd/tft/canvas.cpp
Labels: PR: Improvement

#26208 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#26264 Add common trim_trailing_whitespace and insert_final_newline settings
  .editorconfig
Labels: T: Development

#26266 feat: move "debug" menu item to the end of the list
  Marlin/src/lcd/menu/menu_configuration.cpp
Labels: C: LCD & Controllers
