Repository MarlinFirmware/Marlin, pull requests merged in 2023-07, with the labels that each got.

#25982 🎨 More lowercase (ProUI)
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/runout.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/bedlevel/mbl/G29.cpp
  Marlin/src/gcode/bedlevel/ubl/M421.cpp
  Marlin/src/gcode/config/M302.cpp
  Marlin/src/gcode/control/M997.cpp
  Marlin/src/gcode/feature/powerloss/M1000.cpp
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/gcode/sd/M1001.cpp
  Marlin/src/gcode/stats/M75-M78.cpp
  Marlin/src/gcode/temp/M303.cpp
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/e3v2/common/dwin_color.h
  Marlin/src/lcd/e3v2/creality/dwin.cpp
  Marlin/src/lcd/e3v2/creality/dwin.h
  Marlin/src/lcd/e3v2/creality/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.h
  Marlin/src/lcd/e3v2/marlinui/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_status_480x272.cpp
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.cpp
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
  Marlin/src/lcd/e3v2/proui/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/proui/dwin_lcd.h
  Marlin/src/lcd/e3v2/proui/dwin_popup.cpp
  Marlin/src/lcd/e3v2/proui/dwin_popup.h
  Marlin/src/lcd/e3v2/proui/dwinui.cpp
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/e3v2/proui/endstop_diag.cpp
  Marlin/src/lcd/e3v2/proui/endstop_diag.h
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
  Marlin/src/lcd/e3v2/proui/lockscreen.cpp
  Marlin/src/lcd/e3v2/proui/lockscreen.h
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/lcd/e3v2/proui/menus.h
  Marlin/src/lcd/e3v2/proui/meshviewer.cpp
  Marlin/src/lcd/e3v2/proui/meshviewer.h
  Marlin/src/lcd/e3v2/proui/plot.cpp
  Marlin/src/lcd/e3v2/proui/plot.h
  Marlin/src/lcd/e3v2/proui/printstats.cpp
  Marlin/src/lcd/e3v2/proui/printstats.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
Labels: PR: Coding Standards, C: LCD & Controllers

#26019 Simplify BTT Octopus Max EZ LCD Pins
  Marlin/src/pins/stm32h7/pins_BTT_OCTOPUS_MAX_EZ.h
Labels: C: Boards/Pins, PR: General Cleanup

#25889 🌐 Language CSV Import/Export
  .gitignore
  Marlin/src/feature/pause.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/language/language_en.h
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_fr_na.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_ko_KR.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_sv.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu_main.cpp
  buildroot/share/scripts/__init__.py
  buildroot/share/scripts/languageExport.py
  buildroot/share/scripts/languageImport.py
  buildroot/share/scripts/languageUtil.py
Labels: C: Language, T: Development

#25905 Add support for Ender 3 S1 Pro/Plus stock touch-screen
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/core/endianness.h
  Marlin/src/core/macros.h
  Marlin/src/feature/runout.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/MarlinConfig.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/dgus/fysetc/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSDisplay.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSDisplay.h
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSReturnKeyCodeHandler.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSReturnKeyCodeHandler.h
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSRxHandler.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSRxHandler.h
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSSDCardHandler.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSSDCardHandler.h
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSSDCardHandler_Advanced.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSSDCardHandler_Basic.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSSetupHandler.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSSetupHandler.h
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSTxHandler.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSTxHandler.h
  Marlin/src/lcd/extui/dgus_e3s1pro/config/DGUS_Addr.h
  Marlin/src/lcd/extui/dgus_e3s1pro/config/DGUS_Constants.h
  Marlin/src/lcd/extui/dgus_e3s1pro/config/DGUS_Control.h
  Marlin/src/lcd/extui/dgus_e3s1pro/config/DGUS_Data.h
  Marlin/src/lcd/extui/dgus_e3s1pro/config/DGUS_Screen.h
  Marlin/src/lcd/extui/dgus_e3s1pro/definition/DGUS_ScreenAddrList.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/definition/DGUS_ScreenAddrList.h
  Marlin/src/lcd/extui/dgus_e3s1pro/definition/DGUS_ScreenSetup.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/definition/DGUS_ScreenSetup.h
  Marlin/src/lcd/extui/dgus_e3s1pro/definition/DGUS_VP.h
  Marlin/src/lcd/extui/dgus_e3s1pro/definition/DGUS_VPList.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/definition/DGUS_VPList.h
  Marlin/src/lcd/extui/dgus_e3s1pro/dgus_e3s1pro_extui.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/config/DGUS_Addr.h
  Marlin/src/lcd/extui/dgus_reloaded/definition/DGUS_ScreenAddrList.cpp
  ini/features.ini
Labels: C: LCD & Controllers

#25927 Define MIN_STEP_ISR_FREQUENCY in stepper.h before it is used
  Marlin/src/module/stepper.h
Labels: PR: Bug Fix

#26037 🐛 Prevent MString infinite recursion
  Marlin/src/core/mstring.h
  Marlin/src/tests/marlin_tests.cpp
Labels: PR: Bug Fix

#25784 Add support for SPI TFT displays and touch screen for STM32H7 MCUs
  Marlin/src/HAL/STM32/tft/tft_spi.cpp
  Marlin/src/HAL/STM32/tft/tft_spi.h
  Marlin/src/HAL/STM32/tft/xpt2046.cpp
  Marlin/src/HAL/STM32/tft/xpt2046.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_V3_0_common.h
Labels: PR: Improvement, C: LCD & Controllers

#26050 Cleanup TFT Colors
  Marlin/src/lcd/dogm/u8g_dev_tft_upscale_from_128x64.cpp
  Marlin/src/lcd/tft/tft_color.h
Labels: PR: General Cleanup, C: LCD & Controllers

#26049 Update Some URLs
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.h
Labels: C: Documentation, PR: General Cleanup

#26040 Fix HOST_STATUS_NOTIFICATIONS compile error
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  buildroot/tests/LPC1768
  buildroot/tests/rambo
  buildroot/tests/teensy31
  buildroot/tests/teensy35
  buildroot/tests/teensy41
Labels: PR: Bug Fix, C: Serial Comms

#26075 Fix input shaping menu when SHAPING_FREQ_[XY] is zero
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26078 Fix ProUI and Jyers unused and cleanup
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
Labels: PR: General Cleanup, C: LCD & Controllers

#26033 Don't skip BLTouch deployment with high speed probing
  Marlin/src/module/probe.cpp
Labels: PR: Bug Fix, F: BLTouch, F: Z-Probes

#26041 Fix SPI TFT Compile Errors on SKR V3/EZ & V2
  Marlin/src/pins/linux/pins_RAMPS_LINUX.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_V3_0_common.h
Labels: C: Boards/Pins, PR: Bug Fix

#26035 ♻️ Always use ISR for BABYSTEPPING
  Marlin/Configuration_adv.h
  Marlin/src/HAL/ESP32/inc/SanityCheck.h
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/babystep.h
  Marlin/src/inc/Changes.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement, C: Motion

#25996 🚸 Revert M206 Home Offset behavior
  Marlin/Configuration_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/geometry/G53-G59.cpp
  Marlin/src/gcode/geometry/G92.cpp
  Marlin/src/gcode/geometry/M206_M428.cpp
  Marlin/src/gcode/probe/M951.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/delta.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/tool_change.cpp
  ini/features.ini
Labels: C: Motion

#26095 Fix G33 warning
  Marlin/src/gcode/calibrate/G33.cpp
Labels: PR: Bug Fix, F: Calibration

#26082 Fix bad runout computation
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/runout.h
Labels: PR: Bug Fix, F: Filament Sensor

#26073 Fix remaining width calc in EDIT_ITEM
  Marlin/src/lcd/HD44780/lcdprint_hd44780.cpp
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/lcdprint_TFTGLCD.cpp
  Marlin/src/lcd/dogm/lcdprint_u8g.cpp
  Marlin/src/lcd/lcdprint.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26072 add uarts 7-9 to stm32
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/MarlinSerial.cpp
  Marlin/src/HAL/STM32/MinSerial.cpp
Labels: PR: Improvement, C: Serial Comms

#26069 Update avr sanity check for an additional common conflict.
  Marlin/src/HAL/AVR/inc/SanityCheck.h
Labels: PR: Improvement, C: Boards/Pins
