Repository MarlinFirmware/Marlin, pull requests merged in 2023-06, with the labels that each got.

#25895 Enable bed thermistor as a default option
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  buildroot/tests/DUE
  buildroot/tests/mega2560
  buildroot/tests/rumba32
Labels: PR: Configurations

#25913 🧑‍💻 ExtUI::onLevelingStart/Done for all leveling
  Marlin/src/lcd/extui/anycubic_chiron/chiron_extui.cpp
  Marlin/src/lcd/extui/anycubic_i3mega/anycubic_extui.cpp
  Marlin/src/lcd/extui/anycubic_vyper/vyper_extui.cpp
  Marlin/src/lcd/extui/dgus/dgus_extui.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSSetupHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/dgus_reloaded_extui.cpp
  Marlin/src/lcd/extui/example/example.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_extui.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/bed_mesh_edit_screen.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/bed_mesh_view_screen.cpp
  Marlin/src/lcd/extui/ia_creality/ia_creality_extui.cpp
  Marlin/src/lcd/extui/ia_creality/ia_creality_rts.cpp
  Marlin/src/lcd/extui/malyan/malyan_extui.cpp
  Marlin/src/lcd/extui/nextion/nextion_extui.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
Labels: PR: Improvement, F: Calibration, C: LCD & Controllers

#25840 🌐 Update ru translation
  Marlin/src/lcd/language/language_ru.h
Labels: C: Language

#25893 Neo Pixel LCD Contrast update
  Marlin/src/inc/Conditionals_post.h
Labels: C: LCD & Controllers

#25915 Added clarification to wrong environment error
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: PR: Improvement, C: Build / Toolchain

#25914 lowercase method names
  Marlin/src/MarlinCore.cpp
  Marlin/src/lcd/extui/anycubic_vyper/dgus_tft.cpp
  Marlin/src/lcd/extui/anycubic_vyper/dgus_tft.h
  Marlin/src/lcd/extui/dgus/DGUSDisplay.cpp
  Marlin/src/lcd/extui/dgus/DGUSDisplay.h
  Marlin/src/lcd/extui/dgus/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/DGUSScreenHandlerBase.h
  Marlin/src/lcd/extui/dgus/dgus_extui.cpp
  Marlin/src/lcd/extui/dgus/fysetc/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/dgus/fysetc/DGUSDisplayDef.h
  Marlin/src/lcd/extui/dgus/fysetc/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/fysetc/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/hiprecy/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/dgus/hiprecy/DGUSDisplayDef.h
  Marlin/src/lcd/extui/dgus/hiprecy/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/hiprecy/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus/origin/DGUSDisplayDef.cpp
  Marlin/src/lcd/extui/dgus/origin/DGUSDisplayDef.h
  Marlin/src/lcd/extui/dgus/origin/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus/origin/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus_reloaded/DGUSDisplay.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSDisplay.h
  Marlin/src/lcd/extui/dgus_reloaded/DGUSRxHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSRxHandler.h
  Marlin/src/lcd/extui/dgus_reloaded/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSScreenHandler.h
  Marlin/src/lcd/extui/dgus_reloaded/DGUSSetupHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSTxHandler.cpp
  Marlin/src/lcd/extui/dgus_reloaded/DGUSTxHandler.h
  Marlin/src/lcd/extui/dgus_reloaded/config/DGUS_ScreenID.h
  Marlin/src/lcd/extui/dgus_reloaded/definition/DGUS_ScreenAddrList.cpp
  Marlin/src/lcd/extui/dgus_reloaded/definition/DGUS_ScreenAddrList.h
  Marlin/src/lcd/extui/dgus_reloaded/definition/DGUS_ScreenSetup.cpp
  Marlin/src/lcd/extui/dgus_reloaded/definition/DGUS_ScreenSetup.h
  Marlin/src/lcd/extui/dgus_reloaded/definition/DGUS_VPList.cpp
  Marlin/src/lcd/extui/dgus_reloaded/dgus_reloaded_extui.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_upload.cpp
  Marlin/src/lcd/tft/canvas.cpp
  Marlin/src/lcd/tft/canvas.h
  Marlin/src/lcd/tft/tft_queue.cpp
  Marlin/src/lcd/tft/tft_queue.h
  Marlin/src/libs/duration_t.h
Labels: PR: Coding Standards

#25923 fix missed case conversion from issue 25914
  Marlin/src/lcd/tft/canvas.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#25921 split env STM32H723Vx into E and G
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/boards/marlin_STM32H723VE.json
  buildroot/share/PlatformIO/boards/marlin_STM32H723VG.json
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/variant_MARLIN_STM32H723VE.cpp
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/variant_MARLIN_STM32H723VE.h
  buildroot/share/PlatformIO/variants/MARLIN_H723VG/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_H723VG/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_H723VG/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_H723VG/variant_MARLIN_STM32H723VG.cpp
  buildroot/share/PlatformIO/variants/MARLIN_H723VG/variant_MARLIN_STM32H723VG.h
  ini/renamed.ini
  ini/stm32h7.ini
Labels: C: Build / Toolchain, A: STM32

#25885 Refactor endstop state followup
  Marlin/src/inc/Conditionals_LCD.h
Labels: PR: General Cleanup

#25924 🧑‍💻 Fix narrowing / sign warnings
  Marlin/src/core/types.h
  Marlin/src/feature/bedlevel/mbl/mesh_bed_leveling.h
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/feature/bedlevel/ubl/ubl_motion.cpp
  Marlin/src/libs/numtostr.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/stepper.h
Labels: PR: General Cleanup

#24876 Add ONBOARD_ENDSTOPPULLUPS
  Marlin/src/pins/stm32h7/pins_BTT_SKR_V3_0_common.h
Labels: C: Boards/Pins, C: Configuration

#24877 Fix SD print hang using M25/M125 (some cnf affected only)
  Marlin/src/feature/pause.cpp
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/lcd/language/language_it.h
Labels: PR: Bug Fix, F: SD Card / Media

#25931 D576 buffer underruns fix
  Marlin/src/gcode/queue.cpp
Labels: PR: Bug Fix

#25664 TMC Driver distinct baudrates on Software Serial
  Marlin/src/module/stepper/trinamic.cpp
Labels: C: Configuration, F: Trinamic

#25940 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#25937 Validate Teensy 4.1 Environment
  Marlin/src/pins/teensy4/env_validate.h
  Marlin/src/pins/teensy4/pins_T41U5XBB.h
  Marlin/src/pins/teensy4/pins_TEENSY41.h
Labels: PR: General Cleanup, C: Build / Toolchain

#25942 🚸 Fix TFT menu positioning
  Marlin/src/lcd/tft/ui_480x320.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#25934 Remove STM32H723VET6-based Octopus Max EZ
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/boards/marlin_CREALITY_STM32F401RC.json
  buildroot/share/PlatformIO/boards/marlin_STM32H723VE.json
  buildroot/share/PlatformIO/boards/marlin_STM32H723ZE.json
  buildroot/share/PlatformIO/boards/marlin_STM32H743VI.json
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/variant_MARLIN_STM32H723VE.cpp
  buildroot/share/PlatformIO/variants/MARLIN_H723VE/variant_MARLIN_STM32H723VE.h
  ini/renamed.ini
  ini/stm32h7.ini
Labels: C: Boards/Pins

#25945 Add portrait support for move axis screen for TS35
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/lcd/tft/ui_480x320.h
Labels: PR: Improvement, C: LCD & Controllers

#25954 Fix Thermistor Min/Max Test
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix, C: Temperatures

#25947 Only include u8glib when needed to avoid compilation error
  Marlin/src/HAL/SAMD21/u8g/u8g_com_HAL_samd21_shared_hw_spi.cpp
Labels: C: Build / Toolchain

#25957 🔨 Simpler firmware unique rename
  buildroot/share/PlatformIO/scripts/offset_and_rename.py
  buildroot/share/PlatformIO/scripts/random-bin.py
  ini/stm32f1-maple.ini
  ini/stm32f1.ini
  ini/stm32f4.ini
Labels: PR: Improvement, T: Development, C: Build / Toolchain

#25956 fix dummy thermistors 998 and 999
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix, C: Temperatures

#25966 Append ".bin" to Creality Firmware Builds
  ini/stm32f1-maple.ini
  ini/stm32f1.ini
  ini/stm32f4.ini
Labels: PR: Bug Fix, C: Build / Toolchain

#25955 Add SKR Mini E3 V3.0.1 XFER Build
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins.h
  ini/stm32f4.ini
Labels: Needs: Testing, C: Build / Toolchain

#25969 Remove Invalid VAkE 403D Motherboard
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_VAKE403D.h
Labels: C: Boards/Pins, PR: General Cleanup

#25977 Reorganize Some Boards
  Marlin/src/pins/pins.h
Labels: PR: General Cleanup

#25976 Update Manta E3 EZ with Ender-3 V2 LCD Custom Wiring Header
  Marlin/src/pins/stm32g0/pins_BTT_MANTA_E3_EZ_V1_0.h
Labels: C: Documentation, C: Boards/Pins, C: LCD & Controllers

#25970 Add board RAMPS BTT 1.6+
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_RAMPS_BTT_16_PLUS.h
Labels: C: Boards/Pins

#25992 fix assert for libmaple builds
  Marlin/src/inc/SanityCheck.h
Labels: C: Configuration

#25988 Fix G2/G3 error in limit speed
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: PR: Bug Fix, C: Motion

#25973 update SKR_V3_0/EZ mpu comments in boards.h
  Marlin/src/core/boards.h
Labels: PR: Improvement, C: Documentation

#25983 🧿Fixed CMakeLists.txt to work
  .gitignore
  buildroot/share/cmake/CMakeLists.txt
Labels: C: Build / Toolchain

#25847 Some improvement of bed distance sensor
  Marlin/src/feature/bedlevel/bdl/bdl.cpp
  Marlin/src/feature/bedlevel/bdl/bdl.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/config/M43.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/probe/M102.cpp
  Marlin/src/lcd/extui/nextion/nextion_tft.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.h
  Marlin/src/module/stepper/indirection.h
Labels: PR: Improvement, F: Z-Probes

#25986 Update MPC Comments
  Marlin/Configuration.h
Labels: PR: Improvement, C: Documentation

#25719 Fixed-Time Motion integration
  Marlin/src/core/types.h
  Marlin/src/feature/mixing.h
  Marlin/src/gcode/feature/ft_motion/M493.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  Marlin/src/module/ft_types.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper/indirection.h
  buildroot/tests/STM32F103RC_btt
Labels: PR: Improvement, Needs: Testing, S: Please Test, C: Motion

#24843 Color UI remaining time
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/tft/bitmaps/time_elapsed.bmp
  Marlin/src/lcd/tft/bitmaps/time_elapsed.svg
  Marlin/src/lcd/tft/bitmaps/time_remaining.bmp
  Marlin/src/lcd/tft/bitmaps/time_remaining.svg
  Marlin/src/lcd/tft/images/time_elapsed_32x32x4.cpp
  Marlin/src/lcd/tft/images/time_remaining_32x32x4.cpp
  Marlin/src/lcd/tft/tft_image.cpp
  Marlin/src/lcd/tft/tft_image.h
  Marlin/src/lcd/tft/ui_1024x600.cpp
  Marlin/src/lcd/tft/ui_320x240.cpp
  Marlin/src/lcd/tft/ui_320x240.h
  Marlin/src/lcd/tft/ui_480x320.cpp
  Marlin/src/libs/duration_t.h
Labels: PR: Improvement, C: LCD & Controllers

#26003 DWIN ProUI Updates (WIP)
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/lcd/M73.cpp
  Marlin/src/gcode/probe/G30.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/common/dwin_font.h
  Marlin/src/lcd/e3v2/common/limits.h
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.cpp
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_lcd.cpp
  Marlin/src/lcd/e3v2/proui/dwin_lcd.h
  Marlin/src/lcd/e3v2/proui/dwinui.cpp
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/e3v2/proui/endstop_diag.cpp
  Marlin/src/lcd/e3v2/proui/endstop_diag.h
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
  Marlin/src/lcd/e3v2/proui/gcode_preview.h
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/lcd/e3v2/proui/menus.h
  Marlin/src/lcd/e3v2/proui/meshviewer.cpp
  Marlin/src/lcd/e3v2/proui/meshviewer.h
  Marlin/src/lcd/e3v2/proui/plot.cpp
  Marlin/src/lcd/e3v2/proui/plot.h
  Marlin/src/lcd/e3v2/proui/printstats.cpp
  Marlin/src/lcd/e3v2/proui/printstats.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/temperature.cpp
Labels: PR: Improvement, C: LCD & Controllers

#25015 Hotend Idle Timeout Menu
  Marlin/src/feature/hotend_idle.cpp
  Marlin/src/feature/hotend_idle.h
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/temp/M86-M87.cpp
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/module/settings.cpp
  ini/features.ini
Labels: PR: Improvement, Needs: Work

#24390 ♻️ String helper class
  Marlin/src/MarlinCore.cpp
  Marlin/src/core/mstring.h
  Marlin/src/core/serial.h
  Marlin/src/feature/cancel_object.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/calibrate/G34_M422.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/lcd/M0_M1.cpp
  Marlin/src/gcode/lcd/M117.cpp
  Marlin/src/gcode/probe/G30.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/MarlinConfig.h
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/dogm/status_screen_lite_ST7920.cpp
  Marlin/src/lcd/e3v2/creality/dwin.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
  Marlin/src/lcd/e3v2/proui/printstats.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_x_twist.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/tests/marlin_tests.cpp
Labels: PR: Coding Standards

#26026 🎨 CrealityDWIN => JyersDWIN
  Marlin/src/gcode/feature/powerloss/M1000.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/module/settings.cpp
Labels: PR: General Cleanup, C: LCD & Controllers

#26017 Add MPC settings menu to JyersUI
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.h
Labels: PR: Improvement, C: LCD & Controllers

#26021 Use 'adv vref' from HAL instead of constant voltage
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/ESP32/HAL.h
  Marlin/src/HAL/LINUX/HAL.h
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/NATIVE_SIM/HAL.h
  Marlin/src/HAL/SAMD21/HAL.h
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/temp_soc.h
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/TEENSY31_32/HAL.h
  Marlin/src/HAL/TEENSY35_36/HAL.h
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/feature/filwidth.h
  Marlin/src/feature/power_monitor.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/module/temperature.cpp
  buildroot/tests/LPC1768
  buildroot/tests/LPC1769
Labels: PR: Bug Fix, C: Temperatures

#26029 Fix syntax errors in JyersUI code
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26018 Update Makefile, fix/cleanup temperature.h/.cpp ubl.h
  Marlin/Makefile
  Marlin/src/feature/bedlevel/ubl/ubl.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  buildroot/share/PlatformIO/ldscripts/creality256k.ld
  ini/stm32f1-maple.ini
Labels: PR: Improvement, C: Build / Toolchain

#26027 Use LPC Ethernet Buffer for Input Shaping
  Marlin/src/module/stepper.cpp
  Marlin/src/pins/pins.h
Labels: PR: Improvement, C: Motion

#26020 FT_MOTION : merge last Ulendo update into current bugfix
  Marlin/Configuration_adv.h
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  Marlin/src/module/ft_types.h
Labels: PR: Bug Fix, C: Motion
