Repository MarlinFirmware/Marlin, pull requests merged in 2023-08, with the labels that each got.

#25758 More endstops rework, SPI sensorless, etc.
  Marlin/Configuration.h
  Marlin/src/HAL/AVR/endstop_interrupts.h
  Marlin/src/HAL/DUE/endstop_interrupts.h
  Marlin/src/HAL/ESP32/endstop_interrupts.h
  Marlin/src/HAL/LPC1768/endstop_interrupts.h
  Marlin/src/HAL/SAMD21/endstop_interrupts.h
  Marlin/src/HAL/SAMD51/endstop_interrupts.h
  Marlin/src/HAL/STM32/endstop_interrupts.h
  Marlin/src/HAL/STM32F1/endstop_interrupts.h
  Marlin/src/HAL/TEENSY31_32/endstop_interrupts.h
  Marlin/src/HAL/TEENSY35_36/endstop_interrupts.h
  Marlin/src/HAL/TEENSY40_41/endstop_interrupts.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/proui/endstop_diag.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/endstop_state_screen.cpp
  Marlin/src/lcd/extui/mks_ui/mks_hardware.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
  buildroot/tests/BIGTREE_BTT002
  buildroot/tests/FYSETC_F6
  buildroot/tests/LPC1769
  buildroot/tests/SAMD21_minitronics20
  buildroot/tests/SAMD51_grandcentral_m4
  buildroot/tests/mega1280
  buildroot/tests/teensy35
Labels: PR: Bug Fix, PR: General Cleanup, F: Calibration

#26143 E3S1PRO is not a T5UID1
  Marlin/Configuration.h
Labels: C: Documentation, C: LCD & Controllers

#25341 Temperature feedback through serial on error
  Marlin/src/core/language.h
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: C: Serial Comms, C: Temperatures

#25364 New AVR internals to combat the AVR Pin Peripheral Conflict
  Marlin/src/HAL/AVR/HAL.cpp
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/AVR/registers.cpp
  Marlin/src/HAL/AVR/registers.h
  Marlin/src/HAL/LPC1768/HAL.cpp
  Marlin/src/HAL/LPC1768/main.cpp
Labels: T: HAL & APIs, A: AT90USB, A: ATmega2560, A: ATmega1284, A: ATmega1280

#25268 Heater Power On Graphical Display
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
Labels: PR: New Feature, C: LCD & Controllers

#25739 AUTO_POWER_CONTROL && AUTO_POWER_SPINDLE_LASER
  Marlin/Configuration.h
  Marlin/src/feature/power.cpp
  Marlin/src/inc/Conditionals_post.h
Labels: F: CNC / Laser

#25884 Move volumetric extruder limit to config
  Marlin/Configuration_adv.h
  Marlin/src/gcode/config/M200-M205.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: PR: Improvement, C: LCD & Controllers

#25888 Add GT2560V4.1b board support and fix YHCB2004
  Marlin/src/core/boards.h
  Marlin/src/pins/mega/pins_GT2560_V3.h
  Marlin/src/pins/mega/pins_GT2560_V41b.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins

#25897 Request to add MM-JOKER motherboard，Thanks
  Marlin/src/core/boards.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/esp32/pins_MM_JOKER.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins

#26087 SKR Mini E3 V3.0 with STM32G0B0 / Manta M4P is STM32G0B0
  Marlin/src/core/boards.h
  ini/stm32g0.ini
Labels: C: Documentation, A: STM32

#26088 Manual LCD Bed Leveling Procedure (EditScreen fix, drawing static fstr+vstr made up to date)
  Marlin/src/lcd/e3v2/marlinui/ui_common.cpp
  Marlin/src/lcd/menu/menu_bed_leveling.cpp
  Marlin/src/lcd/menu/menu_x_twist.cpp
  Marlin/src/lcd/tft/ui_color_ui.cpp
Labels: C: LCD & Controllers

#26012 SAMD21 with hardware SPI for LCD also when SDSUPPORT is enabled
  Marlin/src/HAL/SAMD21/u8g/u8g_com_HAL_samd21_shared_hw_spi.cpp
  Marlin/src/lcd/dogm/HAL_LCD_class_defines.h
  Marlin/src/lcd/dogm/HAL_LCD_com_defines.h
  Marlin/src/lcd/dogm/marlinui_DOGM.h
  ini/samd21.ini
Labels: C: LCD & Controllers, A: SAMD21

#26015 Homing Z axis at a given position for BD Sensor
  Marlin/src/feature/bedlevel/bdl/bdl.cpp
  Marlin/src/feature/bedlevel/bdl/bdl.h
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
Labels: PR: Improvement, F: Z-Probes

#26091 fix `uninitialized cutting power` warning in M3-M5.cpp
  Marlin/src/gcode/control/M3-M5.cpp
Labels: F: CNC / Laser

#26097 🔧 Clarify WIFISUPPORT
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/temperature.cpp
  buildroot/tests/esp32
  buildroot/tests/mks_tinybee
Labels: C: Configuration, C: Serial Comms

#26131 Standardize USB Flash Drive Environment Naming
  Marlin/src/pins/pins.h
  ini/renamed.ini
  ini/stm32f1-maple.ini
  ini/stm32f1.ini
  ini/stm32f4.ini
Labels: PR: General Cleanup, C: Build / Toolchain

#26141 Fix 26132: UBL probe_entire_mesh could skip points
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
Labels: PR: Bug Fix, F: U.B.L.

#26142 Allows disable/enable sounds by using M300 E0/E1
  Marlin/src/gcode/lcd/M300.cpp
Labels: PR: New Feature

#26149 Shrink chamber bmp
  Marlin/src/lcd/dogm/status/chamber.h
Labels: PR: Improvement, C: LCD & Controllers

#26150 Fix MKS Robin Mini servo (PA8 is TIM1)
  ini/stm32f1.ini
Labels: C: Boards/Pins, PR: Bug Fix, A: STM32

#25340 Advanced SD card reliability configuration
  Marlin/src/HAL/STM32/msc_sd.cpp
  Marlin/src/sd/Sd2Card.cpp
  Marlin/src/sd/Sd2Card.h
Labels: F: SD Card / Media

#26130 Sort file names in reverse order
  Marlin/Configuration_adv.h
  Marlin/src/gcode/sd/M34.cpp
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/sd/SdBaseFile.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
  buildroot/tests/STM32F103VE_longer_maple
Labels: F: SD Card / Media

#26177 Fix E3V2 PROUI compile/upload after code refactor and restore some menu
  Marlin/src/feature/caselight.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/lcd/e3v2/proui/menus.h
  Marlin/src/module/motion.h
  buildroot/share/PlatformIO/scripts/offset_and_rename.py
  buildroot/share/scripts/upload.py
Labels: PR: Bug Fix, C: LCD & Controllers

#26170 G2/G3: Fix Z/helix planning on UBL
  Marlin/src/gcode/motion/G2_G3.cpp
Labels: PR: Bug Fix, F: U.B.L.

#26175 Fix incorrect menu BACK_ITEM in ft_motion menu
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26164 Avoid host error reset
  Marlin/src/core/language.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/extui/anycubic_vyper/dgus_tft.cpp
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_fr_na.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_sv.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/module/temperature.cpp
Labels: C: Language, C: Serial Comms

#26199 Restore 2-Point (Per Axis) Leveling
  Marlin/src/inc/SanityCheck.h
Labels: Needs: Testing, PR: Bug Fix, F: Calibration

#26151 T command output the current active extruder when no new tool index passed
  Marlin/src/gcode/control/T.cpp
  Marlin/src/gcode/parser.cpp
Labels: PR: Improvement, C: G-code Parser

#26202 Thermistor catch-up
  Marlin/Configuration.h
  Marlin/src/lcd/menu/menu_info.cpp
  Marlin/src/lcd/thermistornames.h
  Marlin/src/module/thermistor/thermistors.h
Labels: C: Configuration, C: LCD & Controllers, C: Temperatures

#26154 Fix Return chars output vs not used maxlen
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  Marlin/src/lcd/TFTGLCD/marlinui_TFTGLCD.cpp
  Marlin/src/lcd/dogm/marlinui_DOGM.cpp
  Marlin/src/lcd/lcdprint.cpp
Labels: PR: Improvement, PR: Bug Fix, C: LCD & Controllers

#26086 Various LCD / backlight adjustments
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/common/encoder.cpp
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/base64.h
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/dwinui.cpp
  Marlin/src/lcd/e3v2/proui/dwinui.h
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
  Marlin/src/lcd/e3v2/proui/meshviewer.cpp
  Marlin/src/lcd/e3v2/proui/plot.cpp
  Marlin/src/lcd/e3v2/proui/plot.h
  Marlin/src/lcd/marlinui.cpp
  buildroot/share/cmake/CMakeLists.txt
Labels: PR: Improvement, C: LCD & Controllers

#26081 Add Mellow Fly E3 V2
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f4/pins_CREALITY_F401.h
  Marlin/src/pins/stm32f4/pins_MELLOW_FLY_E3_V2.h
  Marlin/src/pins/stm32h7/pins_BTT_OCTOPUS_MAX_EZ.h
  ini/stm32f4.ini
Labels: C: Boards/Pins, A: STM32
