Repository MarlinFirmware/Marlin, pull requests merged in 2024-06, with the labels that each got.

#26754 ExtUI Additions
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/AVR/MarlinSerial.cpp
  Marlin/src/HAL/AVR/MarlinSerial.h
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/gcode/probe/G30.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
Labels: PR: Improvement, PR: General Cleanup, C: LCD & Controllers, T: HAL & APIs

#27113 MINIMUM_STEPPER_PULSE to MINIMUM_STEPPER_PULSE_NS
  Marlin/Configuration_adv.h
  Marlin/src/HAL/TEENSY40_41/timers.h
  Marlin/src/core/macros.h
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/stepper/cycles.h
Labels: PR: Improvement, C: Configuration, C: Motion

#27138 add missing comma in DEBUG_ECHOLNPGM when DEBUG_AVR_FAST_PWM is enabled
  Marlin/src/HAL/AVR/fast_pwm.cpp
Labels: PR: Bug Fix

#27137 fix pins postprocessing for Z_MULTI_ENDSTOPS
  Marlin/src/inc/SanityCheck.h
  Marlin/src/pins/pins_postprocess.h
  buildroot/tests/BIGTREE_GTR_V1_0
Labels: C: Boards/Pins, PR: Bug Fix

#27149 On LPC176x toggle pins using `LPC176x::gpio_toggle()`
  Marlin/src/HAL/LPC1768/fastio.h
Labels: T: HAL & APIs, C: Optimization

#27111 Fix for the Mini12864 and SD card access on the BTT SKR Mini E3 V3
  Marlin/src/HAL/STM32/HAL_SPI.cpp
  Marlin/src/HAL/STM32/dogm/u8g_com_stm32duino_swspi.cpp
  Marlin/src/HAL/STM32/u8g/LCD_defines.h
Labels: PR: Bug Fix, C: LCD & Controllers

#27143 Conditional definition of SUICIDE_PIN for RAMPS_CREALITY
  Marlin/src/pins/ramps/pins_RAMPS_CREALITY.h
Labels: C: Boards/Pins

#27162 Use Av^2+Bv+C for Nonlinear extrusion polynomial.
  Marlin/src/gcode/feature/nonlinear/M592.cpp
  Marlin/src/module/stepper.cpp
Labels: C: Motion

#26261 Anycubic Vyper - compile fix, home screen temperature update, power fail display fix
  Marlin/src/lcd/extui/anycubic_vyper/dgus_tft.cpp
  Marlin/src/lcd/extui/anycubic_vyper/dgus_tft.h
  Marlin/src/lcd/extui/anycubic_vyper/vyper_extui.cpp
  Marlin/src/lcd/extui/dgus_e3s1pro/DGUSRxHandler.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#27167 AnyCubic Vyper default name of firmware
  ini/stm32f1.ini
Labels: PR: Bug Fix, C: Build / Toolchain

#27158 AnyCubic Vyper LCD improvements
  Marlin/src/lcd/extui/anycubic/common_defs.h
  Marlin/src/lcd/extui/anycubic_vyper/dgus_tft.cpp
  Marlin/src/lcd/extui/anycubic_vyper/dgus_tft.h
Labels: PR: Improvement, PR: Bug Fix, C: LCD & Controllers

#27171 Don't blindly increase oversampling with `NONLINEAR_EXTRUSION`
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix, C: Motion

#27157 Update python scripts
  Marlin/src/HAL/DUE/upload_extra_script.py
  Marlin/src/HAL/LPC1768/upload_extra_script.py
  Marlin/src/HAL/STM32F1/build_flags.py
  buildroot/share/PlatformIO/scripts/SAMD21_minitronics20.py
  buildroot/share/PlatformIO/scripts/SAMD51_grandcentral_m4.py
  buildroot/share/PlatformIO/scripts/STM32F103RC_MEEB_3DP.py
  buildroot/share/PlatformIO/scripts/STM32F103RC_fysetc.py
  buildroot/share/PlatformIO/scripts/STM32F1_build_flags.py
  buildroot/share/PlatformIO/scripts/STM32F1_create_variant.py
  buildroot/share/PlatformIO/scripts/add_nanolib.py
  buildroot/share/PlatformIO/scripts/chitu_crypt.py
  buildroot/share/PlatformIO/scripts/collect-code-tests.py
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
  buildroot/share/PlatformIO/scripts/common-dependencies-post.py
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  buildroot/share/PlatformIO/scripts/configuration.py
  buildroot/share/PlatformIO/scripts/custom_board.py
  buildroot/share/PlatformIO/scripts/download_mks_assets.py
  buildroot/share/PlatformIO/scripts/fix_framework_weakness.py
  buildroot/share/PlatformIO/scripts/generic_create_variant.py
  buildroot/share/PlatformIO/scripts/lerdge.py
  buildroot/share/PlatformIO/scripts/mc-apply.py
  buildroot/share/PlatformIO/scripts/openblt.py
  buildroot/share/PlatformIO/scripts/pioutil.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  buildroot/share/PlatformIO/scripts/simulator.py
  buildroot/share/PlatformIO/scripts/stm32_serialbuffer.py
  buildroot/share/PlatformIO/scripts/tronxy_cxy_446_v10.py
  buildroot/share/dwin/bin/DWIN_ICO.py
  buildroot/share/scripts/MarlinBinaryProtocol.py
  buildroot/share/scripts/createTemperatureLookupMarlin.py
  buildroot/share/scripts/gen-tft-image.py
  buildroot/share/scripts/languageImport.py
  buildroot/share/scripts/languageUtil.py
  buildroot/share/scripts/rle16_compress_cpp_image_data.py
  buildroot/share/scripts/rle_compress_bitmap.py
  buildroot/share/scripts/upload.py
  buildroot/share/vscode/auto_build.py
  buildroot/share/vscode/create_custom_upload_command_CDC.py
  buildroot/share/vscode/create_custom_upload_command_DFU.py
  ini/stm32f1-maple.ini
Labels: PR: General Cleanup, C: Build / Toolchain

#27178 Optimize `set_pwm_duty()` on LPC176x by removing float division
  Marlin/src/HAL/LPC1768/fast_pwm.cpp
Labels: T: HAL & APIs, C: Optimization, A: LPC176x

#27179 🐛 Fix homing when FT Motion exists
  Marlin/src/module/endstops.cpp
Labels: PR: Bug Fix, C: Motion

#27177 mount sdcard early for POWER_LOSS_RECOVERY
  Marlin/src/MarlinCore.cpp
Labels: PR: Bug Fix, T: Development

#27180 🔨 DISABLE_ENCODER => NO_BACK_MENU_ITEM
  Marlin/Configuration.h
  Marlin/src/inc/Changes.h
  Marlin/src/lcd/menu/menu_item.h
Labels: PR: Improvement, C: LCD & Controllers

#27175 Follow up to "Fix step oversampling with NONLINEAR_EXTRUSION (#27171)
  Marlin/Configuration_adv.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Configurations

#27204 Process calibration movements as endstops
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/endstop_interrupts.h
  Marlin/src/HAL/DUE/endstop_interrupts.h
  Marlin/src/HAL/ESP32/endstop_interrupts.h
  Marlin/src/HAL/HC32/endstop_interrupts.cpp
  Marlin/src/HAL/LPC1768/endstop_interrupts.h
  Marlin/src/HAL/SAMD21/endstop_interrupts.h
  Marlin/src/HAL/SAMD51/endstop_interrupts.h
  Marlin/src/HAL/STM32/endstop_interrupts.h
  Marlin/src/HAL/STM32F1/endstop_interrupts.h
  Marlin/src/HAL/TEENSY31_32/endstop_interrupts.h
  Marlin/src/HAL/TEENSY35_36/endstop_interrupts.h
  Marlin/src/HAL/TEENSY40_41/endstop_interrupts.h
  Marlin/src/core/language.h
  Marlin/src/gcode/calibrate/G425.cpp
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
Labels: F: Calibration

#27201 Feedrate and flow percentages added to PLR FR #23535
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/extui/mks_ui/draw_change_speed.cpp
  Marlin/src/lcd/extui/mks_ui/draw_dialog.cpp
  Marlin/src/lcd/extui/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_module.cpp
Labels: PR: Improvement, F: Print Recovery

#27194 Don't reinit i2c LCDs
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/marlinui.h
Labels: PR: Improvement, C: LCD & Controllers

#27209 🔨 TMC2100 is STANDALONE
  Marlin/src/core/drivers.h
Labels: PR: Bug Fix, F: Trinamic

#27215 👷 Add "fail-fast: true" default strategy to build test CI
  .github/workflows/ci-build-tests.yml
Labels: T: GitHub Admin

#27222 Don't reinit i2c lcds
  Marlin/src/inc/Conditionals_post.h
Labels: PR: Bug Fix, C: LCD & Controllers

#27219 🔧 Simplify "sensitive pins"
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/STM32/inc/Conditionals_adv.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/pins/sensitive_pins.h
Labels: C: Boards/Pins, T: Development, C: Configuration, C: Build / Toolchain
