Repository MarlinFirmware/Marlin, pull requests merged in 2024-08, with the labels that each got.

#27274 MPC differential tuning bug fixes
  Marlin/Configuration.h
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix, F: Calibration, C: Temperatures

#27302 🔧 Sanity check BIQU MicroProbe and FT_MOTION
  Marlin/Configuration.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix, F: Z-Probes, C: Motion

#26974 🩹 Fix MKS Gen-L V1 pins, allow more RAMPS overrides
  Marlin/src/pins/lpc1768/pins_RAMPS_RE_ARM.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/ramps/pins_MKS_GEN_L.h
  Marlin/src/pins/ramps/pins_RAMPS.h
  Marlin/src/pins/ramps/pins_XTLW_MFF_V1.h
Labels: C: Boards/Pins, PR: Bug Fix, A: ATmega2560

#27330 📝 Update Discord links
  .github/ISSUE_TEMPLATE/config.yml
  .github/contributing.md
  README.md
Labels: C: Documentation, T: GitHub Admin

#26883 Add M3/M4 'O' parameter support for laser/spindle
  Marlin/src/feature/spindle_laser.h
  Marlin/src/gcode/control/M3-M5.cpp
Labels: PR: Bug Fix, F: CNC / Laser

#26714 Improved homing current management
  Marlin/Configuration_adv.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_type.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/module/delta.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/module/endstops.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/scara.cpp
  buildroot/tests/LPC1769
Labels: Needs: Work, F: Calibration, F: Trinamic

#27338 🔧 Allow use of a minimal Config.h
  .github/workflows/update-base-configs.yml
  Makefile
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/inc/BaseConfiguration.h
  Marlin/src/inc/BaseConfiguration_adv.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/MarlinConfigPre.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/lcd/menu/menu_delta_calibrate.cpp
  buildroot/bin/mftest
  buildroot/share/PlatformIO/scripts/signature.py
  buildroot/share/scripts/makeBaseConfigs.py
  docs/Maintenance.md
Labels: PR: Improvement, C: Configuration

#27335 Fixed Time Motion: Fix switching on or off FTM when printing
  Marlin/src/gcode/feature/ft_motion/M493.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix, C: Motion

#27337 update SanityCheck, AZTEEG_X3_PRO does not need DIGIPOTS_I2C_SDA_*
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix

#27299 add special case for SIMULATED motherboard to mftest
  buildroot/bin/mftest
Labels: PR: Improvement

#27150 🩹 Fix MINITRONICS v1 support
  Marlin/src/pins/mega/pins_MINITRONICS.h
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/variants/MARLIN_MEGA1281/pins_arduino.h
  ini/avr.ini
Labels: Needs: More Data, C: Boards/Pins, Needs: Discussion

#27366 🩹 Fix Sensorless Homing Current Warning
  Marlin/src/inc/Warnings.cpp
Labels: PR: Bug Fix, F: Trinamic

#27349 FT Motion updates
  Marlin/src/module/endstops.cpp
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  Marlin/src/module/ft_types.h
  Marlin/src/module/stepper.cpp
Labels: PR: Improvement, PR: Bug Fix, C: Motion

#27365 Fix compilation error/warn
  Marlin/src/module/ft_motion.cpp
Labels: PR: Bug Fix

#27359 FT_MOTION : update preprocessor directives
  Marlin/Configuration_adv.h
  Marlin/src/inc/BaseConfiguration_adv.h
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  Marlin/src/module/ft_types.h
Labels: PR: General Cleanup

#27367 FT_MOTION : Fix compile error
  Marlin/src/module/ft_motion.cpp
Labels: PR: Bug Fix

#27373 🪠 More granular sub-options undef
  Marlin/Configuration.h
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/inc/Conditionals_LCD.h
  Marlin/src/inc/Conditionals_adv.h
  Marlin/src/inc/Conditionals_axes.h
  Marlin/src/inc/Conditionals_etc.h
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/inc/MarlinConfigPre.h
Labels: C: Configuration
