Repository MarlinFirmware/Marlin, pull requests merged in 2024-10, with the labels that each got.

#27454 TFT_COLOR_UI uses LCD_LANGUAGE
  Marlin/src/inc/Conditionals-2-LCD.h
Labels: PR: Bug Fix, C: Language, C: User Interface

#27449 add GCODE_CASE_INSENSITIVE support to e_parser
  Marlin/src/feature/e_parser.cpp
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/parser.h
Labels: PR: Improvement, PR: Bug Fix

#27361 ✨ BigTreeTech SKRat V1.0 (STM32G0B1VE)
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32g0/pins_BTT_SKRAT_V1_0.h
  ini/renamed.ini
  ini/stm32g0.ini
Labels: Needs: Work, C: Boards/Pins, help wanted, A: STM32

#27416 Store and display FT_MOTION linear advance as in #26785
  Marlin/Configuration_adv.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/module/ft_motion.cpp
Labels: PR: Bug Fix, C: Motion

#27455 Sort out MMU2 / MMU3 options
  Marlin/Configuration_adv.h
  Marlin/src/HAL/AVR/HAL.h
  Marlin/src/HAL/AVR/MarlinSerial.cpp
  Marlin/src/HAL/AVR/MarlinSerial.h
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/NATIVE_SIM/HAL.h
  Marlin/src/HAL/SAMD21/HAL.h
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/max7219.cpp
  Marlin/src/feature/mmu/mmu2.cpp
  Marlin/src/feature/mmu/mmu2.h
  Marlin/src/feature/mmu3/mmu3.cpp
  Marlin/src/feature/mmu3/mmu3.h
  Marlin/src/feature/mmu3/mmu3_crc.cpp
  Marlin/src/feature/mmu3/mmu3_crc.h
  Marlin/src/feature/mmu3/mmu3_error_converter.cpp
  Marlin/src/feature/mmu3/mmu3_error_converter.h
  Marlin/src/feature/mmu3/mmu3_fsensor.cpp
  Marlin/src/feature/mmu3/mmu3_fsensor.h
  Marlin/src/feature/mmu3/mmu3_log.cpp
  Marlin/src/feature/mmu3/mmu3_log.h
  Marlin/src/feature/mmu3/mmu3_marlin.h
  Marlin/src/feature/mmu3/mmu3_marlin1.cpp
  Marlin/src/feature/mmu3/mmu3_marlin_macros.h
  Marlin/src/feature/mmu3/mmu3_power.cpp
  Marlin/src/feature/mmu3/mmu3_power.h
  Marlin/src/feature/mmu3/mmu3_progress_converter.cpp
  Marlin/src/feature/mmu3/mmu3_progress_converter.h
  Marlin/src/feature/mmu3/mmu3_protocol.cpp
  Marlin/src/feature/mmu3/mmu3_protocol.h
  Marlin/src/feature/mmu3/mmu3_protocol_logic.cpp
  Marlin/src/feature/mmu3/mmu3_protocol_logic.h
  Marlin/src/feature/mmu3/mmu3_reporting.cpp
  Marlin/src/feature/mmu3/mmu3_reporting.h
  Marlin/src/feature/mmu3/mmu3_state.h
  Marlin/src/feature/mmu3/mmu3_supported_version.h
  Marlin/src/feature/mmu3/ultralcd.cpp
  Marlin/src/gcode/control/T.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/feature/pause/M701_M702.cpp
  Marlin/src/gcode/feature/prusa_MMU2/M403.cpp
  Marlin/src/gcode/feature/prusa_MMU2/M704-M709.cpp
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Conditionals-5-post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/menu/menu_mmu2.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/tool_change.cpp
  Marlin/src/pins/pinsDebug_list.h
  buildroot/share/uncrustify/uncrustify.cfg
  buildroot/tests/LPC1768
  buildroot/tests/LPC1769
  buildroot/tests/STM32H743VI_btt
  buildroot/tests/rambo
Labels: C: Configuration, C: Peripherals

#27456 ✨ EDITABLE_HOMING_FEEDRATE / M210
  Marlin/Configuration.h
  Marlin/src/core/language.h
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/config/M210.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/gcode/parser.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/settings.cpp
  buildroot/tests/mega1280
  ini/features.ini
Labels: PR: New Feature, F: Calibration, C: Motion

#27334 Marlin Peltier Logic implementation
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals-5-post.h
  Marlin/src/inc/Warnings.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
Labels: PR: New Feature, C: Temperatures

#27483 🔨 Python config helpers
  buildroot/bin/__init__.py
  buildroot/bin/config.py
  buildroot/bin/opt_add
  buildroot/bin/opt_disable
  buildroot/bin/opt_enable
  buildroot/bin/opt_sed
  buildroot/bin/opt_set
Labels: T: Development

#27480 Partially revert changes from #27392 to fix due LCD SPI
  Marlin/src/HAL/DUE/usb/sd_mmc_spi_mem.cpp
  Marlin/src/feature/easythreed_ui.cpp
Labels: T: HAL & APIs, A: SAM3X8C/E

#27484 📌 Pin Ubuntu Runner to 22.04
  .github/workflows/auto-label.yml
  .github/workflows/bump-date.yml
  .github/workflows/check-pr.yml
  .github/workflows/ci-build-tests.yml
  .github/workflows/ci-unit-tests.yml
  .github/workflows/ci-validate-boards.yml
  .github/workflows/ci-validate-pins.yml
  .github/workflows/clean-closed.yml
  .github/workflows/close-stale.yml
  .github/workflows/lock-closed.yml
  .github/workflows/unlock-reopened.yml
Labels: T: GitHub Admin

#27476 Update Italian translation
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#27474 FT_MOTION : fix #27470
  Marlin/src/module/ft_motion.cpp
Labels: PR: Bug Fix, C: Build / Toolchain, A: LPC176x

#27482 MKS UI long filename WiFi upload
  Marlin/src/lcd/extui/mks_ui/draw_print_file.h
  Marlin/src/lcd/extui/mks_ui/wifi_module.cpp
Labels: PR: Improvement, C: LCD & Controllers

#27471 update BABYSTEP_MULTIPLICATOR_Z assert
  Marlin/src/inc/SanityCheck.h
Labels: PR: Improvement, C: Configuration

#27469 Add EDITABLE_HOMING_FEEDRATE menu to ProUI
  Marlin/src/lcd/e3v2/common/limits.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.h
  Marlin/src/lcd/e3v2/proui/menus.cpp
  Marlin/src/lcd/language/language_en.h
Labels: C: LCD & Controllers

#27501 🚸 Restore Object Cancel info on Power-Loss Recovery
  Marlin/src/feature/cancel_object.cpp
  Marlin/src/feature/cancel_object.h
  Marlin/src/feature/encoder_i2c.cpp
  Marlin/src/feature/leds/leds.cpp
  Marlin/src/feature/mmu/mmu2.cpp
  Marlin/src/feature/mmu3/mmu3_fsensor.cpp
  Marlin/src/feature/mmu3/mmu3_marlin1.cpp
  Marlin/src/feature/mmu3/mmu3_reporting.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/powerloss.h
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/runout.h
  Marlin/src/feature/spindle_laser.cpp
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/feature/cancel/M486.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/lcd/menu/menu_cancelobject.cpp
  Marlin/src/module/planner.cpp
  buildroot/tests/DUE
Labels: PR: Improvement, F: SD Card / Media

#27499 remove hardcoded SHAPING_FREQ_X from SHAPING_MENU
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/menu/menu_advanced.cpp
Labels: PR: Bug Fix, C: User Interface
