Repository MarlinFirmware/Marlin, pull requests merged in 2024-09, with the labels that each got.

#27388 🚸 More TFT Color UI fixes
  Marlin/src/inc/Conditionals_post.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/tft/images/bootscreen_576x478x16.cpp
  Marlin/src/lcd/tft/tft.h
  Marlin/src/lcd/tft/tft_image.h
  Marlin/src/lcd/tft/themes/theme_ANET_BLACK.h
  Marlin/src/lcd/tft/themes/theme_BLUE_MARLIN.h
  Marlin/src/lcd/tft/themes/theme_default.h
  Marlin/src/lcd/tft/ui_1024x600.h
  Marlin/src/lcd/tft/ui_240x320.h
  Marlin/src/lcd/tft/ui_320x240.h
  Marlin/src/lcd/tft/ui_320x480.h
  Marlin/src/lcd/tft/ui_480x272.h
  Marlin/src/lcd/tft/ui_480x320.h
  Marlin/src/lcd/tft/ui_color_ui.cpp
  Marlin/src/lcd/tft/ui_common.cpp
  Marlin/src/lcd/tft/ui_common.h
  Marlin/src/lcd/tft/ui_theme.h
  buildroot/share/pixmaps/logo/tft-boot-1024x600.png
  buildroot/share/scripts/gen-tft-image.py
  buildroot/share/scripts/image_to_tft.py
Labels: PR: Improvement, C: LCD & Controllers

#27389 🧑‍💻 Build examples --output option
  buildroot/bin/build_all_examples
  buildroot/bin/build_example
Labels: PR: Improvement, T: Development

#27392 🧑‍💻 CardReader::isStillPrinting
  Marlin/src/HAL/DUE/usb/sd_mmc_spi_mem.cpp
  Marlin/src/gcode/feature/pause/M125.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: PR: Improvement, F: SD Card / Media

#27390 🧑‍💻 Refactor some PROGMEM strings
  Marlin/src/feature/bltouch.cpp
  Marlin/src/lcd/extui/mks_ui/draw_error_message.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
Labels: PR: Coding Standards

#27370 sanity check for Z_CLEARANCE_FOR_HOMING
  Marlin/src/inc/SanityCheck.h
  buildroot/tests/rambo
Labels: PR: Improvement, C: Configuration

#27391 🧑‍💻 Quieter AUTO_REPORT_SD_STATUS option
  Marlin/src/inc/Conditionals-4-adv.h
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: C: Hosts & Protocols, C: Optimization

#27401 Fix compile error in menu_motion when enabled FT_MOTION_MENU
  Marlin/src/lcd/menu/menu_motion.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#27385 Change DMA2 to DMA1 for FSMC TFT on STM32F1xx
  Marlin/src/HAL/STM32/sdio.cpp
  Marlin/src/HAL/STM32/tft/tft_fsmc.cpp
  Marlin/src/HAL/STM32/tft/tft_spi.cpp
Labels: PR: Bug Fix, C: LCD & Controllers, T: HAL & APIs, A: STM32

#27395 🚸 Fix extra Z raises
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/inc/Conditionals-3-etc.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
Labels: PR: Improvement, F: Calibration, C: Motion

#27353 🔨 Tweak Tronxy CXY build
  buildroot/share/PlatformIO/scripts/tronxy_cxy_446_v10.py
  ini/stm32f4.ini
Labels: C: Build / Toolchain, A: STM32

#27404 Fix Stow Z-Probe blocking future status messages after stowing
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/module/probe.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#27415 🧑‍💻 CI check boards.h , pins.h
  .github/workflows/ci-validate-boards.yml
  .zed/settings.json
  Makefile
  Marlin/src/core/boards.h
  Marlin/src/pins/pins.h
  buildroot/share/scripts/validate_boards.py
Labels: C: Boards/Pins, T: Development

#27381 Resolve Dual Servo Toolchange Z Creep
  Marlin/src/module/tool_change.cpp
Labels: PR: Bug Fix, F: Toolchange

#27382 Optimize G425 to compute Primary Axis before probing remainders
  Marlin/src/gcode/calibrate/G425.cpp
Labels: F: Calibration, C: Optimization

#27289 HC32: pin package versions
  Marlin/src/HAL/HC32/inc/SanityCheck.h
  ini/hc32.ini
Labels: C: Build / Toolchain

#27393 🚸 Probe / Level Menu
  Marlin/src/core/multi_language.h
  Marlin/src/feature/babystep.cpp
  Marlin/src/feature/babystep.h
  Marlin/src/feature/mmu3/mmu2_progress_converter.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/lcd/dogm/fontdata/langdata_ko_KR.h
  Marlin/src/lcd/dogm/fontdata/langdata_zh_CN.h
  Marlin/src/lcd/dogm/fontdata/langdata_zh_TW.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/cocoa_press/z_offset_screen.cpp
  Marlin/src/lcd/language/language_an.h
  Marlin/src/lcd/language/language_bg.h
  Marlin/src/lcd/language/language_ca.h
  Marlin/src/lcd/language/language_cz.h
  Marlin/src/lcd/language/language_da.h
  Marlin/src/lcd/language/language_de.h
  Marlin/src/lcd/language/language_el.h
  Marlin/src/lcd/language/language_el_gr.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/language/language_es.h
  Marlin/src/lcd/language/language_eu.h
  Marlin/src/lcd/language/language_fi.h
  Marlin/src/lcd/language/language_fr.h
  Marlin/src/lcd/language/language_fr_na.h
  Marlin/src/lcd/language/language_gl.h
  Marlin/src/lcd/language/language_hr.h
  Marlin/src/lcd/language/language_hu.h
  Marlin/src/lcd/language/language_it.h
  Marlin/src/lcd/language/language_jp_kana.h
  Marlin/src/lcd/language/language_ko_KR.h
  Marlin/src/lcd/language/language_nl.h
  Marlin/src/lcd/language/language_pl.h
  Marlin/src/lcd/language/language_pt.h
  Marlin/src/lcd/language/language_pt_br.h
  Marlin/src/lcd/language/language_ro.h
  Marlin/src/lcd/language/language_ru.h
  Marlin/src/lcd/language/language_sk.h
  Marlin/src/lcd/language/language_sv.h
  Marlin/src/lcd/language/language_tr.h
  Marlin/src/lcd/language/language_uk.h
  Marlin/src/lcd/language/language_vi.h
  Marlin/src/lcd/language/language_zh_CN.h
  Marlin/src/lcd/language/language_zh_TW.h
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_main.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/lcd/menu/menu_probe_level.cpp
  Marlin/src/lcd/menu/menu_ubl.cpp
  Marlin/src/module/motion.h
  buildroot/share/PlatformIO/scripts/chitu_crypt.py
  buildroot/share/PlatformIO/scripts/common-dependencies.h
  buildroot/share/PlatformIO/scripts/offset_and_rename.py
  buildroot/share/fonts/bdf2u8g/bdf2u8g.c
  ini/features.ini
Labels: PR: Improvement, F: Calibration, C: LCD & Controllers, F: Z-Probes

#27375 fix compile error 27374 TJC_DISPLAY font size errors
  Marlin/src/lcd/e3v2/common/dwin_api.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#27437 fix typos in Configuration_adv.h Assisted Tramming comments
  Marlin/Configuration_adv.h
Labels: C: Documentation, PR: Bug Fix

#27439 🩹 Fix missing _lcd_toggle_bed_leveling
  Marlin/src/lcd/menu/menu.cpp
  Marlin/src/lcd/menu/menu.h
Labels: PR: Bug Fix

#25864 [WIP] Add support for Sovol SV06 Plus Touchscreen
  Marlin/Configuration.h
  Marlin/src/MarlinCore.cpp
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/powerloss.cpp
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/gcode/feature/pause/G27.cpp
  Marlin/src/gcode/feature/pause/M600.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/gcode/sd/M1001.cpp
  Marlin/src/inc/Conditionals-2-LCD.h
  Marlin/src/inc/Conditionals-5-post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/sovol_rts/sovol_rts.cpp
  Marlin/src/lcd/sovol_rts/sovol_rts.h
  Marlin/src/module/endstops.cpp
  Marlin/src/module/temperature.cpp
  Marlin/src/module/temperature.h
  Marlin/src/sd/cardreader.cpp
  ini/features.ini
  platformio.ini
Labels: C: LCD & Controllers

#25652 G28 / G30 probe related changes
  Marlin/src/gcode/calibrate/G28.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/probe.cpp
Labels: PR: Improvement, F: BLTouch, F: Z-Probes
