Repository MarlinFirmware/Marlin, pull requests merged in 2025-03, with the labels that each got.

#27712 💚 Fix Simulator CI build
  .github/workflows/ci-build-tests.yml
Labels: PR: Bug Fix, T: GitHub Admin

#27701 Switch to Static asserts to allow use of floats on DUAL_X_CARRIAGE configurations
  Marlin/src/inc/SanityCheck.h
Labels: PR: Improvement, C: Configuration

#27674 remove extra echo: from M218_report
  Marlin/src/gcode/config/M218.cpp
Labels: PR: Bug Fix

#27696 [2.1.x] Add missing BTT_SKR_MINI_E3_V3_0_1 to pins.h
  Marlin/src/pins/pins.h
Labels: C: Boards/Pins, PR: Bug Fix

#27590 add build date and time menu to info menu
  Marlin/Configuration_adv.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_info.cpp
  buildroot/tests/teensy41
Labels: PR: New Feature

#27718 FT_MOTION : changes in makevector()
  Marlin/src/module/ft_motion.cpp
Labels: PR: Bug Fix, C: Motion

#27736 add LCD_SERIAL_PORT support to TEENSY40_41 HAL
  Marlin/src/HAL/TEENSY31_32/HAL.cpp
  Marlin/src/HAL/TEENSY35_36/HAL.cpp
  Marlin/src/HAL/TEENSY40_41/HAL.cpp
Labels: PR: Improvement, C: LCD & Controllers

#27742 ✨ MIN_POWER
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals-1-axes.h
  Marlin/src/module/temperature.h
Labels: PR: Improvement, C: Configuration, C: Temperatures

#27729 fix LCD_LANGUAGE on HD44780
  Marlin/src/inc/Conditionals-2-LCD.h
Labels: PR: Bug Fix, C: LCD & Controllers

#27122 🔨 Rename FYSETC S6/Spider Environments
  .github/workflows/ci-build-tests.yml
  Marlin/src/pins/pins.h
  buildroot/bin/mftest
  buildroot/share/PlatformIO/boards/marlin_STM32F446VE_fysetc.json
  buildroot/share/PlatformIO/variants/MARLIN_F446VE_FYSETC/PeripheralPins.c
  buildroot/share/PlatformIO/variants/MARLIN_F446VE_FYSETC/PinNamesVar.h
  buildroot/share/PlatformIO/variants/MARLIN_F446VE_FYSETC/ldscript.ld
  buildroot/share/PlatformIO/variants/MARLIN_F446VE_FYSETC/variant.cpp
  buildroot/share/PlatformIO/variants/MARLIN_F446VE_FYSETC/variant.h
  buildroot/tests/STM32F446VE_fysetc
  ini/renamed.ini
  ini/stm32f4.ini
Labels: C: Boards/Pins, PR: General Cleanup, C: Build / Toolchain

#27721 Fixed compilation error due to ambiguous use of "color"
  Marlin/src/lcd/dogm/game.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#26200 add tft calibration screen title and clarify instructions
  Marlin/src/lcd/dogm/u8g/u8g_dev_tft_upscale_from_128x64.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/tft/ui_common.cpp
Labels: PR: Improvement, F: Calibration, C: User Interface

#26713 Add USE_LCD_DOUBLE_BUFFERING option
  Marlin/Configuration_adv.h
  Marlin/src/lcd/dogm/marlinui_DOGM.h
Labels: PR: Improvement, C: LCD & Controllers

#27720 Fix config.py to work with Windows (PowerShell)
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/scripts/svg2cpp.py
  buildroot/bin/config.py
  buildroot/share/PlatformIO/scripts/config.py
  buildroot/share/PlatformIO/scripts/mc-apply.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  buildroot/share/PlatformIO/scripts/schema.py
  buildroot/share/scripts/pinsformat.py
  buildroot/share/scripts/validate_boards.py
Labels: C: Build / Toolchain

#26864 Reapply chamber preheat
  Marlin/src/gcode/lcd/M145.cpp
  Marlin/src/gcode/temp/M141_M191.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/extui/ui_api.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/marlinui.h
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/lcd/menu/menu_temperature.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/temperature.h
Labels: PR: Bug Fix, C: LCD & Controllers, C: Temperatures

#27551 add servo support to MAG_MOUNTED_PROBE
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals-3-etc.h
  Marlin/src/inc/Conditionals-4-adv.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/servo.h
  buildroot/tests/LPC1769
Labels: PR: New Feature, F: Z-Probes

#27700 update LCD_PINS_ENABLE to LCD_PINS_EN in pins_RP2040.h
  Marlin/src/pins/rp2040/pins_RP2040.h
Labels: C: Boards/Pins, PR: Bug Fix

#27745 update aux-1 pins on ramps
  Marlin/src/pins/ramps/pins_RAMPS.h
Labels: C: Boards/Pins, PR: Bug Fix

#27748 remove erroneous z2 define from pins_BTT_MANTA_M8P_V2_0
  Marlin/src/pins/stm32h7/pins_BTT_MANTA_M8P_V2_0.h
Labels: C: Boards/Pins, PR: Bug Fix

#26181 Enabled 2 mesh viewers
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.cpp
  Marlin/src/lcd/e3v2/proui/bedlevel_tools.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin_defines.h
  Marlin/src/lcd/e3v2/proui/meshviewer.cpp
  Marlin/src/lcd/language/language_en.h
Labels: PR: Improvement, C: LCD & Controllers

#27667 add default LEVELING_COMMANDS for TOUCH_UI_FTDI_EVE
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/generic/leveling_menu.cpp
Labels: PR: Bug Fix, C: User Interface

#27668 give KILL_PIN is own pin on simulator
  Marlin/src/pins/native/pins_RAMPS_NATIVE.h
Labels: C: Boards/Pins, PR: Bug Fix

#27672 Cleanup esp32 warnings and lock down libraries
  Marlin/src/libs/numtostr.cpp
  ini/esp32.ini
  ini/features.ini
Labels: PR: Improvement

#27760 Editable TMC Homing Current
  Marlin/Configuration_adv.h
  Marlin/src/core/language.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/feature/trinamic/M906.cpp
  Marlin/src/gcode/feature/trinamic/M920.cpp
  Marlin/src/gcode/gcode.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_tmc.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/settings.cpp
  buildroot/tests/STM32F103RC_btt
  ini/features.ini
Labels: F: Trinamic, C: User Interface

#27755 🩹 Add unmeasured ADC reference warning for MKS_TINYBEE board (#27434)
  Marlin/src/inc/Warnings.cpp
  Marlin/src/pins/esp32/pins_MKS_TINYBEE.h
Labels: C: Configuration

#27770 fix E DIR init
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper/indirection.h
Labels: PR: Bug Fix, C: Motion
