Repository MarlinFirmware/Marlin, pull requests merged in 2025-01, with the labels that each got.

#27622 Bugfix jg aurora a1
  Marlin/src/pins/stm32f1/pins_JGAURORA_A5S_A1.h
  buildroot/share/PlatformIO/variants/MARLIN_F103Zx/start.S
  ini/stm32f1.ini
Labels: C: Boards/Pins, PR: Bug Fix, C: Build / Toolchain

#27620 add support for games on `DWIN_MARLINUI`
  Marlin/Configuration_adv.h
  Marlin/src/lcd/dogm/game.cpp
  Marlin/src/lcd/dogm/game.h
  Marlin/src/lcd/e3v2/common/dwin_api.cpp
  Marlin/src/lcd/e3v2/common/dwin_api.h
  Marlin/src/lcd/e3v2/marlinui/game.cpp
  Marlin/src/lcd/e3v2/marlinui/game.h
  Marlin/src/lcd/e3v2/marlinui/lcdprint_dwin.cpp
  Marlin/src/lcd/menu/game/brickout.cpp
  Marlin/src/lcd/menu/game/game.cpp
  Marlin/src/lcd/menu/game/game.h
  Marlin/src/lcd/menu/game/invaders.cpp
  Marlin/src/lcd/menu/game/snake.cpp
  Marlin/src/lcd/menu/game/types.h
  buildroot/tests/STM32F103RE_creality
Labels: PR: Improvement, C: Configuration, C: LCD & Controllers

#27616 Allow STM32/STM32F1 pins to be set as Open Drain (OD)
  Marlin/src/HAL/STM32/fastio.h
  Marlin/src/HAL/STM32F1/fastio.h
Labels: PR: Improvement, T: HAL & APIs, A: STM32

#27611 add MAX31865 bed settings to config files.
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/shared/Delay.h
  Marlin/src/inc/SanityCheck.h
Labels: PR: Improvement, C: Configuration

#27566 ✨ EVENT_GCODE_BEFORE_G29
  Marlin/Configuration.h
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/bedlevel/abl/G29.cpp
Labels: PR: New Feature, F: Calibration

#27605 Update CMakeLists.txt fix Linux avr-gcc/g++ error
  buildroot/share/cmake/CMakeLists.txt
Labels: C: Build / Toolchain

#27634 Flash wear leveling support for STM32H7
  Marlin/src/HAL/STM32/eeprom_flash.cpp
  Marlin/src/HAL/STM32/inc/SanityCheck.h
Labels: PR: Bug Fix, T: HAL & APIs, A: STM32

#27596 Fix M119 missing message
  Marlin/src/module/endstops.cpp
Labels: PR: Bug Fix, C: Serial Comms

#27632 convert use_example_configs to python
  buildroot/bin/restore_configs
  buildroot/bin/use_example_configs
Labels: PR: Improvement, T: Development

#27600 Added SD_ prefix for SD card pins names for ERYONE_Ery32_mini board
  Marlin/src/pins/stm32f1/pins_ERYONE_ERY32_MINI.h
Labels: C: Boards/Pins

#27631 Fix EEPROM CRC display error
  Marlin/src/module/settings.cpp
Labels: PR: Bug Fix

#27608 Improve Teensy 4.x support, add hardware PWM for Laser / Spindle / FAST_PWM_FAN
  Marlin/src/HAL/TEENSY40_41/HAL.cpp
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/HAL/TEENSY40_41/fast_pwm.cpp
  Marlin/src/HAL/TEENSY40_41/inc/SanityCheck.h
  Marlin/src/gcode/calibrate/M100.cpp
Labels: T: HAL & APIs

#27640 🔧 Standard filament runout pins for MKS_UI / MKS TFT
  Marlin/src/feature/pause.cpp
  Marlin/src/feature/runout.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/extui/dgus/mks/DGUSDisplayDef.h
  Marlin/src/lcd/extui/dgus/mks/DGUSScreenHandler.cpp
  Marlin/src/lcd/extui/mks_ui/mks_hardware.cpp
  Marlin/src/lcd/extui/mks_ui/printer_operation.cpp
  Marlin/src/lcd/menu/menu_configuration.cpp
  Marlin/src/module/endstops.cpp
  Marlin/src/pins/stm32f1/pins_FLSUN_HISPEED.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_E3P.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_MINI.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_V2.h
  Marlin/src/pins/stm32f1/pins_MKS_ROBIN_NANO_common.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V1.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_V2.h
  Marlin/src/pins/stm32f4/pins_MKS_MONSTER8_common.h
  Marlin/src/pins/stm32f4/pins_MKS_ROBIN_NANO_V3_common.h
Labels: C: Boards/Pins, C: LCD & Controllers, C: Peripherals

#27593 🚸 Conditional extra clearance in do_move_after_z_homing
  Marlin/src/module/motion.cpp
Labels: F: Calibration, F: Z-Probes

#27648 🧑‍💻 Common serial ports header
  Marlin/src/HAL/DUE/HAL.h
  Marlin/src/HAL/DUE/MarlinSerial.h
  Marlin/src/HAL/HC32/HAL.h
  Marlin/src/HAL/HC32/MarlinSerial.h
  Marlin/src/HAL/LPC1768/HAL.cpp
  Marlin/src/HAL/LPC1768/HAL.h
  Marlin/src/HAL/LPC1768/MarlinSerial.cpp
  Marlin/src/HAL/LPC1768/MarlinSerial.h
  Marlin/src/HAL/NATIVE_SIM/HAL.h
  Marlin/src/HAL/RP2040/HAL.h
  Marlin/src/HAL/RP2040/MarlinSerial.h
  Marlin/src/HAL/SAMD21/HAL.h
  Marlin/src/HAL/SAMD51/HAL.h
  Marlin/src/HAL/SAMD51/MarlinSerial_AGCM4.h
  Marlin/src/HAL/STM32/HAL.h
  Marlin/src/HAL/STM32/MarlinSerial.h
  Marlin/src/HAL/STM32F1/HAL.h
  Marlin/src/HAL/STM32F1/MarlinSerial.h
  Marlin/src/HAL/TEENSY31_32/HAL.h
  Marlin/src/HAL/TEENSY35_36/HAL.h
  Marlin/src/HAL/TEENSY40_41/HAL.h
  Marlin/src/HAL/shared/serial_ports.h
Labels: PR: Improvement, T: Design Concept, T: HAL & APIs

#27649 Quick format Python docs
  buildroot/share/PlatformIO/scripts/chitu_crypt.py
  buildroot/share/PlatformIO/scripts/common-dependencies.py
  buildroot/share/PlatformIO/scripts/configuration.py
  buildroot/share/PlatformIO/scripts/preprocessor.py
  buildroot/share/scripts/validate_boards.py
Labels: PR: General Cleanup

#27633 Serial DMA for STM32H7
  Marlin/src/HAL/STM32/HardwareSerial.cpp
  Marlin/src/HAL/STM32/HardwareSerial.h
  Marlin/src/inc/SanityCheck.h
Labels: T: HAL & APIs, A: STM32

#27654 UBL_DEVEL_DEBUGGING error: cast to pointer from integer of different size
  Marlin/src/feature/bedlevel/ubl/ubl_G29.cpp
  Marlin/src/gcode/parser.cpp
  Marlin/src/gcode/parser.h
  Marlin/src/sd/cardreader.cpp
Labels: PR: General Cleanup
