Repository MarlinFirmware/Marlin, pull requests merged in 2025-10, with the labels that each got.

#28082 FTMotion: Fix short block trajectory (silent curves) and add scurve trajectories
  Marlin/Configuration_adv.h
  Marlin/src/gcode/feature/ft_motion/M494.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  Marlin/src/module/ft_motion/poly5_trajectory_generator.h
  Marlin/src/module/ft_motion/poly6_trajectory_generator.cpp
  Marlin/src/module/ft_motion/poly6_trajectory_generator.h
  Marlin/src/module/ft_motion/trajectory_generator.h
  Marlin/src/module/ft_motion/trapezoidal_trajectory_generator.h
  buildroot/share/PlatformIO/scripts/common-cxxflags.py
  ini/features.ini
  platformio.ini
Labels: PR: Improvement, PR: Bug Fix, C: Motion

#28093 🔨 Extend misplaced config check
  Marlin/src/core/boards.h
  Marlin/src/inc/MarlinConfigPre-1-axes.h
  Marlin/src/inc/MarlinConfigPre-4-adv.h
  Marlin/src/pins/pins.h
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  buildroot/share/PlatformIO/scripts/signature.py
Labels: C: Build / Toolchain

#28073 Add WANHAO_D9 Pins
  Marlin/src/core/boards.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/mega/pins_WANHAO_D9.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V25S1.h
  Marlin/src/pins/stm32f4/pins_CREALITY_F401.h
  Marlin/src/pins/stm32f4/pins_TRONXY_CXY_446_V10.h
Labels: C: Boards/Pins
