Repository MarlinFirmware/Marlin, pull requests merged in 2025-06, with the labels that each got.

#27907 Fix tmc2240 sensorless homing
  Marlin/src/module/stepper/trinamic.cpp
Labels: PR: Bug Fix, C: Configuration, C: Peripherals

#27895 Fix LIN_ADVANCE ProUI
  Marlin/src/lcd/e3v2/proui/dwin.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#27901 TMC2240 Stepper Driver fix and tune
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/HAL/shared/progmem.h
  Marlin/src/core/drivers.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/module/stepper/trinamic.cpp
  docs/TMC2240_Datasheet.pdf
Labels: PR: Bug Fix, C: Peripherals, C: Motion

#27915 update EXP3_04_PIN for CREALITY_V24S1_301F4
  Marlin/src/pins/stm32f4/pins_CREALITY_V24S1_301F4.h
Labels: C: Boards/Pins, PR: Bug Fix

#27919 🔥 Remove TMC2240 datasheet & unused PREFER_STALLGUARD4 flag
  Marlin/Configuration_adv.h
  docs/TMC2240_Datasheet.pdf
Labels: PR: General Cleanup

#27932 set correct hotend with preheat menu
  Marlin/src/lcd/marlinui.h
Labels: PR: Bug Fix, C: User Interface

#27926 Check NLE enabled flag for SMOOTH_LIN_ADVANCE
  Marlin/src/module/stepper.cpp
Labels: PR: Bug Fix
