Repository MarlinFirmware/Marlin, pull requests merged in 2025-09, with the labels that each got.

#28027 skip CONFIGURATION_H_VERSION and CONFIGURATION_ADV_H_VERSION check when Config.h is used
  Marlin/src/inc/SanityCheck.h
Labels: PR: Bug Fix, PR: Configurations

#28028 ✅ Validate source formatting
  .devcontainer/devcontainer.json
  .github/workflows/ci-validate-boards.yml
  .github/workflows/ci-validate-lines.yml
  .github/workflows/ci-validate-pins.yml
  .gitignore
  .prettierignore
  Makefile
  Marlin/src/HAL/GD32_MFL/README.md
  Marlin/src/HAL/STM32/README.md
  Marlin/src/HAL/STM32F1/README.md
  Marlin/src/feature/mmu/mmu2-serial-protocol.md
  Marlin/src/feature/mmu3/mmu3-serial-protocol.md
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/README.md
  README.md
  buildroot/share/dwin/bin/README.md
  buildroot/share/fonts/README.md
  buildroot/share/git/README.md
  buildroot/share/scripts/linesformat.py
  buildroot/share/scripts/pinsformat.py
  docs/BinaryFileTransferProtocol.md
  docs/Bresenham.md
  docs/ConfigEmbedding.md
  docs/Cutter.md
  docs/Queue.md
  docs/Serial.md
  test/README.md
Labels: T: Development

#28031 Update read() (buffer boundary incusion loops (CWE-120, CWE-20))
  Marlin/src/lcd/e3v2/proui/gcode_preview.cpp
  Marlin/src/sd/SdBaseFile.cpp
Labels: PR: Improvement, C: LCD & Controllers, F: SD Card / Media

#28011 update uart pins for GD32 MFL version of Creality V422 and V427
  Marlin/src/inc/Conditionals-4-adv.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V4.h
Labels: PR: Bug Fix

#28043 Fix ftmotion unstable step rate
  Marlin/Configuration_adv.h
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
Labels: PR: Bug Fix, C: Motion

#28044 update HAS_MARLINUI_U8GLIB to point to latest U8glib-HAL
  ini/features.ini
Labels: PR: Bug Fix

#28058 FTMotion: Fix K unit and Improve linear advance
  Marlin/src/gcode/feature/ft_motion/M493.cpp
  Marlin/src/inc/Conditionals-4-adv.h
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
Labels: PR: Improvement, C: Motion

#28059 Allow override of Z_STOP_PIN in pins_CHITU3D_V6.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V6.h
Labels: PR: Improvement, C: Boards/Pins

#28038 added missing pin defines for AnyCubic i3 Mega
  Marlin/src/pins/ramps/pins_TRIGORILLA_14.h
Labels: C: Boards/Pins

#28076 fix advK if ftm is disabled but la is enabled
  Marlin/src/module/planner.cpp
Labels: PR: Bug Fix

#28084 Style changes for FTMotion, etc.
  Marlin/src/core/macros.h
  Marlin/src/core/types.h
  Marlin/src/gcode/config/M210.cpp
  Marlin/src/gcode/feature/ft_motion/M493.cpp
  Marlin/src/gcode/feature/ft_motion/M494.cpp
  Marlin/src/gcode/host/M360.cpp
  Marlin/src/inc/Conditionals-4-adv.h
  Marlin/src/inc/Conditionals-5-post.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/dogm/status_screen_DOGM.cpp
  Marlin/src/lcd/e3v2/creality/dwin.cpp
  Marlin/src/lcd/e3v2/marlinui/ui_status_480x272.cpp
  Marlin/src/lcd/marlinui.cpp
  Marlin/src/lcd/menu/menu_motion.cpp
  Marlin/src/libs/vector_3.h
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  Marlin/src/module/ft_types.h
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/probe.h
  Marlin/src/module/temperature.cpp
  buildroot/share/PlatformIO/scripts/deeper.cpp
Labels: PR: General Cleanup
