Repository MarlinFirmware/Marlin, pull requests merged in 2025-08, with the labels that each got.

#27990 add additional obsolete files to preflight test.
  buildroot/share/PlatformIO/scripts/preflight-checks.py
Labels: PR: Improvement

#27974 allow a second extruder in Origin UI
  Marlin/src/lcd/extui/dgus/origin/DGUSDisplayDef.h
Labels: PR: Bug Fix, C: LCD & Controllers

#27979 add PID_MAX and MAX_BED_POWER sanity checks
  Marlin/src/inc/SanityCheck.h
Labels: PR: Improvement

#27961 add more CONTROLLER fans
  Marlin/src/HAL/STM32/pinsDebug.h
  Marlin/src/HAL/STM32F1/SPI.h
  Marlin/src/feature/controllerfan.cpp
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/sd/usb_flashdrive/lib-uhs3/UHS_host/USB_HOST_SHIELD/USB_HOST_SHIELD_INLINE.h
Labels: PR: New Feature

#27752 Update Python scripts (mostly)
  Marlin/src/lcd/extui/ftdi_eve_touch_ui/ftdi_eve_lib/scripts/svg2cpp.py
  buildroot/bin/use_example_configs
  buildroot/share/PlatformIO/scripts/STM32F1_create_variant.py
  buildroot/share/PlatformIO/scripts/collect-code-tests.py
  buildroot/share/PlatformIO/scripts/configuration.py
  buildroot/share/PlatformIO/scripts/preflight-checks.py
  buildroot/share/PlatformIO/scripts/schema.py
  buildroot/share/PlatformIO/scripts/signature.py
  buildroot/share/fonts/buildhzk.py
  buildroot/share/scripts/g29_auto.py
  buildroot/share/scripts/pinsformat.py
  buildroot/share/scripts/upload.py
Labels: PR: Improvement, T: Development

#27977 fix: M20 F: list binary files without ProUI
  Marlin/src/sd/cardreader.cpp
  Marlin/src/sd/cardreader.h
Labels: PR: Bug Fix, C: LCD & Controllers, F: SD Card / Media

#27984 Fix FT_MOTION compilation for machines without extruder
  Marlin/src/module/ft_motion.cpp
  Marlin/src/module/ft_motion.h
  buildroot/tests/rambo
Labels: PR: Bug Fix, C: Motion

#28016 re order pins.h to match boards.h
  Marlin/src/pins/pins.h
Labels: PR: Bug Fix
