Repository MarlinFirmware/Marlin, pull requests merged in 2025-05, with the labels that each got.

#27825 MKS UI - Fix G-code command result display
  Marlin/src/lcd/extui/mks_ui/draw_gcode.cpp
  Marlin/src/lcd/extui/mks_ui/draw_gcode.h
  Marlin/src/lcd/extui/mks_ui/draw_keyboard.cpp
  Marlin/src/lcd/extui/mks_ui/draw_move_motor.cpp
  Marlin/src/lcd/extui/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/mks_ui/draw_z_offset_wizard.cpp
  Marlin/src/lcd/extui/mks_ui/wifi_module.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#27829 🔧 Clean up and update Bricolemon
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/samd/pins_BRICOLEMON_LITE_V1_0.h
  Marlin/src/pins/samd/pins_BRICOLEMON_V1_0.h
  Marlin/src/pins/samd/pins_MINITRONICS20.h
Labels: PR: Improvement, C: Boards/Pins

#27832 Fix ProUI LCD off freezing
  Marlin/src/lcd/e3v2/proui/dwin.cpp
Labels: PR: Improvement, C: LCD & Controllers

#27804 Switching Nozzle Probe Retract
  Marlin/Configuration.h
  Marlin/src/inc/Conditionals-1-axes.h
  Marlin/src/inc/Conditionals-3-etc.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/probe.cpp
  Marlin/src/module/tool_change.cpp
  buildroot/tests/LPC1768
Labels: PR: Improvement, F: Toolchange

#27812 Separate endstop and motion sensor thresholds in filament runout detection
  Marlin/Configuration.h
  Marlin/src/feature/runout.cpp
  Marlin/src/feature/runout.h
Labels: C: Configuration, C: Peripherals

#27830 GD32: Update MFL Platform and Arduino Core
  Marlin/src/HAL/GD32_MFL/HAL.h
  Marlin/src/HAL/GD32_MFL/MarlinSerial.cpp
  Marlin/src/HAL/GD32_MFL/MarlinSerial.h
  Marlin/src/HAL/GD32_MFL/fastio.h
  Marlin/src/HAL/GD32_MFL/pinsDebug.h
  Marlin/src/HAL/GD32_MFL/sd/SDCard.cpp
  Marlin/src/HAL/GD32_MFL/sd/SDCard.h
  Marlin/src/HAL/GD32_MFL/sd/sdio.cpp
  Marlin/src/HAL/GD32_MFL/sd/sdio.h
  Marlin/src/HAL/GD32_MFL/timers.h
  ini/gd32.ini
Labels: T: HAL & APIs

#27835 Follow up to "Fix ProUI LCD wake up (#27832)"
  Marlin/src/lcd/e3v2/proui/dwin.cpp
Labels: PR: Improvement, C: LCD & Controllers

#27844 move sd PRINT_PROGRESS up one line on a 16x4 status screen
  Marlin/src/lcd/HD44780/marlinui_HD44780.cpp
  ini/native.ini
Labels: PR: Bug Fix, C: LCD & Controllers

#27846 GD32: Fix EEPROM timings
  Marlin/src/HAL/GD32_MFL/eeprom/eeprom_bl24cxx.cpp
  Marlin/src/libs/BL24CXX.cpp
Labels: T: HAL & APIs, A: GD32

#27818 Fixed point smooth linear advance (makes it available to all 32 bit boards)
  Marlin/Configuration_adv.h
  Marlin/src/gcode/feature/advance/M900.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/lcd/e3v2/jyersui/dwin.cpp
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/lcd/sovol_rts/sovol_rts.cpp
  Marlin/src/lcd/tft/touch.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  Marlin/src/module/tool_change.cpp
Labels: C: Motion, C: Optimization

#27856 update typo PIN_EXIST to PIN_EXISTS
  Marlin/src/lcd/marlinui.cpp
Labels: PR: Bug Fix, C: LCD & Controllers

#27855 Shorten Italian messages
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#27851 update to latest ESP3DLib, fixes 'IS_SD_INSERTED' was not declared
  ini/features.ini
Labels: PR: Bug Fix, A: ESP32

#27839 🧑‍💻 Unify DIAG endstop pins aliasing
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_3.h
  Marlin/src/pins/lpc1768/pins_BTT_SKR_V1_4.h
  Marlin/src/pins/lpc1768/pins_MKS_SGEN_L.h
  Marlin/src/pins/lpc1769/pins_MKS_SGEN_L_V2.h
  Marlin/src/pins/pins.h
  Marlin/src/pins/pins_postprocess.h
  Marlin/src/pins/rambo/pins_EINSY_RAMBO.h
  Marlin/src/pins/rambo/pins_EINSY_RETRO.h
  Marlin/src/pins/ramps/pins_TRIGORILLA_14.h
  Marlin/src/pins/sam/pins_ARCHIM2.h
  Marlin/src/pins/stm32f1/pins_CHITU3D_V9.h
  Marlin/src/pins/stm32f1/pins_CREALITY_V521.h
  Marlin/src/pins/stm32f4/pins_ARTILLERY_RUBY.h
  Marlin/src/pins/stm32f4/pins_BTT_GTR_V1_0.h
  Marlin/src/pins/stm32f4/pins_BTT_OCTOPUS_V1_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_PRO_common.h
  Marlin/src/pins/stm32f4/pins_BTT_SKR_V2_0_common.h
  Marlin/src/pins/stm32f4/pins_I3DBEEZ9.h
  Marlin/src/pins/stm32f4/pins_MELLOW_FLY_E3_V2.h
  Marlin/src/pins/stm32f4/pins_MKS_SKIPR_V1_0.h
  Marlin/src/pins/stm32f7/pins_REMRAM_V1.h
  Marlin/src/pins/stm32g0/pins_BTT_MANTA_M8P_common.h
  Marlin/src/pins/stm32g0/pins_BTT_SKRAT_V1_0.h
  Marlin/src/pins/stm32h7/pins_BTT_KRAKEN_V1_0.h
  Marlin/src/pins/stm32h7/pins_BTT_MANTA_M8P_V2_0.h
  Marlin/src/pins/stm32h7/pins_BTT_OCTOPUS_MAX_EZ.h
  Marlin/src/pins/stm32h7/pins_BTT_OCTOPUS_PRO_V1_common.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_V3_0_common.h
Labels: PR: Improvement, C: Boards/Pins, PR: Coding Standards, C: Configuration

#27850 ✏️ Fix VARIANT_MAME typo
  buildroot/share/PlatformIO/variants/README.md
Labels: C: Documentation

#27860 Specify the baud rate of the tmc softserial
  Marlin/src/pins/stm32f0/pins_FLY_D5.h
  Marlin/src/pins/stm32f0/pins_FLY_D7.h
Labels: C: Boards/Pins, F: Trinamic, C: Serial Comms

#27863 🔧 Fix speed/flow edit options
  Marlin/Configuration_adv.h
  Marlin/src/inc/Conditionals-2-LCD.h
  Marlin/src/inc/Conditionals-3-etc.h
  Marlin/src/inc/Conditionals-4-adv.h
  Marlin/src/lcd/extui/ui_api.cpp
  Marlin/src/lcd/menu/menu_bed_tramming.cpp
  Marlin/src/module/motion.cpp
  Marlin/src/module/motion.h
  Marlin/src/module/probe.cpp
Labels: C: Configuration

#27861 SMOOTH_LIN_ADVANCE + NONLINEAR_EXTRUSION
  Marlin/src/HAL/GD32_MFL/timers.h
  Marlin/src/gcode/feature/nonlinear/M592.cpp
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  README-PT-BR.md
Labels: C: Motion, C: Optimization

#25974 Trinamic TMC2240
  Marlin/Configuration.h
  Marlin/Configuration_adv.h
  Marlin/src/core/drivers.h
  Marlin/src/feature/tmc_util.cpp
  Marlin/src/feature/tmc_util.h
  Marlin/src/gcode/feature/trinamic/M911-M914.cpp
  Marlin/src/gcode/gcode.h
  Marlin/src/inc/SanityCheck.h
  Marlin/src/module/stepper/trinamic.cpp
  Marlin/src/module/stepper/trinamic.h
  buildroot/tests/BTT_BTT002
Labels: Needs: Work, Needs: Testing, PR: New Feature, C: Configuration, F: Trinamic, C: Peripherals, C: Motion

#27879 🩹 Fix Bluesky badge
  README.md
Labels: T: GitHub Admin

#27878 fix proui linear advance menu
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  buildroot/tests/STM32F103RE_creality
Labels: PR: Bug Fix, C: User Interface

#27872 use vol for volume info in lpc176x upload script in windows.
  Marlin/src/HAL/LPC1768/upload_extra_script.py
Labels: PR: Bug Fix, A: LPC176x

#27877 Update Italian language
  Marlin/src/lcd/language/language_it.h
Labels: C: Language

#27858 Small fixes - proper `return` in `void`, omit unused
  Marlin/src/HAL/GD32_MFL/eeprom/eeprom_if_iic.cpp
  Marlin/src/HAL/HC32/eeprom/eeprom_if_iic.cpp
  Marlin/src/HAL/STM32/eeprom/eeprom_if_iic.cpp
  Marlin/src/HAL/STM32F1/eeprom/eeprom_if_iic.cpp
  Marlin/src/core/types.h
  Marlin/src/gcode/bedlevel/G26.cpp
  Marlin/src/gcode/calibrate/G33.cpp
  Marlin/src/gcode/feature/powerloss/M413.cpp
  Marlin/src/gcode/motion/G0_G1.cpp
  Marlin/src/gcode/probe/M951.cpp
  Marlin/src/gcode/temp/M106_M107.cpp
  Marlin/src/inc/Changes.h
  Marlin/src/inc/Conditionals-2-LCD.h
  Marlin/src/lcd/e3v2/proui/dwin.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/planner.h
  ini/hc32.ini
Labels: PR: General Cleanup

#27881 FT_MOTION : code simplification in Stepper::isr()
  Marlin/src/module/stepper.cpp
Labels: PR: Coding Standards, C: Motion

#27886 🔧 Update BIQU BX SPI driver conditionals
  Marlin/Configuration_adv.h
  Marlin/src/pins/stm32h7/pins_BTT_SKR_SE_BX_common.h
Labels: C: Boards/Pins, F: Trinamic

#27887 🔧 Update BTT002 SPI driver conditionals
  Marlin/src/pins/stm32f4/pins_BTT_BTT002_V1_0.h
Labels: C: Boards/Pins, F: Trinamic

#27884 Fix analog thermocouple Boards reading incorrectly.
  Marlin/src/HAL/GD32_MFL/temp_soc.h
  Marlin/src/HAL/STM32/temp_soc.h
  Marlin/src/module/temperature.cpp
Labels: PR: Bug Fix, C: Temperatures

#27889 lvgl: Update to v6.1.2 with performance and UI optimizations
  Marlin/src/lcd/extui/mks_ui/draw_ui.cpp
  Marlin/src/lcd/extui/mks_ui/pic_manager.cpp
  Marlin/src/lcd/extui/mks_ui/pic_manager.h
  Marlin/src/lcd/extui/mks_ui/tft_lvgl_configuration.cpp
  Marlin/src/lcd/extui/mks_ui/tft_lvgl_configuration.h
  Marlin/src/lcd/extui/mks_ui/uthash.h
  ini/features.ini
Labels: PR: Improvement, C: Build / Toolchain

#27819 Nonlinear Extrusion on/off option
  Marlin/Configuration_adv.h
  Marlin/src/gcode/feature/nonlinear/M592.cpp
  Marlin/src/lcd/language/language_en.h
  Marlin/src/lcd/menu/menu_advanced.cpp
  Marlin/src/lcd/menu/menu_tune.cpp
  Marlin/src/module/planner.cpp
  Marlin/src/module/settings.cpp
  Marlin/src/module/stepper.cpp
  Marlin/src/module/stepper.h
  buildroot/tests/STM32F103RC_btt
Labels: PR: New Feature, C: Motion
