Repository MarlinFirmware/Marlin, pull requests merged in 2025-02, with the labels that each got.

#27655 🔨 Detect package manager install paths
  buildroot/bin/mac_gcc
  ini/native.ini
Labels: T: Development, C: Build / Toolchain

#27693 Fix for pioarduino support due to different path than platformio
  buildroot/share/PlatformIO/scripts/preprocessor.py
Labels: PR: Bug Fix, C: Build / Toolchain

#27692 Make FTM_OPTIMIZE_DIR_STATES default
  Marlin/src/module/stepper.cpp
Labels: C: Motion, C: Optimization
